/**
* Font-weight functions
*/

@mixin fw-normal() {
  font-family: $font-family-sans-serif-regular;
}

@mixin fw-normal-italic() {
  font-family: $font-family-sans-serif-regular-italic;
}

@mixin fw-medium() {
  font-family: $font-family-sans-serif-medium;
}

@mixin fw-medium-italic() {
  font-family: $font-family-sans-serif-medium-italic;
}

@mixin fw-bold() {
  font-family: $font-family-sans-serif-bold;
}

@mixin fw-bold-italic() {
  font-family: $font-family-sans-serif-bold-italic;
}
