{% extends "base.html" %}
{% load i18n %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'public:search:advanced_search' %}">{% trans "Recherche" %}</a></li>
{% endblock breadcrumb %}

{% block classic_website_fallback %}
<div class="alert alert-success">
  <div class="container">
    <p>
      {% blocktrans %}
      Nous recommandons dès maintenant l’utilisation du moteur de recherche de notre nouvelle plateforme, qui vous donnera les résultats les plus justes. Si vous le souhaitez, vous pouvez toujours <a href="{{ fallback_url }}" target="_blank">rechercher dans l'ancien site</a> jusqu’au 30 juin 2018.
      {% endblocktrans %}
    </p>
  </div>
</div>
{% endblock classic_website_fallback %}
