{% load i18n public_journal_tags %}

{% with articles=related_articles %}
{% if articles %}
<footer class="container">
  <h2>{% trans "Autres articles de cette revue" %}</h2>
  <div class="row">
    {% for related_article in articles %}
    <article class="col-sm-6 col-md-3">
      <a href="{% url 'public:journal:article_detail' journal_code=related_article.issue.journal.code issue_slug=article.issue.volume_slug issue_localid=related_article.issue.localidentifier localid=related_article.localidentifier %}" class="card">
        <h3 class="card__title">{{ related_article.html_title|safe }}</h3>
        {% if related_article.authors|length > 0 %}
        <p class="card__metadata">{% trans 'Par' %}
          {% for author in related_article.erudit_object.authors %}{% if forloop.first %}{% else %}{% if forloop.last %} {% trans 'et' %} {% else %}, {% endif %}{% endif %}{% if author.firstname and author.lastname %}{{ author.firstname }} {{ author.lastname }}{% elif author.othername %}{{ author.othername }}{% endif %}{% endfor %}
        </p>
        {% endif %}
      </a>
    </article>
    {% endfor %}
  </div>

</footer>
{% endif %}
{% endwith %}
