{% load i18n public_journal_tags %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@graph": [
    {
      "@id": "#issue-{{ article.issue.localidentifier }}",
      "@type": "PublicationIssue",
      {% if article.issue.number %}"issueNumber": "{{ article.issue.number }}",{% endif %}
      {% if article.issue.first_page %}"pageStart": "{{ article.issue.first_page }}",{% endif %}
      {% if article.issue.last_page %}"pageEnd": "{{ article.issue.last_page }}",{% endif %}
      "datePublished": "{{ article.issue.year }}"
    },
    {
      "@id": "#volume-{{ article.issue.journal.code }}-{{ article.issue.volume }}",
      "@type": "PublicationVolume",
      "volumeNumber": "{{ article.issue.volume }}"
    },
    {
      "@id": "#journal-{{ article.issue.journal.code }}",
      "@type": "Periodical",
      {% if article.issue.journal.issn_print and article.issue.journal.issn_web %}"issn": ["{{ article.issue.journal.issn_print }}", "{{ article.issue.journal.issn_web }}"],{% elif article.issue.journal.issn_print %}"issn": "{{ article.issue.journal.issn_print }}",{% elif article.issue.journal.issn_web %}"issn": "{{ article.issue.journal.issn_web }}",{% endif %}
      "name": "{{ article.issue.journal.name }}"
    },
    {
      "@id": "#article-{{ article.localidentifier }}",
      "@type": "ScholarlyArticle",
      "author": [{% for a in article.authors %}"{{ a.format_name }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
      "isPartOf": [
        {
          "@id": "#journal-{{ article.issue.journal.code }}"
        },
        {
          "@id": "#volume-{{ article.issue.journal.code }}-{{ article.issue.volume }}"
        },
        {
          "@id": "#issue-{{ article.issue.localidentifier }}"
        }
      ],
      {% if article.first_page %}"pageStart": "{{ article.first_page }}",{% endif %}
      {% if article.last_page %}"pageEnd": "{{ article.last_page }}",{% endif %}
      "name": "{{ citation_title_metadata }}",
      {% if article.url_doi %}"sameAs": "{{ article.url_doi }}",{% endif %}
      "publisher": "{{ article.publisher_name }}"
    }
  ]
}
</script>
