{% load i18n %}
<section id="resume-{{ abstract.lang }}" class="resume">
  <h3>{% include "public/journal/partials/article_abstract_title.html" with lang=abstract.lang %}</h3>
  {% for title_group in titles %}
  {% if title_group.lang == abstract.lang %}
  <h4><span class="title">{{ title_group.title|safe }}</span>{% if title_group.subtitle %} <br/><span class="subtitle">{{ title_group.subtitle|safe }}</span>{% endif %}</h4>
  {% endif %}
  {% endfor %}
  {{ abstract.content|safe }}
  {% for lang, keywords in html_keywords.items %}
  {% if lang == abstract.lang %}
  <div class="keywords">
    <p><strong>{% include "public/journal/partials/keywords_label.html" with lang=lang %}</strong></p>
    <ul>
      {% for k in keywords %}
      <li class="keyword">{{ k|safe }}{% if not forloop.last %}, {% endif %}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endfor %}
</section>
