{% load i18n public_journal_tags %}

<div id="id_cite_modal_{{ article.localidentifier }}" class="modal cite-modal col-lg-4 col-md-5 col-sm-6 col-xs-12 col-centered">
  <h2 class="modal-header">{% trans "Outils de citation" %}</h2>
  <div class="modal-body">
    <h3>{% trans "Citer cet article" %}</h3>
    <dl class="cite-modal--style-list">
      <dt><strong>MLA</strong></dt>
      <dd id="id_cite_mla_{{ article.localidentifier }}" class="cite-mla">
        {{ article.get_formatted_authors_mla }}
        {% trans '«&nbsp;' %}{{ article|format_article_html_title }}.{% trans '&nbsp;»' %}
        <em>{{ journal_title }}</em>,
        {{ article.issue.volume_title|lower }}{% if article.first_page %}, {% trans 'p.' %}&nbsp;{{ article.first_page }}–{{ article.last_page }}{% endif %}. {% if article.doi %}https://doi.org/{{ article.doi }}{% endif %}
      </dd>

      <dt><strong>APA</strong></dt>
      <dd id="id_cite_apa_{{ article.localidentifier }}" class="cite-apa">
        {{ article.get_formatted_authors_apa }}
        ({{ article.issue.year }}).
        {{ article|format_article_html_title }}.
        <em>{{ journal_title }}</em>,
        {% if article.issue.volume %}<em>{{ article.issue.volume }}</em>{% endif %}{% if article.issue.number %}({{ article.issue.number }}){% endif %}{% if article.first_page %},
        {{ article.first_page }}–{{ article.last_page }}{% endif %}. {% if article.doi %}https://doi.org/{{ article.doi }}{% endif %}
      </dd>

      <dt><strong>Chicago</strong></dt>
      <dd id="id_cite_chicago_{{ article.localidentifier }}" class="cite-chicago">
        {{ article.get_formatted_authors_chicago }}
        {% trans '«&nbsp;' %}{{ article|format_article_html_title }}{% trans '&nbsp;»' %}.
        <em>{{ journal_title }}</em>
        {% if article.issue.volume %}{{ article.issue.volume }}, {% endif %}{% if article.issue.number %}{% trans 'n<sup>o</sup>' %} {{ article.issue.number }}{% endif %}
        ({{ article.issue.year }}){% if article.first_page %}{% trans '&nbsp;:' %} {{ article.first_page }}–{{ article.last_page }}{% endif %}. {% if article.doi %}https://doi.org/{{ article.doi }}{% endif %}
      </dd>
    </dl>

    <hr />
    <h3>{% trans "Exporter la notice de ce document" %}</h3>
    <div class="row">
      <p class="col-xs-4">
        <a href="{% url 'public:journal:article_citation_ris' journal_code=article.issue.journal.code issue_slug=article.issue.volume_slug issue_localid=article.issue.localidentifier localid=article.localidentifier %}" class="btn btn-secondary cite-export">
          <span class="show cite-export-title">RIS</span>
        </a>
        <br/><br/>EndNote, Papers, Reference Manager, RefWorks, Zotero
      </p>
      <p class="col-xs-4">
        <a href="{% url 'public:journal:article_citation_enw' journal_code=article.issue.journal.code issue_slug=article.issue.volume_slug issue_localid=article.issue.localidentifier localid=article.localidentifier %}" class="btn btn-secondary cite-export">
          <span class="show cite-export-title">ENW</span>
        </a>
        <br/><br/>Zotero
      </p>
      <p class="col-xs-4">
        <a href="{% url 'public:journal:article_citation_bib' journal_code=article.issue.journal.code issue_slug=article.issue.volume_slug issue_localid=article.issue.localidentifier localid=article.localidentifier %}" class="btn btn-secondary cite-export">
          <span class="show cite-export-title">BIB</span>
        </a>
        <br/><br/>BibTeX, JabRef, Mendeley, Zotero
      </p>
    </div>
  </div>
</div>
