{% load i18n %}

<li id="article-{{ article.id }}" class="issue_detail--article-item" data-document-id="{{ article.id }}">
  <h6><a href="{% url 'public:journal:article_detail' journal_code=article.issue.journal.code issue_localid=article.issue.localidentifier localid=article.localidentifier %}">{{ article.erudit_object.html_title|safe }}</a></h6>
  <p class="issue_detail--article-item--author">{{ article.authors.all|join:", " }}</p>
  <div class="mono-space">
    <a href="{% url 'public:journal:article_detail' journal_code=issue.journal.code issue_localid=issue.localidentifier localid=article.localidentifier %}" class="btn btn-primary-outlined">{% trans "HTML" %}</a>
    <a href="{% url 'public:journal:article_raw_pdf' article.localidentifier %}" class="btn btn-primary-outlined">{% trans "PDF" %}</a>
    <a href="#" class="btn btn-primary-outlined" data-citation-save="#article-{{ article.id }}"{% if article.id in request.saved_citations %} style="display:none;"{% endif %}>{% trans "Sauvegarder" %}</a>
    <a href="#" class="btn btn-primary-outlined" data-citation-remove="#article-{{ article.id }}"{% if not article.id in request.saved_citations %} style="display:none;"{% endif %}>{% trans "Supprimer" %}</a>
    {% with first_page=article.erudit_object.first_page last_page=article.erudit_object.last_page %}
    {% if first_page and last_page and first_page != last_page %}
    {% blocktrans trimmed with first_page=first_page last_page=last_page %}pp.&nbsp;{{ first_page }}–{{ last_page }}{% endblocktrans %}
    {% elif first_page and first_page != "0" %}
    {% blocktrans trimmed with page=first_page %}p.&nbsp;{{ page }}{% endblocktrans %}
    {% endif %}
    {% endwith %}
  </div>
</li>
