{% for group in articles_per_section.groups %}
  {% if group.type == 'objects' %}
    <ol class="bib-records section-{{ group.level }}">
      {% for article in group.objects %}
      {% include "public/journal/partials/issue_detail_article_item.html" %}
      {% endfor %}
    </ol>
  {% else %}
      <h{{ group.level|add:"1" }} class="section">
        <strong>
          {{ group.titles.main|safe }}
          {% for paral in group.titles.paral %}&nbsp;/ {{ paral|safe }}{% endfor %}
        </strong>
      </h{{ group.level|add:"1" }}>
      {% with articles_per_section=group %}
        {% include "public/journal/partials/issue_detail_section.html" %}
      {% endwith %}
  {% endif %}
{% endfor %}
