{% load cache i18n model_formatters public_journal_tags waffle_tags %}

{% cache FOREVER_TTL "public_issue_detail_articles_item" article.solr_id LANGUAGE_CODE %}
<li class="article-item{% if not article.publication_allowed %} article-restricted{% endif %}">
  <ul class="toolbox toolbox-compact toolbox-horizontal pull-right">
    {% spaceless %}
    <li>
      {% switch "maintenance" %}
      {% else %}
      <a class="tool-btn" href="#" title="{% trans 'Sauvegarder' %}" data-citation-save="#article-{{ article.localidentifier }}">
        <span class="ion-bookmark toolbox-save"></span>
      </a>
      <a class="tool-btn saved" href="#" title="{% trans 'Supprimer' %}" data-citation-remove="#article-{{ article.localidentifier }}">
        <span class="ion-bookmark toolbox-save"></span>
      </a>
    </li>
    {% endswitch %}
    {% if article.pdf_url %}
    <li>
      <a class="tool-btn"
         href="{{ article.pdf_url }}{% if not article.issue.is_published and ticket %}?ticket={{ticket}}{% endif %}"
         title="{% trans 'Télécharger' %}"
         target="_blank">
        <span class="toolbox-pdf">PDF</span>
      </a>
    </li>
    {% endif %}
    {% if article.processing == 'C' and article.publication_allowed %}
    <li>
      <a class="tool-btn" href="{{ article.get_absolute_url }}" {% if article.is_external %}target="_blank"{% endif %} title="{% blocktrans %}Lire l'article en texte intégral{% endblocktrans %}">
        <span class="toolbox-html">HTML</span>
      </a>
    </li>
    {% endif %}
    {% endspaceless %}
  </ul>
  <h6 class="article-title">
    {% if not article.publication_allowed %}
    <span class="hint--top hint--no-animate" data-hint="{% trans 'Le contenu de ce document est inaccessible en raison du droit d’auteur.' %}"><span class="ion-help-circled"></span></span>
    {% endif %}
    {% spaceless %}

    <a href="{{ article.get_absolute_url }}{% if not article.issue.is_published and ticket %}?ticket={{ticket}}{% endif %}"
    {% if article.is_external %}target="_blank"{% endif %}
    title="{% blocktrans %}Lire l'article{% endblocktrans %}">
    {{ article|format_article_html_title }}
    </a>
    {% endspaceless %}
  </h6>
  <div class="article-metadata row">
    <p class="article-author col-sm-9">
      {{ article.get_formatted_authors | safe }}
    </p>
    <p class="article-pagination col-sm-3">
      {% with first_page=article.first_page last_page=article.last_page %}
      {% if first_page and last_page and first_page != last_page %}
      {% blocktrans trimmed with first_page=first_page last_page=last_page %}p.&nbsp;{{ first_page }}–{{ last_page }}{% endblocktrans %}
      {% elif first_page and first_page != "0" %}
      {% blocktrans trimmed with page=first_page %}p.&nbsp;{{ page }}{% endblocktrans %}
      {% endif %}
      {% endwith %}
    </p>
    <p class="article-record col-sm-3 pull-right">
      {% if issue.journal.collection.code == 'erudit' %}
      <a href="{% url 'public:journal:article_summary' journal_code=article.issue.journal.code issue_slug=article.issue.volume_slug issue_localid=article.issue.localidentifier localid=article.localidentifier %}" title="{% blocktrans %}Voir la notice{% endblocktrans %}">
        {% trans "Notice" %}
      </a>
      {% endif %}
    </p>
    {% if article.abstracts %}
    <p class="article-links col-xs-9">
      <span class="affiliations akkordion" data-akkordion-single="true">
        <a class="affiliations-label akkordion-title">{% trans 'Résumé' %} <span class="icon ion-ios-arrow-down"></span></a>
        <span class="akkordion-content unstyled">
          {% for abstract in article.abstracts %}
          <br><strong>{{ abstract.lang|upper }}{% trans '&nbsp;:' %}</strong> {{ abstract.content|safe }}<br>
          {% endfor %}
        </span>
      </span>
    </p>
    {% endif %}
  </div>
</li>
{% endcache %}
