// -----------------------------------------------------------------------------
// Erudit.org colour palette
// -----------------------------------------------------------------------------

/// @type Color
$coral-red:     #ff4242;
$upsdell-red:   #AF2329;
$black:         #000000;
$darker-grey:   #333333;
$dark-grey:     #707070;
$mid-grey:      #cccccc;
$light-grey:    #f7f7f7;
$white:         #ffffff;
$yellow:        #ffea5d;
$midnight-blue: #002660;

// Status indicators
$colour-error:         #D44D5C;
$colour-warning:       #FBD1A2;
$colour-success:       #7FB285;
