// -----------------------------------------------------------------------------
// Erudit.org colour palette
// -----------------------------------------------------------------------------

/// @type Color
$coral-red:     #ff4242;
$black:         #000000;
$darker-grey:   #333333;
$dark-grey:     #707070;
$mid-grey:      #cccccc;
$light-grey:    #f7f7f7;
$white:         #ffffff;
$yellow:        #ffe000;
$midnight-blue: #0a2363;

// Status indicators
$colour-error:         #cc3232;
$colour-warning:       #e7b416;
$colour-success:       #2dc937;
