@font-face {
  font-family: "erudicon";
  src: url('/static/fonts/erudicon/erudicon.eot');
  src: url('/static/fonts/erudicon/erudicon.eot?#iefix') format('eot'),
    url('/static/fonts/erudicon/erudicon.woff') format('woff'),
    url('/static/fonts/erudicon/erudicon.ttf') format('truetype'),
    url('/static/fonts/erudicon/erudicon.svg#erudicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.erudicon:before {
  display: inline-block;
  font-family: "erudicon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.erudicon-chevron-down:before { content: "\EA01" }
.erudicon-open-access:before { content: "\EA02" }