// -----------------------------------------------------------------------------
// Font weight mixins
// -----------------------------------------------------------------------------

@mixin fw-sans() {
  font-family: $font-sans;
  font-weight: 400;
}

@mixin fw-sans-italic() {
  font-family: $font-sans-italic;
  font-weight: 400;
  font-style: italic;
}

@mixin fw-sans-medium() {
  font-family: $font-sans-medium;
  font-weight: 500;
}

@mixin fw-sans-medium-italic() {
  font-family: $font-sans-medium-italic;
  font-weight: 500;
  font-style: italic;
}

@mixin fw-sans-bold() {
  font-family: $font-sans-bold;
  font-weight: 700;
}

@mixin fw-sans-bold-italic() {
  font-family: $font-sans-bold-italic;
  font-weight: 700;
  font-style: italic;
}

@mixin fw-mono() {
  font-family: $font-mono;
  font-weight: 400;
}

@mixin fw-mono-italic() {
  font-family: $font-mono-italic;
  font-weight: 400;
  font-style: italic;
}

@mixin fw-serif() {
  font-family: $font-serif;
  font-weight: 400;
}

@mixin fw-serif-italic() {
  font-family: $font-serif-italic;
  font-weight: 400;
  font-style: italic;
}

@mixin fw-serif-bold() {
  font-family: $font-serif-bold;
  font-weight: 700;
}

@mixin fw-serif-bold-italic() {
  font-family: $font-serif-bold-italic;
  font-weight: 700;
  font-style: italic;
}
