/**
* Import Bootstrap's mixins
*/

// Utilities
@import "bootstrap-mixins/hide-text";
@import "bootstrap-mixins/opacity";
@import "bootstrap-mixins/image";
@import "bootstrap-mixins/labels";
@import "bootstrap-mixins/reset-filter";
@import "bootstrap-mixins/resize";
@import "bootstrap-mixins/responsive-visibility";
@import "bootstrap-mixins/size";
@import "bootstrap-mixins/tab-focus";
@import "bootstrap-mixins/reset-text";
@import "bootstrap-mixins/text-emphasis";
@import "bootstrap-mixins/text-overflow";
@import "bootstrap-mixins/vendor-prefixes";

// Components
@import "bootstrap-mixins/alerts";
@import "bootstrap-mixins/buttons";
@import "bootstrap-mixins/panels";
@import "bootstrap-mixins/pagination";
@import "bootstrap-mixins/list-group";
@import "bootstrap-mixins/nav-divider";
@import "bootstrap-mixins/forms";
@import "bootstrap-mixins/progress-bar";
@import "bootstrap-mixins/table-row";

// Skins
@import "bootstrap-mixins/background-variant";
@import "bootstrap-mixins/border-radius";
@import "bootstrap-mixins/gradients";

// Layout
@import "bootstrap-mixins/clearfix";
@import "bootstrap-mixins/center-block";
@import "bootstrap-mixins/nav-vertical-align";
@import "bootstrap-mixins/grid-framework";
@import "bootstrap-mixins/grid";


/**
* App-specific Mixins
*/

// Remove list styles
@mixin list-unstyled() {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0;
  }
}

// Vertical centering
@mixin vertical-centered($position: relative) {
  position: $position;
  top: 50%;
  -webkit-filter: blur(0);
  @include translate(0,-50%);
}

@mixin parent-box-centered($position: absolute) {
  position: $position;
  top: 50%;
  left: 50%;
  -webkit-filter: blur(0);
  @include translate(-50%,-50%);
}

// Keyframe animations
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

/// Border-radius vendor prefixes
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Column-break-inside vendor prefixes
@mixin column-break-inside($break) {
  -webkit-column-break-inside: $break;
  -moz-column-break-inside: $break;
  -o-column-break-inside: $break;
  -ms-column-break-inside: $break;
  column-break-inside: $break;
}

// Column-count vendor prefixes
@mixin column-count($count) {
  -webkit-column-count: $count;
  -moz-column-count: $count;
  -o-column-count: $count;
  column-count: $count;
}

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/**
* Create a top or bottom border for Bootstrap's grid cell
*/
@mixin grid-cell-border($direction: 'top', $border-width: 1px, $border-color: $gray-base) {
  position: relative;

  @if $direction == 'top' {
    &:before {
      content: "";
      display: block;
      height: 1px;
      border-top: $border-width solid $border-color;
      position: absolute;
      left: $grid-gutter-width/2;
      right: $grid-gutter-width/2;
      top: 0;
    }
  }

  @if $direction == 'bottom' {
    &:after {
      content: "";
      display: block;
      height: 1px;
      border-top: $border-width solid $border-color;
      position: absolute;
      left: $grid-gutter-width/2;
      right: $grid-gutter-width/2;
      bottom: 0;
      // clear: both;
    }
  }
}

/// Responsive manager
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
/// @link http://sass-guidelin.es/#breakpoint-manager Sass Guidelines - Breakpoint Manager
@mixin respond-to($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);

  @if not $query {
    @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }

  @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
    @content;
  }
}
