// -----------------------------------------------------------------------------
// Variables used in both public and userspace apps
// -----------------------------------------------------------------------------

// from bootstrap
$brand-success:         #36C957 !default;
$brand-info:            $coral-red !default;
$brand-warning:         $coral-red !default;
$brand-danger:          $coral-red !default;

/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-width: 1200px;

/// Navbar height
$navbar-height: 50px;

/// Sidenav width
$sidenav-width: 250px;

/**
* gutter and margins
*/

// from bootstarp grid system
$grid-gutter-width:         22px;

// horizontal is half gutter size, vertical 1.25x the gutter
$margin-horizontal-default: $grid-gutter-width / 2;
$margin-vertical-default:   $grid-gutter-width * 1.25;

// horizontal is half gutter size, vertical double the gutter
$padding-horizontal-default: $grid-gutter-width / 2;
$padding-vertical-default:   $grid-gutter-width / 2;

// -----------------------------------------------------------------------------
// Bootstrap's Defaults Override
// -----------------------------------------------------------------------------

//** Background color for `<body>`.
$body-bg:               #fff;
//** Global text color on `<body>`.
$text-color:            #000;

//** Global textual link color.
$link-color:            #000;
//** Link hover color
$link-hover-color:      #000;
//** Link hover decoration.
$link-hover-decoration: underline;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Maax-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       "FreightTextPro-Book", Georgia, "Times New Roman", Times, serif;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-face-code:              'Maax-Mono', 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;
$font-family-monospace:       "Maax-Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-monospace-italic: "Maax-MonoItalic", Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:             $font-family-sans-serif;

// serif font-weight font families variation
$font-family-serif-regular:         "FreightTextPro-Book", Georgia, "Times New Roman", Times, serif;
$font-family-serif-regular-italic:  "FreightTextPro-BookItalic", Georgia, "Times New Roman", Times, serif;

$font-family-serif-bold:            "FreightTextPro-Bold", Georgia, "Times New Roman", Times, serif;
$font-family-serif-bold-italic:     "FreightTextPro-BoldItalic", Georgia, "Times New Roman", Times, serif;


// sans serif font-weight font families variation
$font-family-sans-serif-regular:         "Maax-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif-regular-italic:  "Maax-Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family-sans-serif-medium:         "Maax-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif-medium-italic:  "Maax-MediumItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family-sans-serif-bold:           "Maax-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif-bold-italic:    "Maax-BoldItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;


// font sizes
$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.125)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.707)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.45;//1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit;
$headings-font-weight:    500;
$headings-line-height:    1.1;
$headings-color:          inherit;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     12px !default;
$padding-base-horizontal:   16px !default;

$padding-large-vertical:    12px !default;
$padding-large-horizontal:  40px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.122222 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $coral-red !default;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//** Default background color used for all tables.
$table-bg:                      transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            #ddd !default;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $coral-red !default;
$btn-primary-border:             $coral-red !default;

$btn-link-disabled-color:        $mid-grey !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         0 !default;
$btn-border-radius-large:        0 !default;
$btn-border-radius-small:        0 !default;


//== Forms
//
//##

//** `<input>` background color
$input-bg:                       #fff !default;
//** `<input disabled>` background color
$input-bg-disabled:              $light-grey !default;

//** `<input>` border color
$input-border:                   #ccc !default;

// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius:            $border-radius-base !default;
//** Large `.form-control` border radius
$input-border-radius-large:      $border-radius-large !default;
//** Small `.form-control` border radius
$input-border-radius-small:      $border-radius-small !default;

//** Border color for inputs on focus
$input-border-focus:             #66afe9 !default;

//** Placeholder text color
$input-color-placeholder:        #999 !default;

//** Default `.form-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
//** Large `.form-control` height
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
//** Small `.form-control` height
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

//** `.form-group` margin
$form-group-margin-bottom:       15px !default;

$legend-color:                   $darker-grey !default;
$legend-border-color:            #e5e5e5 !default;

//** Background color for textual input addons
$input-group-addon-bg:           $light-grey !default;
//** Border color for textual input addons
$input-group-addon-border-color: $input-border !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed !default;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    #fff !default;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15) !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5 !default;

//** Dropdown link text color.
$dropdown-link-color:            $darker-grey !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      darken($darker-grey, 5%) !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         #f5f5f5 !default;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $component-active-color !default;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        $component-active-bg !default;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $mid-grey !default;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $mid-grey !default;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #000 !default;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-navbar:            1000;
$zindex-dropdown:          1000;
$zindex-popover:           1060;
$zindex-tooltip:           1070;
$zindex-navbar-fixed:      1030;
$zindex-modal-background:  1040;
$zindex-modal:             1050;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// Very large screen / very wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-xl:                  1600px;
$screen-xl-min:              $screen-xl;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-xl-desktop:          $screen-xl-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
$screen-lg-max:              ($screen-xl-min - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;



//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

//== Pagination
//
//##

$pagination-color:                     $link-color !default;
$pagination-bg:                        #fff !default;
$pagination-border:                    #ddd !default;

$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  $light-grey !default;
$pagination-hover-border:              #ddd !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $coral-red !default;
$pagination-active-border:             $coral-red !default;

$pagination-disabled-color:            $mid-grey !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           #ddd !default;


//== Tooltips
//
//##

//** Tooltip max width
$tooltip-max-width:           200px !default;
//** Tooltip text color
$tooltip-color:               #fff !default;
//** Tooltip background color
$tooltip-bg:                  #000 !default;
$tooltip-opacity:             .9 !default;

//** Tooltip arrow width
$tooltip-arrow-width:         5px !default;
//** Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg !default;


//== Panels
//
//##

$panel-bg:                    #fff !default;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 15px !default;
$panel-footer-padding:        $panel-heading-padding !default;
$panel-border-radius:         $border-radius-base !default;

//** Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          $darker-grey !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;

$panel-primary-text:          #fff !default;
$panel-primary-border:        $coral-red !default;
$panel-primary-heading-bg:    $coral-red !default;

//== Type
//
//##

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px !default;
//** Text muted color
$text-muted:                  $dark-grey !default;
//** Abbreviations and acronyms border color
$abbr-border-color:           $dark-grey !default;
//** Headings small color
$headings-small-color:        $dark-grey !default;
//** Blockquote small color
$blockquote-small-color:      $dark-grey !default;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25) !default;
//** Blockquote border color
$blockquote-border-color:     $dark-grey !default;
//** Page header border color
$page-header-border-color:    $mid-grey !default;
//** Width of horizontal description list titles
$dl-horizontal-offset:        $component-offset-horizontal !default;
//** Point at which .dl-horizontal becomes horizontal
$dl-horizontal-breakpoint:    $grid-float-breakpoint !default;
//** Horizontal line color.
$hr-border:                   $mid-grey !default;
