.login-page {
  a {
    font-size: 0.85em;
  }
  label {
    font-size: 0.85em;
    &:not(.required):after {
      content: '';
    }
  }
  input {
    border: 1px solid $colour-pale-grey;
  }
  .erudit-logo {
    margin: 25px 0 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid $colour-faint-grey;
    img {
      width: 35%;
      margin: auto;
    }
  }
  .card {
    padding: 10px;
    margin-top: 100px;
    border: 1px solid $colour-pale-grey;
  }
}
