// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
 html {
   box-sizing: border-box;
 }

/** Reset the box-sizing
 * Heads up! This reset may cause conflicts with some third-party widgets.
 * For recommendations on resolving such conflicts, see
 * http://getbootstrap.com/getting-started/#third-box-sizing
*/
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

 /**
 * Body reset
 */
body {
  background: $body-bg;
  @include font-styles('sans');
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/**
 * Reset fonts for relevant elements
 */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

cite,
var,
address,
dfn {
  font-style: normal;
}


/** We reset this here because previously Normalize had no `figure` margins.
 * This ensures we don't break anyone's use of the element.
 */
figure {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $dark-grey;
  }

  &:focus {
    @include tab-focus;
  }
}

img {
  vertical-align: middle;
}

hr {
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $mid-grey;
}

/**
 * iOS "clickable elements" fix for role="button"
 * Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
 * for traditionally non-focusable elements with role="button"
 * see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
*/
[role="button"] {
  cursor: pointer;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  height: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 3.5px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(#fff, 0.5);
}
