// -----------------------------------------------------------------------------
// This file contains all @font-face declarations
// -----------------------------------------------------------------------------

/**
 * Freight Text Pro
 */

@font-face {
  font-family: 'FreightTextPro-Book';
  src: url('../fonts/freighttextpro/Serif-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/freighttextpro/Serif-Book.woff') format('woff'),
       url('../fonts/freighttextpro/Serif-Book.woff2') format('woff2'),
       url('../fonts/freighttextpro/Serif-Book.ttf')  format('truetype'),
       url('../fonts/freighttextpro/Serif-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FreightTextPro-BookItalic';
  src: url('../fonts/freighttextpro/Serif-BookItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/freighttextpro/Serif-BookItalic.woff') format('woff'),
       url('../fonts/freighttextpro/Serif-BookItalic.woff2') format('woff2'),
       url('../fonts/freighttextpro/Serif-BookItalic.ttf')  format('truetype'),
       url('../fonts/freighttextpro/Serif-BookItalic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FreightTextPro-Bold';
  src: url('../fonts/freighttextpro/Serif-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/freighttextpro/Serif-Bold.woff') format('woff'),
       url('../fonts/freighttextpro/Serif-Bold.woff2') format('woff2'),
       url('../fonts/freighttextpro/Serif-Bold.ttf')  format('truetype'),
       url('../fonts/freighttextpro/Serif-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FreightTextPro-BoldItalic';
  src: url('../fonts/freighttextpro/Serif-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/freighttextpro/Serif-BoldItalic.woff') format('woff'),
       url('../fonts/freighttextpro/Serif-BoldItalic.woff2') format('woff2'),
       url('../fonts/freighttextpro/Serif-BoldItalic.ttf')  format('truetype'),
       url('../fonts/freighttextpro/Serif-BoldItalic.svg') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/**
* Maax
*/

@font-face {
  font-family: 'Maax-Regular';
  src: url('../fonts/maax/Sans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Sans-Regular.woff') format('woff'),
       url('../fonts/maax/Sans-Regular.woff2') format('woff2'),
       url('../fonts/maax/Sans-Regular.ttf')  format('truetype'),
       url('../fonts/maax/Sans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maax-Italic';
  src: url('../fonts/maax/Sans-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Sans-Italic.woff') format('woff'),
       url('../fonts/maax/Sans-Italic.woff2') format('woff2'),
       url('../fonts/maax/Sans-Italic.ttf')  format('truetype'),
       url('../fonts/maax/Sans-Italic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maax-Medium';
  src: url('../fonts/maax/Sans-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Sans-Medium.woff') format('woff'),
       url('../fonts/maax/Sans-Medium.woff2') format('woff2'),
       url('../fonts/maax/Sans-Medium.ttf')  format('truetype'),
       url('../fonts/maax/Sans-Medium.svg') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maax-MediumItalic';
  src: url('../fonts/maax/Sans-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Sans-MediumItalic.woff') format('woff'),
       url('../fonts/maax/Sans-MediumItalic.woff2') format('woff2'),
       url('../fonts/maax/Sans-MediumItalic.ttf')  format('truetype'),
       url('../fonts/maax/Sans-MediumItalic.svg') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maax-Bold';
  src: url('../fonts/maax/Sans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Sans-Bold.woff') format('woff'),
       url('../fonts/maax/Sans-Bold.woff2') format('woff2'),
       url('../fonts/maax/Sans-Bold.ttf')  format('truetype'),
       url('../fonts/maax/Sans-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maax-BoldItalic';
  src: url('../fonts/maax/Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Sans-BoldItalic.woff') format('woff'),
       url('../fonts/maax/Sans-BoldItalic.woff2') format('woff2'),
       url('../fonts/maax/Sans-BoldItalic.ttf')  format('truetype'),
       url('../fonts/maax/Sans-BoldItalic.svg') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/**
 * Maax Mono
 */

@font-face {
  font-family: 'Maax-Mono';
  src: url('../fonts/maax/Sans-Mono.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Sans-Mono.woff') format('woff'),
       url('../fonts/maax/Sans-Mono.woff2') format('woff2'),
       url('../fonts/maax/Sans-Mono.ttf')  format('truetype'),
       url('../fonts/maax/Sans-Mono.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maax-MonoItalic';
  src: url('../fonts/maax/Sans-MonoItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Sans-MonoItalic.woff') format('woff'),
       url('../fonts/maax/Sans-MonoItalic.woff2') format('woff2'),
       url('../fonts/maax/Sans-MonoItalic.ttf')  format('truetype'),
       url('../fonts/maax/Sans-MonoItalic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
