// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Floats
 */
.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

/**
 * Reset Bootstrap's columns padding
 * Bootstrap adds padding to each col-x elements, add this class on parent .row element to fit them
 */
.child-column-fit [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

/**
 * Center a single Bootstrap's column
 */
.col-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Center images
 */
 .img-centered {
   margin: auto;
 }

/**
 * remove margin or padding
 */
.no-margin  { margin: 0 !important;  }
.no-padding { padding: 0 !important; }

/**
 * Responsive images (ensure images don't scale beyond their parents)
 */
.img-responsive {
  @include img-responsive;
}

/**
 * Image thumbnails
 */
.img-thumbnail {
  padding: 1em;
  line-height: $line-height-base;
  background-color: $white;
  border: 1px solid $mid-grey;
  border-radius: 0;
  @include transition(all .2s ease-in-out);

  // Keep them at most 100% wide
  @include img-responsive(inline-block);
}

/**
 * Perfect circle
 */
.img-circle {
  border-radius: 50%; // set radius in percents
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 * See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Only display content to screen readers
 * See: http://a11yproject.com/posts/how-to-hide-content/
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/**
 * Use in conjunction with .sr-only to only display content when it's focused.
 * Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 * Credit: HTML5 Boilerplate
 */
.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

/**
 * Toggling content
 */
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}

/**
 * Hide from screen readers and browsers
 */
.hidden {
  display: none !important;
}

/**
 * Affix plugin
 */
.affix {
  position: fixed;
}
