// -----------------------------------------------------------------------------
// Custom icons
// -----------------------------------------------------------------------------

/**
 * Icomoon-generated custom font
 */

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-epub:before { content: "\e901"; }
.icon-upload:before { content: "\e900"; }
.icon-facebook:before { content: "\e902"; }
.icon-twitter:before { content: "\e903"; }
.icon-linkedin:before { content: "\e904"; }
.icon-mail:before { content: "\e905"; }

/**
 * Erudicon custom font
 */

.erudicon:before {
  display: inline-block;
  font-family: "erudicon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.erudicon-chevron-down:before { content: '\e800'; }
.erudicon-open-access:before { content: '\e801'; }
.erudicon-tools-cite:before { content: '\e802'; }
.erudicon-tools-fullscreen:before { content: '\e803'; }
.erudicon-tools-pdf:before { content: '\e804'; }
.erudicon-tools-print:before { content: '\e805'; }
.erudicon-tools-save:before { content: '\e806'; }
.erudicon-tools-share:before { content: '\e807'; }
.erudicon-tools-html:before { content: '\e808'; }


.sprite {
  display: inline-block;
}
