// -----------------------------------------------------------------------------
// Basic typography
// -----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small {
    font-weight: normal;
    line-height: 1;
    color: $dark-grey;
  }

}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);

  small {
    font-size: 65%;
  }

}

h4, h5, h6 {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);

  small {
    font-size: 75%;
  }

}

h1 {
  margin: 0.5em 0 1.5em 0;
}

// Major third typescale
h1 { font-size: 2.441em; }
h2 { font-size: 1.953em; }
h3 { font-size: 1.563em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.12em; }
h6 { font-size: 1em; }

@media (max-width: $screen-xs-max) {

  body {
    font-size: 14px;
  }

}

p, ul, ol, blockquote {
  font-size: $font-size-base;
  margin: 0 0 ($line-height-computed / 2);
  line-height: 1.35;
}

small {
  font-size: floor((100% * $font-size-small / $font-size-base));
}

mark,
.mark,
.highlight, {
  background-color: $yellow;
  padding: .2em;
}

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted $dark-grey;
}

blockquote {
  padding: ($line-height-computed / 2) ($line-height-computed / 1.5);
  margin: 0 0 $line-height-computed ($line-height-computed / 1.5);
  font-size: ($font-size-base * 1.25);
  border-left: 1px solid $mid-grey;

  p, ul, ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer,
  small {
    display: block;
    font-size: 80%; // back to default font-size
    line-height: $line-height-base;
    color: $dark-grey;

    &:before {
      content: '\2014 \00A0'; // em dash, nbsp
    }

  }

}

pre {
  @include font-styles('mono');
}

address {
  margin-bottom: $line-height-computed;
  font-style: normal;
  line-height: $line-height-base;
}

::-moz-selection {
  background: $midnight-blue;
  color: #FFF;
}

::selection {
  background: $midnight-blue;
  color: #FFF;
}

.category-tag,
.title-tag {
  color: $coral-red;
  font-size: small;
  margin: 0.5em 0 0.75em 0;
  letter-spacing: 0.035em;
  @include font-styles('sans-medium');
  text-transform: uppercase;
}

.title-tag {
  color: $dark-grey;
}

.majuscule {
  text-transform: uppercase;
}

.petitecap {
  font-variant: small-caps;
}

.souligne {
  text-decoration: underline;
}

.barre {
  text-decoration: line-through;
}

.surligne {
  border-style: solid none none none;
  border-width: 1px;
}

.filet {
  border: 1px solid $dark-grey;
}

.tailleg {
  font-size: 1.25em;
}
