{% load i18n %}
{% load base_urls_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<div class="select main-section">{{ LANGUAGE_CODE|language_name_local|title }} <span class="ion-ios-arrow-down caret"></span></div>
<ul>
  {% for language in LANGUAGES %}
  {% get_language_info for language.0 as lang %}
  <li><a href="{% trans_current_url language.0 %}" {% if language.0 != LANGUAGE_CODE %}class="active"{% endif %}>{{ lang.name_local|title }}</a></li>
  {% endfor %}
</ul>
