{% load i18n %}
{% load static %}

<footer id="site-footer" role="contentinfo">

  <div id="footer-nav" class="container">
    <div class="row">

      {# newsletter #}
      <aside class="col-sm-6">

        <form action="{{ MAILCHIMP_ACTION_URL }}" method="post" id="mc-embedded-subscribe-form" class="newsletter-form" name="mc-embedded-subscribe-form" target="_blank">
          <div aria-hidden="true" class="hidden"><input type="text" name="{{ MAILCHIMP_UUID }}" tabindex="-1" value=""></div>
          <fieldset class="col-sm-8">
            <h4 class="legend">{% trans "Abonnez-vous à notre infolettre" %}</h4>
            <div class="-input-group">
              <div class="input-group-btn">
                <input type="email" value="" name="EMAIL" required class="required email" id="mce-EMAIL" placeholder="{% trans "nom@courriel.com" %}">
                <input type="submit" value="{% trans "S'inscrire" %}" name="subscribe" id="mc-embedded-subscribe" class="btn btn-dark">
              </div>
            </div>
          </fieldset>
        </form>


      </aside>

      {# nav items #}
      <aside class="col-sm-6">

        <nav class="child-column-fit">

          <aside class="col-md-6">
            <ul class="unstyled">
              <li><a href="#"><strong>{% trans "À propos" %}</strong></a></li>
              <li><a href="#"><strong>{% trans "Abonnements" %}</strong></a></li>
            </ul>
          </aside>

          <aside class="col-md-6">
            <nav class="dropdown-buttons">
              {% include "partials/language-switch-nav.html" %}
            </nav>
          </aside>

          <hr class="col-xs-12">

          <aside class="col-md-6">
            <ul class="unstyled">
              <li><a href="#"><strong>{% trans "Publications" %}</strong></a></li>
              <li><a href="#">{% trans "Revues" %}</a></li>
              <li><a href="#">{% trans "Livres & actes" %}</a></li>
              <li><a href="#">{% trans "Thèses" %}</a></li>
              <li><a href="#">{% trans "Littérature grise" %}</a></li>
            </ul>
          </aside>

          <aside class="col-md-6">
            <ul class="unstyled">
              <li><a href="#"><strong>{% trans "Aide" %}</strong></a></li>
              <li><a href="#"><strong>{% trans "Plan du site" %}</strong></a></li>
              <li><a href="#"><strong>{% trans "Nous contacter" %}</strong></a></li>
            </ul>
          </aside>

        </nav>

      </aside>
    </div>
  </div>

  <div id="footer-legal">

      <div class="container">

        <div class="row">

          <aside class="col-sm-6">
            <img src="{% static 'svg/logo-erudit.svg' %}" alt="Erudit" class="inline-svg" />
          </aside>

          <aside class="col-sm-6 child-column-fit">

            <nav class="col-sm-6">
              <p class="no-margin">
                {% trans "© 2016 Consortium Érudit" %}
              </p>
              <p class="no-margin">
                <a href="#">{% trans "Conditions d'utilisations" %}</a>
              </p>
            </nav>

            <nav class="col-sm-6">
              <h5 class="no-margin">{% trans "Suivez-nous" %}</h5>
              <ul class="social-icons inline">
                <li><a href="https://www.facebook.com/%C3%89rudit-141469165320/"><i class="ion-social-facebook"></i></a></li>
                <li><a href="https://twitter.com/eruditorg"><i class="ion-social-twitter"></i></a></li>
                <li><a href="https://github.com/erudit/"><i class="ion-social-github"></i></a></li>
                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                <li><a href="#"><i class="ion-social-rss"></i></a></li>
              </ul>
            </nav>

          </aside>

        </div>

      </div>

  </div>

</footer>
