{% extends "base_email.html" %}
{% load i18n %}

{% block content %}
  {% url 'userspace:journal:editor:update' issue.journal.pk issue.pk as issue_url %}
  <p>{% trans "Votre numéro a été refusé." %}</p>
  {% with track=issue.last_status_track %}
  {% if track.comment %}
  <p>{% trans "Voici les commentaires laissés par le validateur à votre attention:" %}</p>
  <blockquote>{{ track.comment }}</blockquote>
  {% endif %}
  {% endwith %}
  <p>{% trans "Veuillez cliquer sur le lien suivant pour apporter les modifications nécessaires à votre numéro." %}</p>
  <p>
    <a href="http://{{ site.domain }}{{ issue_url }}">
      {% blocktrans with url=issue_url %}Consulter le numéro{% endblocktrans %}
    </a>
  </p>
{% endblock content %}
