{% extends "base_email.html" %}
{% load i18n %}

{% block subject %}
{% translate "Numéros sans activité depuis plus de deux semaines" %}
{% endblock subject %}

{% block content %}
<p>{% translate "Bonjour," %}</p>
<p>{% translate "Les numéros suivants n'ont pas eu d'activité depuis plus de deux semaines&nbsp;:" %}</p>
{% if submitted %}
<p><strong>{% translate "En attente de validation" %}</strong></p>
<ul>
{% for journal_name, issues in submitted.items %}
  <li>{{ journal_name }}
  <ul>
  {% for issue in issues %}
    <li><a href="http://{{ site.domain }}{% url 'userspace:journal:editor:detail' journal_pk=issue.journal.pk pk=issue.pk %}" style="color:#ff4242; text-decoration:underline;">{{ issue }}</a></li>
  {% endfor %}
  </ul>
  </li>
{% endfor %}
</ul>
{% endif %}
{% if needs_corrections %}
<p><strong>{% translate "À corriger" %}</strong></p>
<ul>
{% for journal_name, issues in needs_corrections.items %}
  <li>{{ journal_name }}
  <ul>
  {% for issue in issues %}
    <li><a href="http://{{ site.domain }}{% url 'userspace:journal:editor:detail' journal_pk=issue.journal.pk pk=issue.pk %}" style="color:#ff4242; text-decoration:underline;">{{ issue }}</a></li>
  {% endfor %}
  </ul>
  </li>
{% endfor %}
</ul>
{% endif %}
{% endblock content %}

{% block cta %}
{% url 'userspace:dashboard' as cta_url %}
{% translate "Accéder au tableau de bord" as cta_text %}
{% with cta_url=cta_url cta_text=cta_text %}
{{ block.super }}
{% endwith %}
{% endblock cta %}

{% block signature %}
{% translate 'L’Équipe Érudit' %}<br>
{% blocktranslate %}
<a href="mailto:info@erudit.org?subject=Suppression de fichiers déposés" style="color:#ff4242; text-decoration:underline;">info@erudit.org</a>
{% endblocktranslate %}
{% endblock signature %}
