{% extends "base_email.html" %}
{% load i18n %}

{% block content %}
  {% url 'userspace:journal:editor:detail' issue.journal.pk issue.pk as issue_url %}
  {% blocktrans %}
  <p>Bonjour,</p>

  <p>Les fichiers du numéro {{ issue }} de la revue {{ journal }} ont été approuvés par l'équipe de production. Le travail de mise en ligne débutera sous peu.</p>

  <p>
    <a href="http://{{ site.domain }}{{ issue_url }}">
      Consulter le numéro
    </a>
  </p>

  <p>Pour plus d'information, veuillez communiquer avec&nbsp;:</p>

  <p>
  Hocine Chehab<br>
  Chargé d'édition numérique<br>
  hocine.chehab@erudit.org<br>
  514-343-6111 poste 44607<br>
  </p>
  {% endblocktrans %}
{% endblock content %}
