{% extends "base_email.html" %}
{% load i18n %}

{% block content %}
  {% url 'userspace:journal:editor:detail' issue.journal.pk issue.pk as issue_url %}
  {% blocktrans with fullname=issue.contact.get_full_name journal=issue.journal domain=site.domain %}
  <p>Bonjour,</p>

  <p>{{ fullname}} de la revue {{ journal }} a transmis des fichiers de production du {{ issue }}.</p>

  <p>
    <a href="https://{{ domain }}{{ issue_url }}">
      Consulter la demande
    </a>
  </p>
  {% endblocktrans %}
{% endblock content %}
