.card {
  margin: 1em auto;
  padding: 10px;
  .card-header {
    padding: 0.75em 0;
  }
  .card-body {
    background-color: #FFF;
    padding: 0.75em;
  }
  .card-footer {
    background-color: #FFF;
    padding: 0.75em;
  }
}
