{% extends "base.html" %}
{% load i18n staticfiles rules navutils_tags %}
{% load pipeline %}
{% load staticfiles %}

{% block stylesheets %}
{% if DEBUG %}
<link rel="stylesheet" type="text/css" href="{% static 'css/userspace-dev.css' %}" />
{% else %}
{% stylesheet 'erudit_userspace' %}
{% endif %}
{% endblock %}

{% block body_class %}userspace{% endblock %}

{% block header %}
<header>
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-logo">
          <a href="{% url 'userspace:dashboard' %}">
            <img src="{% static 'img/logo-erudit-blanc.png' %}"/>
          </a>
        </div>
        <div class="navbar-user dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <span class="profile-pic glyphicon glyphicon-user"></span>
            {% if user.first_name %}
            {{ user.first_name }}
            {% else %}
            {{ user }}
            {% endif %}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#" class="disabled">{% trans "Aide" %}</a></li>
            <li><a href="#" class="disabled">{% trans "Paramètres" %}</a></li>
            <li><a href="{% url 'logout' %}?next={% url 'userspace:dashboard' %}">{% trans "Déconnexion" %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
{% endblock %}

{% block nav %}
<nav class="sidenav">
{% render_menu menu=menus.main user=request.user %}
</nav>
{% endblock %}

{% block content %}
<main class="main">
  <header>
    <h1>
      <span class="user-space">{% block zone-title %}{% trans "Espace utilisateur" %}{% endblock %}</span> {% block page-title %}{% endblock %}
    </h1>
  </header>
  <div class="container-fluid">
    <div class="breadcrumbs">
      {% block breadcrumbs %}
      {% render_breadcrumbs breadcrumbs %}
      {% endblock %}
    </div>
    {% block content-main %}
    {% endblock %}
  </div>
</main>
{% endblock %}
