{% extends "base.html" %}
{% load i18n staticfiles rules navutils_tags %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/userspace.css' %}" />
{% endblock stylesheets %}

{% block body_class %}userspace{% endblock %}

{% block header %}

<header id="site-header">

  <div class="container-fluid">

    <div class="row">

      <h1 id="brand" class="col-md-4">
        <a href="{% url 'userspace:dashboard' %}">
          <img src="{% static 'img/logo-erudit-blanc.png' %}"/>
        </a>
      </h1>

      <nav id="main-nav" class="col-md-8">

        <ul>
          <li class="dropdown text-left">
            <a href="#" class="select">
              <i class="user ion-person"></i>
              {% if user.first_name %}
              {{ user.first_name }}
              {% else %}
              {{ user }}
              {% endif %}
              <i class="ion-ios-arrow-down caret"></i>
            </a>
            <ul class="">
              <li><a href="#" class="disabled">{% trans "Aide" %}</a></li>
              <li><a href="#" class="disabled">{% trans "Paramètres" %}</a></li>
              <li><a href="{% url 'logout' %}?next={% url 'userspace:dashboard' %}">{% trans "Déconnexion" %}</a></li>
            </ul>
          </li>
        </ul>

      </nav>

    </div>

  </div>

</header>
{% endblock %}

{% block nav %}
<nav class="sidenav">
{% render_menu menu=menus.main user=request.user %}
</nav>
{% endblock %}

{% block content %}
<main class="main">
  <header>
    <h1>
      <span class="user-space">{% block zone-title %}{% trans "Espace utilisateur" %}{% endblock %}</span> {% block page-title %}{% endblock %}
    </h1>
  </header>
  <div class="container-fluid">
    <div id="breadcrumb">
      {% block breadcrumbs %}
      {% render_breadcrumbs breadcrumbs %}
      {% endblock %}
    </div>
    <div class="messages-wrapper">
      {% include "partials/messages.html" %}
    </div>
    {% block content-main %}
    {% endblock %}
  </div>
</main>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/UserspaceApp.js' %}"></script>
{% endblock scripts %}
