image: python:3.6

variables:
  GIT_SUBMODULE_STRATEGY: normal

before_script:
  # https://gitlab.com/gitlab-org/gitlab-ce/issues/14983#note_4637913
  - apt-get update >/dev/null
  - apt-get install -y locales >/dev/null
  - echo "fr_CA.UTF-8 UTF-8" >> /etc/locale.gen
  - locale-gen
  - pip install tox

test:
  script: 
  - tox
