*.pyc
__pycache__
settings_env.py
db.sqlite3
env/
*~
\#*\#
.tox/
dumps/
/erudit/static/
post_office_attachments/
src/
.DS_Store
npm-debug.log
.coverage
/node_modules
Vagrantfile
/vagrant_data
.vagrant
vagrant
tools/static/.env.json

#
# bower - keep adding to this list as needed
# ignore cruft that comes with bower components
#
/erudit/base/static/vendor/**/src
/erudit/base/static/vendor/**/source
/erudit/base/static/vendor/**/spec
/erudit/base/static/vendor/**/doc
/erudit/base/static/vendor/**/docs
/erudit/base/static/vendor/**/.bowerrc
/erudit/base/static/vendor/**/.gitignore
/erudit/base/static/vendor/**/.npmignore
/erudit/base/static/vendor/**/.jshintignore
/erudit/base/static/vendor/**/.jshintrc
/erudit/base/static/vendor/**/composer.json
/erudit/base/static/vendor/**/*.nuspec
/erudit/base/static/vendor/**/bower.json
/erudit/base/static/vendor/**/.bower.json
/erudit/base/static/vendor/**/gruntfile.js
/erudit/base/static/vendor/**/gulpfile.js
/erudit/base/static/vendor/**/index.js
/erudit/base/static/vendor/**/package.js
/erudit/base/static/vendor/**/package.json
/erudit/base/static/vendor/**/component.json
/erudit/base/static/vendor/**/*.md
/erudit/base/static/vendor/**/*.html
/erudit/base/static/vendor/**/*.txt
/erudit/base/static/vendor/**/LICENSE
/erudit/base/static/vendor/**/Makefile
/erudit/base/static/vendor/**/test/
/erudit/base/static/vendor/**/vendor/
/erudit/base/static/vendor/**/demo/
/erudit/base/static/vendor/**/png/
