*.pyc
__pycache__
settings_env.py
db.sqlite3
env/
*~
\#*\#
.tox/
dumps/
post_office_attachments/
src/
.DS_Store
npm-debug.log
npm-debug.log.*
.coverage
/node_modules
/bower_components
Vagrantfile
/vagrant_data
.vagrant
vagrant
tools/static/.env.json
media/*
!media/.gitkeep
static/*
!static/.gitkeep

docs/_build

/erudit/static/build_dev/*
!erudit/static/build_dev/.gitkeep

/erudit/static/vendor/**/src
/erudit/static/vendor/**/source
/erudit/static/vendor/**/spec
/erudit/static/vendor/**/doc
/erudit/static/vendor/**/docs
/erudit/static/vendor/**/.bowerrc
/erudit/static/vendor/**/.gitignore
/erudit/static/vendor/**/.npmignore
/erudit/static/vendor/**/.jshintignore
/erudit/static/vendor/**/.jshintrc
/erudit/static/vendor/**/composer.json
/erudit/static/vendor/**/*.nuspec
/erudit/static/vendor/**/bower.json
/erudit/static/vendor/**/.bower.json
/erudit/static/vendor/**/gruntfile.js
/erudit/static/vendor/**/gulpfile.js
/erudit/static/vendor/**/index.js
/erudit/static/vendor/**/package.js
/erudit/static/vendor/**/package.json
/erudit/static/vendor/**/component.json
/erudit/static/vendor/**/*.md
/erudit/static/vendor/**/*.html
/erudit/static/vendor/**/*.txt
/erudit/static/vendor/**/LICENSE
/erudit/static/vendor/**/Makefile
/erudit/static/vendor/**/test/
/erudit/static/vendor/**/vendor/
/erudit/static/vendor/**/demo/
/erudit/static/vendor/**/png/

/erudit/erudit/management/commands/fixtures/
