-r requirements.txt

django-debug-toolbar>=1.8
django-debug-toolbar-line-profiler>=0.6.1
django-debug-toolbar-template-timings>=0.6.6
ipdb>=0.8.1
ipython>=4.0.0
pip-tools

# Testing
pytest>=5.3.2,!=5.3.3
pytest-cov>=1.8
pytest-django>=2.8
pytest-xdist>=1.15.0
codecov>=1.6
factory-boy>=2.4
Faker>=0.7.5
tox>=1.7
flake8>=3.8.0
luqum>=0.7
