cssselect==0.9.1
decorator==4.0.4
Django==1.8.7
django-appconf==1.0.1
django-compressor==1.6
django-crispy-forms==1.5.2
-e git+https://github.com/asaglimbeni/django-datetime-widget.git@master#egg=django_datetime_widget-master
django-grappelli==2.7.1
git+https://github.com/erudit/django-resumable-uploads.git@master#egg=django-resumable-uploads
django-post-office==2.0.2
Django-Select2==5.2.1
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
jsonfield==1.0.3
libsass==0.9.1
lxml==3.5.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
Pillow==2.9.0
pluggy==0.3.0
psycopg2==2.6.1
ptyprocess==0.5
py==1.4.30
pytz==2015.7
reportlab==3.2.0
simplegeneric==0.8.1
six==1.10.0
tox==2.1.1
traitlets==4.0.0
virtualenv==13.1.2
pymysql
factory_boy==2.6.0
simplejson
django-spurl==0.6.4
django-filter==0.11.0
rules==1.1.1
