{% extends "base_email.html" %}
{% load i18n %}

{% block subject %}
{% translate "Rejoindre une organisation" %}
{% endblock subject %}

{% block content %}
  <p>
  {% blocktranslate trimmed with organisation_name=token.content_object.name %}
    Une proposition vous a été envoyée afin de rejoindre l’organisation <strong>{{ organisation_name }}</strong>.
  {% endblocktranslate %}
  </p>
  <p>{% translate "Veuillez cliquer sur le lien suivant pour l’accepter" %}</p>
{% endblock content %}

{% block cta %}
{% url 'public:account_actions:landing' key=token.key as action_url %}
{% translate "Accepter la proposition" as cta_text %}
{% with cta_url="http://"|add:site.domain|add:action_url %}
{{ block.super }}
{% endwith %}
{% endblock cta %}

{% block signature %}
{% translate 'L’Équipe Érudit' %}
{% endblock signature %}
