{% extends "userspace/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extrahead %}
  {{ form.media.css }}
{% endblock extrahead %}

{% block content-main %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <br />
        <ul class="tabs-group">
          {% for langcode, langname in LANGUAGES %}
          <li role="presentation" class="tab {% if langcode == selected_language %}active{% endif %}">
            <a href="{% url 'userspace:journal:journal-information-update' code=journal_code %}?lang={{ langcode }}">{{ langname }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form  class="form-vertical"
               method="post"
               action="{% url 'userspace:journal:journal-information-update' code=journal_code %}?lang={{ selected_language }}">
          {% crispy form %}
        </form>
      </div>
    </div>
  </div>
{% endblock content-main %}

{% block footerscript %}
  {{ form.media.js }}
{% endblock footerscript %}
