{% if messages %}
  {% for message in messages %}
  <p class="alert alert-{{ message.tags }} {% if 'error' in message.tags %}alert-danger{% endif %} fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {% if 'noicon' not in message.tags %}
      {# Include an icon by default #}
      {% if 'success' in message.tags %}
        <span class="icon-ok-sign"></span>
      {% endif %}
      {% if 'info' in message.tags %}
        <span class="icon-info-sign"></span>
      {% endif %}
      {% if 'warning' in message.tags %}
        <span class="icon-warning-sign"></span>
      {% endif %}
      {% if 'error' in message.tags %}
        <span class="icon-exclamation-sign"></span>
      {% endif %}
    {% endif %}
    {{ message }}
  </p>
  {% endfor %}
{% endif %}
