{% extends "base_email.html" %}
{% load i18n %}

{% block subject %}
{% trans "Création d’un nouveau compte utilisateur" %}
{% endblock subject %}

{% block content %}
{% blocktrans %}
<p>Bonjour {{ object.firstname }} {{ object.lastname }},</p>

<p>Votre compte pour accéder à erudit.org a été créé.</p>

<p>Pour vous connecter, utilisez votre adresse courriel et le mot de passe que vous recevrez sous peu.</p>
{% endblocktrans %}
{% endblock content %}

{% block cta_url %}
{{ protocol }}://{{ domain }}
{% endblock cta_url %}

{% block cta_text %}
{% trans "Consulter erudit.org" %}
{% endblock cta_text %}

{% block signature %}
&ndash; {% trans 'L’Équipe Érudit' %}<br>
{% blocktrans %}
<a href="mailto:info@erudit.org?subject=Nouveau compte utilisateur">info@erudit.org</a>
{% endblocktrans %}
{% endblock signature %}
