{% extends "base_email.html" %}
{% load i18n %}

{% block subject %}
{% trans "Création d’un nouveau compte utilisateur" %}
{% endblock subject %}

{% block content %}
{% blocktrans %}
<p>Bonjour {{ object.firstname }} {{ object.lastname }},</p>

<p>Votre compte pour accéder à erudit.org a été créé.</p>

<p>Pour vous connecter, utilisez votre adresse courriel et le mot de passe que vous recevrez sous peu.</p>
{% endblocktrans %}
{% endblock content %}

{% block cta %}
{% trans "Consulter erudit.org" as cta_text %}
{% with cta_url=protocol|add:"://"|add:domain %}
{{ block.super }}
{% endwith %}
{% endblock cta %}

{% block signature %}
{% trans 'L’Équipe Érudit' %}<br>
{% blocktrans %}
<a href="mailto:info@erudit.org?subject=Nouveau compte utilisateur">info@erudit.org</a>
{% endblocktrans %}
{% endblock signature %}
