// -----------------------------------------------------------------------------
// Styles related to the main navigation within the header
// -----------------------------------------------------------------------------

#main-nav {

  .select{
    margin-right: 30px;
    margin-bottom: 0;

    .select2{
      min-width: 250px !important;
    }

    .select2-selection__rendered{
      text-align: left;
      color: $light-grey;
    }

    .select2-selection{
      height: 30px;
      padding: 6px;
      height: 40px;
      border-color: $darker-grey;
      border-radius: 0;
      background: $darker-grey;
      @include navbar-vertical-align(30px);
    }
  }

  a {

    &:hover, &:focus, &:active, &:active:focus {
      text-decoration: none;
    }

  }

  .dropdown {
    width: 200px;
    margin: 0;
    height: 25px;
    @include navbar-vertical-align(16px);

    .user {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      padding-top: 2px;
      background: rgba(255, 255, 255, 0.5);
      display: inline-block;
      text-align: center;
      color: #fff;
    }

    .caret {
      padding-left: 10px;
    }

    > a {
      padding: 0;
      line-height: 25px;
    }

    &:hover {
      text-decoration: none;
    }

    ul {
      background-color: #FFF;
      border: 1px solid $mid-grey;

      li {
        border-bottom: 1px solid $mid-grey;

        &:hover {
          background: $light-grey;
        }

        &:last-child {
          border: none;
        }

      }

    }

  }

}
