/**
* Accordions system
* (based on Akkordion vanilla JS plugin)
*/


.akkordion {

  .icon {
    float: right;
    position: relative;
    top: 2px;
  }

  .akkordion-content {
    padding-bottom: $margin-vertical-default/2;
  }

  [data-akkordion-active] {
    .icon {
      @include rotate(180deg);
    }
  }

}
