/**
* default breadcrumb
*/

#breadcrumb {
  margin-bottom: $margin-vertical-default;
  color: $gray-light;

  p {
    font-size: 14px;
  }

  a {
    color: $gray-light;
    &:last-child {
      color: $gray-base;
      @include fw-sans-bold();
    }
  }

}
