/**
* public site breadcrumb
*/

#breadcrumb {
	margin-bottom: 0;
	padding: $margin-vertical-default 0;

	// border at bottom bottom
	.container > .row > div {
		@include grid-cell-border($direction: 'bottom');
		padding-bottom: 15px;
	}

}
