/**
* Dropdown default
*/

.dropdown {
  position: relative;

  a {
    @include transition(all 250ms);
    cursor: pointer;
  }

  > a.select {
    display: block;
    i.caret {
      float: right;
      margin-left: $grid-gutter-width;
    }
  }

  > ul {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    list-style: none;
    margin: 0;
    text-align: left !important;

    li {
      margin: 0;
      padding: 0 12px 0 0;
      display: block !important;
    }

    a {
      padding: 10px 0;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &:hover {
    > a {
      // background-color: $gray-base;
      color: #fff;
      text-decoration: none;
      .caret {
        @include rotate(180deg);
        margin-top: -5px;
      }
    }
    > ul {
      display: block;
      width: 100%;
    }
  }

}

/**
* Drop down with buttons like elements
*/

.dropdown-buttons {
  position: relative;

  a {
    @include transition(all 250ms);
    cursor: pointer;
  }

  > a.select {
    display: block;
    padding: ($grid-gutter-width / 2) ($grid-gutter-width);
    border: 1px solid $gray-base;
    @include fw-sans-bold();
    background-color: #fff;
    i.caret {
      float: right;
    }
  }

  > ul {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    list-style: none;
    margin: 0;

    li {
      margin: 0 !important;
      display: block !important;
      &.selected {
        @include fw-sans-bold();
      }
    }

    a {
      padding: ($grid-gutter-width / 2) ($grid-gutter-width);
      border: 1px solid $gray-base;
      border-top: none;
      display: block;
      &:hover {
        background-color: $gray-base;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &:hover {
    > a {
      background-color: $gray-base !important;
      color: #fff !important;
      text-decoration: none;
      border-color: $gray-base !important;
      i {
        @include rotate(180deg);
        margin-top: -5px;
      }
    }
    > ul {
      display: block;
      width: 100%;
    }
  }

  /**
  * variations
  */
  &.dropdown-sml {
    > a.select {
      display: block;
      padding: ($grid-gutter-width / 4) ($grid-gutter-width/2);
      border: 2px solid $gray-mid;
      // border-radius: 2px;
      @include fw-sans-normal();
      i.caret {
        float: right;
        position: relative;
        top: 2px;
      }
    }
  }

}
