// form control variables
$border-width: 1px !global;
$border-width-inputs: 0 0 1px 0 !global;
$input-padding: 0.25em !global;

/* reset default styles */
form,
input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset,
.form-control,
form .row {
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
  outline: none;
  font-size: $font-size;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: none;
  background: none;
  border: none;
  &:hover, &:active, &:focus, &:focus:active {
  }
}

/* form & label alignement */
.form-group > label,
.form-group > input,
.form-group > select,
.form-group > textarea {
  display: block;
  margin: 0.5em 0;
}

/* general form style */
form {
  .form-group {
    margin-bottom: 0.75em;
    padding: 0 1em;
    &:last-child {
      margin-bottom: 0.25em;
    }
  }
}

/* fieldsets and legends */
fieldset {
  margin-bottom: 3em;
  background-color: #FFF;
  &:last-child {
    margin-bottom: 1em;
  }
}

legend {
  letter-spacing: 1px;
  font-size: $font-size * 1.05;
  color: $gray-dark;
}

/* labels */
label {
  margin: 0.25em 0;
  color: $gray-dark;
  font-weight: normal;
  display: block;
}

/* input styles */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
select,
datalist,
textarea,
input[list],
.form-control {
  width: 100%;
  padding: $input-padding;
  height: $font-size + 24;
  border-width: $border-width;
  border-style: solid;
  border-color: $gray-light;
  color: $gray-dark;
  background: transparent;
  @include border-radius(0px);
  &:hover {
    border-color: $colour-primary;
  }
  &:active, &:focus {
    border-color: $colour-primary;
  }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"] {
  border-width: $border-width-inputs;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  vertical-align: middle;
  &:hover {}
  &:active, &:focus {}
}

input[type="file"],
input[type="color"],
input[type="range"] {
  border: none;
  font-size: 0.75em;
  line-height: 1em;
  width: auto;
  &:hover {}
  &:active, &:focus {}
}

select,
datalist,
textarea,
input[list] {
  border-width: 1px 1px 1px 1px;
}

textarea {
  min-height: 100px;
}

/* buttons */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"],
.btn, .btn-default {
  cursor: pointer;
  padding: $font-size*0.5 $font-size*0.75;
  border: 1px solid $gray-dark;
  border-radius: 0px;
  color: $gray-dark;
  margin: 0.75em 0.75em 0 0;
  @include transition(all, 300ms, ease);
  &:last-child {
    margin-right: 0;
  }
  &:hover, &:active, &:focus, &:active:focus {
    color: $gray-light;
    background-color: $gray-dark*1.15;
    border: 1px solid $gray-dark*1.15;
  }
}

/* primary call-to-actions and submit buttons */
button[type="submit"],
input[type="submit"],
.btn-primary {
  border: 1px solid $colour-primary;
  color: white;
  background-color: $colour-primary;
  letter-spacing: 1px;
  text-transform: uppercase;
  a {
    color: #FFF;
    &:hover, &:active, &:focus, &:active:focus {
      background-color: $colour-primary*0.75;
      color: white;
      border: none;
    }
  }
  &:hover, &:active, &:focus, &:active:focus {
    background-color: $colour-primary*0.75;
    border: 1px solid $colour-primary*0.75;
    color: white;
  }
}

/* reset and cancel buttons */
button[type="reset"],
input[type="reset"] {
  border: none;
  text-decoration: underline;
  color: $gray-dark;
  background-color: #FFF;
  &:hover, &:active, &:focus, &:active:focus {
    color: $gray-dark;
    background: none;
    border: none;
    text-decoration: none;
  }
}

/* disabled inputs and buttons */
input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  cursor: not-allowed;
  color: $gray-light;
  background-color: $gray-lighter;
}

/* required or optional input labels */
label.required:after {
  content: ' *';
  color: $gray-light;
  font-weight: bold;
  font-size: 0.85em;
}

/* error inputs */
.error {
  input, .select2 {
    border-color: $colour-warning;
    background-color: rgba($colour-warning, 0.15);
  }
}

/* remove extra borders and padding for mobile viewing */
@media(max-width:768px) {
  form {
    padding: 0;
    fieldset, fieldset.form-wrapper{
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
    }
    .form-group {
      padding: 0.25em;
    }
  }
}

/* select2 overrides */
.select2 {
  width: 100% !important;
  &.select2-container .select2-selection--single {
    @extend select;
    .select2-selection__arrow {
      height: 100%;
      top: 0;
    }
  }
}

/* bootstrap overrides */
.input-group-addon {
  @include border-radius(0);
  border: 0;
  background: $colour-primary;
  color: #FFF;
}
