/**
* Unordered and Ordered lists
*/

ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);
  margin-left: 15px;

  li {
    margin-bottom: ($line-height-computed / 2);
  }

  // nested
  ul,
  ol {
    margin-bottom: 0;
  }
}

// [converter] extracted from `.list-unstyled` for libsass compatibility
@mixin list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0;
  }
}

// [converter] extracted as `@mixin list-unstyled` for libsass compatibility
.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
ol, ul {

  &.inline {
    @include list-unstyled;

    > li {
      display: inline-block;
    }
  }

}

/**
* Definition List (DL)
*/

$dl-horizontal-offset: 40px;

dl {

  dd {
    @include clearfix; // Clear the floated `dt` if an empty `dd` is present
  }

  dt {
    float: left;
    width: ($dl-horizontal-offset - 1);
    clear: left;
    color: $gray-light;
    @include text-overflow;
    font-weight: normal;
  }

  dd {
    margin-left: $dl-horizontal-offset;
    @include text-overflow;
  }

}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {
  dd {
    @include clearfix; // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: $grid-float-breakpoint) {
    dt {
      float: left;
      width: ($dl-horizontal-offset - 20);
      clear: left;
      text-align: right;
      @include text-overflow;
    }
    dd {
      margin-left: $dl-horizontal-offset;
    }
  }
}
