/**
* various page headers
*/

.page-header-main {

  hgroup {
    padding-bottom: $margin-vertical-default;
  }

  h2 {
    margin: 0;
    font-size: 36px;
    line-height: 1.4em;
    @include fw-sans-bold();
  }

  h3 {
    margin-bottom: 0;
    font-size: $font-size-h4;
    // @include fw-sans-medium();
  }

  figure.logo {
    img {
      float: right;
      @media (max-width: $screen-xs-max) {
        float: none;
      }
    }
  }

  // add border at top or bottom of the heading
  &.border-top {
    @include grid-cell-border($direction: 'top');
  }

  &.border-bottom {
    @include grid-cell-border($direction: 'bottom');
    margin-bottom: $margin-vertical-default/2;
    hgroup {
      padding-bottom: $margin-vertical-default/2;
    }
  }

}
