section.share-modal {

	.panel {
		border: none;
	}

	.share-modal--body {
		padding: 0;

		li {
			margin-top: 1px !important;

			.btn {
				padding: 0.5em 16px 0.5em 25%;
				text-align: left;

				span {
					display: inline-block;
					text-align: center;
					width: 30px;
					margin-right: 1em;
				}
			}
		}
	}
}