table {
  font-size: 0.85em;
  width: 100%;
  margin: 1em 0;
  counter-reset: row-number;
  th, td {
    padding: 1em 0.5em;
  }
  thead {
    th {
      white-space: nowrap;
      color: $colour-medium-grey;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $colour-faint-grey;
      counter-increment: row-number;
      &:last-child {
        border: 0;
      }
    }
    td {
      vertical-align: top;
      &.table-ordered_row:before {
        content: counter(row-number);
        color: $colour-pale-grey;
      }
      &.table-date {
        white-space: nowrap;
      }
    }
    th.multicol {
      padding: 1em 0;
      font-weight: 400;
      color: #000;
    }
  }
}