{% load i18n staticfiles %}
{% url 'password_reset_confirm' uidb64=uid token=token as url %}

{% blocktrans %}
Vous recevez ce message en réponse à votre demande de réinitialisation du mot de passe de votre compte sur {{ domain }} avec le courriel {{ email }}.

Veuillez vous rendre sur cette page et choisir un nouveau mot de passe :

{{ protocol }}://{{ domain }}{{ url }}

Votre nom d'utilisateur, en cas d'oubli : {{ user }}

Merci d'utiliser l'espace utilisateur d'Érudit !

L'équipe d'Érudit
{% endblocktrans %}
