{% extends "base.html" %}
{% load i18n staticfiles %}

{% block page-title %}
{% trans 'Réinitialisation de mot de passe' %}
{% endblock %}

{% block zone-title %}
{% trans 'Espace éditeurs' %}
{% endblock %}

{% block content %}
<main class="login-page reset-password-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <section class="card card-login">
          <div class="erudit-logo">
            <a href="{% url 'login' %}">
              <img src="{% static 'img/logo-erudit.png' %}" class="img-responsive"/>
            </a>
          </div>
          <h1>{% trans 'Réinitialisation de mot de passe' %}</h1>
          {% block password-reset-content %}
          {% endblock %}
          <div class="card-footer">
            <p><a href="{% url 'login' %}">{% trans "Retourner à la page d'accueil" %}</a></p>
            <a href="http://erudit.org/" target="_blank"><small>erudit.org</small></a>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
{% endblock %}
