{% extends "base.html" %}
{% load rules static %}

{% block title %}{{ block.super }} – {% block userspace_title %}{% endblock %}{% endblock title %}

{% block body_class %}{{ block.super }} dashboard{% endblock body_class %}

{% block content %}
<div class="container">
  {% block sidenav %}
  <nav class="col-sm-3 sidenav">
  {% block userspace_sidenav %}{% endblock %}
  </nav>
  {% endblock sidenav %}
  <main class="col-sm-8 col-md-offset-1">
    {# Section page header #}
    <header>
      <h1>{% block section_title %}{% endblock %}</h1>
      <div class="row">
        <div class="col-md-{% if section_aside %}7{% else %}12{% endif %} section-intro">
          {% block section_intro %}{% endblock %}
        </div>
        {% if section_aside %}
        <div class="col-md-4 section-aside">
          {% block section_aside %}{% endblock %}
        </div>
        {% endif %}
      </div>
    </header>

    <hr>

    {# Section content #}
    <div class="section-main">
      {% block content_main %}{% endblock %}
    </div>
  </main>
</div>
{% endblock content %}

{% block stylesheets %}
{{ block.super }}
{% if not WEBPACK_DEV_SERVER_URL %}
<link rel="stylesheet" type="text/css" href="{% static 'css/userspace.css' %}" />
{% endif %}
{% endblock stylesheets %}

{% block scripts %}
{{ block.super }}
<script src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/userspace.js' %}"></script>
{% endblock scripts %}
