{% extends "base.html" %}
{% load i18n staticfiles rules %}
{% load staticfiles %}

{% block stylesheets %}
{% if not WEBPACK_DEV_SERVER_URL %}
<link rel="stylesheet" type="text/css" href="{% static 'css/UserspaceApp.css' %}" />
{% endif %}
{% endblock stylesheets %}

{% block body_class %}userspace{% endblock %}

{% block header %}

<header id="site-header">

  <div class="container-fluid">

    <div class="row">

      <h1 id="brand" class="col-md-4">
        <a href="{% url 'userspace:dashboard' %}">
          <img src="{% static 'img/logo-erudit-blanc.png' %}"/>
        </a>
      </h1>

      <nav id="main-nav" class="col-md-8">

        <ul>
          {% block inner_nav %}{% endblock inner_nav %}
          <li class="dropdown text-left">
            <a href="#" class="select">
              <i class="user ion-person"></i>
              {% if user.first_name %}
              {{ user.first_name }}
              {% else %}
              {{ user }}
              {% endif %}
              <i class="ion-ios-arrow-down caret"></i>
            </a>
            <ul class="">
              <li><a href="#" class="disabled">{% trans "Aide" %}</a></li>
              <li><a href="#" class="disabled">{% trans "Paramètres" %}</a></li>
              <li><a href="{% url 'public:auth:logout' %}?next=/">{% trans "Déconnexion" %}</a></li>
            </ul>
          </li>
        </ul>

      </nav>

    </div>

  </div>

</header>
{% endblock %}

{% block content %}
<main role="main">
  <header>
    <h1>
      <span class="user-space">{% block zone_title %}{{ scope_current_journal.name }}{% endblock %}</span> {% block page_title %}{{ title }}{% endblock %}
    </h1>
  </header>
  <div class="container-fluid">
    <div id="breadcrumb">
      {% block breadcrumbs %}
      <ul class="breadcrumb">
        <li><a href="{% url 'userspace:dashboard' %}">{{ scope_current_journal.name }}</a></li>
        {% block breadcrumb_end %}{% endblock breadcrumb_end %}
      </ul>
      {% endblock %}
    </div>
    <div class="messages-wrapper">
      {% include "partials/messages.html" %}
    </div>
    {% block content_main %}
    {% endblock %}
  </div>
</main>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/UserspaceApp.js' %}"></script>
{% endblock scripts %}
