{% extends "base.html" %}
{% load i18n staticfiles rules %}
{% load staticfiles %}

{% block stylesheets %}
{% if not WEBPACK_DEV_SERVER_URL %}
<link rel="stylesheet" type="text/css" href="{% static 'css/UserspaceApp.css' %}" />
{% endif %}
{% endblock stylesheets %}

{% block body_class %}userspace{% endblock body_class %}

{% block header %}
<header id="site-header" class="navbar navbar-default navbar-fixed-top">
  <nav>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'userspace:dashboard' %}">
          <img src="{% static 'img/logo-erudit-blanc.png' %}"/>
        </a>
      </div>
      <nav id="main-nav" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right unstyled">
          {% block inner_nav %}{% endblock inner_nav %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="user ion-person"></span>
              {% if user.first_name %}
              {{ user.first_name }}
              {% else %}
              {{ user }}
              {% endif %}
              <span class="ion-ios-arrow-down caret"></span>
            </a>
            <ul class="dropdown-menu unstyled">
              <li><a href="{% url 'public:home' %}">{% trans "Accueil erudit.org" %}</a></li>
              <li><a href="{% url 'public:auth:personal_data' %}">{% trans "Paramètres" %}</a></li>
              <li><a href="{% url 'public:auth:logout' %}?next=/">{% trans "Déconnexion" %}</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
</header>
{% endblock header %}

{% block body %}
  <main role="main">
    {% block content %}{% endblock content %}
  </main>
{% endblock body %}

{% block scripts %}
  <script type="text/javascript" src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/UserspaceApp.js' %}"></script>
{% endblock scripts %}
