{% extends "userspace/base.html" %}
{% load i18n %}

{% block title %}{% trans "Choix de l'espace de gestion" %}{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{% trans "Choix de l'espace de gestion" %}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% if journals %}
        <a href="{% url 'userspace:journal:entrypoint' %}" class="btn btn-primary">{% trans "Gestion des revues" %}</a>
      {% endif %}
      {% if organisations %}
        <a href="{% url 'userspace:library:entrypoint' %}" class="btn btn-primary">{% trans "Gestion des biliothèques" %}</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
