{% extends "base_email.html" %}
{% load i18n %}

{% block subject %}
{% translate "Réinitialisation d’un mot de passe" %}
{% endblock subject %}

{% block content %}
<p>{% translate "Bonjour," %}</p>

<p>{% blocktranslate %}Vous (ou quelqu'un d'autre) avez saisi cette adresse courriel lors de la tentative de modification du mot de passe d'un compte sur <a href="{{ site_name }}" style="color:#ff4242; text-decoration:underline;">{{ site_name }}</a>.{% endblocktranslate %}</p>

<p>{% blocktranslate %}Cependant, cette adresse courriel ne figure pas dans notre base de données d'utilisateurs enregistrés et la tentative de changement de mot de passe a donc échoué.{% endblocktranslate %}</p>

<p>{% blocktranslate %}Si vous êtes un client Érudit et que vous attendiez ce courriel, veuillez réessayer en utilisant l'adresse courriel que vous avez fournie lors de l'ouverture de votre compte en {% endblocktranslate %}<a href="{% url 'public:auth:password_reset' %}" style="color:#ff4242; text-decoration:underline;">{% blocktranslate %}cliquant ici{% endblocktranslate %}</a>.</p>

<p>{% blocktranslate %}Si vous n'êtes pas client d'Érudit, veuillez ignorer ce courriel.{% endblocktranslate %}</p>

<p>{% blocktranslate %}Pour plus d'informations sur les services offerts par Érudit, veuillez visiter notre page {% endblocktranslate %}<a href="{% if LANGUAGE_CODE == 'fr' %}https://apropos.erudit.org/fr/{% else %}https://apropos.erudit.org/en/{% endif %}" style="color:#ff4242; text-decoration:underline;">{% blocktranslate %}À propos{% endblocktranslate %}</a>.</p>
{% endblock content %}

{% block cta %}{% endblock cta %}

{% block signature %}
{% translate 'L’Équipe Érudit' %}<br>
{% blocktranslate %}
<a href="mailto:info@erudit.org?subject=Réinitialisation d’un mot de passe" style="color:#ff4242; text-decoration:underline;">info@erudit.org</a>
{% endblocktranslate %}
{% endblock signature %}
