{% extends "base_email.html" %}
{% load i18n %}

{% block content %}
<p>Bonjour Madame / Monsieur,</p>
<p>Vous recevez ce courriel, pour réinitialiser le mot de passe de votre compte utilisateur sur www.erudit.org afin d’accéder à votre nouvel espace éditeur et au service de dépôt de fichiers de production.</p>
<p>Veuillez cliquer sur le lien suivant afin de définir un nouveau mot de passe&nbsp;:</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'public:auth:password_reset_confirm' uidb64=uid token=token %}">Modifier mon mot de passe</a></p>
<p>Pour rappel, votre nom d'utilisateur est : {{ user.get_username }}</p>
<p>Pour plus d’informations, vous pouvez contacter Hocine Chehab, Chargé de l’édition numérique.<br>
edition@erudit.org<br>
514-343-6111 poste 44607<br>
</p>
{% endblock content %}
