{% extends "base_email.html" %}
{% load i18n %}

{% block subject %}
{% translate "Réinitialisation d’un mot de passe" %}
{% endblock subject %}

{% block content %}
<p>{% translate "Bonjour," %}</p>

<p>{% blocktranslate %}Vous (ou quelqu'un d'autre) avez saisi cette adresse courriel lors de la tentative de réinitialisation du mot de passe d'un compte sur <a href="{{ site_name }}" style="color:#ff4242; text-decoration:underline;">{{ site_name }}</a>. Cependant, cette adresse courriel ne figure pas dans notre base de données d'utilisateurs enregistrés et la tentative de réinitialisation a donc échoué.{% endblocktranslate %}</p>

{% url 'public:auth:password_reset' as reset_path %}
<p>{% blocktranslate with reset_url=protocol|add:"://"|add:domain|add:reset_path %}Si vous êtes un client d'Érudit et que vous attendiez ce courriel, veuillez réessayer en utilisant l'adresse courriel que vous avez fournie lors de l'ouverture de votre compte en <a href="{{ reset_url }}" style="color:#ff4242; text-decoration:underline;">cliquant ici</a>.{% endblocktranslate %}</p>

<p>{% translate "Si vous n'êtes pas client d'Érudit, veuillez ignorer ce courriel." %}</p>

<p>{% blocktranslate %}Pour plus d'informations sur les services offerts par Érudit, veuillez visiter notre page <a href="https://apropos.erudit.org/fr/" style="color:#ff4242; text-decoration:underline;">À propos</a>.{% endblocktranslate %}</p>
{% endblock content %}

{% block cta %}{% endblock cta %}

{% block signature %}
{% translate 'L’Équipe Érudit' %}<br>
{% blocktranslate %}
<a href="mailto:info@erudit.org?subject=Réinitialisation d’un mot de passe" style="color:#ff4242; text-decoration:underline;">info@erudit.org</a>
{% endblocktranslate %}
{% endblock signature %}
