{% extends "base_email.html" %}
{% load i18n %}

{% block subject %}
{% translate "Réinitialisation d’un mot de passe" %}
{% endblock subject %}

{% block content %}
<p>{% translate "Bonjour," %}</p>

<p>{% blocktranslate %}Vous avez demandé de réinitialiser le mot de passe de votre compte sur <a href="{{ site_name }}" style="color:#ff4242; text-decoration:underline;">{{ site_name }}</a>.{% endblocktranslate %}</p>

<p>{% translate "Veuillez cliquer sur le bouton suivant afin d’en choisir un nouveau&nbsp;: " %}</p>
{% endblock content %}

{% block cta %}
{% translate "Modifier mon mot de passe" as cta_text %}
{% url 'public:auth:password_reset_confirm' uidb64=uid token=token as the_url %}
{% with cta_url=protocol|add:"://"|add:domain|add:the_url cta_text=cta_text %}
{{ block.super }}
{% endwith %}
{% endblock cta %}

{% block signature %}
{% translate 'L’Équipe Érudit' %}<br>
{% blocktranslate %}
<a href="mailto:info@erudit.org?subject=Réinitialisation d’un mot de passe" style="color:#ff4242; text-decoration:underline;">info@erudit.org</a>
{% endblocktranslate %}
{% endblock signature %}
