{% extends "base_email.html" %}
{% load i18n %}

{% block content %}
  <p>{% blocktrans %}Vous recevez ce courriel car vous avez demandé à réinitialiser le mot de passe de votre compte utilisateur sur <strong>{{ site_name }}</strong>.{% endblocktrans %}</p>
  <p>{% trans "Veuillez cliquer sur le lien suivant afin de définir un nouveau mot de passe :" %}</p>
  <p>
    <a href="{{ protocol }}://{{ domain }}{% url 'public:auth:password_reset_confirm' uidb64=uid token=token %}">
      {% trans "Modifier mon mot de passe" %}
    </a>
  </p>
  <p>{% trans "Pour rappel, votre nom d'utilisateur est :" %} {{ user.get_username }}</p>
{% endblock content %}
