{% extends "userspace/editor/base.html" %}
{% load i18n staticfiles %}

{% block page-title %}{% trans "Ajout d'un numéro" %}{% endblock %}

{% block data-controller %}userspace:editor:form{% endblock data-controller %}

{% block breadcrumbs %}
{{ block.super }} / <a href="{% url 'userspace:editor:issues' %}">{% trans "Dépôt de numéros" %}</a> / {% trans "Ajout d'un numéro" %}
{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% load crispy_forms_tags %}
{% block content-main %}
<div id="id_editor_form_metadata" data-journals="{{ journals|safe }}"></div>
<div class="col-md-6 col-md-offset-3 col-xs-12">
  <section class="card card-upload_form">
    <div class="card-header">
      <h2>{% trans "Déposer des fichiers de production" %}</h2>
    </div>
    <div class="card-body">
      <form class="row form-vertical" method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="row">
          <div class="col-xs-12">
            <p class="alert alert-warning">{% trans "Veuillez remplir les champs obligatoires." %}</p>
          </div>
        </div>
        {% endif %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel">
            <div class="panel-heading" role="tab" id="issue-metadata-heading">
              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#issue-metadata" aria-expanded="true" aria-controls="issue-metadata">
                  <span class="fa accordion-toggle"></span> {% trans "Métadonnées" %}
                </a>
              </h3>
            </div>
            <div id="issue-metadata" class="panel-collapse collapse {% if not object.pk %}in{% endif %}" role="tabpanel" aria-labelledby="issue-metadata-heading">
              <div class="panel-body">
                <div class="form-group col-xs-12 {% if form.journal.errors %}error{% endif %}">
                  {{ form.journal.label_tag }}
                  {{ form.journal }}
                </div>
                <div class="form-group col-sm-4 {% if form.year.errors %}error{% endif %}">
                  {{ form.year.label_tag }}
                  {{ form.year }}
                </div>
                <div class="form-group col-sm-4 {% if form.volume.errors %}error{% endif %}">
                  {{ form.volume.label_tag }}
                  {{ form.volume }}
                </div>
                <div class="form-group col-sm-4 {% if form.number.errors %}error{% endif %}">
                  {{ form.number.label_tag }}
                  {{ form.number }}
                </div>
                <div class="form-group col-xs-12">
                  {{ form.contact.label_tag }}
                  {{ form.contact }}
                </div>
                <div class="form-group col-xs-12">
                  {{ form.comment.label_tag }}
                  {{ form.comment }}
                </div>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading" role="tab" id="issue-upload-heading">
              <h3 class="panel-title">
                {% if object.pk %}
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#issue-upload" aria-expanded="false" aria-controls="issue-upload">
                  <span class="fa accordion-toggle"></span> {% trans "Fichiers" %}
                </a>
                {% else %}
                 <div class="text-muted collapsed"><span class="fa accordion-toggle"></span> {% trans "Fichiers" %}</div>
                {% endif %}
              </h3>
            </div>
            <div id="issue-upload" class="panel-collapse collapse {% if object.pk %}in{% endif %}" role="tabpanel" aria-labelledby="issue-upload-heading">
              <div class="panel-body">
                <div class="form-group col-xs-12 {% if form.submissions.errors %}error{% endif %}">
                  {{ form.submissions }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group text-right">
            <button type="reset" class="btn" id="submit-id-reset">{% trans "Annuler" %}</button>
            <button type="submit" class="btn btn-primary" id="submit-id-submit">{% trans "Enregistrer" %}</button>
            {% if object.pk %}
            {% for t in transitions %}
            <button type="submit" class="btn btn-primary" name="transition" value="{{ t.name }}">{% trans t.name %}</button>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
{% endblock %}
