@charset 'UTF-8';

// Base - config & helpers
@import
  'base/variables',
  'base/functions',
  'base/mixins',
  'base/icons',
  'base/typography',
  'base/base';

// Layout-related sections
@import
  'layout/header',
  'layout/sidenav',
  'layout/content',
  'layout/footer';

// Components
@import
  'components/tables',
  'components/tooltips',
  'components/modals',
  'components/cards',
  'components/navtabs',
  'components/search',
  'components/forms',
  'components/dropdowns',
  'components/alerts',
  'components/fileupload';

  // Page-specific styles
  @import
    'pages/login';
