{% extends "userspace/subscription/base.html" %}
{% load i18n spurl %}

{% block content-main %}


<h1>{% if is_paginated %}{{ paginator.count }}{% else %}{{object_list|length }}{% endif %} {% trans "Comptes personnels" %} </h1>

<h4>{% trans 'Actions' %}</h4>

<a class="btn btn-primary" href="{% url 'userspace:subscription:account_add' %}">
    {% trans "Ajouter un compte" %}
</a>


<h4>{% trans 'Filtrage' %}</h4>
<form action="" method="get" class="filter">
    {{ filter.form.as_p }}
    <input type="submit" class="btn" />
</form>

<h4>{% trans 'Résultats paginés' %}

{% if is_paginated %}
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href='{% spurl base=request.get_full_path set_query="page={{ page_obj.previous_page_number }}" %}'>&lt;</a>
          {% endif %}

            {{ page_obj.number }} / {{ paginator.num_pages }}

          {% if page_obj.has_next %}
            <a href='{% spurl base=request.get_full_path set_query="page={{ page_obj.next_page_number }}" %}'>&gt;</a>
          {% endif %}
        </span>
{% endif %}

</h4>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                {% trans '#' %}
            </th>
            <th>
                {% trans 'Nom' %}
            </th>
            <th>
                {% trans 'Prénom' %}
            </th>
            <th>
                {% trans 'Courriel' %}
            </th>
            <th>
                {% trans 'Organisation' %}
            </th>
            <th>
                {% trans 'Actions' %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for account in object_list %}
        <tr>
            <th scope="row">{{ account.id }}</th>
            <td>{{ account.last_name }}</td>
            <td>{{ account.first_name }}</td>
            <td>{{ account.email }}</td>
            <td>{{ account.policy }}</td>
            <td>
                <a href="{% url 'userspace:subscription:account_update' account.pk %}">
                    {% trans 'Modifier' %}
                </a>|
                <a href="{% url 'userspace:subscription:account_reset_pwd' account.pk %}">
                    {% trans 'Réinitialiser mot de passe' %}
                </a>|
                <a href="{% url 'userspace:subscription:account_delete' account.pk %}">
                    {% trans 'Supprimer' %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
