/**
* All styles relating to the promotional campaign 2016-2017
*/

// palette
$dodger-blue: #3681F7;
$picton-blue: #4C9EEF;
$salmon:      #FF7C69;
$hit-pink:    #FFAE8C;
$peach:       #FFE7B0;

// Homepage banner
.campaign-banner {
  display: block;
  background-position: center;
  background-size: cover;
  background-image: url('https://salons.erudit.org/app/uploads/2017/12/Cover-6-final.jpg');
  height: 400px;

  img {
    display: none;
  }

}

// Article detail sidebar image
.campaign-sidebar {
  display: block;
  background-position: top;
  background-repeat: no-repeat;
  overflow-y: hidden;
  height: 370px;
  margin-bottom: 1em;
  @include transition(background-position 300ms linear);
  outline: 1px solid $mid-grey;
  background-image: url('../img/salons-fr.png');

  &.en {
    background-image: url('../img/salons-en.png');
  }

  &:hover, &:focus, &:active {
    outline: 1px solid $dark-grey;
    background-position: center -80px;
  }

  img {
    display: none;
  }

}

@media print {

  .campaign-banner,
  .campaign-sidebar {

    img {
      display: inline;
    }

  }

}

// Footer link
.campaign-link {
  color: $salmon;

  &:hover, &:active, &:focus {
    color: $salmon;
  }

}
