/**
* All styles relating to the promotional campaign 2016-2017
*/

// palette
$dodger-blue: #3681F7;
$picton-blue: #4C9EEF;
$salmon:      #FF7C69;
$hit-pink:    #FFAE8C;
$peach:       #FFE7B0;

// Homepage banner
.campaign-banner {
  display: block;
  background-position: center;
  height: 400px;

  img {
    display: none;
  }

  &.image1 { background-image: url('../img/campaign/banner1.png'); }
  &.image2 { background-image: url('../img/campaign/banner2.png'); }
  &.image3 { background-image: url('../img/campaign/banner3.png'); }
  &.image4 { background-image: url('../img/campaign/banner4.png'); }
  &.image5 { background-image: url('../img/campaign/banner5.png'); }

}

// Article detail sidebar image
.campaign-sidebar {
  display: block;
  background-position: top;
  background-repeat: no-repeat;
  overflow-y: hidden;
  height: 370px;
  margin-bottom: 4em;
  @include transition(background-position 300ms linear);

  &:hover, &:focus, &:active {
    background-position: center -80px;
  }

  img {
    display: none;
  }

  &.image1 {
    background-image: url('../img/campaign/sidebar1.png');
    &.en {
      background-image: url('../img/campaign/sidebar1-en.png');
    }
  }

  &.image2 {
    background-image: url('../img/campaign/sidebar2.png');
    &.en {
      background-image: url('../img/campaign/sidebar2-en.png');
    }
  }

  &.image3 {
    background-image: url('../img/campaign/sidebar3.png');
    &.en {
      background-image: url('../img/campaign/sidebar3-en.png');
    }
  }

  &.image4 {
    background-image: url('../img/campaign/sidebar4.png');
    &.en {
      background-image: url('../img/campaign/sidebar4-en.png');
    }
  }

  &.image5 {
    background-image: url('../img/campaign/sidebar5.png');
    &.en {
      background-image: url('../img/campaign/sidebar5-en.png');
    }
  }

}

@media print {

  .campaign-banner,
  .campaign-sidebar {

    img {
      display: inline;
    }

  }

}

// Footer link
.campaign-link {
  color: $salmon;

  &:hover, &:active, &:focus {
    color: $salmon;
  }

}
