/**
* Dashboard- (userspace-) specific styles
*/

.dashboard {

  small {

    a {
      color: $coral-red;

      &:after {
        border: none;
      }

      &[href^="tel:"] {
        color: $black;
      }

    }

  }

  .glory {
    padding: 1.5em 2em;
  }

  .section-main,
  .section-intro {

    h2 {
      margin-bottom: 30px;

      + p {
        margin-bottom: 40px;
      }

    }

    form {
      margin: 30px 0;
    }

    p {

      a:not(.btn) {
        color: $black;
        display: inline-block;

        &:after {
          content: '';
          display: block;
          width: 100%;
          color: $black;
          border-bottom: 1px solid $black;
          margin-top: -3px;
        }

      }

    }

  }

  .section-aside {

    p {
      font-size: 14px;
      color: $dark-grey;

      a {
        color: $coral-red;
      }

    }

  }

}
