// -----------------------------------------------------------------------------
// Styles related to the main navigation within the header
// -----------------------------------------------------------------------------

#main-nav {

  .navbar-nav {
    @include vertical-centered($position: absolute);
    right: 20px;

    > li {
      display: inline-block;
      margin-left: 10px;
      float: none;

      a {
        &:hover, &:active, &:focus, &:active:focus {
          background: none;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      // active section, add border at bottom
      &.active {
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 4px;
          background-color: #000;
          position: absolute;
          left: 0;
          bottom: -28px;
          @include transition(all 250ms);
          z-index: 1;

          // with parent <header> in compact mode
          .compact & {
            bottom: -5px;
          }

          // hide when inverted <header>
          .inverted & {
            display: none;
          }
        }
      }
    }

  }

  // main section nav items with drop-downs
  .main-section {
    padding-left: 8px;
    padding-right: 8px;
    display: block;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    color: #000;
    @include fw-sans-medium();

    &:hover,
    &:active,
    &:focus,
    &.selected {
      color: $coral-red;
      text-decoration: none;
    }

    .caret {
      margin-left: 10px;
    }

  }

  .dropdown{
    .main-section{
      padding-right: 25px;

      .caret{
        position: absolute;
        top: 12px;
        right: 10px;
      }
    }
  }

  .dropdown {
    > ul {
      background-color: #FFF;
      border: 1px solid $mid-grey;
      li {
        border-bottom: 1px solid $mid-grey;
      }
      a {
        padding: 0.5em 0.75em 0.5em 0.5em;
        &:hover, &:focus, &:active, &:active:focus {
          background: $coral-red;
          color: #FFF;
          text-decoration: none;
          padding-left: 0.75em;
          @include transition(padding 0.2s ease-out);
          @include fw-sans-medium();
        }
      }
    }
  }

  .erudicon-tools-save,
  .ion-ios-search-strong {

    &:hover, &:focus, &:active, &:active:focus {
      color: $coral-red;
    }

  }

  .erudicon-tools-save {
    margin: 0 0.5em 0 1em;
    &::before {
      font-size: 25px;
      vertical-align: middle;
    }
  }

  .ion-ios-search-strong {
    &::before {
      font-size: 30px;
      vertical-align: middle;
    }
  }

  // search form
  .search-form {
    position: absolute;
    right: 0;
    top: 50%;
    @include translate(0,-50%);
    background: $coral-red;
    pointer-events: none;
    @include opacity(0);
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;

    &.visible {
      pointer-events: all;
      @include opacity(1);
    }

    form {
      margin: 0;

      .form-group {
        padding: 0 35px 0 0;
        position: relative;
      }

      .form-group:last-child {
        margin-bottom: 0;
      }

      input[type="search"] {
        margin: 0;
        width: auto;
        border-width: 2px;
        border-color: #fff;
        color: #fff;
        padding: 0 0.5em;
        background-color: transparent;
        width: 70%;
        @include fw-sans-medium();
        @include placeholder(rgba(255, 255, 255, 0.75));
      }

      .btn {
        border-color: #fff;
        color: #fff;
        line-height: 1;
        height: 44px;
        margin-left: -2px;
      }

      .close {
        cursor: pointer;
        position: absolute;
        display: block;
        top: 0;
        right: -30px;
        color: #fff;
        font-size: 30px;
        z-index: 1;
      }

      .input-group-btn {
        text-align: center;
      }

    }

  }
}

// hamburger menu
.navbar-toggle {
  margin-top: 20px;
  width: 60px;
  height: 45px;
  position: relative;
  top: 50%;
  cursor: pointer;
  background: #FFF;
  @include rotate(0deg);

  > .bar {
    display: block;
    position: absolute;
    height: 3px;
    width: 45px;
    background: #000;
    opacity: 1;
    left: 0;
    @include transform-origin(left center);
    @include transition(.3s ease-in-out);

    &:nth-child(1) {
      @include rotate(45deg);
      left: 0;
      top: 3px;
    }
    &:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    &:nth-child(3) {
      @include rotate(-45deg);
      left: 0;
      top: 35px;
    }

  }

  &.collapsed > .bar {

    &:nth-child(1) {
      top: 5px;
      @include rotate(0deg);
    }
    &:nth-child(2) {
      top: 20px;
      width: 45px;
      opacity: 1;
      @include rotate(0deg);
    }
    &:nth-child(3) {
      top: 35px;
      @include rotate(0deg);
    }

  }
}
header.compact{
  .navbar-toggle{
    margin-top: 8px;
  }
}


@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #main-nav{
    .main-section{
      padding-left: 5px;
      padding-right: 5px;
    }

    .search-form{
      input.search-terms{
        width: 60% !important;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  #main-nav {
    &.navbar-collapse.in {
      overflow-y: initial !important;
    }

    .navbar-nav {
      position: relative !important;
      top: auto !important;
      right: auto !important;
      transform: none;

      li {
        margin: 0 !important;
        display: block;

        &.active {
          &:after {
            display: none;
          }
        }

        &.dropdown {

          .caret {
            display: none;
          }

          > ul {
            padding: 0 10px;
            display: block;
            position: static;
            border: none;
            background: none;

            li {
              border: none;
            }

            a {
              padding: 10px 0;
              display: inline;

              &:hover, &:active, &:focus {
                background: none;
                color: #000;
                text-indent: 0;
              }

            }

          }

        }
      }
    }

    .search {
      display: none;
    }

    .search-form {
      opacity: 1;
      pointer-events: all;
      position: static;
      background: none;
      top: 0;

      form {
        margin-top: 20px;
        padding-top: 20px;
        padding-left: 6px;
        padding-right: 20px;
      }

      input {
        height: 24px !important;
        border-color: #000 !important;
        color: #000 !important;
      }

      .input-group-btn {
        text-align: left;
      }

      .btn {
        background: #000 !important;
        border-color: #000 !important;
        color: #FFF !important;
      }

    }

  }
}
