// -----------------------------------------------------------------------------
// Styles related to the main navigation within the header
// -----------------------------------------------------------------------------

#main-nav {

  .caret{
    margin-left: 5px;
  }

  .navbar-nav {
    right: 20px;
    list-style: none;

    > li {
      display: inline-block;
      margin: 8px 0 0 10px;

      a {
        &:hover, &:active, &:focus, &:active:focus {
          background: none;
        }
      }

      &:first-child {
        margin-left: 0;
      }

    }

  }

  // main section nav items with drop-downs
  .main-section {
    padding-left: 8px;
    padding-right: 8px;
    display: block;
    font-size: 16px;
    line-height: 18px;
    position: relative;
    color: #000;
    @include fw-sans-medium();

    &:hover,
    &:active,
    &:focus,
    &.selected {
      color: $coral-red;
      text-decoration: none;
    }

  }

  .dropdown {
    > ul {
      background-color: #FFF;
      border: 1px solid $mid-grey;
      li {
        border-bottom: 1px solid $mid-grey;
      }
      a {
        padding: 0.5em 0.75em 0.5em 0.5em;
        &:hover, &:focus, &:active, &:active:focus {
          background: $coral-red;
          color: #FFF;
          text-decoration: none;
          padding-left: 0.75em;
          @include transition(padding 0.2s ease-out);
          @include fw-sans-medium();
        }
      }
    }
  }

  .erudicon-tools-save,
  .ion-ios-search-strong {

    &:hover, &:focus, &:active, &:active:focus {
      color: $coral-red;
    }

  }

  .erudicon-tools-save {
    &::before {
      font-size: 25px;
      vertical-align: middle;
    }
  }

  .ion-ios-search-strong,
  .ion-android-close {
    &::before {
      font-size: 30px;
      vertical-align: middle;
    }
  }

  // search form
  .search-form {
    position: absolute;
    right: 0;
    top: 50%;
    @include translate(0,-50%);
    background: $coral-red;
    pointer-events: none;
    @include opacity(0);
    width: 80vw;

    &.visible {
      pointer-events: all;
      @include opacity(1);
    }

    form {
      margin: 0;

      .form-group {
        margin: 0 40px 0 0;
        position: relative;
      }

      .form-group:last-child {
        margin-bottom: 0;
      }

      input[type="search"] {
        margin: 0;
        border-width: 2px;
        border-color: #fff;
        color: #fff;
        padding: 0 0.5em;
        background-color: transparent;
        width: 70%;
        @include fw-sans-medium();
        @include placeholder(rgba(255, 255, 255, 0.75));
      }

      .btn {
        border-color: #fff;
        color: #fff;
        line-height: 1;
        height: 44px;
        margin-left: -2px;
      }

      .close {
        cursor: pointer;
        position: absolute;
        display: block;
        top: 0;
        right: -30px;
        color: #fff;
        line-height: 45px;
        z-index: 1;
        margin-right: 5px;
      }

      .input-group-btn {
        text-align: right;
      }

    }

  }

}

// Hamburger menu icon
.navbar-toggle {
  width: 28px;
  height: 50px;
  position: relative;
  cursor: pointer;
  float: right;
  margin-right: $navbar-padding-horizontal;
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: 0;
  @include rotate(0deg);

  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }

  &:focus {
    outline: 0;
  }

  > .bar {
    display: block;
    position: absolute;
    height: 2px;
    width: 28px;
    background: #000;
    opacity: 1;
    left: 0;
    @include transform-origin(left center);
    @include transition(.3s ease-in-out);

    &:nth-child(1) {
      left: 10px;
      top: 15px;
      @include rotate(45deg);
    }
    &:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    &:nth-child(3) {
      left: 10px;
      top: 35px;
      @include rotate(-45deg);
    }

  }

  &.collapsed > .bar {

    &:nth-child(1) {
      left: 0;
      top: 15px;
      @include rotate(0deg);
    }
    &:nth-child(2) {
      top: 25px;
      width: 28px;
      opacity: 1;
      @include rotate(0deg);
    }
    &:nth-child(3) {
      left: 0;
      top: 35px;
      @include rotate(0deg);
    }

  }
}

// Hamburger menu / menu on mobile content
@media (max-width: $screen-sm-max) {
  #main-nav {

    .caret {
      display: none;
    }

    .navbar-nav {
      background: $coral-red;
      position: relative;
      top: auto;
      right: auto;
      transform: none;
      margin-bottom: 0;

      > li {
        margin: 0;
        display: block;

        &:nth-last-child(3) a {
          border: none;
        }

        &.dropdown {

          > ul {
            display: block;
            position: static;
            border: none;
            background: none;

            li {
              border: none;
            }

          }

        }

      }

    }

    .main-section {
      @include fw-sans;
    }

    .nav-publications li,
    .nav-about,
    .nav-login,
    .nav-account,
    .nav-advanced-search,
    .nav-my-library,
    .nav-search,
    .nav-language {
      text-align: right;

      > a,
      .main-section {
        color: #FFF;
        font-size: 18px;
        margin: 0;
        padding: 15px 10px;
        line-height: 20px;
        border-bottom: 1px solid #FFF;

        &:hover, &:active, &:focus {
          color: #FFF;
          text-decoration: none;
          @include fw-sans-bold;
        }

      }

    }

    .nav-language a {
      display: inline-block;
      padding-bottom: 20px;
      border: none;

      &.active {
        @include fw-sans-bold;
      }

    }

    .nav-search {
      padding: 10px 0;

      .search, form .close {
        display: none;
      }

    }

    .search-form {
      opacity: 1;
      pointer-events: all;
      position: relative;
      background: none;
      display: inline;

      form {

        .form-group {
          padding-right: 0;
          margin: 0;
        }

        .input-group-btn {
          text-align: center;
        }

        .form-control {
          height: 40px;
          border-color: #FFF;
          color: #FFF;
          width: 80%;
        }

        .btn {
          background: transparent;
          border-color: #FFF;
          color: #FFF;
          width: 20%;
          padding: 0;

          &:hover, &:active, &:focus {
            background: #FFF;

            .ion-ios-search-strong {
              color: $coral-red;
            }

          }

        }

      }

    }

  }

}
