{% extends "public/base.html" %}
{% load i18n static %}

{% block title %}{% trans "Ma bibliothèque" %}{% endblock title %}

{% block meta_description %}{% trans 'Sauvegardez et téléchargez des notices d’articles en sciences humaines et sociales pour EndNote, Zotero, RefWorks, BibTeX et Mendeley sur la plateforme Érudit.' %}{% endblock meta_description %}

{% block scripts %}
{{ block.super }}
<script src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/citations.js' %}"></script>
{% endblock scripts %}

{% block body_id %}citations_list{% endblock body_id %}
{% block data_controller %}public:citations:list{% endblock data_controller %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'public:citations:list' %}">{% trans "Ma bibliothèque" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<main class="container">
  <div class="row">
    <header class="col-md-8 clearfix main-header">
      <h1>
        <span>{% trans "Ma bibliothèque" %}</span>
      </h1>
      <div class="main-header__intro">
        {% blocktrans %}
        <p>Cette page présente les notices des documents que vous avez sauvegardées depuis la plateforme Érudit à l’aide de l’icône&nbsp;<i class="icon ion-ios-bookmark toolbox-save"></i>.</p>
        <p>Il est possible d’exporter la liste des notices sauvegardées dans différents formats de citation (EndNote, Zotero, Papers, Reference Manager, RefWorks, BibTeX, JabRef et Mendeley) à l’aide de l’icône&nbsp;<i class="icon ion-ios-quote toolbox-cite"></i>.</p>
        {% endblocktrans %}
      </div>
    </header>

    <aside class="col-md-4">
      <h2>{% trans "Contenu" %}</h2>
      {% if scientific_articles_count %}
      <p data-scientific-article-count="{{ scientific_articles_count }}">
        {% blocktrans count counter=scientific_articles_count %}{{ counter }} article savant{% plural %}{{ counter }} articles savants{% endblocktrans %}
      </p>
      {% endif %}
      {% if cultural_articles_count %}
      <p data-cultural-article-count="{{ cultural_articles_count }}">
        {% blocktrans count counter=cultural_articles_count %}{{ counter }} article culturel{% plural %}{{ counter }} articles culturels{% endblocktrans %}
      </p>
      {% endif %}
      {% if theses_count %}
      <p data-thesis-count="{{ theses_count }}">
        {% blocktrans count counter=theses_count %}{{ counter }} thèse{% plural %}{{ counter }} thèses et mémoires{% endblocktrans %}
      </p>
      {% endif %}
      {% if not scientific_articles_count and not cultural_articles_count and not theses_count %}
      <p>{% trans "0 document" %}</p>
      {% endif %}
      <br/><br/>
      <h2>{% trans "Tri" %}</h2>
      <div id="div_id_sort_by">
        <label for="sort_by" class="sr-only">{% trans "Trier par…" %}</label>
        <select id="sort_by" onChange="window.location.href=this.value">
          {% for sort_option in available_tris.items %}
          <option value="?sort_by={{ sort_option.0}}"{% if sort_by == sort_option.0 %} selected{% endif %}>{{ sort_option.1 }}</option>
          {% endfor %}
        </select>
      </div>
    </aside>

    <section class="col-md-8 clearfix main-content documents-list-wrapper">
      <h2>{{ documents|length }} {% trans "notices sauvegardées" %}</h2>
      {% if documents %}
      {% include "public/partials/pagination.html" %}
      <div class="documents-wrapper">
        <div class="row documents-head">
          <h3 class="text-center">{% trans "Actions en lot" %}</h3>
          <div class="col-xs-4 checkbox">
            <input type="checkbox" name="select-all" class="form-control" id="select-all">
            <label><span for="select-all">{% trans "Tout sélectionner" %}</span></label>
          </div>
          <div class="col-xs-4 saved-citations">
            <strong data-selection-count>{% trans "Aucun document sélectionné" %}</strong>
          </div>
          <div class="col-xs-4">
            <ul id="id_selection_tools" class="toolbox toolbox-compact toolbox-horizontal pull-right" style="display:none;">
              {% spaceless %}
              <li>
                <a class="tool-btn remove-selection" href="#" title="{% trans 'Supprimer les notices sélectionnées' %}">
                  <i class="icon ion-ios-close toolbox-remove"></i>
                </a>
              </li>
              <li>
                <a class="tool-btn" href="#" title="{% trans 'Citer les notices sélectionnées' %}" data-modal-id="#id_cite_selection_modal" data-cite>
                  <i class="icon ion-ios-quote toolbox-cite"></i>
                </a>
              </li>
              {% endspaceless %}
            </ul>
          </div>
        </div>

        <ol class="bib-records">
          {% for document in documents %}

          {% if document.document_type == 'article' %}
          <li data-document-id="{{ document.localidentifier }}" data-document-type="{% if document.issue.journal.type.code == 'C' %}cultural-article{% else %}scientific-article{% endif %}" class="bib-record">

            <ul class="toolbox toolbox-compact toolbox-horizontal pull-right">
              {% spaceless %}
              <li>
                <a class="tool-btn" href="#" title="{% trans 'Supprimer' %}" data-remove>
                  <i class="icon ion-ios-close toolbox-remove"></i>
                </a>
              </li>
              {% if document.can_cite %}
              <li>
                <a class="tool-btn" href="#" title="{% trans 'Citer' %}" data-modal-id="#id_cite_modal_{{ forloop.counter }}" data-cite>
                  <i class="icon ion-ios-quote toolbox-cite"></i>
                </a>
              </li>
              {% endif %}
              <li>
                <a class="tool-btn" href="{{ document.pdf_url }}" title="{% trans 'Télécharger' %}" target="_blank">
                  <span class="toolbox-pdf">PDF</span>
                </a>
              </li>
              <li>
                <a class="tool-btn" href="{{ document.get_absolute_url }}" title="{% blocktrans %}Lire l'article en texte intégral{% endblocktrans %}">
                  <span class="toolbox-html">HTML</span>
                </a>
              </li>
              {% endspaceless %}
            </ul>

            <p class="bib-record__type">{{ document.document_type }}</p>
            <h3 class="bib-record__title bib-record__counter" data-record-counter="{{ forloop.counter }}">
              <a href="{{ document.get_absolute_url }}" target="_blank">
                {{ document.title }}{% if document.subtitle %}{% trans "&nbsp;:" %} {{ document.subtitle }}{% endif %}
              </a>
            </h3>

            <div class="bib-record__metadata">
              <div class="row">
                <div class="col-xs-6">
                  {{ document.authors_display }}
                </div>
                <div class="col-xs-6 text-right">
                  {{ document.issue.journal_formatted_title }}, {{ document.issue.year }}
                </div>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="select-document-{{ document.id }}" class="form-control" id="select-document-{{ document.id }}">
                <label for="select-document-{{ document.id }}"><em>{% trans "Sélectionner" %}</em></label>
              </div>
            </div>

            {% if document.can_cite %}
            <div class="hidden">
              <div id="id_cite_modal_{{ forloop.counter }}" class="modal cite-modal col-lg-4 col-md-5 col-sm-6 col-xs-12 col-centered">
                <h4 class="modal-header">{% trans "Outils de citation" %}</h4>
                <div class="modal-body">
                  <dl class="cite-modal--style-list">
                    <dt>MLA</dt>
                    <dd class="cite-mla">
                      {{ document.authors_mla }}
                      {% trans '«&nbsp;' %}{{ document.title }}.{% trans '&nbsp;»' %}
                      <em>{{ document.issue.journal_formatted_title }}</em>, {{ document.issue.volume_title|lower }}, {% trans 'p.' %}&nbsp;{{ document.first_page }}–{{ document.last_page }}. {% if document.doi %}doi:{{ document.doi }}{% endif %}
                    </dd>

                    <dt>APA</dt>
                    <dd class="cite-apa">
                      {{ document.authors_apa }}
                      ({{ document.issue.year }}).
                      {{ document.title }}
                      <em>{{ document.issue.journal_formatted_title }}</em>,
                      {% if document.issue.volume %}<em>{{ document.issue.volume }}</em>{% endif %}{% if document.issue.number %}({{ document.issue.number }}){% endif %},
                      {{ document.first_page }}–{{ document.last_page }}. {% if document.doi %}doi:{{ document.doi }}{% endif %}
                    </dd>

                    <dt>Chicago</dt>
                    <dd class="cite-chicago">
                      {{ document.authors_chicago }}
                      {% trans '«&nbsp;' %}{{ document.title }}{% trans '&nbsp;»' %}.
                      <em>{{ document.issue.journal_formatted_title }}</em>
                      {% if document.issue.volume %}{{ document.issue.volume }}, {% endif %}{% if document.issue.number %}{% trans 'n<sup>o</sup>' %} {{ document.issue.number }}{% endif %}
                      ({{ document.issue.year }}){% trans '&nbsp;:' %} {{ document.first_page }}–{{ document.last_page }}. {% if document.doi %}doi:{{ document.doi }}{% endif %}
                    </dd>
                  </dl>

                  <hr />
                  <p><strong>{% trans "Exporter la notice de ce document" %}</strong></p>
                  <div class="row">
                    <p class="col-xs-4">
                      <a href="{{ document.cite_ris_url }}" class="btn btn-secondary cite-export">
                        <span class="show cite-export-title">RIS</span>
                      </a>
                      <br/><br/>EndNote, Papers, Reference Manager, RefWorks, Zotero
                    </p>
                    <p class="col-xs-4">
                      <a href="{{ document.cite_enw_url }}" class="btn btn-secondary cite-export">
                        <span class="show cite-export-title">ENW</span>
                      </a>
                      <br/><br/>EndNote {% trans '(version X9.1 et +)' %}, Zotero
                    </p>
                    <p class="col-xs-4">
                      <a href="{{ document.cite_bib_url }}" class="btn btn-secondary cite-export">
                        <span class="show cite-export-title">BIB</span>
                      </a>
                      <br/><br/>BibTeX, JabRef, Mendeley, Zotero
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </li>

          {% elif document.document_type == 'thesis' %}
          <li data-document-id="{{ document.localidentifier }}" data-document-type="thesis" class="bib-record">
            <ul class="toolbox toolbox-compact toolbox-horizontal pull-right">
              {% spaceless %}
              <li>
                <a class="tool-btn" href="#" title="{% trans 'Supprimer' %}" data-remove>
                  <i class="icon ion-ios-close toolbox-remove"></i>
                </a>
              </li>
              <li>
                <a class="tool-btn" href="#" title="{% trans 'Citer' %}" data-modal-id="#id_cite_modal_{{ forloop.counter }}" data-cite>
                  <i class="icon ion-ios-quote toolbox-cite"></i>
                </a>
              </li>
              <li>
                <a class="tool-btn" href="{{ document.url }}" title="{% trans 'Télécharger' %}" target="_blank">
                  <span class="toolbox-pdf">PDF</span>
                </a>
              </li>
              {% endspaceless %}
            </ul>

            <p class="bib-record__type">{{ document.document_type }}</p>
            <h3 class="bib-record__title bib-record__counter" data-record-counter="{{ forloop.counter }}">
              <a href="{{ document.url }}" target="_blank">{{ document.title }}</a>
            </h3>

            <div class="bib-record__metadata">
              <div class="row">
                <div class="col-xs-6">
                  {{ document.authors_display }}
                </div>
                <div class="col-xs-6 text-right">
                  {{ document.collection }}, {{ document.publication_year }}
                </div>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="select-document-{{ document.id }}" class="form-control" id="select-document-{{ document.id }}">
                <label for="select-document-{{ document.id }}"><em>{% trans "Sélectionner" %}</em></label>
              </div>
            </div>

            <div class="hidden">
              <div id="id_cite_modal_{{ forloop.counter }}" class="modal cite-modal col-lg-4 col-md-5 col-sm-6 col-xs-12 col-centered">
                <h4 class="modal-header">{% trans "Outils de citation" %}</h4>
                <div class="modal-body">
                  <p><strong>{% trans "Exporter la notice de ce document" %}</strong></p>
                  <div class="row">
                    <p class="col-xs-4">
                      <a href="{% url 'public:thesis:thesis_citation_ris' document.localidentifier %}" class="btn btn-secondary cite-export">
                        <span class="show cite-export-title">RIS</span>
                      </a>
                      <br/><br/>EndNote, Papers, Reference Manager, RefWorks, Zotero
                    </p>
                    <p class="col-xs-4">
                      <a href="{% url 'public:thesis:thesis_citation_enw' document.localidentifier %}" class="btn btn-secondary cite-export">
                        <span class="show cite-export-title">ENW</span>
                      </a>
                      <br/><br/>EndNote {% trans '(version X9.1 et +)' %}, Zotero
                    </p>
                    <p class="col-xs-4">
                      <a href="{% url 'public:thesis:thesis_citation_bib' document.localidentifier %}" class="btn btn-secondary cite-export">
                        <span class="show cite-export-title">BIB</span>
                      </a>
                      <br/><br/>BibTeX, JabRef, Mendeley, Zotero
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ol>
      </div>
      {% include "public/partials/pagination.html" %}
      <div class="hidden">
        <div id="id_cite_selection_modal" class="modal cite-modal col-lg-4 col-md-5 col-sm-6 col-xs-12 col-centered">
          <h2 class="modal-header">{% trans "Outils de citation" %}</h2>
          <div class="modal-body">
            <p><strong>{% trans "Exporter les notices sélectionnées" %}</strong></p>
            <p>
              <a href="#" id="export_citation_ris" class="btn btn-primary cite-export">
                <span class="show cite-export-title">.RIS</span>
              </a>
              EndNote, Papers, Reference Manager, RefWorks, Zotero
            </p>
            <p>
              <a href="#" id="export_citation_enw" class="btn btn-primary cite-export">
                <span class="show cite-export-title">.ENW</span>
              </a>
              EndNote {% trans '(version X9.1 et +)' %}, Zotero
            </p>
            <p>
              <a href="#" id="export_citation_bib" class="btn btn-primary cite-export">
                <span class="show cite-export-title">.BIB</span>
              </a>
              BibTeX, JabRef, Mendeley, Zotero
            </p>
          </div>
        </div>
      </div>
      {% else %}
      <div class="alert alert-info">
        <p><i class="icon ion-ios-information-circle alert-info-icon"></i> {% trans "Aucune notice&nbsp;!" %} <br/></br>{% blocktrans %}Sauvegardez des articles et d’autres documents à l’aide de l’icône marque-page&nbsp;<i class="icon ion-ios-bookmark toolbox-save"></i>.{% endblocktrans %}</p>
      </div>
      {% endif %}
    </section>
  </div>
</main>
{% endblock content %}
