{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Ma bibliothèque" %}{% endblock title %}

{% block meta_description %}{% trans 'Sauvegardez et téléchargez des notices d’articles en sciences humaines et sociales pour EndNote, Zotero, RefWorks, BibTeX et Mendeley sur la plateforme Érudit.' %}{% endblock meta_description %}


{% block body_id %}citations_list{% endblock body_id %}
{% block data_controller %}public:citations:list{% endblock data_controller %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'public:citations:list' %}">{% trans "Ma bibliothèque" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<main role="main" class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-8 clearfix">
        <header class="page-header-main">
          <h1>
            <span>{% trans "Ma bibliothèque" %}</span>
          </h1>
        </header>
        <div class="page-intro">
          {% blocktrans %}
          <p>Cette page présente les notices des documents que vous avez sauvegardées depuis la plateforme Érudit à l’aide de l’icône&nbsp;<span class="ion-bookmark toolbox-save"></span>.</p>
          <p>Il est possible d’exporter la liste des notices sauvegardées dans différents formats de citation (EndNote, Zotero, Papers, Reference Manager, RefWorks, BibTeX, JabRef et Mendeley) à l’aide de l’icône&nbsp;<span class="ion-quote toolbox-cite"></span>.</p>
          {% endblocktrans %}
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 saved-citations-counts sidebar-block">
        <h2>{% trans "Contenu" %}</h2>
        {% if scientific_articles_count %}
        <p data-scientific-article-count="{{ scientific_articles_count }}">
          {% blocktrans count counter=scientific_articles_count %}{{ counter }} article savant{% plural %}{{ counter }} articles savants{% endblocktrans %}
        </p>
        {% endif %}
        {% if cultural_articles_count %}
        <p data-cultural-article-count="{{ cultural_articles_count }}">
          {% blocktrans count counter=cultural_articles_count %}{{ counter }} article culturel{% plural %}{{ counter }} articles culturels{% endblocktrans %}
        </p>
        {% endif %}
        {% if theses_count %}
        <p data-thesis-count="{{ theses_count }}">
          {% blocktrans count counter=theses_count %}{{ counter }} thèse{% plural %}{{ counter }} thèses et mémoires{% endblocktrans %}
        </p>
        {% endif %}
        {% if not scientific_articles_count and not cultural_articles_count and not theses_count %}
        <p>{% trans "0 document" %}</p>
        {% endif %}
      </div>
    </div>
    <div class="main-content">
      <section class="row">
        <div class="col-xs-12">
          <h2>{% trans "Notices sauvegardées" %}</h2>
        </div>
        {% if documents %}
        <div class="row">
          <div class="col-md-8">
            {% include "public/partials/pagination.html" %}
          </div>
        </div>
        <div class="col-md-push-8 col-md-3 col-md-offset-1 text-center actions-wrapper">
          <div id="div_id_sort_by" class="form-group">
            <div class="controls ">
              <label class="control-label" for="sort_by">{% trans "Tri…" %}</label>
              &nbsp;
              <select id="sort_by" onChange="window.location.href=this.value">
                {% for sort_option in available_tris.items %}
                <option value="?sort_by={{ sort_option.0}}"{% if sort_by == sort_option.0 %} selected{% endif %}>{{ sort_option.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-pull-4 col-md-8 documents-list-wrapper">
          <div class="selection-action-wrapper">
            <ul id="id_selection_tools" class="toolbox toolbox-compact toolbox-horizontal pull-right" style="display:none;">
              {% spaceless %}
              <li>
                <a class="tool-btn remove-selection" href="#" title="{% trans 'Supprimer les notices sélectionnées' %}">
                  <span class="ion-close toolbox-remove"></span>
                </a>
              </li>
              <li>
                <a class="tool-btn" href="#" title="{% trans 'Citer les notices sélectionnées' %}" data-modal-id="#id_cite_selection_modal" data-cite>
                  <span class="ion-quote toolbox-cite"></span>
                </a>
              </li>
              {% endspaceless %}
            </ul>
            <p data-selection-count>{% trans "Aucun document sélectionné" %}</p>
          </div>
          <div class="documents-wrapper">
            <div class="documents-head">
              <div class="document-checkbox-wrapper"><label><span class="sr-only">{% trans "Tout sélectionner" %}</span><input type="checkbox"></label></div>
              <div class="document-title"><strong>{% trans "Titres" %}</strong></div>
            </div>
            <ul class="documents">
              {% for document in documents %}
              {% if document.document_type == 'article' %}
              <li data-document-id="{{ document.localidentifier }}" data-document-type="{% if document.issue.journal.type.code == 'C' %}cultural-article{% else %}scientific-article{% endif %}" class="document">
                <ul class="toolbox toolbox-compact toolbox-horizontal pull-right">
                  {% spaceless %}
                  <li>
                    <a class="tool-btn" href="#" title="{% trans 'Supprimer' %}" data-remove>
                      <span class="ion-close toolbox-remove"></span>
                    </a>
                  </li>
                  {% if document.can_cite %}
                  <li>
                    <a class="tool-btn" href="#" title="{% trans 'Citer' %}" data-modal-id="#id_cite_modal_{{ forloop.counter }}" data-cite>
                      <span class="ion-quote toolbox-cite"></span>
                    </a>
                  </li>
                  {% endif %}
                  <li>
                    <a class="tool-btn" href="{{ document.pdf_url }}" title="{% trans 'Télécharger' %}" target="_blank">
                      <span class="toolbox-pdf">PDF</span>
                    </a>
                  </li>
                  <li>
                    <a class="tool-btn" href="{{ document.get_absolute_url }}" title="{% blocktrans %}Lire l'article en texte intégral{% endblocktrans %}">
                      <span class="toolbox-html">HTML</span>
                    </a>
                  </li>
                  {% endspaceless %}
                </ul>
                <div class="document-checkbox-wrapper"><label><span class="sr-only">{% trans "Sélectionner" %}</span><input type="checkbox"></label></div>
                <h3 class="document-title">
                  <a href="{{ document.get_absolute_url }}" target="_blank">
                    {{ document.title }}{% if document.subtitle %}{% trans "&nbsp;:" %} {{ document.subtitle }}{% endif %}
                  </a>
                </h3>
                <div class="document-authors-publication-year text-muted">{{ document.authors_display }} ({{ document.issue.year }})</div>
                {% if document.can_cite %}
                <div class="hidden">
                  <div id="id_cite_modal_{{ forloop.counter }}" class="modal cite-modal col-lg-4 col-md-5 col-sm-6 col-xs-12 col-centered">
                    <h4 class="modal-header">{% trans "Outils de citation" %}</h4>
                    <div class="modal-body">
                      <dl class="cite-modal--style-list">
                        <dt>MLA</dt>
                        <dd class="cite-mla">
                          {{ document.authors_mla }}
                          {% trans '«&nbsp;' %}{{ document.title }}.{% trans '&nbsp;»' %}
                          <em>{{ document.issue.journal.name }}</em>, {{ document.issue.volume_title|lower }}, {% trans 'p.' %}&nbsp;{{ document.first_page }}–{{ document.last_page }}. {% if document.doi %}doi:{{ document.doi }}{% endif %}
                        </dd>

                        <dt>APA</dt>
                        <dd class="cite-apa">
                          {{ document.authors_apa }}
                          ({{ document.issue.year }}).
                          {{ document.title }}
                          <em>{{ document.issue.journal.name }}</em>,
                          {% if document.issue.volume %}<em>{{ document.issue.volume }}</em>{% endif %}{% if document.issue.number %}({{ document.issue.number }}){% endif %},
                          {{ document.first_page }}–{{ document.last_page }}. {% if document.doi %}doi:{{ document.doi }}{% endif %}
                        </dd>

                        <dt>Chicago</dt>
                        <dd class="cite-chicago">
                          {{ document.authors_chicago }}
                          {% trans '«&nbsp;' %}{{ document.title }}{% trans '&nbsp;»' %}.
                          <em>{{ document.issue.journal.name }}</em>
                          {% if document.issue.volume %}{{ document.issue.volume }}, {% endif %}{% if document.issue.number %}{% trans 'n<sup>o</sup>' %} {{ document.issue.number }}{% endif %}
                          ({{ document.issue.year }}){% trans '&nbsp;:' %} {{ document.first_page }}–{{ document.last_page }}. {% if document.doi %}doi:{{ document.doi }}{% endif %}
                        </dd>
                      </dl>

                      <hr />
                      <p><strong>{% trans "Exporter la notice de ce document" %}</strong></p>
                      <p>
                        <a href="{{ document.cite_enw_url }}" class="btn btn-primary cite-export">
                          <span class="show cite-export-title">.ENW</span>
                        </a>
                        EndNote, Zotero
                      </p>
                      <p>
                        <a href="{{ document.cite_ris_url }}" class="btn btn-primary cite-export">
                          <span class="show cite-export-title">.RIS</span>
                        </a>
                        Papers, Reference Manager, RefWorks, Zotero
                      </p>
                      <p>
                        <a href="{{ document.cite_bib_url }}" class="btn btn-primary cite-export">
                          <span class="show cite-export-title">.BIB</span>
                        </a>
                        BibTeX, JabRef, Mendeley, Zotero
                      </p>
                    </div>
                  </div>
                </div>
                {% endif %}
              </li>
              {% elif document.document_type == 'thesis' %}
              <li data-document-id="{{ document.localidentifier }}" data-document-type="thesis" class="document">
                <ul class="toolbox toolbox-compact toolbox-horizontal pull-right">
                  {% spaceless %}
                  <li>
                    <a class="tool-btn" href="#" title="{% trans 'Supprimer' %}" data-remove>
                      <span class="ion-close toolbox-remove"></span>
                    </a>
                  </li>
                  <li>
                    <a class="tool-btn" href="#" title="{% trans 'Citer' %}" data-modal-id="#id_cite_modal_{{ forloop.counter }}" data-cite>
                      <span class="ion-quote toolbox-cite"></span>
                    </a>
                  </li>
                  <li>
                    <a class="tool-btn" href="{{ document.url }}" title="{% trans 'Télécharger' %}" target="_blank">
                      <span class="toolbox-pdf">PDF</span>
                    </a>
                  </li>
                  {% endspaceless %}
                </ul>
                <div class="document-checkbox-wrapper"><label><span class="sr-only">{% trans "Sélectionner" %}</span><input type="checkbox"></label></div>
                <h3 class="document-title">
                  <a href="{{ document.url }}" target="_blank">{{ document.title }}</a>
                </h3>
                <div class="document-authors-publication-year text-muted">{{ document.authors }}&nbsp;({{ document.publication_year }})</div>
                <div class="hidden">
                  <div id="id_cite_modal_{{ forloop.counter }}" class="modal cite-modal col-lg-4 col-md-5 col-sm-6 col-xs-12 col-centered">
                    <h4 class="modal-header">{% trans "Outils de citation" %}</h4>
                    <div class="modal-body">
                      <p><strong>{% trans "Exporter la notice de ce document" %}</strong></p>
                      <p>
                        <a href="{% url 'public:thesis:thesis_citation_enw' document.localidentifier %}" class="btn btn-primary cite-export">
                          <span class="show cite-export-title">.ENW</span>
                        </a>
                        EndNote, Zotero
                      </p>
                      <p>
                        <a href="{% url 'public:thesis:thesis_citation_ris' document.localidentifier %}" class="btn btn-primary cite-export">
                          <span class="show cite-export-title">.RIS</span>
                        </a>
                        Papers, Reference Manager, RefWorks, Zotero
                      </p>
                      <p>
                        <a href="{% url 'public:thesis:thesis_citation_bib' document.localidentifier %}" class="btn btn-primary cite-export">
                          <span class="show cite-export-title">.BIB</span>
                        </a>
                        BibTeX, JabRef, Mendeley, Zotero
                      </p>
                    </div>
                  </div>
                </div>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          {% include "public/partials/pagination.html" %}
          <div class="hidden">
            <div id="id_cite_selection_modal" class="modal cite-modal col-lg-4 col-md-5 col-sm-6 col-xs-12 col-centered">
              <h2 class="modal-header">{% trans "Outils de citation" %}</h2>
              <div class="modal-body">
                <p><strong>{% trans "Exporter les notices sélectionnées" %}</strong></p>
                <p>
                  <a href="#" id="export_citation_enw" class="btn btn-primary cite-export">
                    <span class="show cite-export-title">.ENW</span>
                  </a>
                  EndNote, Zotero
                </p>
                <p>
                  <a href="#" id="export_citation_ris" class="btn btn-primary cite-export">
                    <span class="show cite-export-title">.RIS</span>
                  </a>
                  Papers, Reference Manager, RefWorks, Zotero
                </p>
                <p>
                  <a href="#" id="export_citation_bib" class="btn btn-primary cite-export">
                    <span class="show cite-export-title">.BIB</span>
                  </a>
                  BibTeX, JabRef, Mendeley, Zotero
                </p>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col-md-8">
          <div>
            <p><em>{% trans "Aucune notice sauvegardée&nbsp;!" %} <span class="hint--top hint--no-animate" data-hint=""><span class="ion-help-circled"></span></span></em></p>
          </div>
        </div>
        {% endif %}
      </section>
    </div>
  </div>
</main>
{% endblock content %}
