/**
* Basic typography style for copy text
*/

body {
  line-height: 1.75;
  font-family: $font-face-body;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 16px;
  color: $colour-text;
}

h1, h2, h3, h4, h5, h6 {

}

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 1.602em;
}

h2 {
  font-size: 1.424em;
}

h3 {
  font-size: 1.266em;
}

h4 {
  font-size: 1.125em;
}

small {
  font-size: 0.889em;
}

a {
  color: $colour-primary-light;
  @include transition(all, 200ms, ease);
  &:hover, &:focus, &:active, &:active:focus {
    text-decoration: none;
    color: $colour-primary;
  }
}

::selection {
  background: #000;
  color: #FFF;
}

::-moz-selection {
  background: #000;
  color: #FFF;
}
