<div class="col-xs-{{ col_xs|default:10 }} col-sm-{{ col_sm|default:8 }} col-md-{{ col_md|default:6 }} form-group">
  {% if checkbox_field %}
  <div class="checkbox">
    <input
        id="{{ checkbox_field.id_for_label }}"
        type="checkbox"
        name="{{ checkbox_field.name }}"
        class="styled"
        {% if checkbox_field.value %}checked{% endif %}>
    <label for="{{ checkbox_field.id_for_label }}">{{ checkbox_field.label }}</label>
  </div>
  {% elif select_field %}
    <label class="control-label" for="{{ select_field.id_for_label }}">
      {{ select_field.label }}
    </label>
    {{ select_field }}
  {% else %}
  <label class="control-label" for="{{ field.id_for_label }}">
    {{ field.label }}
    {% if icon %}
      &nbsp;<span class="{{ icon }}"></span>
    {% endif %}
  </label>
  {{ field }}
  {% endif %}
  {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
</div>
