{% load i18n %}
{% load rules %}

{% has_perm 'journal.edit_journal_information' request.user scope_current_journal as can_manage_information %}
{% has_perm 'editor.manage_issuesubmission' request.user scope_current_journal as can_manage_issuesubmission %}
{% has_perm 'editor.review_issuesubmission' request.user scope_current_journal as can_review_issuesubmission %}
{% has_perm 'authorization.manage_authorizations' request.user scope_current_journal as can_manage_authorizations %}
{% has_perm 'subscription.manage_individual_subscription' request.user scope_current_journal as can_manage_account %}

<ul class="main-menu">
  <li class="userspace menu-item has-children has-dropdown">
    <a href="{% url 'userspace:dashboard' %}">
      <span class="icon fa ion-ios-home-outline"></span>
      <span class="sidenav-label">{{ scope_current_journal.name }}</span>
    </a>
    <ul class="sub-menu dropdown">
      {% if can_manage_information %}
      <li class="journal menu-item">
        <a href="{% url 'userspace:journal:information:update' journal_pk=scope_current_journal.pk %}"
           {% if menu_journal == 'information' %}class="active"{% endif %}>
          <span class="icon fa ion-ios-book-outline"></span>
          <span class="sidenav-label">{% trans "À propos" %}</span>
        </a>
      </li>
      {% endif %}
      {% if can_manage_issuesubmission or can_review_issuesubmission %}
      <li class="journal menu-item">
        <a href="{% url 'userspace:journal:editor:issues' journal_pk=scope_current_journal.pk %}"
           {% if menu_journal == 'editor' %}class="active"{% endif %}>
          <span class="icon fa ion-ios-copy-outline"></span>
          <span class="sidenav-label">{% trans "Dépôt de fichiers" %}</span>
        </a>
      </li>
      {% endif %}
      {% if can_manage_authorizations %}
      <li class="journal menu-item">
        <a href="{% url 'userspace:journal:authorization:list' journal_pk=scope_current_journal.pk %}"
           {% if menu_journal == 'authorization' %}class="active"{% endif %}>
          <span class="icon fa ion-ios-locked-outline"></span>
          <span class="sidenav-label">{% trans "Autorisations" %}</span>
        </a>
      </li>
      {% endif %}
      {% if can_manage_account %}
      <li class="journal menu-item">
        <a href="{% url 'userspace:journal:subscription:list' journal_pk=scope_current_journal.pk %}"
           {% if menu_journal == 'subscription' %}class="active"{% endif %}>
          <span class="icon fa ion-ios-people-outline"></span>
          <span class="sidenav-label">{% trans "Abonnements" %}</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </li>
</ul>
