{% load i18n rules widget_tweaks waffle_tags %}

{% has_perm 'journal.edit_journal_information' request.user scope_current_journal as can_manage_information %}
{% has_perm 'editor.manage_issuesubmission' request.user scope_current_journal as can_manage_issuesubmission %}
{% has_perm 'editor.review_issuesubmission' request.user as can_review_issuesubmission %}
{% has_perm 'authorization.manage_authorizations' request.user scope_current_journal as can_manage_authorizations %}
{% has_perm 'subscription.manage_individual_subscription' request.user scope_current_journal as can_manage_individual_subscription %}
{% has_perm 'subscription.manage_institutional_subscription' request.user scope_current_journal as can_manage_institutional_subscription %}
{% has_perm 'subscription.consult_royalty_reports' request.user scope_current_journal as can_consult_royalty_reports %}

<ul>
  <li class="sidenav-item{% if menu_journal == 'home' %} active{% endif %}">
    <a href="{% url 'userspace:journal:home' journal_pk=scope_current_journal.pk %}">
      <i class="icon ion-ios-home sidenav-icon"></i>
      <h2 class="sidenav-label">{{ scope_current_journal.formatted_title }}</h2>
    </a>
  </li>
  {% if can_manage_information %}
  <li class="sidenav-item{% if menu_journal == 'information' %} active{% endif %}">
    <a href="{% url 'userspace:journal:information:update' journal_pk=scope_current_journal.pk %}">
      <i class="icon ion-ios-book sidenav-icon"></i>
      <span class="sidenav-label">{% translate "À propos" %}</span>
    </a>
  </li>
  {% endif %}
  {% if can_manage_issuesubmission or can_review_issuesubmission %}
  <li class="sidenav-item{% if menu_journal == 'editor' %} active{% endif %}">
    <a href="{% url 'userspace:journal:editor:issues' journal_pk=scope_current_journal.pk %}">
      <i class="icon ion-ios-cloud-upload sidenav-icon"></i>
      <span class="sidenav-label">{% translate "Dépôt" %}</span>
    </a>
  </li>
  {% endif %}
  {% if can_consult_royalty_reports %}
  <li class="sidenav-item{% if menu_journal == 'royalty_reports' %} active{% endif %}">
    <a href="{% url 'userspace:journal:royalty_reports' journal_pk=scope_current_journal.pk %}">
      <i class="icon ion-logo-usd sidenav-icon"></i>
      <span class="sidenav-label">{% translate "Redevances" %}</span>
    </a>
  </li>
  {% endif %}
  {% if can_manage_institutional_subscription or can_manage_individual_subscription %}
  <li class="sidenav-item{% if menu_journal == 'subscription' %} active{% endif %}">
    <a
    {% if can_manage_institutional_subscription %}
      href="{% url 'userspace:journal:subscription:org_list' journal_pk=scope_current_journal.pk %}"
    {% else %}
      href="{% url 'userspace:journal:subscription:list' journal_pk=scope_current_journal.pk %}"
    {% endif %}
    >
      <i class="icon ion-ios-people sidenav-icon"></i>
      <span class="sidenav-label">{% translate "Abonnements" %}</span>
    </a>
  </li>
  {% endif %}
  <li class="sidenav-item">
    <span class="hint--bottom hint--no-animate" data-hint="{% translate 'Pour accéder à vos rapports statistiques, vous devez vous connecter à un site externe qui requiert des identifiants distincts. Pour plus d’informations, veuillez nous contacter à l’adresse edition@erudit.org.' %}">
      <a href="https://secur.erudit.org/statusage/index.php" target="_blank">
        <i class="icon ion-ios-analytics sidenav-icon"></i>
        <span class="sidenav-label">{% translate "Consultations" %}</span>
      </a>
    </span>
  </li>
  {% if can_manage_authorizations %}
  <li class="sidenav-item{% if menu_journal == 'authorization' %} active{% endif %}">
    <a href="{% url 'userspace:journal:authorization:list' journal_pk=scope_current_journal.pk %}">
      <i class="icon ion-ios-lock sidenav-icon"></i>
      <span class="sidenav-label">{% translate "Autorisations" %}</span>
    </a>
  </li>
  {% endif %}
</ul>
