{% load i18n %}
{% load rules %}

{% has_perm 'journal.edit_journal_information' request.user scope_current_journal as can_manage_information %}
{% has_perm 'editor.manage_issuesubmission' request.user scope_current_journal as can_manage_issuesubmission %}
{% has_perm 'editor.review_issuesubmission' request.user as can_review_issuesubmission %}
{% has_perm 'authorization.manage_authorizations' request.user scope_current_journal as can_manage_authorizations %}
{% has_perm 'subscription.manage_individual_subscription' request.user scope_current_journal as can_manage_account %}
{% has_perm 'royalty_reports.consult_royalty_reports' request.user scope_current_journal as can_consult_royalty_reports %}

<ul>
  <li class="sidenav-item{% if menu_journal == 'home' %} active{% endif %}">
    <a href="{% url 'userspace:journal:home' journal_pk=scope_current_journal.pk %}">
      <span class="ion-ios-home-outline sidenav-icon"></span>
      <h2 class="sidenav-label">{{ scope_current_journal.name }}</h2>
    </a>
  </li>
  {% if can_manage_information %}
  <li class="sidenav-item{% if menu_journal == 'information' %} active{% endif %}">
    <a href="{% url 'userspace:journal:information:update' journal_pk=scope_current_journal.pk %}">
      <span class="ion-ios-book-outline sidenav-icon"></span>
      <span class="sidenav-label">{% trans "À propos" %}</span>
    </a>
  </li>
  {% endif %}
  {% if can_manage_issuesubmission or can_review_issuesubmission %}
  <li class="sidenav-item{% if menu_journal == 'editor' %} active{% endif %}">
    <a href="{% url 'userspace:journal:editor:issues' journal_pk=scope_current_journal.pk %}">
      <span class="ion-ios-cloud-upload-outline sidenav-icon"></span>
      <span class="sidenav-label">{% trans "Dépôt" %}</span>
    </a>
  </li>
  {% endif %}
  {% if can_consult_royalty_reports %}
  <li class="sidenav-item{% if menu_journal == 'royalty_reports' %} active{% endif %}">
    <a href="{% url 'userspace:journal:royalty_reports:list' journal_pk=scope_current_journal.pk %}">
      <span class="ion-social-usd-outline sidenav-icon"></span>
      <span class="sidenav-label">{% trans "Redevances" %}</span>
    </a>
  </li>
  {% endif %}
  {% if can_manage_account %}
  <li class="sidenav-item{% if menu_journal == 'subscription' %} active{% endif %}">
    <a href="{% url 'userspace:journal:subscription:list' journal_pk=scope_current_journal.pk %}">
      <span class="ion-ios-people-outline sidenav-icon"></span>
      <span class="sidenav-label">{% trans "Abonnements" %}</span>
    </a>
  </li>
  {% endif %}
  <li class="sidenav-item">
    <a href="https://secur.erudit.org/statusage/awstats.pl?config=www.erudit.org_revue_{{ scope_current_journal.code }}&amp;lang=fr" target="_blank">
      <span class="hint--bottom hint--no-animate" data-hint="{% trans 'Vous serez redirigé vers un site externe en cliquant sur cette option.' %}">
        <span class="ion-ios-analytics-outline sidenav-icon"></span>
        <span class="sidenav-label">{% trans "Consultations" %}</span>
      </span>
    </a>
  </li>
  <li class="sidenav-item">
    <a href="https://www.erudit.org/ojs/index.php/{{ scope_current_journal.code }}/login" target="_blank">
      <span class="hint--bottom hint--no-animate" data-hint="{% trans 'Vous serez redirigé vers un site externe en cliquant sur cette option.' %}">
        <span class="ion-ios-compose-outline sidenav-icon"></span>
        <span class="sidenav-label">{% trans "Manuscrits" %}</span>
      </span>
    </a>
  </li>
  {% if can_manage_authorizations %}
  <li class="sidenav-item{% if menu_journal == 'authorization' %} active{% endif %}">
    <a href="{% url 'userspace:journal:authorization:list' journal_pk=scope_current_journal.pk %}">
      <span class="ion-ios-locked-outline sidenav-icon"></span>
      <span class="sidenav-label">{% trans "Autorisations" %}</span>
    </a>
  </li>
  {% endif %}
  <li class="sidenav-item{% if menu_journal == 'personal_data' %} active{% endif %}">
    <a href="{% url 'public:auth:personal_data' %}">
      <span class="ion-ios-cog-outline sidenav-icon"></span>
      <span class="sidenav-label">{% trans "Mon compte" %}</span>
    </a>
  </li>
</ul>
