{% extends "userspace/journal/base.html" %}
{% load i18n static %}

{% block stylesheets %}
{{ block.super }}
{% if not WEBPACK_DEV_SERVER_URL %}
<link rel="stylesheet" type="text/css" href="{% static 'css/authorizations.css' %}" />
{% endif %}
{% endblock stylesheets %}

{% block body_id %}authorizations{% endblock body_id %}

{% block title %}{% trans "Autorisations" %} {{ block.super }}{% endblock title %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'userspace:journal:authorization:list' journal_pk=scope_current_journal.pk %}">{% trans "Autorisations" %}</a></li>
{% endblock breadcrumb %}

{% block section_title %}
{% trans "Autorisations" %}
{% endblock %}

{% block section_intro %}
{% blocktrans %}
<p>Cette section permet la gestion des autorisations pour modifier la page <em>À propos</em> et déposer des fichiers de production.</p>

<p>Le nom et courriel des personnes autorisées à effectuer ces tâches doivent être transmis à l’adresse <a href="mailto:edition@erudit.org?subject=Tableau de bord éditeur - Ajout d’un nouveau membre">edition@erudit.org</a>. La possibilité de donner une ou ces deux autorisations sera ensuite activée.</p>
{% endblocktrans %}
{% endblock section_intro %}

{% block content_main %}
<ul class="authorizations-header">
  <li class="row">
    <span class="col-xs-5 col-xs-offset-2">{% trans "Usager" %}</span>
    <span class="col-xs-2">{% trans "Date <br>d’ajout" %}</span>
    <span class="col-xs-2">{% trans "Dernière <br>connexion" %}</span>
  </li>
</ul>

<ul class="authorizations-list">
  {% for choice, app_authorizations in authorizations.items %}
  <li class="authorizations-item">
    {# Section title #}
    <div class="authorization-label">
      <h2 class="row">
        <span class="col-xs-6">{% trans app_authorizations.label %}</span>
      </h2>
    </div>

    {% for auth in app_authorizations.authorizations %}
    {# User info #}
    <div class="authorization-user">
      <ul class="row">
        <li class="col-xs-5 col-xs-offset-2">
          {{ auth.user.get_full_name|default:auth.user.username }}
          {% if auth.user.email %}<br/><a href="mailto:{{ auth.user.email }}">{{ auth.user.email }}</a>{% endif %}
        </li>
        <li class="col-xs-2">{{ auth.user.date_joined|date:"SHORT_DATE_FORMAT" }}</li>
        <li class="col-xs-2">{{ auth.user.last_login|date:"SHORT_DATE_FORMAT" }}</li>
        <li class="col-xs-1 authorization-delete">
          <a href="{% url 'userspace:journal:authorization:delete' auth.pk %}" title="{% trans 'Supprimer cet usager' %}">
            <i class="icon ion-ios-close"></i>
          </a>
        </li>
      </ul>
    </div>
    {% empty %}
    <p class="authorization-user">
      {% trans "Aucun usager n’a été autorisé à modifier cette section." %}
      <a href='{% url "userspace:journal:authorization:create" scope_current_journal.pk %}?codename={{ choice }}'>{% trans "Ajouter un accès." %}</a>
    </p>
    {% endfor %}

    {# Create user button #}
    <div class="row authorization-create">
      <span class="col-xs-12">
        <a href="{% url 'userspace:journal:authorization:create' scope_current_journal.pk %}?codename={{ choice }}">
          &plus;
        </a>
      </span>
    </div>

  </li>
  {% endfor %}
</ul>
{% endblock content_main %}
