{% load widget_tweaks %}

<div class="col-sm-6 col-md-4 filter-{{ field.html_name }}">
  <div id="div_id_{{ field.html_name }}"{% if field.errors %} class="has-error"{% endif %}>
    <fieldset>
      <legend class="control-label">
        {{ field.label }}{% if field.help_text %}&nbsp;<span class="hint--bottom hint--no-animate" data-hint="{{ field.help_text }}"><span class="ion-help-circled"></span></span>{% endif %}
      </legend>
      {% for choice in field.field.choices %}
      <span class="checkbox">
        <input
          type="checkbox"
          name="{{ field.html_name }}"
          class="styled"
          id="test-{{ field.auto_id }}_{{ forloop.counter }}"
          value="{{ choice.0 }}"
          {% if choice.0 in field.initial %}
          checked="checked"
          {% endif %}
        >
        <label for="test-{{ field.auto_id }}_{{ forloop.counter }}">{{ choice.1 }}</label>
      </span>
      {% endfor %}
    </fieldset>
  </div>
</div>
