{% extends "base.html" %}
{% load i18n staticfiles rules %}

{% block header %}
<header>
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-logo">
          <a href="{% url 'userspace:dashboard' %}">
            <img src="{% static 'img/logo-erudit-blanc.png' %}"/>
          </a>
        </div>
        <div class="navbar-user dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <span class="profile-pic glyphicon glyphicon-user"></span>
            {% if user.first_name %}
            {{ user.first_name }}
            {% else %}
            {{ user }}
            {% endif %}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#" class="disabled">{% trans "Aide" %}</a></li>
            <li><a href="#" class="disabled">{% trans "Paramètres" %}</a></li>
            <li><a href="{% url 'logout' %}?next={% url 'userspace:dashboard' %}">{% trans "Déconnexion" %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
{% endblock %}

{% block nav %}
<nav class="sidenav"> {# TODO handle class active for menu #}
  <ul>

    {% has_perm 'journal.edit_journal' request.user as can_edit_journal %}
    {% if can_edit_journal %}
    <li>
      <a href="{% url 'journal:journal-information' %}">
        <span class="icon fa fa-folder-o"></span> <span class="sidenav-label">{% trans "Informations de la revue" %}</span>
      </a>
    </li>
    {% endif %}

    {% has_perm 'editor.manage_issuesubmission' request.user as can_manage_issuesubmission %}
    {% if can_manage_issuesubmission %}
    <li>
      <a href="{% url 'editor:issues' %}" {% url 'editor:issues' as issues %}>
        <span class="icon fa fa-folder-open-o"></span> <span class="sidenav-label">{% trans "Dépôt de numéros" %}</span>
      </a>
    </li>
    {% endif %}

    {% has_perm 'userspace.manage_permissions' request.user as can_manage_permissions %}
    {% if can_manage_permissions %}
    <li>
    <a href="{% url 'userspace:perm_list' %}">
        <span class="icon glyphicon fa fa-users"></span> <span class="sidenav-label">{% trans "Permissions" %}</span>
      </a>
    </li>
    {% endif %}

    {% has_perm 'individual_subscription.manage_account' request.user as can_manage_individual_subscription %}
    {% if can_manage_individual_subscription %}
    <li>
    <a href="{% url 'individual_subscription:account_list' %}">
        <span class="icon glyphicon fa fa-users"></span> <span class="sidenav-label">{% trans "Gestion des utilisateurs" %}</span>
      </a>
    </li>
    {% endif %}
    <li>
      <a href="#" class="disabled">
        <span class="icon icon-epub"></span> <span class="sidenav-label">{% trans "Dépôt EPUB" %}</span>
      </a>
    </li>
    <li>
      <a href="#" class="disabled">
        <span class="icon glyphicon glyphicon-signal"></span> <span class="sidenav-label">{% trans "Statistiques" %}</span>
      </a>
    </li>
    <li>
      <a href="#" class="disabled">
        <span class="icon glyphicon glyphicon-usd"></span> <span class="sidenav-label">{% trans "Factures et état de compte" %}</span>
      </a>
    </li>
    <li>
      <a href="#" class="disabled">
        <span class="icon glyphicon glyphicon-send"></span> <span class="sidenav-label">{% trans "Gestion des manuscrits" %}</span>
      </a>
    </li>
    <li>
      <a href="#" class="disabled">
        <span class="icon glyphicon glyphicon-comment"></span> <span class="sidenav-label">{% trans "Communications" %}</span>
      </a>
    </li>
    <li>
      <a href="#" class="disabled">
        <span class="icon glyphicon glyphicon-question-sign"></span> <span class="sidenav-label">{% trans "Guides et documentation" %}</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<main class="main">
  <header>
    <h1>
      <span class="user-space">{% block zone-title %}{% trans "Espace utilisateur" %}{% endblock %}</span> {% block page-title %}{% endblock %}
    </h1>
  </header>
  <div class="container-fluid">
    <div class="breadcrumbs">
      {% block breadcrumbs %}
      {% trans "Espace utilisateur" %}
      {% endblock %}
    </div>
    {% block content-main %}
    {% endblock %}
  </div>
</main>
{% endblock %}
