{% load base_urls_tags i18n %}

<nav class="pagination">
  <h3 class="sr-only">{% trans "Pagination" %}</h3>
  {% if page_obj.number > 1 %}
  <a href="{% get_full_path_with_overrides page=1 %}"><ion-icon name="ios-arrow-back"></ion-icon><ion-icon name="ios-arrow-back"></ion-icon></a>
  {% endif %}
  {% if page_obj.has_previous %}
  <a href="{% get_full_path_with_overrides page=page_obj.previous_page_number %}"><ion-icon name="ios-arrow-back"></ion-icon></a>
  {% endif %}
  <span class="page-position">
  {% blocktrans trimmed with current_page=page_obj.number page_count=paginator.num_pages %}
    Page {{ current_page }} de {{ page_count }}
  {% endblocktrans %}
  </span>
  {% if page_obj.has_next %}
  <a href="{% get_full_path_with_overrides page=page_obj.next_page_number %}"><ion-icon name="ios-arrow-forward"></ion-icon></a>
  {% endif %}
  {% if page_obj.number < paginator.num_pages %}
  <a href="{% get_full_path_with_overrides page=paginator.num_pages %}"><ion-icon name="ios-arrow-forward"></ion-icon><ion-icon name="ios-arrow-forward"></ion-icon></a>
  {% endif %}
</nav>
