{% load adv_cache i18n %}

{% if request.subscriptions.active_subscription.sponsor or request.subscriptions.active_subscription.organisation %}
{% cache LONG_TTL "public_journal_base_organisation" LANGUAGE_CODE request.subscriptions.active_subscription.sponsor request.subscriptions.active_subscription.organisation %}
{% with organisation=request.subscriptions.active_subscription.sponsor|default:request.subscriptions.active_subscription.organisation %}
  <div class="text-center subscription-sponsor">
    <p>{% trans "Votre accès est offert par" %}</p>
    {% if organisation.badge %}
      <img src="{{ organisation.badge.url }}" alt="" />
    {% else %}
      <p><strong>{{ organisation.name }}</strong></p>
    {% endif %}
  </div>
{% endwith %}
{% endcache %}
{% endif %}
