{% extends "base.html" %}

{% load i18n staticfiles %}
{% block extrahead %}{{ block.super }}
<link rel="stylesheet" type="text/css"
    href="{% static 'admin/css/forms.css' %} "/>
<link rel="stylesheet" type="text/css"
    href="{% static 'admin/css/base.css' %} "/>
<link rel="stylesheet" type="text/css"
    href="{% static 'admin/css/global.css' %}"/>
<link rel="stylesheet" type="text/css"
    href="{% static 'admin/css/widgets.css' %}"/>


<script type="text/javascript"
    src="/admin/jsi18n/"></script>
<script type="text/javascript"
    src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/jquery.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/actions.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>

{{ form.media }}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
{% crispy form %}
{% endblock %}
