{% extends "public/journal/article_base.html" %}
{% load cache i18n public_journal_tags staticfiles %}

{% block title %}{% trans 'Notice.' %} {{ block.super }}{% endblock title %}

{% block meta_description %}{% trans 'Notice.' %} {{ block.super }}{% endblock meta_description %}

{% block meta_tags %}
{{ block.super }}
<meta name="citation_fulltext_world_readable" content="" />
{% endblock meta_tags %}

{% block structured_data %}
{% cache cache_timeout "public_article_summary_structured_data" article.localidentifier LANGUAGE_CODE %}
{% include "public/journal/partials/article_structured_data.html" %}
{% endcache %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_detail' article.issue.journal.code %}",
      "name": "{{ article.issue.journal.name }}"
    }
  },{
    "@type": "ListItem",
    "position": 4,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:issue_detail' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier %}",
      "name": "{{ article.issue.volume_title_with_pages }}"
    }
  },{
    "@type": "ListItem",
    "position": 5,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:article_detail' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier article.localidentifier %}",
      "name": "{{ article|format_article_html_title }}"
    }
  },{
    "@type": "ListItem",
    "position": 6,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:article_summary' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier article.localidentifier %}",
      "name": "{% trans 'Notice bibliographique' %}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block breadcrumb %}
{{ block.super }}
<li>
  <a href="{% url 'public:journal:article_summary' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier article.localidentifier %}">{% trans 'Notice bibliographique' %}</a>
</li>
{% endblock breadcrumb %}

{% block content %}
{% csrf_token %}
<main
    id="article-{{ article.localidentifier }}"
    class="container"
    data-document-id="{{ article.solr_id }}"
    {% if article.solr_id in request.saved_citations %}data-is-in-citation-list="true"{% else %}data-is-in-citation-list="false"{% endif %}
  >

  {% cache cache_timeout "public_article_summary_content" article.localidentifier in_citation_list LANGUAGE_CODE subscription_cache_key %}
  {# XSL transformation article render #}
  {{ view.render_xml_contents }}
  {% endcache %}
</main>

{{ block.super }}

{% cache cache_timeout "public_article_summary_citation" article.localidentifier LANGUAGE_CODE %}
<div class="hidden">
  {% include "public/journal/partials/article_citation_modal_content.html" %}
</div>
{% endcache %}
{% endblock content %}
