{% extends "public/base.html" %}
{% load i18n staticfiles %}
{% load public_journal_tags %}
{% load cache %}

{% block data_controller %}public:journal:article_detail{% endblock data_controller %}

{% block meta_tags %}
{% cache FOREVER_TTL "public_article_summary_metatags" article.id LANGUAGE_CODE %}
<!-- Facebook / Open Graph -->
<meta property="fb:app_id" content="128099979787">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ article.title }}">
<meta property="og:site_name" content="Érudit">
<meta property="og:locale" content="fr_CA">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@eruditorg">
<meta name="twitter:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:title" content="{{ article.title }} – Érudit">

{% if not article.issue.journal.type.code == 'C' %}
<!-- Google Scholar -->
  <meta name="citation_title" content="{{ article.title }}" />
  {% for author in article.authors.all %}
    {% if author.firstname and author.lastname %}
      <meta name="citation_author" content="{{ author.lastname }}, {{ author.firstname }}" />
    {% elif author.othername %}
      <meta name="citation_author" content="{{ author.othername }}" />
    {% endif %}
    {% for aff in author.affiliations.all %}
      <meta name="citation_author_institution" content="{{ aff.name }}" />
    {% endfor %}
  {% endfor %}
  <meta name="citation_journal_title" content="{{ article.issue.journal.name }}" />
  {% for abstract in article.abstracts.all %}
    <meta name="citation_abstract" lang="{{ abstract.language }}" content="{{ abstract.text }}" />
  {% endfor %}
  <meta name="citation_language" content="{{ article.language }}" />
  {% if article.first_page %}
    <meta name="citation_firstpage" content="{{ article.first_page }}" />
  {% endif %}
  {% if article.last_page %}
    <meta name="citation_lastpage" content="{{ article.last_page }}" />
  {% endif %}
  <meta name="citation_issn" content="{{ article.issue.journal.issn_print|default:article.issue.journal.issn_web }}" />
  {% if article.issue.volume %}
    <meta name="citation_volume" content="{{ article.issue.volume }}" />
  {% endif %}
  {% if article.issue.number %}
    <meta name="citation_issue" content="{{ article.issue.number }}" />
  {% endif %}
  <meta name="citation_publication_date" content="{{ article.issue.year }}" />
  <meta name="citation_date" content="{{ article.issue.year }}" />
  <meta name="citation_publisher" content="{{ article.publisher.name }}" />
  {% if article.doi %}<meta name="citation_doi" content="{{ article.doi }}" />{% endif %}
  <meta name="citation_html_url" content="{{ request.is_secure|yesno:"https,http" }}://{{ request.site.domain }}{% url 'public:journal:article_detail' journal_code=article.issue.journal.code issue_slug=article.issue.volume_slug issue_localid=article.issue.localidentifier localid=article.localidentifier %}" />
  <meta name="citation_pdf_url" content="{{ request.is_secure|yesno:"https,http" }}://{{ request.site.domain }}{% url 'public:journal:article_raw_pdf' journal_code=article.issue.journal.code issue_slug=article.issue.volume_slug issue_localid=article.issue.localidentifier localid=article.localidentifier %}" />
  {% for lang_code, keywords in keywords_dict.items %}
    <meta name="citation_keywords" lang="{{ lang_code }}" content="{% for k in keywords %}{{ k.name }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
  {% endfor %}
{% endif %}
{% endcache %}
{% endblock meta_tags %}

{% block structured_data %}
{{ block.super }}
{% cache FOREVER_TTL "public_article_summary_structured_data" article.id LANGUAGE_CODE %}
{% include "public/journal/partials/article_structured_data.html" %}
{% endcache %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_detail' article.issue.journal.code %}",
      "name": "{{ article.issue.journal.name }}"
    }
  },{
    "@type": "ListItem",
    "position": 5,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:article_summary' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier article.localidentifier %}",
      "name": "{{ article.title }}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_class %}public static-header{% endblock body_class %}

{% block header_class %}static{% endblock header_class %}

{% block breadcrumb %}{{ block.super }}
  / <a href="{% url 'public:journal:journal_detail' article.issue.journal.code %}">{{ article.issue.journal.name }}</a>
  / <a href="{% url 'public:journal:issue_detail' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier %}">
   {% if article.issue.html_title %}
   {{ article.issue.html_title|safe|truncatechars:50 }}
   {% else %}
   {{ article.issue.volume_title_with_pages }}
   {% endif %}
  </a>
  / <a href="{% url 'public:journal:article_summary' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier article.localidentifier %}">{% blocktrans with title=article.title|truncatechars:50 %}{{ title }} - Résumé{% endblocktrans %}</a>
{% endblock breadcrumb %}

{% block content %}

<section
    id="article_detail"
    class="container"
    data-document-id="{{ article.id }}"
    {% if article.id in request.saved_citations %}data-is-in-citation-list="true"{% else %}data-is-in-citation-list="false"{% endif %}
  >

  {% cache FOREVER_TTL "public_article_summary_content" article.id in_citation_list LANGUAGE_CODE %}
  {% if article.publication_allowed_by_authors %}
    {# XSL transformation article render #}
    {% render_article article only_summary=True %}
  {% else %}
    <div class="alert alert-warning">
      {% trans "La diffusion de cet article sur Érudit n'a pas été autorisée par l'auteur." %}
    </div>
  {% endif %}
  {% endcache %}

  {# article footer with related articles #}
  {% if related_articles %}
  <footer class="related-articles">

    <div class="row">
      <header class="col-xs-12">
        <h2>{% trans "Autres articles de ce numéro" %}</h2>
      </header>
    </div>

    <div class="row">
      {% for related_article in related_articles %}
      {% cache FOREVER_TTL "public_article_summary_related_article" related_article.id LANGUAGE_CODE %}
      <article class="related-article col-sm-6 col-md-3">
        <a href="{% url 'public:journal:article_detail' journal_code=related_article.issue.journal.code issue_slug=related_article.issue.volume_slug issue_localid=related_article.issue.localidentifier localid=related_article.localidentifier %}">
          <h4>{{ related_article.title }}</h4>
          {% if related_article.authors.all|length > 0 %}
          <footer class="meta">
            <h5>Par {{ related_article.authors.all|join:", " }}</h5>
          </footer>
          {% endif %}
        </a>
      </article>
      {% endcache %}
      {% endfor %}
    </div>

  </footer>
  {% endif %}

</section>

{% cache FOREVER_TTL "public_article_summary_citation" article.id LANGUAGE_CODE %}
<div class="hidden">
  {% include "public/journal/partials/article_citation_modal_content.html" %}
</div>
{% endcache %}

{% endblock content %}
