{% extends "public/base.html" %}
{% load erudit_cache_tag i18n public_journal_tags static %}

{% block title %}{{ citation_title_metadata|truncatechars:50 }} – {{ article.issue.journal_formatted_title }}{% endblock title %}

{% block meta_description %}{% autoescape off %}{% firstof article.issue.html_title article.issue.volume_title_with_pages as volume_title %}{% endautoescape %}{% blocktrans with journal=article.issue.journal_formatted_title article=citation_title_metadata %}{{ article }}. Un article de la revue {{ journal }} ({{ volume_title }}) diffusée par la plateforme Érudit. {% endblocktrans %}{% endblock meta_description %}

{% block meta_tags %}
{# If the issue is published, the article metatags will be cached for one day. #}
{# If the issue is not published, the article metatags will not be cached. #}
{# The article's localidentifier is used as a primary key for the cache key. #}
{# The article.issue.is_published and LANGUAGE_CODE arguments are used to generate the cache key hash. #}
{% cache cache_timeout "public_article_base_metatags" article.localidentifier article.issue.is_published LANGUAGE_CODE 'v1' %}
<!-- Facebook / Open Graph -->
<meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ citation_title_metadata }} – {{ article.issue.journal_formatted_title }}">
<meta property="og:site_name" content="Érudit">
<meta property="og:locale" content="{{ language_code }}_CA">
{% if article.issue.has_coverpage %}
<meta property="og:image" content="{% issue_coverpage_url article.issue %}">
{% elif article.issue.journal.has_logo %}
<meta property="og:image" content="{% journal_logo_url article.issue.journal %}">
{% endif %}
<meta property="og:description" content="{% blocktrans with journal=article.issue.journal_formatted_title %}Un article de la revue {{ journal }}, diffusée par la plateforme Érudit. {% endblocktrans %}">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@eruditorg">
<meta name="twitter:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
<meta name="twitter:title" content="{{ citation_title_metadata }} – {{ article.issue.journal_formatted_title }} – Érudit">
<meta name="twitter:image:alt" content="{% trans 'Logo pour' %} {{ article.issue.journal_formatted_title }}">
{% if article.issue.has_coverpage %}
<meta name="twitter:image" content="{% issue_coverpage_url article.issue %}">
{% elif article.issue.journal.has_logo %}
<meta name="twitter:image" content="{% journal_logo_url article.issue.journal %}">
{% endif %}
<meta name="twitter:description" content="{% blocktrans with journal=article.issue.journal_formatted_title %}Un article de la revue {{ journal }}, diffusée par la plateforme Érudit. {% endblocktrans %}">
{% if not article.issue.is_published %}
<meta name="robots" content="noindex">
{% endif %}
<!-- Google Scholar -->
{% if citation_title_metadata %}
<meta name="citation_title" content="{{ citation_title_metadata }}">
{% endif %}
<meta name="citation_journal_title" content="{{ citation_journal_title_metadata }}">
<meta name="citation_journal_abbrev" content="{{ article.issue.journal.code }}">
<meta name="citation_online_date" content="{{ article.issue.date_published|date:'Y/m/d' }}">
<meta name="citation_abstract_html_url" content="https://id.erudit.org/iderudit/{{ article.localidentifier }}" />
{% for author in article.authors %}
{% if author.firstname and author.lastname %}
<meta name="citation_author" content="{{ author.lastname }}, {{ author.firstname }}" />
{% elif author.othername %}
<meta name="citation_author" content="{{ author.othername }}" />
{% endif %}
{% if author.email %}
<meta name="citation_author_email" content="{{ author.email }}" />
{% endif %}
{% for aff in author.affiliations %}
<meta name="citation_author_institution" content="{{ aff }}" />
{% endfor %}
{% endfor %}
{% if meta_abstracts %}
{% for abstract in meta_abstracts %}
<meta name="citation_abstract" lang="{{ abstract.lang }}" content="{{ abstract.content }}" />
{% endfor %}
{% endif %}
<meta name="citation_language" content="{{ article.language }}" />
{% if article.first_page %}
<meta name="citation_firstpage" content="{{ article.first_page }}" />
{% endif %}
{% if article.last_page %}
<meta name="citation_lastpage" content="{{ article.last_page }}" />
{% endif %}
{% if article.issue.journal.issn_print %}
<meta name="citation_issn" content="{{ article.issue.journal.issn_print }}" />
{% endif %}
{% if article.issue.journal.issn_web %}
<meta name="citation_issn" content="{{ article.issue.journal.issn_web }}" />
{% endif %}
{% if article.issue.volume %}
<meta name="citation_volume" content="{{ article.issue.volume }}" />
{% endif %}
{% if article.issue.number %}
<meta name="citation_issue" content="{{ article.issue.number }}" />
{% endif %}
{% if not article.issue.embargoed %}
<meta name="citation_fulltext_world_readable" content="" />
{% endif %}
<meta name="citation_publication_date" content="{{ article.issue.year }}" />
<meta name="citation_publisher" content="{{ article.publisher_name }}" />
{% if article.doi %}<meta name="citation_doi" content="{{ article.url_doi }}" />{% endif %}
{% if article.processing == 'C' %}
<meta name="citation_html_url" content="{{ request.is_secure|yesno:"https,http" }}://{{ request.site.domain }}{% url 'public:journal:article_detail' journal_code=article.issue.journal.code issue_slug=article.issue.volume_slug issue_localid=article.issue.localidentifier localid=article.localidentifier %}" />
{% endif %}
{% if article.has_pdf %}
<meta name="citation_pdf_url" content="{{ request.is_secure|yesno:"https,http" }}://{{ request.site.domain }}{% url 'public:journal:article_raw_pdf' journal_code=article.issue.journal.code issue_slug=article.issue.volume_slug issue_localid=article.issue.localidentifier localid=article.localidentifier %}" />
{% endif %}
{% for lang, keywords in meta_keywords.items %}
<meta name="citation_keywords" lang="{{ lang }}" content="{% for k in keywords %}{{ k }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
{% endfor %}
{% for reference in citation_references %}
<meta name="citation_reference" content="{{ reference.title}}" />
{% endfor %}
{% endcache %}
{% endblock meta_tags %}

{% block scripts %}
{{ block.super }}
<script src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/article.js' %}"></script>
{% endblock scripts %}

{% block structured_data %}
{{ block.super }}
{# If the issue is published, the article structured data will be cached for one day. #}
{# If the issue is not published, the article structured data will not be cached. #}
{# The article's localidentifier is used as a primary key for the cache key. #}
{# The article.issue.is_published and LANGUAGE_CODE arguments are used to generate the cache key hash. #}
{% cache cache_timeout "public_article_base_structured_data" article.localidentifier article.issue.is_published LANGUAGE_CODE 'v1' %}
{% include "public/journal/partials/article_structured_data.html" %}
{% endcache %}
{% endblock structured_data %}

{% block body_class %}public static-header{% endblock body_class %}
{% block body_id %}article_detail{% endblock body_id %}
{% block data_controller %}public:journal:article_detail{% endblock data_controller %}

{% block header_class %}static{% endblock header_class %}

{% block breadcrumb %}
{{ block.super }}
<li>
  <a href="{% url 'public:journal:journal_list' %}">{% trans "Revues" %}</a>
</li>
<li>
  <a href="{% url 'public:journal:journal_detail' article.issue.journal.code %}">{{ article.issue.journal_formatted_title }}</a>
</li>
<li>
  <a href="{% url 'public:journal:issue_detail' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier %}{% if ticket %}?ticket={{ ticket }}{% endif %}">
   {% if article.issue.title %}
   {{ article.issue.title|safe|truncatewords:10 }}
   {% else %}
   {{ article.issue.volume_title_with_pages }}
   {% endif %}
  </a>
</li>
<li>
  <a href="{% url 'public:journal:article_detail' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier article.localidentifier %}{% if ticket %}?ticket={{ticket}}{% endif %}">{{ citation_title_metadata|truncatewords:10 }}</a>
</li>
{% endblock breadcrumb %}
