{% extends "public/journal/article_base.html" %}
{% load cache i18n public_journal_tags staticfiles %}

{% block link_rel_tags %}
  {% if previous_article %}
    <link rel="prev" href="{% url 'public:journal:article_detail' journal_code=previous_article.issue.journal.code issue_slug=previous_article.issue.volume_slug issue_localid=previous_article.issue.localidentifier localid=previous_article.localidentifier %}{% if ticket %}?ticket={{ticket}}{% endif %}">
  {% endif %}
  {% if next_article %}
    <link rel="next" href="{% url 'public:journal:article_detail' journal_code=next_article.issue.journal.code issue_slug=next_article.issue.volume_slug issue_localid=next_article.issue.localidentifier localid=next_article.localidentifier %}{% if ticket %}?ticket={{ticket}}{% endif %}">
  {% endif %}
  {{ block.super }}
{% endblock link_rel_tags %}

{% block structured_data %}
{{ block.super }}
{% cache cache_timeout "public_article_detail_structured_data" article.localidentifier LANGUAGE_CODE %}
{% include "public/journal/partials/article_structured_data.html" %}
{% endcache %}
{% endblock structured_data %}

{% block content %}
{% csrf_token %}
<main
    class="container"
    id="article-{{ article.localidentifier }}"
    data-document-id="{{ article.solr_id }}"
    {% if article.solr_id in request.saved_citations %}data-is-in-citation-list="true"{% else %}data-is-in-citation-list="false"{% endif %}
    role="main"
  >
  {% cache cache_timeout "public_article_detail_content" article.localidentifier content_access_granted in_citation_list LANGUAGE_CODE %}
  {# XSL transformation article render #}
  {{ view.render_xml_contents }}
  {% endcache %}
</main>

{{ block.super }}

{% cache cache_timeout "public_article_detail_citation" article.localidentifier LANGUAGE_CODE %}
<div class="hidden">
  {% include "public/journal/partials/article_citation_modal_content.html" %}
</div>
{% endcache %}

{% endblock content %}
