{% extends "base.html" %}
{% load cache i18n public_journal_tags staticfiles %}

{% block title %}{{ citation_title_metadata|truncatechars:50 }} – {{ article.issue.journal.name|safe }}{% endblock title %}

{% block meta_description %}{% autoescape off %}{% firstof article.issue.html_title article.issue.volume_title_with_pages as volume_title %}{% endautoescape %}{% blocktrans with journal=article.issue.journal.name|safe article=citation_title_metadata %}{{ article }}. Un article de la revue {{ journal }} ({{ volume_title }}) diffusée par la plateforme Érudit. {% endblocktrans %}{% endblock meta_description %}

{% block meta_tags %}
{% cache cache_timeout "public_article_detail_metatags" article.localidentifier LANGUAGE_CODE %}
<!-- Facebook / Open Graph -->
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ citation_title_metadata }} – {{ article.issue.journal.name|safe }}">
<meta property="og:site_name" content="Érudit">
<meta property="og:locale" content="{{ language_code }}_CA">
<meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% if article.issue.has_coverpage %}{% url 'public:journal:issue_coverpage' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier %}{% else %}{% url 'public:journal:journal_logo' article.issue.journal.code %}{% endif %}">
<meta property="og:description" content="{% blocktrans with journal=article.issue.journal.name|safe %}Un article de la revue {{ journal }}, diffusée par la plateforme Érudit. {% endblocktrans %}">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@eruditorg">
<meta name="twitter:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:title" content="{{ citation_title_metadata }} – {{ article.issue.journal.name|safe }} – Érudit">
<meta name="twitter:image:alt" content="{% trans 'Logo pour' %} {{ article.issue.journal.name|safe }}">
<meta name="twitter:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% if article.issue.has_coverpage %}{% url 'public:journal:issue_coverpage' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier %}{% else %}{% url 'public:journal:journal_logo' article.issue.journal.code %}{% endif %}">
<meta name="twitter:description" content="{% blocktrans with journal=article.issue.journal.name|safe %}Un article de la revue {{ journal }}, diffusée par la plateforme Érudit. {% endblocktrans %}">
{% if not article.issue.is_published %}
<meta name="robots" content="noindex">
{% endif %}
<!-- Google Scholar -->
{% if citation_title_metadata %}
<meta name="citation_title" content="{{ citation_title_metadata }}">
{% endif %}
<meta name="citation_journal_title" content="{{ citation_journal_title_metadata }}">
<meta name="citation_journal_abbrev" content="{{ article.issue.journal.code }}">
<meta name="citation_online_date" content="{{ article.issue.date_published|date:'Y/m/d' }}">
<meta name="citation_abstract_html_url" content="http://id.erudit.org/iderudit/{{ article.localidentifier }}" />
{% for author in article.authors %}
{% if author.firstname and author.lastname %}
<meta name="citation_author" content="{{ author.lastname }}, {{ author.firstname }}" />
{% elif author.othername %}
<meta name="citation_author" content="{{ author.othername }}" />
{% endif %}
{% if author.email %}
<meta name="citation_author_email" content="{{ author.email }}" />
{% endif %}
{% for aff in author.affiliations %}
<meta name="citation_author_institution" content="{{ aff }}" />
{% endfor %}
{% endfor %}
{% if meta_abstracts %}
{% for abstract in meta_abstracts %}
<meta name="citation_abstract" lang="{{ abstract.lang }}" content="{{ abstract.content }}" />
{% endfor %}
{% endif %}
<meta name="citation_language" content="{{ article.language }}" />
{% if article.first_page %}
<meta name="citation_firstpage" content="{{ article.first_page }}" />
{% endif %}
{% if article.last_page %}
<meta name="citation_lastpage" content="{{ article.last_page }}" />
{% endif %}
{% if article.issue.journal.issn_print %}
<meta name="citation_issn" content="{{ article.issue.journal.issn_print }}" />
{% endif %}
{% if article.issue.journal.issn_web %}
<meta name="citation_issn" content="{{ article.issue.journal.issn_web }}" />
{% endif %}
{% if article.issue.volume %}
<meta name="citation_volume" content="{{ article.issue.volume }}" />
{% endif %}
{% if article.issue.number %}
<meta name="citation_issue" content="{{ article.issue.number }}" />
{% endif %}
{% if not article.issue.embargoed %}
<meta name="citation_fulltext_world_readable" content="" />
{% endif %}
<meta name="citation_publication_date" content="{{ article.issue.year }}" />
<meta name="citation_publisher" content="{{ article.publisher_name }}" />
{% if article.doi %}<meta name="citation_doi" content="{{ article.doi }}" />{% endif %}
{% if article.processing == 'C' %}
<meta name="citation_html_url" content="{{ request.is_secure|yesno:"https,http" }}://{{ request.site.domain }}{% url 'public:journal:article_detail' journal_code=article.issue.journal.code issue_slug=article.issue.volume_slug issue_localid=article.issue.localidentifier localid=article.localidentifier %}" />
{% endif %}
{% if article.fedora_object.pdf.exists %}
<meta name="citation_pdf_url" content="{{ request.is_secure|yesno:"https,http" }}://{{ request.site.domain }}{% url 'public:journal:article_raw_pdf' journal_code=article.issue.journal.code issue_slug=article.issue.volume_slug issue_localid=article.issue.localidentifier localid=article.localidentifier %}" />
{% endif %}
{% for keywords_lang in article.keywords %}
<meta name="citation_keywords" lang="{{ keywords_lang.lang }}" content="{% for k in keywords_lang.keywords %}{{ k }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
{% endfor %}
{% for reference in citation_references %}
<meta name="citation_reference" content="{{ reference.title}}" />
{% endfor %}
{% endcache %}
{% endblock meta_tags %}

{% block structured_data %}
{{ block.super }}
{% cache cache_timeout "public_article_detail_structured_data" article.localidentifier LANGUAGE_CODE %}
{% include "public/journal/partials/article_structured_data.html" %}
{% endcache %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_detail' article.issue.journal.code %}",
      "name": "{{ article.issue.journal.name }}"
    }
  },{
    "@type": "ListItem",
    "position": 4,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:issue_detail' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier %}",
      "name": "{{ article.issue.volume_title_with_pages }}"
    }
  },{
    "@type": "ListItem",
    "position": 5,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:article_detail' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier article.localidentifier %}",
      "name": "{{ citation_title_metadata }}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_class %}public static-header{% endblock body_class %}
{% block body_id %}article_detail{% endblock body_id %}
{% block data_controller %}public:journal:article_detail{% endblock data_controller %}

{% block header_class %}static{% endblock header_class %}

{% block breadcrumb %}
{{ block.super }}
<li>
  <a href="{% url 'public:journal:journal_list' %}">{% trans "Revues" %}</a>
</li>
<li>
  <a href="{% url 'public:journal:journal_detail' article.issue.journal.code %}">{{ article.issue.journal.name }}</a>
</li>
<li>
  <a href="{% url 'public:journal:issue_detail' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier %}{% if ticket %}?ticket={{ ticket }}{% endif %}">
   {% if article.issue.html_title %}
   {{ article.issue.html_title|striptags|safe|truncatewords_html:10 }}
   {% else %}
   {{ article.issue.volume_title_with_pages }}
   {% endif %}
  </a>
</li>
<li>
  <a href="{% url 'public:journal:article_detail' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier article.localidentifier %}{% if ticket %}?ticket={{ticket}}{% endif %}">{{ citation_title_metadata|truncatewords_html:10 }}</a>
</li>
{% endblock breadcrumb %}

{% block content %}
{# article footer with related articles #}
{% if related_articles %}
<footer class="container related-articles">
  <h2>{% trans "Autres articles de ce numéro" %}</h2>
  <ul class="row">
    {% for related_article in related_articles %}
    {% cache cache_timeout "public_article_detail_related_article" related_article.localidentifier LANGUAGE_CODE %}
    <li class="related-article col-sm-6 col-md-3">
      <a href="{% url 'public:journal:article_detail' journal_code=related_article.issue.journal.code issue_slug=article.issue.volume_slug issue_localid=related_article.issue.localidentifier localid=related_article.localidentifier %}">
        <p class="related-article-title">{{ related_article|format_article_html_title }}</p>
        {% if related_article.authors.all|length > 0 %}
        <p class="related-article-authors">{% trans 'Par' %}
          {% for author in related_article.authors.all %}{% if forloop.first %}{% else %}{% if forloop.last %} {% trans 'et' %} {% else %}, {% endif %}{% endif %}{% if author.firstname and author.lastname %}{{ author.firstname }} {{ author.lastname }}{% elif author.othername %}{{ author.othername }}{% endif %}{% endfor %}
        </p>
        {% endif %}
      </a>
    </li>
    {% endcache %}
    {% endfor %}
  </ul>

</footer>
{% endif %}
{% endblock content %}
