{% extends "public/journal/article_base.html" %}
{% load i18n staticfiles %}
{% load public_journal_tags %}
{% load cache %}

{% block structured_data %}
{{ block.super }}
{% cache FOREVER_TTL "public_article_detail_structured_data" article.id LANGUAGE_CODE %}
{% include "public/journal/partials/article_structured_data.html" %}
{% endcache %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_detail' article.issue.journal.code %}",
      "name": "{{ article.issue.journal.name }}"
    }
  },{
    "@type": "ListItem",
    "position": 4,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:issue_detail' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier %}",
      "name": "{{ article.issue.volume_title_with_pages }}"
    }
  },{
    "@type": "ListItem",
    "position": 5,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:article_detail' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier article.localidentifier %}",
      "name": "{{ article.title }}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block content %}
<main
    class="container"
    id="article-{{ article.id }}"
    data-document-id="{{ article.id }}"
    {% if article.id in request.saved_citations %}data-is-in-citation-list="true"{% else %}data-is-in-citation-list="false"{% endif %}
    role="main"
  >
  {% if not only_summary %}
  {% if previous_article %}
  <a href="{% url 'public:journal:article_detail' journal_code=previous_article.issue.journal.code issue_slug=previous_article.issue.volume_slug issue_localid=previous_article.issue.localidentifier localid=previous_article.localidentifier %}" class="pagination-arrow previous-page">
    <span class="hint--bottom-right hint--no-animate" data-hint="{{ previous_article.title }}">
      <span class="ion ion-ios-arrow-left"></span>
    </span>
  </a>
  {% endif %}
  {% if next_article %}
  <a href="{% url 'public:journal:article_detail' journal_code=next_article.issue.journal.code issue_slug=next_article.issue.volume_slug issue_localid=next_article.issue.localidentifier localid=next_article.localidentifier %}" class="pagination-arrow next-page">
    <span class="hint--bottom-left hint--no-animate" data-hint="{{ next_article.title }}">
      <span class="ion ion-ios-arrow-right"></span>
    </span>
  </a>
  {% endif %}
  {% else %}
  {% if previous_article %}
  <a href="{% url 'public:journal:article_summary' journal_code=previous_article.issue.journal.code issue_slug=previous_article.issue.volume_slug issue_localid=previous_article.issue.localidentifier localid=previous_article.localidentifier %}" class="pagination-arrow previous-page">
    <span class="hint--bottom-right hint--no-animate" data-hint="{{ previous_article.title }}">
      <span class="ion ion-ios-arrow-left"></span>
    </span>
  </a>
  {% endif %}
  {% if next_article %}
  <a href="{% url 'public:journal:article_summary' journal_code=next_article.issue.journal.code issue_slug=next_article.issue.volume_slug issue_localid=next_article.issue.localidentifier localid=next_article.localidentifier %}" class="pagination-arrow next-page">
    <span class="hint--bottom-left hint--no-animate" data-hint="{{ next_article.title }}">
      <span class="ion ion-ios-arrow-right"></span>
    </span>
  </a>
  {% endif %}
  {% endif %}

  {% cache FOREVER_TTL "public_article_detail_content" article.id article_access_granted in_citation_list LANGUAGE_CODE %}
  {% if article.publication_allowed_by_authors %}
    {# XSL transformation article render #}
    {% render_article article %}
  {% else %}
    <div class="alert alert-warning">
      {% trans "La diffusion de cet article sur Érudit n'a pas été autorisée par l'auteur." %}
    </div>
  {% endif %}
  {% endcache %}

  {# article footer with related articles #}
  {% if related_articles %}
  <footer class="related-articles">

    <div class="row">
      <header class="col-xs-12">
        <h2>{% trans "Autres articles de ce numéro" %}</h2>
      </header>
    </div>

    <div class="row">
      {% for related_article in related_articles %}
      {% cache FOREVER_TTL "public_article_detail_related_article" related_article.id LANGUAGE_CODE %}
      <article class="related-article col-sm-6 col-md-3">
        <a href="{% url 'public:journal:article_detail' journal_code=related_article.issue.journal.code issue_slug=article.issue.volume_slug issue_localid=related_article.issue.localidentifier localid=related_article.localidentifier %}">
          <h4>{{ related_article.title }}</h4>
          {% if related_article.authors.all|length > 0 %}
          <footer class="meta">
            <h5>{% trans 'Par' %} {{ related_article.authors.all|join:", " }}</h5>
          </footer>
          {% endif %}
        </a>
      </article>
      {% endcache %}
      {% endfor %}
    </div>

  </footer>
  {% endif %}

</main>

{% cache FOREVER_TTL "public_article_detail_citation" article.id LANGUAGE_CODE %}
<div class="hidden">
  {% include "public/journal/partials/article_citation_modal_content.html" %}
</div>
{% endcache %}

{% endblock content %}
