{% extends "public/journal/article_base.html" %}
{% load adv_cache i18n public_journal_tags staticfiles %}

{% block link_rel_tags %}
  {% if previous_article %}
    <link rel="prev" href="{% url 'public:journal:article_detail' journal_code=previous_article.issue.journal.code issue_slug=previous_article.issue.volume_slug issue_localid=previous_article.issue.localidentifier localid=previous_article.localidentifier %}{% if ticket %}?ticket={{ticket}}{% endif %}">
  {% endif %}
  {% if next_article %}
    <link rel="next" href="{% url 'public:journal:article_detail' journal_code=next_article.issue.journal.code issue_slug=next_article.issue.volume_slug issue_localid=next_article.issue.localidentifier localid=next_article.localidentifier %}{% if ticket %}?ticket={{ticket}}{% endif %}">
  {% endif %}
  {{ block.super }}
{% endblock link_rel_tags %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_detail' article.issue.journal.code %}",
      "name": "{{ article.issue.journal.name }}"
    }
  },{
    "@type": "ListItem",
    "position": 4,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:issue_detail' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier %}",
      "name": "{{ article.issue.volume_title_with_pages }}"
    }
  },{
    "@type": "ListItem",
    "position": 5,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:article_detail' article.issue.journal.code article.issue.volume_slug article.issue.localidentifier article.localidentifier %}",
      "name": "{{ citation_title_metadata }}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block content %}
{% csrf_token %}
{# Article's detail content is cached for 1 day based on the article localidentifier, #}
{# the issue published status, whether it is saved in the citation list, #}
{# whether the access is granted and the current language code. #}
{# If the issue is not published, the cache timeout is 0. #}
{% cache cache_timeout "public_article_detail" article.localidentifier article.issue.is_published in_citation_list content_access_granted LANGUAGE_CODE %}
<main
    class="container"
    id="article-{{ article.localidentifier }}"
    data-document-id="{{ article.solr_id }}"
    {% if article.solr_id in request.saved_citations %}data-is-in-citation-list="true"{% else %}data-is-in-citation-list="false"{% endif %}
    role="main"
  >
  {{ view.render_xml_contents }}
</main>

{% include "public/journal/partials/article_footer.html" %}

<div class="hidden">
  {% include "public/journal/partials/article_citation_modal_content.html" %}
</div>
{% endcache %}
{% endblock content %}
