{% extends "public/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load cache %}

{% block data_controller %}public:journal:issue_detail{% endblock data_controller %}

{% block zone_title %}{{ journal.name }}{% endblock %}

{% block page_title %}{% if issue.erudit_object.html_theme %}{{ issue.erudit_object.html_theme|safe }}. {% endif %}{{ issue.volume_title_with_pages }} - {{ issue.journal.name }}{% endblock page_title %}

{% block meta_tags %}
<!-- Facebook / Open Graph -->
<meta property="fb:app_id" content="128099979787">
<meta property="og:url" content="{{ request.build_absolute_uri|urlencode }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ issue.erudit_object.html_theme|safe }}">
<meta property="og:site_name" content="Érudit">
<meta property="og:locale" content="fr_CA">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@eruditorg">
<meta name="twitter:url" content="{{ request.build_absolute_uri|urlencode }}">
<meta name="twitter:title" content="{{ issue.erudit_object.html_theme|safe }} – Érudit">
{% endblock meta_tags %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_detail' issue.journal.code %}",
      "name": "{{ issue.journal.name }}"
    }
  },{
    "@type": "ListItem",
    "position": 4,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:issue_detail' issue.journal.code issue.volume_slug issue.localidentifier %}",
      "name": "{{ issue.volume_title_with_pages }}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block breadcrumb %}{{ block.super }}
  / <a href="{% url 'public:journal:journal_list' %}">{% trans "Revues" %}</a>
  / <a href="{% url 'public:journal:journal_detail' journal.code %}">{{ issue.journal.name }}</a>
  / <a href="{% url 'public:journal:issue_detail' issue.journal.code issue.volume_slug issue.localidentifier %}">
    {% if issue.erudit_object.html_theme %}
    {{ issue.erudit_object.html_theme|safe|truncatechars:50 }}
    {% else %}
    {{ issue.volume_title_with_pages }}
    {% endif %}
  </a>
{% endblock %}

{% block content %}

{% trans "inconnu" as i18n_unknown %}

<div id="issue_detail">
  <div id="id_articles_saved_citation_list_metadata">
    {% for article in articles %}
    <div id="article-{{ article.id }}" data-document-id="{{ article.id }}" {% if article.id in request.saved_citations %}data-is-in-citation-list="true"{% else %}data-is-in-citation-list="false"{% endif %}></div>
    {% endfor %}
  </div>


  <div class="container">
    <div class="row">

      {# Journal information (on right side except mobile) #}
      <aside class="col-sm-push-9 col-sm-3">
        {% cache FOREVER_TTL "public_issue_detail_journal_info" issue.journal.id LANGUAGE_CODE %}
        <div class="sidebar-block clearfix issue_detail--resume">

          {% if issue.has_coverpage %}
          <div>
            <a href="{% url 'public:journal:journal_detail' journal.code %}">
              <img src="{% url 'public:journal:issue_coverpage' issue.journal.code issue.volume_slug issue.localidentifier %}" class="img-responsive" alt="{% trans 'Couverture de' %} {% if issue.erudit_object.html_theme %}{{ issue.erudit_object.html_theme|safe }}, {% endif %}
              {{ issue.volume_title_with_pages }} {% trans 'de la revue' %} {{ journal.name }}" />
            </a>
          </div>
          {% endif %}

          <header>
            <div class="mono-space">{% trans "De la revue" %}</div>
            <h2 class="h4 no-margin"><a href="{% url 'public:journal:journal_detail' journal.code %}">{{ journal.name }}</a></h2>
          </header>

        </div>

        {# journal meta infos #}
        <div class="sidebar-block journal-meta">

          <h2>{% trans "Fiche" %}</h2>

          <dl class="journal-meta--list">

            {% if journal.members.all %}
            <dt class="mono-space">{% trans "Direction" %}</dt>
            {% for member in journal.members.all %}
            <p>{{ member.get_full_name }}</p>
            {% endfor %}
            {% endif %}

            {% if journal.publishers.all %}
            <dt class="mono-space">
              {% blocktrans count total=journal.publishers.all|length %}
              Éditeur
              {% plural %}
              Éditeurs
              {% endblocktrans %}
            </dt>
            {% for publisher in journal.publishers.all %}
            <dd>{{ publisher.name }}</dd>
            {% endfor %}
            {% endif %}

            {% if journal.issn_print or journal.issn_web %}
            <dt class="mono-space">{% trans "ISSN" %}</dt>
            {% if journal.issn_print %}
            <dd><span class="mono-space">{{ journal.issn_print }}</span> ({% trans "imprimé" %})</dd>
            <dd><span class="mono-space">{{ journal.issn_web }}</span> ({% trans "numérique" %})</dd>
            {% endif %}
            {% endif %}

            {% if journal.issues_per_year %}
            <dt class="mono-space">{% trans "Fréquence" %}</dt>
            <dd>
              {% blocktrans count issues_per_year=journal.issues_per_year %}
              {{ issues_per_year }} numéro par année
              {% plural %}
              {{ issues_per_year }} numéros par année
              {% endblocktrans %}
            </dd>
            {% endif %}

            <dt class="mono-space">{% trans "Période de publication" %}</dt>
            <dd>{{ journal.erudit_object.publication_period }}</dd>


            {% if journal.first_issue %}
            <dt class="mono-space">{% trans "Disponible dans Érudit depuis" %}</dt>
            <dd>{{ journal.first_issue.date_published|date:"Y" }}</dd>
            {% endif %}

            <dt class="mono-space">{% trans "Type de support" %}</dt>
            <dd>
              {% if journal.paper %}
              {% trans "Numérique et papier" %}
              {% else %}
              {% trans "Numérique" %}
              {% endif %}
            </dd>

            <dt class="mono-space">{% trans "Politique d'accès" %}</dt>
            {% if journal.open_access %}
            <dd>{% trans "Disponible en libre accès" %}</dd>
            {% else %}
            <dd>{% trans "Non-disponible en libre accès" %}</dd>
            {% endif %}

            {% if journal.disciplines.all|length > 0 %}
            <dt class="mono-space">
              {% blocktrans count journal.disciplines.all|length as disciplines_count %}
              Discipline
              {% plural %}
              Disciplines
              {% endblocktrans %}
            </dt>
            <dd>
              {% for discipline in journal.disciplines.all %}
              <a href="{% url 'public:journal:journal_list' %}?sorting=disciplines#discipline-{{ discipline.code }}">{{ discipline.name }}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </dd>
            {% endif %}
          </dl>
          <div class="journal-meta--list">
            <img src="{% url 'public:journal:journal_logo' journal.code %}" alt="" class="img-responsive journal_logo" />
          </div>
        </div>
        {% endcache %}
        <div class="sidebar-block">
          {% include "public/partials/subscription_sponsor_badge.html" %}
        </div>
      </aside>

      {% cache LONG_TTL "public_issue_detail_summary" issue.id LANGUAGE_CODE %}
      {# Issue summary #}
      <section class="col-sm-9 col-sm-pull-3">

        <header class="page-header-main">
            <p class="title-tag">{{ issue.journal.name }}</p>

            <h1>
              {% for k, theme in issue.erudit_object.themes.items %}
              {% if theme.html_name and theme.html_subname %}
                <span>{{ theme.html_name|safe }}: {{ theme.html_subname|safe }}</span>
              {% else %}
                <span>{{ theme.html_name|safe }}</span>
              {% endif %}
              {% for k, paral in theme.paral.items %}
                / {% if paral.name and paral.subname %}{{ paral.name }}: {{ paral.subname }}{% else %}{{ paral.name }}{% endif %}
              {% endfor %}
              {% endfor %}
              <span>{{ issue.volume_title_with_pages }}</span>
            </h1>
            <h2>{% trans "Sommaire" %} ({{ articles|length }} {% trans "articles" %})</h2>
        </header>

        {% if articles_per_section %}

        {% for k, section1 in articles_per_section.items %}
        {% if section1.titles.main %}
        <h3 class="title-tag section">
          {{ section1.titles.main }}
          {% for paral in section1.titles.paral.values %}/ {{ paral }}{% endfor %}
        </h3>
        {% endif %}

        <ol class="issue_detail--articles unstyled section-1">
        {% for article in section1.objects %}
        {% include "public/journal/partials/issue_detail_article_item.html" %}
        {% endfor %}
        </ol>

        {% if section1.section2 %}
          {% for k, section2 in section1.section2.items %}
          {% if section2.titles.main %}
          <h4 class="title-tag section">
            {{ section2.titles.main }}
            {% for paral in section2.titles.paral.values %}/ {{ paral }}{% endfor %}
          </h4>
          {% endif %}

          <ol class="issue_detail--articles unstyled section-2">
          {% for article in section2.objects %}
          {% include "public/journal/partials/issue_detail_article_item.html" %}
          {% endfor %}
          </ol>

          {% if section2.section3 %}
            {% for k, section3 in section2.section3.items %}
            {% if section3.titles.main %}
            <h5 class="title-tag section">
              {{ section3.titles.main }}
              {% for paral in section3.titles.paral.values %}/ {{ paral }}{% endfor %}
            </h5>
            {% endif %}

            <ol class="issue_detail--articles unstyled section-3">
            {% for article in section3.objects %}
            {% include "public/journal/partials/issue_detail_article_item.html" %}
            {% endfor %}
            </ol>

            {% endfor %}
          {% endif %}

          {% endfor %}
        {% endif %}

        {% endfor %}

        {% else %}

          {# This is displayed only if the Fedora repository is unavailable #}

          <ol class="issue_detail--articles unstyled section-1">
          {% for article in articles %}
          {% include "public/journal/partials/issue_detail_article_item.html" %}
          {% endfor %}
          </ol>

        {% endif %}

      </section>
      {% endcache %}

    </div>
  </div>

  {% cache FOREVER_TTL "public_issue_detail_back_issues" issue.id LANGUAGE_CODE %}
  <section class="back-issues">

      <div class="container">

        <div class="row">

          <header class="back-issues--header col-xs-12">
            <h3 class="h2 no-margin">
              {% trans "Anciens numéros de" %} <em>{{ journal.name }}</em><br/>
              <small>({{ journal.published_issues|length }} numéros)</small>
            </h3>
          </header>

        </div>

        <div class="row">
          <ul class="issue-list">
            {% for published_issue in journal.published_issues|dictsortreversed:"year"|slice:":4" %}
            {% if published_issue != issue %}
            <li class="issue-list-item--inverted col-xs-6 col-sm-3">
              <a href="{% url 'public:journal:issue_detail' published_issue.journal.code published_issue.volume_slug published_issue.localidentifier %}">
                {% if issue.has_coverpage %}<img src="{% url 'public:journal:issue_coverpage' published_issue.journal.code published_issue.volume_slug published_issue.localidentifier %}" class="img-responsive" alt="{{ published_issue.name }}" />{% endif %}
                <header>
                  <h5>
                    <a href="{% url 'public:journal:issue_detail' published_issue.journal.code published_issue.volume_slug published_issue.localidentifier %}">
                      <span class="issue-list--volume">{% with title=published_issue.volume_title %}{{ title }}{% endwith %}</span>
                      {% if published_issue.erudit_object.html_theme %}<br/><span class="issue-list--theme">{{ published_issue.erudit_object.html_theme|safe }}</span>{% endif %}
                    </a>
                  </h5>
                </header>
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>

      </div>

  </section>
  {% endcache %}


</div>

{% endblock %}
