{% extends "public/journal/journal_base.html" %}
{% load adv_cache i18n model_formatters staticfiles %}

{% block title %}{% if issue.title %}{{ issue.title|safe }}.{% else %}{{ issue.volume_title }} –{% endif %} {{ issue.journal.name|safe }}{% endblock title %}

{% block meta_description %}{% blocktrans with journal=issue.journal.name|safe volume_title=issue.volume_title|lower %}Consultez le {{ volume_title }} de la revue {{ journal }} sur Érudit.{% endblocktrans %} {% trans 'Discipline : ' %}{% for discipline in issue.journal.disciplines.all %}{{ discipline.name }}{% if not forloop.last %}, {% endif %}{% endfor %}.{% endblock meta_description %}

{% block meta_tags %}
<!-- Facebook / Open Graph -->
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:title" content="{% if issue.title %}{{ issue.title|safe }}. {% endif %}{{ issue.volume_title }} – {{ issue.journal.name|safe }}">
<meta property="og:site_name" content="Érudit">
<meta property="og:locale" content="{{ language_code }}_CA">
<meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% if issue.has_coverpage %}{% url 'public:journal:issue_coverpage' issue.journal.code issue.volume_slug issue.localidentifier %}{% else %}{% url 'public:journal:journal_logo' issue.journal.code %}{% endif %}">
<meta property="og:description" content="{% blocktrans with journal=issue.journal.name|safe %}Consultez le sommaire de ce numéro de la revue {{ journal }} sur la plateforme Érudit.{% endblocktrans %} {% trans 'Discipline : ' %}{% for discipline in issue.journal.disciplines.all %}{{ discipline.name }}{% if not forloop.last %}, {% endif %}{% endfor %}.">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@eruditorg">
<meta name="twitter:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:title" content="{% if issue.title %}{{ issue.title|safe }}. {% endif %}{{ issue.volume_title }} – {{ issue.journal.name|safe }} – Érudit">
<meta name="twitter:image:alt" content="{% if issue.has_coverpage %}{% trans 'Couverture pour ce numéro de la revue' %}{% else %}{% trans 'Logo pour' %}{% endif %} {{ journal.name|safe }}">
<meta name="twitter:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% if issue.has_coverpage %}{% url 'public:journal:issue_coverpage' issue.journal.code issue.volume_slug issue.localidentifier %}{% else %}{% url 'public:journal:journal_logo' issue.journal.code %}{% endif %}">
<meta name="twitter:description" content="{% blocktrans with journal=issue.journal.name|safe %}Consultez le sommaire de ce numéro de la revue {{ journal }} sur la plateforme Érudit.{% endblocktrans %} {% trans 'Discipline : ' %}{% for discipline in issue.journal.disciplines.all %}{{ discipline.name }}{% if not forloop.last %}, {% endif %}{% endfor %}.">
{% if not issue.is_published %}
<meta name="robots" content="noindex">
{% endif %}
{% endblock meta_tags %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_detail' issue.journal.code %}",
      "name": "{{ issue.journal.name }}"
    }
  },{
    "@type": "ListItem",
    "position": 4,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:issue_detail' issue.journal.code issue.volume_slug issue.localidentifier %}",
      "name": "{{ issue.volume_title_with_pages }}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_id %}issue_detail{% endblock body_id %}
{% block data_controller %}public:journal:issue_detail{% endblock data_controller %}

{% block breadcrumb %}{{ block.super }}
<li>
  <a href="{% url 'public:journal:issue_detail' issue.journal.code issue.volume_slug issue.localidentifier %}">
    {% if issue.html_title %}
    {{ issue.html_title|striptags|safe|truncatewords_html:10 }}
    {% else %}
    {{ issue.volume_title_with_pages }}
    {% endif %}
  </a>
</li>
{% endblock breadcrumb %}

{% block inner_main %}
{% csrf_token %}
{% trans "inconnu" as i18n_unknown %}
<div id="id_articles_saved_citation_list_metadata">
  {% for article in articles %}
  <div id="article-{{ article.localidentifier }}" data-document-id="{{ article.solr_id }}" {% if article.solr_id in request.saved_citations %}data-is-in-citation-list="true"{% else %}data-is-in-citation-list="false"{% endif %}></div>
  {% endfor %}
</div>

{# If the issue is published, the issue detail will be cached forever (TTL = None) or until the cache content version change. #}
{# If the issue is not published, the issue detail will not be cached (TTL = 0). #}
{# The issue's localidentifier is used as a primary key for the cache key. #}
{# The LANGUAGE_CODE argument is used to generate the cache key hash. #}
{# The issue's update time from Fedora is used as the cache content version. #}
{% cache cache_timeout "public_issue_detail" issue.localidentifier LANGUAGE_CODE issue.fedora_updated %}
{# Issue summary #}
<main role="main" class="col-sm-8 col-md-7">
  <header class="main-header">
    <p class="main-header__meta">
      <a href="{% url 'public:journal:journal_detail' journal.code %}" title="{% trans 'Consulter la revue' %}">
        {{ journal_title|safe }}
        {% if journal_subtitle %}
        <br />
        <span class="journal-subtitle">{{ journal_subtitle|safe }}</span>
        {% endif %}
      </a>
      {# Peer review seal #}
      {% if issue.journal.type.code == 'S' %}
      <span class="hint--bottom-left hint--no-animate" data-hint="{% trans 'Tous les articles de cette revue sont soumis à un processus d’évaluation par les pairs.' %}">
        <i class="icon ion-ios-checkmark-circle"></i>
      </span>
      {% endif %}
    </p>
    <h1>
      <span class="issue-number">{{ issue.volume_title }}
        {# Embargoed / locked issue #}
        {% if issue.embargoed and not content_access_granted %}
        <span class="hint--bottom-left hint--no-animate" data-hint="{% trans 'L’accès aux numéros courants de cette revue nécessite un abonnement.' %}">
          <i class="icon ion-ios-lock"></i>
        </span>
        {% endif %}
      </span>
      {% for theme in themes %}
      {% for name in theme.names %}
      <span class="theme-title">
        {{ name|safe }}
      </span>
      {% endfor %}
      {% if theme.editors %}
      <span class="theme-guest-editor">
        {% trans 'Sous la direction de' %} {{ theme.editors|person_list|safe }}
      </span>
      {% endif %}
      {% endfor %}
      {% if guest_editors %}
      <span class="theme-guest-editor">{% trans 'Sous la direction de' %} {{ guest_editors|person_list|safe }}</span>
      {% endif %}
    </h1>
    {% if reader_url%}
    <p><a href="{{ reader_url }}" class="btn btn-secondary">{% trans 'Feuilleter ce numéro' %}</a></p>
    {% endif %}
    {% if notegens %}
    <div class="row">
      {% for notegen in notegens %}
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-6 notegen">
        {{ notegen.content|safe }}
        {% if notegen.authors %}
        <p>{{ notegen.authors|safe }}</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <h2 class="toc__title">
      {% trans "Sommaire" %} ({{ articles|length }} {% trans "articles" %})
    </h2>
    {% if issue.is_external %}
    <div class="alert alert-info">
      <p><i class="icon ion-ios-information-circle alert-info-icon"></i> {% trans 'La lecture de ces articles nécessite une redirection vers le site de la revue.' %}</p>
    </div>
    {% endif %}
  </header>
  {% include "public/journal/partials/issue_detail_section.html" %}

  {% if issue.copyrights %}
    <p><small>{{ issue.copyrights|safe }}</small></p>
    {% for license in issue.licenses %}
      <p><a href="{{ license.href }}" target="_blank"><img src="{{ license.img }}" alt="{% trans 'License' %}" /></a></p>
    {% endfor %}
  {% else %}
    {% for copyright in issue.erudit_object.droitsauteur %}
      {% if copyright.text %}
        <p><small>{{ copyright.text|safe }}</small></p>
      {% elif copyright.href and copyright.img %}
        <p><a href="{{ copyright.href }}" target="_blank"><img src="{{ copyright.img }}" alt="{% trans 'License' %}" /></a></p>
      {% endif %}
    {% endfor %}
  {% endif %}
</main>
{% endcache %}
{% endblock inner_main %}

{% block aside_issue %}
<div class="sidebar-block clearfix latest-issue">
  <h2>
    <a href="{% url 'public:journal:journal_detail' journal.code %}" title="{% trans 'Consulter la revue' %}">
      {{ journal_title|safe }}
      {% if journal_subtitle %}
      <br />
      <span class="journal-subtitle">{{ journal_subtitle|safe }}</span>
      {% endif %}
    </a>
  </h2>
  <p>{{ issue.volume_title_with_pages }}</p>
  <p>{% trans "Diffusion numérique" %} : {{ issue.date_published }}</p>
  {% if issue.has_coverpage %}
  <div>
    <img src="{% url 'public:journal:issue_coverpage' issue.journal.code issue.volume_slug issue.localidentifier %}" class="img-responsive issue-cover" alt="{% trans 'Couverture de' %} {% if issue.title %}{{ issue.title|safe }}, {% endif %}
      {{ issue.volume_title_with_pages }} {{ journal.name }}" />
  </div>
  {% endif %}
  <p>
    <a href="{% url 'public:journal:journal_detail' journal.code %}#back-issues" class="btn btn-primary see-issues-btn" title="{% trans 'Historique de la revue' %}">
      {% trans "Voir tous les numéros" %}
    </a>
  </p>
</div>
{% endblock aside_issue %}

{% block inner_footer %}
{# The issue detail will be cached forever (TTL = None) or until the cache content version change. #}
{# The issue's localidentifier is used as a primary key for the cache key. #}
{# The LANGUAGE_CODE argument is used to generate the cache key hash. #}
{# The issue's update time from Fedora is used as the cache content version. #}
{% cache None "public_issue_detail_back_issues" issue.localidentifier LANGUAGE_CODE issue.fedora_updated %}
<section class="back-issues">
  <div class="container">
    <header class="back-issues--header col-xs-12">
      <h3>
        {% trans "Anciens numéros de" %} <em>{{ journal.name }}</em><br/>
        <a href="{% url 'public:journal:journal_detail' journal.code %}#back-issues">
          <small>({{ journal.published_issues|length }} {% trans 'numéros' %})</small>
        </a>
      </h3>
    </header>
    <div class="row">
      {% for published_issue in journal.published_issues|dictsortreversed:"year"|slice:":4" %}
      {% if published_issue != issue %}
      <article class="col-xs-6 col-sm-3">
        <a href="{% url 'public:journal:issue_detail' published_issue.journal.code published_issue.volume_slug published_issue.localidentifier %}" class="card">
          {% if issue.has_coverpage %}
          <img src="{% url 'public:journal:issue_coverpage' published_issue.journal.code published_issue.volume_slug published_issue.localidentifier %}" alt="{% trans 'Couverture représentant ' %}{% if published_issue.title %}{% trans 'la thématique ' %}{{ published_issue.title|safe }}{% else %}{% trans 'le ' %}{{ published_issue.volume_title }}{% endif %}" class="img-responsive card__figure" />
          {% endif %}
          <h5 class="card__title">
            <span>{% with title=published_issue.volume_title %}{{ title }}{% endwith %}</span>
            {% if published_issue.html_title %}<br><span><strong>{{ published_issue.html_title|safe }}</strong></span>{% endif %}
          </h5>
        </a>
      </article>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
{% endcache %}
{% endblock inner_footer %}
