{% extends "public/base.html" %}
{% load adv_cache i18n static public_journal_tags %}

{% block title %}{% translate "Revues par disciplines" %}{% endblock title %}

{% block meta_description %}{% blocktranslate %}Découvrez la liste par discipline en sciences humaines et sociales des revues savantes et culturelles d'Érudit et de ses partenaires.{% endblocktranslate %}{% endblock meta_description %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% translate 'Revues' %}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block stylesheets %}
{{ block.super }}
{% if not WEBPACK_DEV_SERVER_URL %}
<link rel="stylesheet" type="text/css" href="{% static 'css/journal_list_per_disciplines.css' %}" />
{% endif %}
{% endblock stylesheets %}

{% block scripts %}
{{ block.super }}
{% if not WEBPACK_DEV_SERVER_URL %}
<script src="{% static 'js/journal_list_per_disciplines.js' %}"></script>
{% endif %}
{% endblock scripts %}

{% block body_class %}{{ block.super }} journal_list_per_disciplines{% endblock body_class %}
{% block body_id %}journal_list_per_disciplines{% endblock body_id %}
{% block data_controller %}public:journal:journal_list_per_disciplines{% endblock data_controller %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'public:journal:journal_list' %}?sorting=disciplines">{% translate "Revues" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
{# Journal list per disciplines is cached for one day based on the language code. #}
{% cache LONG_TTL "public_journal_list" "per_disciplines" LANGUAGE_CODE "v1" %}
<main>
  <header class="main-header sorting-index container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1>{% translate "Revues par disciplines" %}</h1>
          </div>
          <div class="col-md-offset-1 col-md-3 col-sm-offset-3 col-sm-6">
            <nav class="text-right nav-btn">
              <a href="{% url 'public:journal:journal_list' %}?sorting=name" class="btn btn-secondary">{% translate "Revues par ordre alphabétique" %}</a>
            </nav>
          </div>
        </div>
        <div class="row">
          <nav class="col-xs-12 index">
            <ul class="discipline-nav">
              {% for objects_group in sorted_objects %}
                {% if not objects_group.key %}
                  <li><a href="#section-void">{% translate "Autres" %}</a></li>
                {% else %}
                  <li><a href="#{{ objects_group.key }}">{{ objects_group.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
  </header>
  {% for objects_group in sorted_objects %}
  <section class="container-fluid alternating-row">
    <a id="{% if not objects_group.key %}section-void{% else %}{{ objects_group.key }}{% endif %}" class="invisible"></a>
    <header class="row alternating-row__header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 title">
            <h2>
              {% if not objects_group.key %}
                {% translate "Autres" %}
              {% else %}
                {{ objects_group.name }}
              {% endif %}
              <a href="#top" class="scroll-top" title="{% translate 'Retourner en haut' %}"><span class="arrow arrow-bar is-top"></span></a>
            </h2>
          </div>
        </div>
      </div>
    </header>
    {% for collection_group in objects_group.collections %}
    <section class="container">
      <ul class="row alternating-row__list">
        <li class="col-xs-6 col-md-3 alternating-row__list-item">
          <h3 class="alternating-row__list-title {% if collection_group.key.code == "erudit" %}collection-erudit{% endif %}">
            <strong>{{ collection_group.key.name }} ({{ collection_group.objects|length }})</strong>
            {% if collection_group.key.code == "persee" %}
            <span class="hint--bottom hint--no-animate" data-hint="{% translate 'Les revues de la collection Persée redirigent vers la plateforme du partenaire.' %}">
              <i class="icon ion-ios-help-circle"></i>
            </span>
            {% elif collection_group.key.code == "nrc" %}
            <span class="hint--bottom hint--no-animate" data-hint="{% translate 'Les revues de la collection NRC Research Press redirigent vers la plateforme du partenaire.' %}">
              <i class="icon ion-ios-help-circle"></i>
            </span>
            {% endif %}
          </h3>
        </li>
        {% for journal in collection_group.objects %}
        <li class="col-xs-6 col-md-3 journal-item alternating-row__list-item">
          <a
          {% if journal.external_url %}
          href="{% url 'public:journal:journal_external_redirect' journal.code %}"
          target="_blank"
          {% else %}
          href="{% url 'public:journal:journal_detail' journal.code %}"
          {% endif %}
          class="card">
            <h4 class="card__title">
              <span>{{ journal.formatted_title }}</span>
            </h4>
            {% if journal.open_access %}
            <div class="erudicon erudicon-open-access"></div>
            {% endif %}

            {% if journal.is_in_fedora and journal.has_logo %}
            <div class="row">
              <div class="col-xs-4 pull-right">
                {# The image's src is a transparent pixel placeholder. #}
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                  data-src="{% journal_logo_url journal %}"
                  alt="{% translate 'Logo pour'%} {{ journal.formatted_title }}"
                  class="lazyload img-responsive card__figure"
                />
              </div>
            </div>
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
    {% endfor %}
  </section>
  {% endfor %}
</main>
{% endcache %}
{% endblock content %}
