{% extends "base.html" %}
{% load cache i18n static %}

{% block title %}{% trans "Revues par disciplines" %}{% endblock title %}

{% block meta_description %}{% blocktrans %}Découvrez la liste par discipline en sciences humaines et sociales des revues savantes et culturelles d'Érudit et de ses partenaires.{% endblocktrans %}{% endblock meta_description %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_class %}{{ block.super }} journal_list_per_disciplines{% endblock body_class %}
{% block body_id %}journal_list_per_disciplines{% endblock body_id %}
{% block data_controller %}public:journal:journal_list{% endblock data_controller %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'public:journal:journal_list' %}?sorting=disciplines">{% trans "Revues" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<main>
  <header class="main-header sorting-index container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1>{% trans "Revues par disciplines" %}</h1>
          </div>
          <div class="col-md-offset-1 col-md-3 col-sm-offset-3 col-sm-6">
            <nav class="text-right nav-btn">
              <a href="{% url 'public:journal:journal_list' %}?sorting=name" class="btn btn-secondary">{% trans "Revues par ordre alphabétique" %}</a>
            </nav>
          </div>
        </div>
        <div class="row">
          <nav class="col-xs-12 index">
            <ul class="discipline-nav">
              {% for objects_group in sorted_objects %}
                {% if not objects_group.key %}
                  <li><a href="#section-void">{% trans "Autres" %}</a></li>
                {% else %}
                  <li><a href="#{{ objects_group.key }}">{{ objects_group.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
  </header>
  {% cache FOREVER_TTL "public_journal_list_disciplines" LANGUAGE_CODE %}
  {% for objects_group in sorted_objects %}
  <section class="container-fluid alternating-row">
    <a id="{% if not objects_group.key %}section-void{% else %}{{ objects_group.key }}{% endif %}" class="invisible"></a>
    <header class="row alternating-row__header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 title">
            <h2>
              {% if not objects_group.key %}
                {% trans "Autres" %}
              {% else %}
                {{ objects_group.name }}
              {% endif %}
              <a href="#top" class="scroll-top" title="{% trans 'Retourner en haut' %}">|^</a>
            </h2>
          </div>
        </div>
      </div>
    </header>
    {% for collection_group in objects_group.collections %}
    <section class="container">
      <ul class="row alternating-row__list">
        <li class="col-xs-6 col-md-3 alternating-row__list-item">
          <h3 class="alternating-row__list-title {% if collection_group.key.code == "erudit" %}collection-erudit{% endif %}">
            <strong>{{ collection_group.key.name }} ({{ collection_group.objects|length }})</strong>
            {% if collection_group.key.code == "persee" %}
            <span class="hint--bottom hint--no-animate" data-hint="{% trans 'Les revues de la collection Persée redirigent vers la plateforme du partenaire.' %}">
              <i class="icon ion-ios-help-circle"></i>
            </span>
            {% elif collection_group.key.code == "nrc" %}
            <span class="hint--bottom hint--no-animate" data-hint="{% trans 'Les revues de la collection NRC Research Press redirigent vers la plateforme du partenaire.' %}">
              <i class="icon ion-ios-help-circle"></i>
            </span>
            {% endif %}
          </h3>
        </li>
        {% for journal in collection_group.objects %}
        <li class="col-xs-6 col-md-3 journal-item alternating-row__list-item">
          <a
          {% if journal.external_url %}
          href="{% url 'public:journal:journal_external_redirect' journal.code %}"
          target="_blank"
          {% else %}
          href="{% url 'public:journal:journal_detail' journal.code %}"
          {% endif %}
          class="card">
            <h4 class="card__title">
              <span>{{ journal.name }}</span>
              {% if journal.subtitle %}
              <span><br/>{{ journal.subtitle }}</span>
              {% endif %}
            </h4>
            {% if journal.open_access %}
            <div class="erudicon erudicon-open-access"></div>
            {% endif %}
            {% if journal.provided_by_fedora %}
            <div class="row">
              <div class="col-xs-4 pull-right">
                <img src="{% url 'public:journal:journal_logo' journal.code %}" alt="{% trans 'Logo pour'%} {{ journal.name }}" class="img-responsive card__figure" />
              </div>
            </div>
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
    {% endfor %}
  </section>
  {% endfor %}
  {% endcache %}
</main>
{% endblock content %}
