{% extends "public/base.html" %}
{% load erudit_cache_tag i18n model_formatters waffle_tags public_journal_tags %}
{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'public:journal:journal_list' %}">{% trans "Revues" %}</a></li>
<li><a href="{% url 'public:journal:journal_detail' journal.code %}">{{ journal.name }}</a></li>
{% endblock breadcrumb %}

{% block scripts %}
{{ block.super }}
{% if journal_info.facebook_url %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endif %}
{% endblock scripts %}

{% block content %}
{% trans "inconnu" as i18n_unknown %}
<div class="container">
  <div class="row">
    {# Main content #}
    {% block inner_main %}{% endblock inner_main %}
    {# If the meta info issue is published, the journal's metadata will be cached for one day or until the cache content version change. #}
    {# If the meta info issue is not published, the journal's metadata will not be cached. #}
    {# The meta info issue's localidentifier is used as a primary key for the cache key. #}
    {# The directors_cache_key, editors_cache_key and the LANGUAGE_CODE arguments are use to generate the cache key hash. #}
    {# The meta info issue's update time from Fedora is used as the cache content version. #}
    {% cache cache_timeout "public_journal_base_journal_meta" primary_cache_key directors_cache_key editors_cache_key LANGUAGE_CODE meta_info_issue.fedora_updated %}
    {# Journal information sidebar #}
    <aside id="journal-meta" class="col-sm-4 col-md-offset-1 col-md-4 journal-meta">
      <h2 class="sr-only">{% trans "Plus d’informations" %}</h2>

      {# Current and back issues #}
      {% block aside_issue %}
      <section class="sidebar-block clearfix">
        {% if journal.published_issues.exists %}
        {% if current_issue %}
        <h2>{% trans "Dernier numéro" %}</h2>
        <p>
          <a href="{% url 'public:journal:issue_detail' current_issue.journal.code current_issue.volume_slug current_issue.localidentifier %}">
            {% if current_issue.html_title %}
            <span class="issue-list--theme">{{ current_issue.html_title|safe }}</span>
            <br/>
            {% endif %}
            <span class="issue-list--volume">{{ current_issue.volume_title }}</span>
          </a>
        </p>
        {% if current_issue.has_coverpage %}
        <a href="{% url 'public:journal:issue_detail' current_issue.journal.code current_issue.volume_slug current_issue.localidentifier %}">
          {# The image's src is a transparent pixel placeholder. #}
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
            data-srcset="{% issue_coverpage_url current_issue %} {{ ISSUE_COVERPAGE_AVERAGE_SIZE.width }}w"
            data-aspectratio="{{ ISSUE_COVERPAGE_AVERAGE_SIZE.width }}/{{ ISSUE_COVERPAGE_AVERAGE_SIZE.height }}"
            width="{{ ISSUE_COVERPAGE_AVERAGE_SIZE.width }}"
            height="{{ ISSUE_COVERPAGE_AVERAGE_SIZE.height }}"
            alt="{{ current_issue.title }}"
            class="lazyload img-responsive current-issue--cover issue-cover"
          />
        </a>
        {% endif %}
        {% endif %}
        {% else %}
        <h2>-> {% trans 'Numéros à venir' %}</h2>
        <div class="alert alert-info">
          <p><i class="icon ion-ios-information-circle alert-info-icon"></i> {% trans 'L’intégration de cette revue à la plateforme est en cours de finalisation.' %}</p>
        </div>
        {% endif %}
      </section>
      {% endblock aside_issue %}

      {# Explore this journal #}
      <section class="sidebar-block">
        <h2>{% trans "Explorer" %}</h2>
        <ul class="journal-explore">
          <li class="search-journal">
            <div class="search-box">
              <form action="{% url 'public:search:results' %}" method="get">
                <label for="journal-search">{% trans "Rechercher dans la revue" %}</label>
                <div class="input-group">
                  <input type="search" class="form-control" name="basic_search_term" id="journal-search" placeholder="{% trans "Recherchez par mot-clé…" %}">
                  <input type="hidden" name="journals" value="{{ journal.solr_code }}">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-secondary">
                      <span class="sr-only">{% trans 'Rechercher' %}</span>
                      <i class="icon ion-ios-search"></i>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </li>
          {% block aside_authors_list %}
          <li><a href="{% url 'public:journal:journal_authors_list' journal.code %}" class="authors-index">{% trans "Index des auteurs" %}</a></li>
          {% endblock aside_authors_list %}
          <li><a href="{% url 'public:journal:journal_articles_rss' journal.code %}">{% trans 'Fil RSS' %}</a></li>
          {% if journal_info.website_url %}
          <li><a href="{{ journal_info.website_url }}" target="_blank" rel="noopener noreferrer">{% trans "Site web" %}</a></li>
          {% endif %}
        </ul>
      </section>

      {# journal meta infos #}
      <section class="sidebar-block">
        <h2>{% trans "Fiche" %}</h2>

        <dl>

          {% if journal.type.code == 'S' %}
          <dt>{% trans "Évalué par les pairs" %}</dt>
          <dd>{% trans "Oui" %}
            <span class="hint--bottom-left hint--no-animate" data-hint="{% trans 'Tous les articles de cette revue sont soumis à un processus d’évaluation par les pairs.' %}">
              <i class="icon ion-ios-checkmark-circle"></i>
            </span>
            {% if journal.information.peer_review_process %}({{ journal.information.get_peer_review_process_display }}){% endif %}</dd>
          </dd>
          {% if not journal.charges_apc %}
          <dt>{% trans "Frais de publication (<em>APC</em>)" %}</dt>
          <dd>{% trans "Non" %}</dd>
          {% endif %}
          {% endif %}

          <dt>{% trans "Politique d'accès" %}</dt>
          {% if journal.open_access %}
          <dd>{% trans "Disponible en libre accès" %} <span class="hint--top hint--no-animate" data-hint="{% trans 'Les numéros courants et les archives de cette revue sont disponibles en libre accès.' %}"><span class="erudicon erudicon-open-access"></span></span></dd>
          {% else %}
          <dd>{% trans "Accès restreint" %} <span class="hint--top hint--no-animate" data-hint="{% trans 'L’accès aux numéros courants de cette revue nécessite un abonnement, tandis que l’ensemble de ses archives est disponible en libre accès.' %}"><i class="icon ion-ios-help-circle"></i></span></dd>
          {% endif %}

          <dt>{% trans "Archivage numérique" %}</dt>
          <dd>{% trans "Oui&nbsp;: avec" %} <a href="https://www.portico.org/" target="_blank">Portico</a></dd>

          {% if meta_info_issue %}

          {% if contributors.directors %}
            <dt>{% trans "Direction" %}</dt>
            {% for director in contributors.directors %}
              <dd>{{ director.name }}{% if director.role %} ({{ director.role }}){% endif %}</dd>
            {% endfor %}
          {% endif %}

          {% if contributors.editors %}
            <dt>{% trans "Rédaction" %}</dt>
            {% for editor in contributors.editors %}
              <dd>{{ editor.name }}{% if editor.role %} ({{ editor.role }}){% endif %}</dd>
            {% endfor %}
          {% endif %}

          {% if meta_info_issue.erudit_object.publishers %}
          <dt>
            {% blocktrans count total=meta_info_issue.erudit_object.publishers|length %}
            Éditeur
            {% plural %}
            Éditeurs
            {% endblocktrans %}
          </dt>
          {% for publisher in meta_info_issue.erudit_object.publishers %}
          <dd>{{ publisher }}</dd>
          {% endfor %}
          {% endif %}

          {% if meta_info_issue.erudit_object.issn or meta_info_issue.erudit_object.issn_num %}
          <dt>{% trans "ISSN" %}</dt>
          {% if meta_info_issue.erudit_object.issn %}
          <dd>{{ meta_info_issue.erudit_object.issn }} ({% trans "imprimé" %})</dd>
          {% endif %}
          {% if meta_info_issue.erudit_object.issn_num %}
          <dd>{{ meta_info_issue.erudit_object.issn_num }} ({% trans "numérique" %})</dd>
          {% endif %}
          {% endif %}
          {% endif %}

          {% if journal.information.frequency %}
          <dt>{% trans "Fréquence de publication" %}</dt>
          <dd>
            {% blocktrans count issues_per_year=journal.information.frequency %}
            {{ issues_per_year }} numéro par année
            {% plural %}
            {{ issues_per_year }} numéros par année
            {% endblocktrans %}
          </dd>
          {% endif %}

          {% if journal.publication_period %}
          <dt>{% trans "Période de publication" %}</dt>
          <dd>{{ journal.publication_period }}</dd>
          {% endif %}

          {% if journal.first_issue_published_on_erudit %}
          <dt>{% trans "Disponible dans Érudit depuis" %}</dt>
          <dd>{{ journal.first_issue_published_on_erudit.date_published|date:"Y" }}</dd>
          {% endif %}

          <dt>{% trans "Type de support" %}</dt>
          <dd>
            {% if journal.paper %}
            {% trans "Numérique et papier" %}
            {% else %}
            {% trans "Numérique" %}
            {% endif %}
          </dd>

          {% if journal.information.languages.all|length > 0 %}
          <dt>
            {% blocktrans count journal.languages.all|length as disciplines_count %}
            Langue
            {% plural %}
            Langues
            {% endblocktrans %}

            {% for language in journal.information.languages.all %}
            <dd>{{ language }}</dd>
            {% endfor %}
          </dt>
          {% endif %}

          {% if journal.disciplines.all|length > 0 %}
          <dt>
            {% blocktrans count journal.disciplines.all|length as disciplines_count %}
            Discipline
            {% plural %}
            Disciplines
            {% endblocktrans %}
          </dt>
          <dd>
            {% for discipline in journal.disciplines.all %}
            <a href="{% url 'public:journal:journal_list' %}?sorting=disciplines#{{ discipline.code }}" target="_blank">{{ discipline.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </dd>
          {% endif %}

          {% if journal.previous_journal %}
          <dt>{% trans "Revue précédée de…" %}</dt>
          <dd><a href="{% url 'public:journal:journal_detail' journal.previous_journal.code %}">{{ journal.previous_journal.name }}</a></dd>
          {% endif %}
          {% if journal.next_journal %}
          <dt>{% trans "Revue suivie de…" %}</dt>
          <dd><a href="{% url 'public:journal:journal_detail' journal.next_journal.code %}">{{ journal.next_journal.name }}</a></dd>
          {% endif %}

        </dl>

        {% if journal.has_logo %}
        <div>
          <a href="{% url 'public:journal:journal_detail' journal.code %}">
            {# The image's src is a transparent pixel placeholder. #}
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
              data-srcset="{% journal_logo_url journal %} {{ JOURNAL_LOGO_AVERAGE_SIZE.width }}w"
              data-aspectratio="{{ JOURNAL_LOGO_AVERAGE_SIZE.width }}/{{ JOURNAL_LOGO_AVERAGE_SIZE.height }}"
              width="{{ JOURNAL_LOGO_AVERAGE_SIZE.width }}"
              height="{{ JOURNAL_LOGO_AVERAGE_SIZE.height }}"
              alt="{% trans 'Logo pour'%} {{ journal.name }}"
              class="lazyload img-responsive journal_logo"
            />
          </a>
        </div>
        {% endif %}
      </section>

      {% if journal_info.email or journal_info.subscription_email or journal_info.phone %}
      <section class="sidebar-block">
        <h2>{% trans "Coordonnées" %}</h2>
        <dl>
          {% if journal_info.email %}
          <dt>{% trans "Courriel général" %}</dt>
          <dd><a href="mailto:{{ journal_info.email }}?subject={{ journal.name }}%20–%20{% trans 'Demande%20générale' %}">{{ journal_info.email }}</a></dd>
          {% endif %}

          {% if journal_info.subscription_email %}
          <dt>{% trans "Pour abonnements individuels" %}</dt>
          <dd><a href="mailto:{{ journal_info.subscription_email }}?subject={{ journal.name }}%20–%20{% trans 'Demande%20d’abonnement' %}">{{ journal_info.subscription_email }}</a></dd>
          {% endif %}

          {% if journal_info.phone %}
          <dt>{% trans "Téléphone" %}</dt>
          <dd><a href="tel:{{ journal_info.phone }}">{{ journal_info.phone }}</a></dd>
          {% endif %}
        </dl>
      </section>
      {% endif %}

      {% if journal_info.facebook_url or journal_info.twitter_url %}
      <section class="sidebar-block">
        <h2>{% trans 'Sur les réseaux sociaux' %}</h2>
        {% if journal_info.twitter_url %}
        <a class="twitter-timeline" data-lang="{{ LANGUAGE_CODE }}" data-height="450" data-link-color="#ff4242" href="{{ journal_info.twitter_url }}">{{ journal.name }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        {% endif %}
        {% if journal_info.facebook_url %}
        <div class="fb-page" data-href="{{ journal_info.facebook_url }}" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="{{ journal_info.facebook_url }}" class="fb-xfbml-parse-ignore"><a href="{{ journal_info.facebook_url }}">{{ journal.name }}</a></blockquote></div>
        {% endif %}
      </section>
      {% endif %}

      {% if journal_info.partners %}
      <section class="sidebar-block">
        <h2>{% trans "Partenaires" %}</h2>
        {{ journal_info.partners|safe }}
      </section>
      {% endif %}

      {# We must not cache the subscription sponsor badge with the rest of this fragment #}
      {# because it has to vary based on the current user subscription. #}
      {% nocache %}
      <section class="sidebar-block">
        <h2>{% trans "Accès" %}</h2>
        {% if content_access_granted and subscription_type == 'individual' %}
        <p><em>{% trans "Vous êtes abonné à cette revue." %}</em></p>
        {% endif %}
        {% include "public/partials/subscription_sponsor_badge.html" %}
        <p>
          <a href="{% trans 'https://apropos.erudit.org/fr/usagers/politique-dutilisation/' %}" target="_blank">{% trans "Politique et licence d’utilisation" %}</a>
        </p>
      </section>
      {% endnocache %}

    </aside>
    {% endcache %}
  </div>
</div>

{# Bottom content in "glory" container #}
{% block inner_footer %}{% endblock inner_footer %}

{% endblock content %}
