{% extends "public/journal/journal_base.html" %}
{% load i18n staticfiles cache %}

{% block title %}{{ journal.name }}{% endblock title %}

{% block meta_tags %}
<!-- Facebook / Open Graph -->
<meta property="fb:app_id" content="128099979787">
<meta property="og:url" content="{{ request.build_absolute_uri|urlencode }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ journal.name }}">
<meta property="og:site_name" content="Érudit">
<meta property="og:locale" content="fr_CA">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@eruditorg">
<meta name="twitter:url" content="{{ request.build_absolute_uri|urlencode }}">
<meta name="twitter:title" content="{{ journal.name }} – Érudit">
{% endblock meta_tags %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_detail' journal.code %}",
      "name": "{{ journal.name }}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_id %}journal_detail{% endblock body_id %}
{% block data_controller %}public:journal:journal_detail{% endblock data_controller %}

{% block inner_main %}
<main role="main" class="col-sm-9 col-md-8">
  <header class="page-header-main row">
    <div class="col-sm-12">
      <h1>
        <span>{{ journal.name }}</span>
        {% if journal.subtitle %}<span>{{ journal.subtitle }}</span>{% endif %}
      </h1>
    </div>
  </header>
  {% if journal_info %}
  <div class="journal-infos" role="tablist" aria-multiselectable="true">

    {% trans "Aucune information" as tab_empty_msg %}

    {% if journal_info.about %}
    <section class="journal-info-block">
      <h2>
        {% trans "À propos" %}
      </h2>
      <section id="journal-info-about-content" class="akkordion-content akkordion-active">
        {{ journal_info.about|default:tab_empty_msg|safe }}
      </section>
    </section>
    {% endif %}

    {% if journal_info.contact %}
    <section class="journal-info-block akkordion" role="tab" id="journal-info-contact" role="tabpanel">
      <h2 class="akkordion-title" role="button" aria-expanded="false" aria-controls="journal-info-contact-content">
        {% trans "Coordonnées" %}
        <span class="collapse-chevron ion-chevron-down pull-right icon"></span>
      </h2>
      <section id="journal-info-contact-content" class="akkordion-content" aria-labelledby="journal-info-contact">
        {{ journal_info.contact|default:tab_empty_msg|safe }}
      </section>
    </section>
    {% endif %}

    {% if journal_info.editorial_policy %}
    <section class="journal-info-block akkordion" role="tab" id="journal-info-editorial-policy" role="tabpanel">
      <h2 class="akkordion-title" role="button" aria-expanded="false" aria-controls="journal-info-editorial-policy-content">
        {% trans "Politique éditoriale" %}
        <span class="collapse-chevron ion-chevron-down pull-right icon"></span>
      </h2>
      <section id="journal-info-editorial-policy-content" class="akkordion-content" aria-labelledby="journal-info-editorial-policy">
        {{ journal_info.editorial_policy|default:tab_empty_msg|safe }}
      </section>
    </section>
    {% endif %}

    {% if journal_info.subscriptions %}
    <section class="journal-info-block akkordion" role="tab" id="journal-info-subscriptions" role="tabpanel">
      <h2 class="akkordion-title" href="#journal-info-subscriptions-content" aria-expanded="false" aria-controls="journal-info-subscriptions-content">
        {% trans "Abonnements" %}
        <span class="collapse-chevron ion-chevron-down pull-right icon"></span>
      </h2>
      <section id="journal-info-subscriptions-content" class="akkordion-content" aria-labelledby="journal-info-subscriptions">
        {{ journal_info.subscriptions|default:tab_empty_msg|safe }}
      </section>
    </section>
    {% endif %}

    {% if journal_info.team %}
    <section class="journal-info-block akkordion" role="tab" id="journal-info-team" role="tabpanel">
      <h2 class="akkordion-title" href="#journal-info-team-content" aria-expanded="false" aria-controls="journal-info-team-content">
        {% trans "Équipe" %}
        <span class="collapse-chevron ion-chevron-down pull-right icon"></span>
      </h2>
      <section id="journal-info-team-content" class="akkordion-content" aria-labelledby="journal-info-team">
        {{ journal_info.team|default:tab_empty_msg|safe }}
      </section>
    </section>
    {% endif %}

    {% if journal_info.partners %}
    <section class="journal-info-block akkordion" role="tab" id="journal-info-partners" role="tabpanel">
      <h2 class="akkordion-title" href="#journal-info-partners-content" aria-expanded="false" aria-controls="journal-info-partners-content">
        {% trans "Partenaires" %}
        <span class="collapse-chevron ion-chevron-down pull-right icon"></span>
      </h2>
      <section id="journal-info-partners-content" class="akkordion-content" aria-labelledby="journal-info-partners">
        {{ journal_info.partners|default:tab_empty_msg|safe }}
      </section>
    </section>
    {% endif %}

  </div>
  {% endif %}
</main>
{% endblock inner_main %}

{% block inner_footer %}
{% cache LONG_TTL "public_journal_detail_issues" journal.id user_has_access_to_journal LANGUAGE_CODE %}
{% if issues %}
<section id="back-issues" class="back-issues">
  <div class="container">
    <div class="row">
      <header class="back-issues--header col-xs-12">
        <h2>{% trans "Historique des numéros" %}&nbsp;({{ issues|length }})</h2>
      </header>
    </div>
    <div class="row">
      {% regroup issues|dictsortreversed:"year" by year as year_list %}
      <ul class="year-list col-xs-12">
        {% for year in year_list %}
        <li class="year-list--item"><h4>{{ year.grouper }}</h4>
          <ul class="issue-list">
            {% for issue in year.list %}
            {% cache FOREVER_TTL "public_journal_detail_issues_item" issue.id user_has_access_to_journal LANGUAGE_CODE %}
            <li class="issue-list--item">
              <a href="{% url 'public:journal:issue_detail' issue.journal.code issue.volume_slug issue.localidentifier %}">
                {% if issue.has_movable_limitation and not user_has_access_to_journal %}<span class="ion-locked"></span>&nbsp;{% endif %}<span class="issue-list--volume">{% with title=issue.volume_title %}{{ title }}{% endwith %}</span>
                {% if issue.html_title %}<br/><span class="issue-list--theme">{{ issue.html_title|safe }}</span>{% endif %}
              </a>
            </li>
            {% endcache %}
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% if issues|length > 50 %}
    <div class="text-center">
      <a href="#back-issues" class="scroll-issues" title="{% trans 'Retourner en haut' %}">|^</a>
    </div>
    {% endif %}
  </div>
</section>
{% endif %}
{% endcache %}
{% endblock inner_footer %}
