{% extends "public/base.html" %}
{% load i18n %}
{% load static %}
{% load cache %}
{% load widget_tweaks %}

{% block title %}{% trans "Revues par ordre alphabétique" %}{% endblock title %}

{% block meta_description %}{% blocktrans %}Découvrez la liste alphabétique des revues savantes et culturelles en sciences humaines et sociales d'Érudit et de ses partenaires.{% endblocktrans %}{% endblock meta_description %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_class %}{{ block.super }} journal_list{% endblock body_class %}
{% block body_id %}journal_list_per_names{% endblock body_id %}
{% block data_controller %}public:journal:journal_list{% endblock data_controller %}
{% block body_data_attributes %} data-spy="scroll" data-target="#id_journal_list_body" data-offset="180"{% endblock body_data_attributes %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'public:journal:journal_list' %}">{% trans "Revues" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<main role="main">
  <header class="page-header-main container">
    <div class="row">
      <div class="col-md-8">
        <h1>{% trans "Revues par ordre alphabétique" %}</h1>
      </div>
      <div class="col-md-offset-1 col-md-3 col-sm-offset-3 col-sm-6">
        <nav class="text-right nav-btn">
          <a href="{% url 'public:journal:journal_list' %}?sorting=disciplines" class="btn btn-secondary">{% trans "Revues par disciplines" %}</a>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 page-intro">
        {% blocktrans %}
        <p>Découvrez la liste des revues savantes et culturelles diffusées par Érudit et ses partenaires (<a href="http://www.nrcresearchpress.com/" title="Site de NRC Research Press" target="_blank">NRC Research Press</a>, <a href="http://www.persee.fr/" title="Site de Persée" target="_blank">Persée</a>, <a href="https://digitalscholarship.lib.unb.ca/" title="Site de Centre for Digital Scholarship" target="_blank">Centre for Digital Scholarship</a>).</p>
        <p>Les numéros courants sont disponibles en libre accès ou en accès restreint selon le modèle de diffusion de la revue. L’ensemble des archives est offert en libre accès (après la dernière année de publication pour les revues savantes et les trois dernières années de publications pour les revues culturelles). Pour plus d’informations à propos de nos collections, communiquez avec l’équipe d’Érudit à l’adresse <a href="mailto:info@erudit.org?subject=Collections d’Érudit">info@erudit.org</a>.</p>
        {% endblocktrans %}
      </div>
    </div>
  </header>
  <div class="container">
    <div id="id_journal_list_body" class="row">
      <div class="list-nav">
        <aside class="col-md-3 col-lg-2 sidebar-block filters">
          {% cache LONG_TTL "public_journal_list_form" LANGUAGE_CODE filter_form.collections.value filter_form.types.value filter_form.open_access.value %}
          <form id="filter_form" action="" method="get" class="akkordion" role="tab" role="tabpanel">
            <h2 class="akkordion-title filter-title" role="button" aria-expanded="false" aria-controls="filter-form-content">
              {% trans "Filtres" %}
              <span class="collapse-chevron ion-chevron-down pull-right icon"></span>
            </h2>
            <div id="filter-form-content" class="akkordion-content akkordion-active" aria-labelledby="filter_form">
              <div class="form-group">
                <h3 class="sr-only">{% trans "Par type d'accès" %}</h3>
                <div id="div_id_{{ filter_form.open_access.html_name }}" class="checkbox">
                  {{ filter_form.open_access|add_class:'form-control' }}
                  <label for="{{ filter_form.open_access.auto_id }}" class="control-label">
                    {{ filter_form.open_access.label }}&nbsp;<span class="erudicon erudicon-open-access"></span>
                  </label>
                  {% for error in filter_form.open_access.errors %}<p class="error">{{ error }}</p>{% endfor %}
                </div>
              </div>

              <div id="div_id_{{ filter_form.types.html_name }}" class="form-group">
                <h3>{{ filter_form.types.label }}&nbsp;<span class="hint--bottom-left hint--no-animate" data-hint="{% trans 'Les revues savantes publient des articles scientifiques révisés par les pairs&nbsp;; les revues culturelles présentent des articles dans les domaines artistique, littéraire et socioculturel. ' %}"><span class="ion-help-circled"></span></span></h3>
                <div class="controls">
                  {% for choice in filter_form.types.field.choices %}
                  <div class="checkbox">
                    <input type="checkbox" name="{{ filter_form.types.html_name }}" class="styled" id="{{ filter_form.types.auto_id }}_{{ forloop.counter }}" value="{{ choice.0 }}"{% if choice.0 in filter_form.types.value or choice.0|stringformat:"s" in filter_form.types.value or choice.0|stringformat:"s" == filter_form.types.value|stringformat:"s" %} checked="checked"{% endif %}>
                    <label for="{{ filter_form.types.auto_id }}_{{ forloop.counter }}" class="">{{ choice.1 }}</label>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div id="div_id_{{ filter_form.collections.html_name }}" class="form-group">
                <h3>{{ filter_form.collections.label }}&nbsp;<span class="hint--bottom-left hint--no-animate" data-hint="{% trans 'Les revues diffusées sur Érudit sont consultables directement sur la plateforme&nbsp;; les revues des collections Persée et NRC Research Press redirigent vers la plateforme du partenaire.' %}"><span class="ion-help-circled"></span></span></h3>
                <div class="controls">
                  {% for choice in filter_form.collections.field.choices %}
                  <div class="checkbox">
                    <input type="checkbox" name="{{ filter_form.collections.html_name }}" class="styled" id="{{ filter_form.collections.auto_id }}_{{ forloop.counter }}" value="{{ choice.0 }}"{% if choice.0 in filter_form.collections.value or choice.0|stringformat:"s" in filter_form.collections.value or choice.0|stringformat:"s" == filter_form.collections.value|stringformat:"s" %} checked="checked"{% endif %}>
                    <label for="{{ filter_form.collections.auto_id }}_{{ forloop.counter }}" class="">{{ choice.1 }}</label>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div class="form-action">
                <button type="submit" class="btn btn-primary btn-block">{% trans "Filtrer" %}</button>
              </div>
            </div>
          </form>
          {% endcache %}
          {% include "public/partials/subscription_sponsor_badge.html" %}
        </aside>
        <nav class="col-md-9 col-lg-offset-1 hidden-xs list-header">
          <h2 class="sr-only">{% trans 'Par lettre' %}</h2>
          <div id="items_menu">
            <ul class="nav alpha-nav">
              {% for objects_group in sorted_objects %}
              {% if not objects_group.key %}
              <li><a href="#section-void">{% trans "Autres" %}</a></li>
              {% else %}
              <li><a href="#section-{{ objects_group.key }}">{{ objects_group.name }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
            <ul class="row list-headings">
              <li class="col-sm-6">{% trans "Revue" %}</li>
              <li class="col-sm-2">{% trans "Type" %}</li>
              <li class="col-sm-3">{% trans "Fonds" %}</li>
              <li class="col-sm-1">{% trans "Accès" %}</li>
            </ul>
          </div>
        </nav>
      </div>
      {% cache LONG_TTL "public_journal_list_list" LANGUAGE_CODE filter_form.collections.value filter_form.types.value filter_form.open_access.value %}
      <div class="col-md-9 col-lg-offset-1 journals-list">
        {% for objects_group in sorted_objects %}
        <ul id="{% if not objects_group.key %}section-void{% else %}section-{{ objects_group.key }}{% endif %}" class="journal-items">
          {% for journal in objects_group.objects %}
          <li>
            {% if forloop.first %}<a name="{% if not objects_group.key %}section-void{% else %}section-{{ objects_group.key }}{% endif %}" class="invisible"></a>{% endif %}
            <a class="journal-row" href="{% if journal.redirect_to_external_url %}{% url 'public:journal:journal_external_redirect' journal.code %}{% else %}{% url 'public:journal:journal_detail' journal.code %}{% endif %}">
              <div class="row">
                <div class="col-sm-6 journal-title">
                  <span class="journal-name">{{ journal.name }}</span>
                  {% if journal.subtitle %}
                  <span class="journal-subtitle">{{ journal.subtitle }}</span>
                  {% endif %}
                </div>
                <div class="col-sm-2 journal-type">
                  {% if journal.type.code == 'S' %}<span>{% trans "Savante" %}</span>{% elif journal.type.code == 'C' %}<span>{% trans "Culturelle" %}</span>{% endif %}
                </div>
                <div class="col-sm-3 col-xs-8 journal-collection">
                  <span>{{ journal.collection.name }}</span>
                </div>
                <div class="col-sm-1 col-xs-4 journal-access">
                  {% if journal.open_access %}<span class="erudicon erudicon-open-access"></span>{% endif %}
                </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
        <div class="text-center">
          <a href="#top" title="{% trans 'Retourner en haut' %}" class="scroll-top">|^</a>
        </div>
      </div>
      {% endcache %}
    </div>
  </div>
</main>
{% endblock content %}
