{% extends "public/journal/journal_base.html" %}
{% load i18n public_journal_tags %}

{% block title %}{% trans "Index des auteurs" %} – {{ journal.formatted_title }}{% endblock title %}

{% block meta_description %}{% blocktrans with journal=journal.formatted_title %}Explorez la liste des auteurs par ordre alphabétique et par type de publication de la revue {{ journal }} sur la plateforme Érudit.{% endblocktrans %}{% endblock meta_description %}

{% block meta_tags %}
<!-- Facebook / Open Graph -->
<meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% trans 'Index des auteurs' %} – {{ journal.formatted_title }}">
<meta property="og:site_name" content="Érudit">
<meta property="og:locale" content="{{ language_code }}_CA">
{% if journal.has_logo %}
<meta property="og:image" content="{% journal_logo_url journal %}">
{% endif %}
<meta property="og:description" content="{% blocktrans with journal=journal.formatted_title %}Explorez la liste des auteurs par ordre alphabétique et par type de publication de la revue {{ journal }} sur la plateforme Érudit.{% endblocktrans %}">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@eruditorg">
<meta name="twitter:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
<meta name="twitter:title" content="{% trans 'Index des auteurs' %} – {{ journal.formatted_title }} – Érudit">
<meta name="twitter:image:alt" content="{% trans 'Logo pour' %} {{ journal.formatted_title }}">
{% if journal.has_logo %}
<meta name="twitter:image" content="{% journal_logo_url journal %}">
{% endif %}
<meta name="twitter:description" content="{% blocktrans with journal=journal.formatted_title %}Explorez la liste des auteurs par ordre alphabétique et par type de publication de la revue {{ journal }} sur la plateforme Érudit.{% endblocktrans %}">
{% endblock meta_tags %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_detail' journal.code %}",
      "name": "{{ journal.formatted_title }}"
    }
  },{
    "@type": "ListItem",
    "position": 4,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_authors_list' journal.code %}",
      "name": "{% trans 'Auteurs' %}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_id %}journal_authors_list{% endblock body_id %}

{% block breadcrumb %}
  {{ block.super }} <li><a href="{% url 'public:journal:journal_authors_list' journal.code %}">{% trans "Auteurs" %}</a></li>
{% endblock breadcrumb %}

{% block inner_main %}
<main class="col-sm-8 col-md-7">
  <header class="main-header row">
    <div class="col-xs-12">
      <h1>
        <span>{% trans 'Index des auteurs' %}</span>
        <span>{{ journal.formatted_title }}</span>
      </h1>
    </div>
  </header>

  <section class="authors-wrapper main-content">
    {% if view.has_multiple_article_types %}
    <nav>
      <h2 class="sr-only">{% trans 'Par type d’article' %}</h2>
      {% url 'public:journal:journal_authors_list' journal.code as authors_list_url %}
      <ul class="tabs">
        <li class="tabs__item{% if request.get_full_path == authors_list_url %} tabs__item_active{% endif %}">
          <a href="{{ authors_list_url }}" title="{% trans 'Voir tous les auteurs' %}">{% trans "Tous" %}</a>
        </li>
        <li class="tabs__item{% if article_type == 'article' %} tabs__item_active{% endif %}">
          <a href="{{ authors_list_url }}?article_type=article" title="{% trans 'Voir les auteurs d’articles' %}">{% trans "Articles" %}</a>
        </li>
        <li class="tabs__item{% if article_type == 'compterendu' %} tabs__item_active{% endif %}">
          <a href="{{ authors_list_url }}?article_type=compterendu" title="{% trans 'Voir les auteurs de comptes rendus' %}">{% trans "Comptes rendus" %}</a>
        </li>
      </ul>
    </nav>
    {% endif %}
    <nav>
      <h2 class="sr-only">{% trans 'Par lettre' %}</h2>
      <ul class="alpha-nav">
        {% for letter_page, exist in letters_exists.items %}
        {% if exist %}
          <li><a {% if letter == letter_page %}class="active"{% endif %} href="{% url 'public:journal:journal_authors_list' journal.code %}?letter={{ letter_page }}{% if article_type %}&article_type={{ article_type }}{% endif %}">{{ letter_page|upper }}</a></li>
        {% else %}
          <li><span>{{ letter_page|upper }}</span></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <h2 class="sr-only">{% blocktrans %}Auteurs commençant par {{ letter }}{% endblocktrans %}</h2>
    <ul class="authors">
      {% for articles in authors_dicts.values %}
        <li class="author-group">
          <h3 class="author-name">{{ articles.0.author }}</h3>
          <ul class="author-articles">
            {% for article in articles %}
              <li class="author-article">
                {% spaceless %}
                <span class="article-year">{{ article.year }}</span> —
                {% if article.contributors %}
                  {{ article.contributors|join_author_list }},
                {% endif %}
                <a href="{{ article.url }}">
                  {% trans '&laquo;&nbsp;' %}<span class="article-title">{{ article.title }}</span>{% trans '&nbsp;&raquo;' %}
                </a>
                {% endspaceless %}
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </section>
</main>
{% endblock inner_main %}

{% block aside_authors_list %}
{% url 'public:journal:journal_detail' journal.code as journal_detail_url %}
<li>
  <a href="{{ journal_detail_url }}" title="{% trans 'Consulter la revue' %}">{% trans "À propos" %}</a>
</li>
{% endblock aside_authors_list %}
