{% extends "public/base.html" %}
{% load i18n %}
{% load static %}
{% load cache %}

{% block page_title %}{% trans "Revues" %}{% endblock page_title %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_class %}{{ block.super }} journal_list_per_disciplines{% endblock %}
{% block data_controller %}public:journal:journal_list{% endblock data_controller %}

{% block breadcrumb %}{{ block.super }}
  / <a href="{% url 'public:journal:journal_list' %}">{% trans "Revues" %}</a>
{% endblock %}

{% block content %}
<div id="journal_list_per_disciplines">

  <header class="sorting-index container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 clearfix">
            <h2 class="h3 bold pull-left">{% if sorting == 'name' %}{% trans "Revues par ordre alphabétique" %}{% elif sorting == 'disciplines' %}{% trans "Revues par disciplines" %}{% endif %}</h2>
            <nav class="pull-right">
              {% if sorting == 'name' %}
              <a href="{% url 'public:journal:journal_list' %}?sorting=disciplines" class="btn btn-primary-outlined">{% trans "Revues par disciplines" %}</a>
              {% elif sorting == 'disciplines' %}
              <a href="{% url 'public:journal:journal_list' %}?sorting=name" class="btn btn-primary-outlined">{% trans "Revues par ordre alphabétique" %}</a>
              {% endif %}
            </nav>
          </div>
        </div>
        <div class="row">
          <nav class="col-xs-12 index">
            {% for objects_group in sorted_objects %}
              {% if not objects_group.key %}
                <h5 class="mono-space"><a href="#section-void">{% trans "Autres" %}</a></h5>
              {% else %}
                <h5 class="mono-space"><a href="#section-{{ objects_group.key }}">{{ objects_group.name }}</a></h5>
              {% endif %}
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>
  </header>

  {% cache FOREVER_TTL "public_journal_list_disciplines" LANGUAGE_CODE %}
  {% for objects_group in sorted_objects %}
  <a name="{% if not objects_group.key %}section-void{% else %}section-{{ objects_group.key }}{% endif %}" class="invisible">{{ discipline }}</a>
  <div class="sorting-group container-fluid {% cycle "odd" "even" %}">
    <header class="row sorting-group--title">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 title">
            <h2 class="no-margin h3">
              {% if not objects_group.key %}
                {% trans "Autres" %}
              {% else %}
                {{ objects_group.name }}
              {% endif %}
              <a href="#top" id="scroll-top" class="erudicon erudicon-arrow-up"></a>
            </h2>
          </div>
        </div>
      </div>
    </header>
    {% for collection_group in objects_group.collections %}
      <section class="row sorting-group--articles sorting-group--articles--default">
        <div class="container">
          <div class="row">
            <div class="col col-md-3">
              <h3 class="h4 color-red">{{ collection_group.key.name }}</h3>
            </div>
            {% for journal in collection_group.objects %}
            <article class="col col-md-3 journal-thumbnail">
              <header class="row">
                <h4 class="col-xs-12">
                  <a class="" href="{% if journal.external_url %}{% url 'public:journal:journal_external_redirect' journal.localidentifier %}{% else %}{% url 'public:journal:journal_detail' journal.code %}{% endif %}">
                    {{ journal.name }}
                  </a>
                </h4>
              </header>
              <footer class="row">
                <div class="col-xs-8 color-dark-grey">
                  {% if journal.subtitle %}
                  <p class="color-dark-grey">{{ journal.subtitle }}</p>
                  {% endif %}
                  {% if journal.type.code == 'S' %}
                  <p class="bold">{% trans "Révisé par les pairs" %}</p>
                  {% endif %}
                </div>
                <div class="col-xs-4">
                  {% if journal.provided_by_fedora %}
                  <a class="" href="{% url 'public:journal:journal_detail' journal.code %}">
                    <img src="{% url 'public:journal:journal_logo' journal.code %}" alt="{{ journal.name }}" class="img-responsive" />
                  </a>
                  {% endif %}
                </div>
              </footer>
            </article>
            {% endfor %}
          </div>
        </div>
      </section>
    {% endfor %}
  </div>
  {% endfor %}
  {% endcache %}

</div>
{% endblock %}
