{% extends "public/journal/journal_base.html" %}
{% load erudit_cache_tag i18n model_formatters static public_journal_tags %}

{% block title %}{{ journal.formatted_title }}{% endblock title %}

{% block meta_description %}{% blocktrans with journal_about=journal_info.about|safe|striptags|truncatechars:175 %}{{ journal_about }}{% endblocktrans %}{% endblock meta_description %}

{% block meta_tags %}
<!-- Facebook / Open Graph -->
<meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ journal.formatted_title }}">
<meta property="og:site_name" content="Érudit">
<meta property="og:locale" content="{{ language_code }}_CA">
{% if journal.has_logo %}
<meta property="og:image" content="{% journal_logo_url journal %}">
{% endif %}
<meta property="og:description" content="{% blocktrans with journal_about=journal_info.about|safe|striptags|truncatechars:175 %}{{ journal_about }}{% endblocktrans %}">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@eruditorg">
<meta name="twitter:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
<meta name="twitter:title" content="{{ journal.formatted_title }} – Érudit">
<meta name="twitter:image:alt" content="{% trans 'Logo pour' %} {{ journal.formatted_title }}">
{% if journal.has_logo %}
<meta name="twitter:image" content="{% journal_logo_url journal %}">
{% endif %}
<meta name="twitter:description" content="{% blocktrans with journal_about=journal_info.about|safe|striptags|truncatechars:175 %}{{ journal_about }}{% endblocktrans %}">
{% endblock meta_tags %}

{% block stylesheets %}
{{ block.super }}
{% if not WEBPACK_DEV_SERVER_URL %}
<link rel="stylesheet" type="text/css" href="{% static 'css/journal.css' %}" />
{% endif %}
{% endblock stylesheets %}

{% block scripts %}
{{ block.super }}
{% if not WEBPACK_DEV_SERVER_URL %}
<script src="{% static 'js/journal.js' %}"></script>
{% endif %}
{% endblock scripts %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_detail' journal.code %}",
      "name": "{{ journal.formatted_title }}"
    }
  }]
}
</script>

{% endblock structured_data %}

{% block body_id %}journal_detail{% endblock body_id %}
{% block data_controller %}public:journal:journal_detail{% endblock data_controller %}
{% block inner_main %}
{# The journal detail will be cached forever or until the cache content version change. #}
{# The journal's code is used as a primary key for the cache key. #}
{# The content_access_granted and LANGUAGE_CODE arguments are use to generate the cache key hash. #}
{# The journal info's update time is used as the cache content version. #}
{% cache LONG_TTL "public_journal_detail" journal.code content_access_granted LANGUAGE_CODE journal_info.updated %}
<main class="col-sm-8 col-md-7">
  <header class="main-header row">
    <div class="col-sm-12">
      {# Title #}
      <div class="row">
        <h1>
          <span class="col-xs-10 col-sm-9">
            <span class="journal-title">{{ main_title.title }}</span>
            {% if main_title.subtitle %}
            <span class="journal-subtitle">{{ main_title.subtitle }}</span>
            {% endif %}
            {% for title in paral_titles %}
            {% if title.title != main_title.title %}
            <span class="journal-title">{{ title.title }}</span>
            {% endif %}
            {% if title.subtitle and title.subtitle != main_title.subtitle %}<span class="journal-subtitle">{{ title.subtitle }}</span>{% endif %}
            {% endfor %}
          </span>
          {# Peer review seal & access type #}
          <span class="col-xs-2 col-sm-3 text-right">
            {% if journal.type.code == 'S' %}
            <span class="hint--bottom-left hint--no-animate" data-hint="{% trans 'Tous les articles de cette revue sont soumis à un processus d’évaluation par les pairs.' %}">
              <i class="icon ion-ios-checkmark-circle"></i>
            </span>
            {% endif %}
            {% if journal.open_access %}
            <span class="hint--bottom-left hint--no-animate" data-hint="{% trans 'Les numéros courants et les archives de cette revue sont disponibles en libre accès.' %}">
              <span class="erudicon erudicon-open-access"></span>
            </span>
            {% endif %}
          </span>
        </h1>
      </div>
      <div class="main-header__intro">
        {# Directors and editors #}
        <p>
        {% if contributors.directors %}
          {% trans "Direction&nbsp;:" %}
          {% for director in contributors.directors %}
            {{ director.name }}{% if director.role %} ({{ director.role|join:" - " }}){% endif %}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        {% endif %}
        {% if contributors.directors and contributors.editors %}/{% endif %}
        {% if contributors.editors %}
          {% trans "Rédaction&nbsp;:" %}
          {% for editor in contributors.editors %}
            {{ editor.name }}{% if editor.role %} ({{ editor.role|join:" - " }}){% endif %}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        {% endif %}
        </p>

        {# History #}
        {% if journal.previous_journal or journal.next_journal %}
        <p>
          {% if journal.previous_journal %}
          <span>{% trans "Revue précédée de" %}</span>
          <strong>
            <a href="{% url 'public:journal:journal_detail' journal.previous_journal.code %}">
              {{ journal.previous_journal.formatted_title }}{% if journal.previous_journal.subtitle %}{% trans '&nbsp;:' %} {{ journal.previous_journal.subtitle }}{% endif %}
            </a>
          </strong>
          {% endif %}
          {% if journal.next_journal %}
          <span>{% trans "Revue suivie de" %}</span>
          <strong>
            <a href="{% url 'public:journal:journal_detail' journal.next_journal.code %}">
              {{ journal.next_journal.formatted_title }}{% if journal.next_journal.subtitle %}{% trans '&nbsp;:' %} {{ journal.next_journal.subtitle }}{% endif %}
            </a>
          </strong>
          {% endif %}
        </p>
        {% endif %}
      </div>
    </div>
  </header>

  {% if journal_info or issues %}
  <ul class="nav-tabs" role="tablist">
    {% if journal_info.about %}<li role="presentation" id="journal-info-about-li"><a href="#journal-info-about-section" role="tab" data-toggle="tab">{% trans "À propos" %}</a></li>{% endif %}

    {% nocache %}
    {% if issues %}<li role="presentation" id="back-issues-li"><a href="#back-issues-section" role="tab" data-toggle="tab">{% trans "Numéros" %}</a></li>{% endif %}
    {% endnocache %}

    {% if journal_info.editorial_policy or journal_info.publishing_ethics %}<li role="presentation" id="journal-info-editorial_policy-li"><a href="#journal-info-editorial_policy-section" role="tab" data-toggle="tab">{% trans "Politique éditoriale et éthique" %}</a></li>{% endif %}

    {% if journal_info.team %}<li role="presentation" id="journal-info-team-li"><a href="#journal-info-team-section" role="tab" data-toggle="tab">{% trans "Comité de rédaction" %}</a></li>{% endif %}

  </ul>

  <div class="tab-content">
    {% if journal_info.about %}
    <section role="tabpanel" class="tab-pane journal-info-block" id="journal-info-about-section">
      <h2 class="sr-only">{% trans "À propos" %}</h2>
      {{ journal_info.about|safe }}
      <section>
        <h2 class="sr-only">{% trans "Coordonnées" %}</h2>
        {% if journal_info.contact %}{{ journal_info.contact|safe }}{% endif %}
      </section>

      {% if journal_info.subscriptions %}
      <hr/>
      <section class="journal-info-block">
        {{ journal_info.subscriptions|safe }}
      </section>
      {% endif %}

    </section>
    {% endif %}

    {# The journal's back issues should be cached separately. #}
    {% nocache %}
    {# The journal's back issues will be cached for one day or until the cache content version change. #}
    {# The journal's code is used as a primary key for the cache key. #}
    {# The content_access_granted, free_access_cache_key and LANGUAGE_CODE arguments are use to generate the cache key hash. #}
    {# The journal's update time from Fedora is used as the cache content version. #}
    {% cache LONG_TTL "public_journal_detail_back_issues" journal.code content_access_granted free_access_cache_key LANGUAGE_CODE journal.fedora_updated %}
    {% if issues %}
    <section role="tabpanel" class="tab-pane" id="back-issues-section">
      <h2>{% trans "Historique de la revue" %} ({{ issues|length }}&nbsp;{% trans "numéros" %})</h2>
      {% if journal.collection.code == 'erudit' %}
      <div class="alert alert-info">
        <p><i class="icon ion-ios-information-circle alert-info-icon"></i>
          {% blocktrans %}
            L’archivage pérenne des articles sur Érudit est assuré par <a href="https://www.portico.org/" target="_blank">Portico</a>.
          {% endblocktrans %}
        </p>
      </div>
      {% endif %}
      {% for note in notes %}
      <div class="alert alert-info">
        <p><i class="icon ion-ios-information-circle alert-info-icon"></i>
          {{ note|safe }}
        </p>
      </div>
      {% endfor %}
      {% regroup issues|dictsortreversed:"year" by year as year_list %}
      <ul class="year-list">
        {% for year in year_list %}
        <li class="year-list__item"><h3 class="year-list__title">{{ year.grouper }}</h3>
          <ul class="issue-list">
            {% for issue in year.list %}
            <li class="issue-list__item">
              <a {{ issue.extra.detail_link_attrs }}>
                {% if issue.extra.is_locked %}<i class="icon ion-ios-lock"></i>&nbsp;{% endif %}<span>{% with title=issue.volume_title %}{{ title }}{% endwith %}</span>
                {% if issue.html_title %}<br/><span class="issue-list__theme">{{ issue.html_title|safe }}</span>{% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
      {% if issues|length > 50 %}
      <div class="text-center">
        <a href="#back-issues" class="scroll-issues" title="{% trans 'Retourner en haut' %}"><span class="arrow arrow-bar is-top"></span></a>
      </div>
      {% endif %}
    </section>
    {% endif %}
    {% endcache %}
    {% endnocache %}

    {% if journal_info.editorial_policy or journal_info.publishing_ethics or journal_info.instruction_for_authors %}
    <section role="tabpanel" class="tab-pane journal-info-block" id="journal-info-editorial_policy-section">
      <h2 class="sr-only">{% trans "Politique éditoriale et éthique" %}</h2>
      {% if journal_info.editorial_policy %}
      {{ journal_info.editorial_policy|safe }}
      {% endif %}

      {% if journal_info.publishing_ethics %}
      {{ journal_info.publishing_ethics|safe }}
      {% endif %}

      {% if journal_info.instruction_for_authors %}
      <hr/>
      <section class="journal-info-block">
        <h2 class="sr-only">{% trans "Instruction pour les auteurs" %}</h2>
        {{ journal_info.instruction_for_authors|safe }}
      </section>
      {% endif %}
    </section>
    {% endif %}

    {% if journal_info.team %}
    <section role="tabpanel" class="tab-pane journal-info-block" id="journal-info-team-section">
      <h2 class="sr-only">{% trans "Comité de rédaction" %}</h2>
      {{ journal_info.team|safe }}
    </section>
    {% endif %}

  </div>
  {% endif %}

</main>
{% endcache %}
{% endblock inner_main %}
