{% extends "public/base.html" %}
{% load i18n %}
{% load cache %}
{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'public:journal:journal_list' %}">{% trans "Revues" %}</a></li>
<li><a href="{% url 'public:journal:journal_detail' journal.code %}">{{ journal.name }}</a></li>
{% endblock breadcrumb %}

{% block content %}
{% trans "inconnu" as i18n_unknown %}
<div class="container">
  <div class="row">
    {# Main content #}
    {% block inner_main %}{% endblock inner_main %}
    {# Journal information sidebar #}
    <aside id="journal-meta" class="col-sm-3 col-md-offset-1 col-md-3 journal-meta">

      {# latest and back issues #}
      <div class="sidebar-block clearfix latest-issue">
      {% block aside_issue %}
        {% if latest_issue %}
        <h2>{% trans "Dernier numéro" %}</h2>
        <p>
          <a href="{% url 'public:journal:issue_detail' latest_issue.journal.code latest_issue.volume_slug latest_issue.localidentifier %}">
            <span class="issue-list--volume">{% with latest=latest_issue.volume_title %}{{ latest }}{% endwith %}</span>
            {% if latest_issue.html_title %}
            <br/>
            <em>
              <span class="issue-list--theme">{{ latest_issue.html_title|safe }}</span>
            </em>
            {% endif %}
          </a>
        </p>
        {% if latest_issue.has_coverpage %}
        <a href="{% url 'public:journal:issue_detail' latest_issue.journal.code latest_issue.volume_slug latest_issue.localidentifier %}">
          <img src="{% url 'public:journal:issue_coverpage' latest_issue.journal.code latest_issue.volume_slug latest_issue.localidentifier %}" class="img-responsive latest-issue--cover issue-cover" alt="{{ latest_issue.title }}" />
        </a>
        {% endif %}
        {% endif %}
        {% endblock aside_issue %}
        <p>
          <a href="{% url 'public:journal:journal_detail' journal.code %}#back-issues" class="btn btn-primary see-issues-btn" title="{% trans 'Historique de la revue' %}">
            {% trans "Voir tous les numéros" %}
          </a>
        </p>
      </div>

      <div class="sidebar-block search-journal">
        <h2>{% trans "Rechercher dans la revue" %}</h2>
        <div class="search-box">
          <form action="{% url 'public:search:results' %}" method="get">
            <div class="input-group">
              <input type="search" class="form-control" name="basic_search_term" placeholder="Recherchez par mot-clé…" autofocus>
              <input type="hidden" name="journals" value="{{ journal.name }}">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-secondary"><span class="ion-search"></span></button>
              </span>
            </div>
          </form>
        </div>
      </div>

      {# journal meta infos #}
      <div class="sidebar-block">
        <h2>{% trans "Fiche" %}</h2>
        <p>
          -><a href="//{{ journal.code }}.erudit.org/user/login{% if LANGUAGE_CODE == 'en' %}?lang=en{% endif %}" target="_blank" class="publisher-login">{% trans 'Accès éditeur' %}</a>
        </p>
        {% block aside_authors_list %}
        <p>
          -><a href="{% url 'public:journal:journal_authors_list' journal.code %}" class="authors-index">{% trans "Index des auteurs" %}</a>
        </p>
        {% endblock aside_authors_list %}
        {% cache LONG_TTL "journal_detail" LANGUAGE_CODE journal.id %}
        <dl class="journal-meta--list">

          {% if journal.directors %}
          <dt>{% trans "Direction" %}</dt>
          {% for issue_contributor in journal.directors %}
          <dd>{{ issue_contributor.format_name }}</dd>
          {% endfor %}
          {% endif %}

          {% if issue.editors %}
          <dt>{% trans "Rédaction" %}</dt>
          {% for issue_contributor in issue.editors %}
          <dd>{{ issue_contributor.format_name }}</dd>
          {% endfor %}
          {% endif %}

          {% if journal.publishers.all %}
          <dt>
            {% blocktrans count total=journal.publishers.all|length %}
            Éditeur
            {% plural %}
            Éditeurs
            {% endblocktrans %}
          </dt>
          {% for publisher in journal.publishers.all %}
          <dd>{{ publisher.name }}</dd>
          {% endfor %}
          {% endif %}

          {% if journal.issn_print or journal.issn_web %}
          <dt>{% trans "ISSN" %}</dt>
          {% if journal.issn_print %}
          <dd>{{ journal.issn_print }} ({% trans "imprimé" %})</dd>
          <dd>{{ journal.issn_web }} ({% trans "numérique" %})</dd>
          {% endif %}
          {% endif %}

          {% if journal.issues_per_year %}
          <dt>{% trans "Fréquence" %}</dt>
          <dd>
            {% blocktrans count issues_per_year=journal.issues_per_year %}
            {{ issues_per_year }} numéro par année
            {% plural %}
            {{ issues_per_year }} numéros par année
            {% endblocktrans %}
          </dd>
          {% endif %}

          <dt>{% trans "Période de publication" %}</dt>
          <dd>{{ journal.publication_period }}</dd>


          {% if journal.first_issue %}
          <dt>{% trans "Disponible dans Érudit depuis" %}</dt>
          <dd>{{ journal.first_issue.date_published|date:"Y" }}</dd>
          {% endif %}

          <dt>{% trans "Type de support" %}</dt>
          <dd>
            {% if journal.paper %}
            {% trans "Numérique et papier" %}
            {% else %}
            {% trans "Numérique" %}
            {% endif %}
          </dd>

          <dt>{% trans "Politique d'accès" %}</dt>
          {% if journal.open_access %}
          <dd>{% trans "Disponible en libre accès" %} <span class="erudicon erudicon-open-access"></span> <span class="hint--top hint--no-animate" data-hint="{% trans 'Les numéros courants et les archives de cette revue sont disponibles en libre accès.' %}"><span class="ion-help-circled"></span></span></dd>
          {% else %}
          <dd>{% trans "Accès restreint" %} <span class="hint--top hint--no-animate" data-hint="{% trans 'L’accès aux numéros courants de cette revue nécessite un abonnement, tandis que l’ensemble de ses archives est disponible en libre accès.' %}"><span class="ion-help-circled"></span></span></dd>
          {% endif %}

          {% if journal.disciplines.all|length > 0 %}
          <dt>
            {% blocktrans count journal.disciplines.all|length as disciplines_count %}
            Discipline
            {% plural %}
            Disciplines
            {% endblocktrans %}
          </dt>
          <dd>
            {% for discipline in journal.disciplines.all %}
            <a href="{% url 'public:journal:journal_list' %}?sorting=disciplines#{{ discipline.code }}">{{ discipline.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </dd>
          {% endif %}

          {% if journal.website_url %}
          <dt>{% trans "Site web" %}</dt>
          <dd><a href="{{ journal.website_url }}">{{ journal.website_url }}</a></dd>
          {% endif %}

          {% if journal.previous_journal %}
          <dt>{% trans "Revue précédée de…" %}</dt>
          <dd><a href="{% url 'public:journal:journal_detail' journal.previous_journal.code %}">{{ journal.previous_journal.name }}</a></dd>
          {% endif %}
          {% if journal.next_journal %}
          <dt>{% trans "Revue suivie de…" %}</dt>
          <dd><a href="{% url 'public:journal:journal_detail' journal.next_journal.code %}">{{ journal.next_journal.name }}</a></dd>
          {% endif %}

        </dl>

        <div class="journal-meta--list">
          <img src="{% url 'public:journal:journal_logo' journal.code %}" alt="" class="img-responsive journal_logo" />
        </div>
        {% endcache %}
        {% include "public/partials/subscription_sponsor_badge.html" %}
      </div>
    </aside>
  </div>
</div>

{# Bottom content in "glory" container #}
{% block inner_footer %}{% endblock inner_footer %}

{% endblock content %}
