{% extends "base.html" %}
{% load cache i18n model_formatters waffle_tags %}
{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'public:journal:journal_list' %}">{% trans "Revues" %}</a></li>
<li><a href="{% url 'public:journal:journal_detail' journal.code %}">{{ journal.name }}</a></li>
{% endblock breadcrumb %}

{% block scripts %}
{{ block.super }}
{% if journal_info.facebook_url %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endif %}
{% endblock scripts %}

{% block content %}
{% trans "inconnu" as i18n_unknown %}
<div class="container">
  <div class="row">
    {# Main content #}
    {% block inner_main %}{% endblock inner_main %}
    {# Journal information sidebar #}
    <aside id="journal-meta" class="col-sm-4 col-md-offset-1 col-md-4 journal-meta">
      <h2 class="sr-only">{% trans "Plus d’informations" %}</h2>

      {# latest and back issues #}
      {% block aside_issue %}
      <section class="sidebar-block clearfix">
        {% if journal.published_issues.exists %}
        {% if latest_issue %}
        <h2>{% trans "Dernier numéro" %}</h2>
        <p>
          <a href="{% url 'public:journal:issue_detail' latest_issue.journal.code latest_issue.volume_slug latest_issue.localidentifier %}">
            {% if latest_issue.html_title %}
            <span class="issue-list--theme">{{ latest_issue.html_title|safe }}</span>
            <br/>
            {% endif %}
            <span class="issue-list--volume">{% with latest=latest_issue.volume_title %}{{ latest }}{% endwith %}</span>
          </a>
        </p>
        {% if latest_issue.has_coverpage %}
        <a href="{% url 'public:journal:issue_detail' latest_issue.journal.code latest_issue.volume_slug latest_issue.localidentifier %}">
          <img src="{% url 'public:journal:issue_coverpage' latest_issue.journal.code latest_issue.volume_slug latest_issue.localidentifier %}" class="img-responsive latest-issue--cover issue-cover" alt="{{ latest_issue.title }}" />
        </a>
        {% endif %}
        {% endif %}
        {% else %}
        <h2>-> {% trans 'Numéros à venir' %}</h2>
        <div class="alert alert-info">
          <p><ion-icon name="information-circle" class="alert-info-icon"></ion-icon> {% trans 'L’intégration de cette revue à la plateforme est en cours de finalisation.' %}</p>
        </div>
        {% endif %}
      </section>
      {% endblock aside_issue %}

      {# Explore this journal #}
      <section class="sidebar-block">
        <h2>{% trans "Explorer" %}</h2>
        <ul class="journal-explore">
          <li class="search-journal">
            <div class="search-box">
              <form action="{% url 'public:search:results' %}" method="get">
                <label for="journal-search">{% trans "Rechercher dans la revue" %}</label>
                <div class="input-group">
                  <input type="search" class="form-control" name="basic_search_term" id="journal-search" placeholder="{% trans "Recherchez par mot-clé…" %}">
                  <input type="hidden" name="journals" value="{{ journal.name }}">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-secondary">
                      <span class="sr-only">{% trans 'Rechercher' %}</span>
                      <ion-icon name="ios-search"></ion-icon>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </li>
          {% block aside_authors_list %}
          <li><a href="{% url 'public:journal:journal_authors_list' journal.code %}" class="authors-index">{% trans "Index des auteurs" %}</a></li>
          {% endblock aside_authors_list %}
          <li><a href="{% url 'public:journal:journal_articles_rss' journal.code %}">{% trans 'Fil RSS' %}</a></li>
          {% if journal_info.website_url %}
          <li><a href="{{ journal_info.website_url }}" target="_blank" rel="noopener noreferrer">{% trans "Site web" %}</a></li>
          {% endif %}
        </ul>
      </section>

      {# journal meta infos #}
      <section class="sidebar-block">
        <h2>{% trans "Fiche" %}</h2>

        {% cache LONG_TTL "journal_metadata" LANGUAGE_CODE journal.id meta_info_issue.id %}
        <dl>

          {% if journal.type.code == 'S' %}
          <dt>{% trans "Évalué par les pairs" %}</dt>
          <dd>{% trans "Oui" %}
            <span class="hint--bottom-left hint--no-animate" data-hint="{% trans 'Tous les articles de cette revue sont soumis à un processus d’évaluation par les pairs.' %}">
              <ion-icon name="ios-checkmark-circle"></ion-icon>
            </span>
          </dd>
          {% endif %}

          <dt>{% trans "Politique d'accès" %}</dt>
          {% if journal.open_access %}
          <dd>{% trans "Disponible en libre accès" %} <span class="hint--top hint--no-animate" data-hint="{% trans 'Les numéros courants et les archives de cette revue sont disponibles en libre accès.' %}"><span class="erudicon erudicon-open-access"></span></span></dd>
          {% else %}
          <dd>{% trans "Accès restreint" %} <span class="hint--top hint--no-animate" data-hint="{% trans 'L’accès aux numéros courants de cette revue nécessite un abonnement, tandis que l’ensemble de ses archives est disponible en libre accès.' %}"><ion-icon name="help-circle"></ion-icon></span></dd>
          {% endif %}

          <dt>{% trans "Archivage numérique" %}</dt>
          <dd>{% trans "Oui&nbsp;: avec" %} <a href="https://www.portico.org/" target="_blank">Portico</a></dd>

          {% if meta_info_issue %}
          {% with directors=meta_info_issue.erudit_object.get_directors editors=meta_info_issue.erudit_object.get_editors %}
          {% if directors %}
          <dt>{% trans "Direction" %}</dt>
          {% for issue_contributor in directors %}
          <dd>{{ issue_contributor.format_name }}</dd>
          {% endfor %}
          {% endif %}

          {% if editors %}
          <dt>{% trans "Rédaction" %}</dt>
          {% for issue_contributor in editors %}
          <dd>{{ issue_contributor | format_editor }}</dd>
          {% endfor %}
          {% endif %}
          {% endwith %}

          {% if meta_info_issue.erudit_object.publishers %}
          <dt>
            {% blocktrans count total=meta_info_issue.erudit_object.publishers|length %}
            Éditeur
            {% plural %}
            Éditeurs
            {% endblocktrans %}
          </dt>
          {% for publisher in meta_info_issue.erudit_object.publishers %}
          <dd>{{ publisher }}</dd>
          {% endfor %}
          {% endif %}

          {% if meta_info_issue.erudit_object.issn or meta_info_issue.erudit_object.issn_num %}
          <dt>{% trans "ISSN" %}</dt>
          {% if meta_info_issue.erudit_object.issn %}
          <dd>{{ meta_info_issue.erudit_object.issn }} ({% trans "imprimé" %})</dd>
          {% endif %}
          {% if meta_info_issue.erudit_object.issn_num %}
          <dd>{{ meta_info_issue.erudit_object.issn_num }} ({% trans "numérique" %})</dd>
          {% endif %}
          {% endif %}
          {% endif %}

          {% if journal.issues_per_year %}
          <dt>{% trans "Fréquence de publication" %}</dt>
          <dd>
            {% blocktrans count issues_per_year=journal.issues_per_year %}
            {{ issues_per_year }} numéro par année
            {% plural %}
            {{ issues_per_year }} numéros par année
            {% endblocktrans %}
          </dd>
          {% endif %}

          <dt>{% trans "Période de publication" %}</dt>
          <dd>{{ journal.publication_period }}</dd>

          {% if journal.first_issue %}
          <dt>{% trans "Disponible dans Érudit depuis" %}</dt>
          <dd>{{ journal.first_issue.date_published|date:"Y" }}</dd>
          {% endif %}

          <dt>{% trans "Type de support" %}</dt>
          <dd>
            {% if journal.paper %}
            {% trans "Numérique et papier" %}
            {% else %}
            {% trans "Numérique" %}
            {% endif %}
          </dd>

          {% if journal.disciplines.all|length > 0 %}
          <dt>
            {% blocktrans count journal.disciplines.all|length as disciplines_count %}
            Discipline
            {% plural %}
            Disciplines
            {% endblocktrans %}
          </dt>
          <dd>
            {% for discipline in journal.disciplines.all %}
            <a href="{% url 'public:journal:journal_list' %}?sorting=disciplines#{{ discipline.code }}" target="_blank">{{ discipline.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </dd>
          {% endif %}

          {% if journal.previous_journal %}
          <dt>{% trans "Revue précédée de…" %}</dt>
          <dd><a href="{% url 'public:journal:journal_detail' journal.previous_journal.code %}">{{ journal.previous_journal.name }}</a></dd>
          {% endif %}
          {% if journal.next_journal %}
          <dt>{% trans "Revue suivie de…" %}</dt>
          <dd><a href="{% url 'public:journal:journal_detail' journal.next_journal.code %}">{{ journal.next_journal.name }}</a></dd>
          {% endif %}

        </dl>

        <div>
          <a href="{% url 'public:journal:journal_detail' journal.code %}">
            <img src="{% url 'public:journal:journal_logo' journal.code %}" alt="{% trans 'Logo pour'%} {{ journal.name }}" class="img-responsive journal_logo" />
          </a>
          {% if content_access_granted and subscription_type == 'individual' %}
          <p><em>{% trans "Vous êtes abonné à cette revue." %}</em></p>
          {% endif %}
        </div>
        {% endcache %}
        {% include "public/partials/subscription_sponsor_badge.html" %}
      </section>

      {% if journal_info.email or journal_info.subscription_email or journal_info.phone %}
      <section class="sidebar-block">
        <h2>{% trans "Coordonnées" %}</h2>
        <dl>
          {% if journal_info.email %}
          <dt>{% trans "Courriel général" %}</dt>
          <dd><a href="mailto:{{ journal_info.email }}?subject={{ journal.name }}%20–%20{% trans 'Demande%20générale' %}">{{ journal_info.email }}</a></dd>
          {% endif %}

          {% if journal_info.subscription_email %}
          <dt>{% trans "Pour abonnements individuels" %}</dt>
          <dd><a href="mailto:{{ journal_info.subscription_email }}?subject={{ journal.name }}%20–%20{% trans 'Demande%20d’abonnement' %}">{{ journal_info.subscription_email }}</a></dd>
          {% endif %}

          {% if journal_info.phone %}
          <dt>{% trans "Téléphone" %}</dt>
          <dd><a href="tel:{{ journal_info.phone }}">{{ journal_info.phone }}</a></dd>
          {% endif %}
        </dl>
      </section>
      {% endif %}

      {% if journal_info.facebook_url or journal_info.twitter_url %}
      <section class="sidebar-block">
        <h2>{% trans 'Sur les réseaux sociaux' %}</h2>
        {% if journal_info.twitter_url %}
        <a class="twitter-timeline" data-lang="{{ LANGUAGE_CODE }}" data-height="450" data-link-color="#ff4242" href="{{ journal_info.twitter_url }}">{{ journal.name }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        {% endif %}
        {% if journal_info.facebook_url %}
        <div class="fb-page" data-href="{{ journal_info.facebook_url }}" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="{{ journal_info.facebook_url }}" class="fb-xfbml-parse-ignore"><a href="{{ journal_info.facebook_url }}">{{ journal.name }}</a></blockquote></div>
        {% endif %}
      </section>
      {% endif %}

      {% if journal_info.partners %}
      <section class="sidebar-block">
        <h2>{% trans "Partenaires" %}</h2>
        {{ journal_info.partners|safe }}
      </section>
      {% endif %}

    </aside>
  </div>
</div>

{# Bottom content in "glory" container #}
{% block inner_footer %}{% endblock inner_footer %}

{% endblock content %}
