{% extends "public/base.html" %}
{% load adv_cache i18n static widget_tweaks %}

{% block title %}{% trans "Revues par ordre alphabétique" %}{% endblock title %}

{% block meta_description %}{% blocktrans %}Découvrez la liste alphabétique des revues savantes et culturelles en sciences humaines et sociales d'Érudit et de ses partenaires.{% endblocktrans %}{% endblock meta_description %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_class %}{{ block.super }} journal_list{% endblock body_class %}
{% block body_id %}journal_list_per_names{% endblock body_id %}
{% block data_controller %}public:journal:journal_list{% endblock data_controller %}
{% block body_data_attributes %} data-spy="scroll" data-target="#id_journal_list_body" data-offset="180"{% endblock body_data_attributes %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'public:journal:journal_list' %}">{% trans "Revues" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
{# Journal list per names & filter form are cached for one day based on the filter form values and the current language code. #}
{% cache LONG_TTL "public_journal_list" "per_names" filter_form.collections.value filter_form.types.value filter_form.disciplines.value filter_form.open_access.value filter_form.special_open_access_opt_in.value filter_form.is_new.value LANGUAGE_CODE "v1" %}
<main class="container">
  <div class="row">
    <div class="col-sm-8">
      <header class="main-header">
        <h1>{% trans "Revues par ordre alphabétique" %} ({{ journal_count }})</h1>
        <div class="main-header__intro">
          {% blocktrans %}
          <p>Découvrez la liste des revues savantes et culturelles diffusées par Érudit et ses partenaires (<a href="http://www.nrcresearchpress.com/" title="Site de NRC Research Press" target="_blank">NRC Research Press</a>, <a href="http://www.persee.fr/" title="Site de Persée" target="_blank">Persée</a>, <a href="https://digitalscholarship.lib.unb.ca/" title="Site de Centre for Digital Scholarship" target="_blank">Centre for Digital Scholarship</a>).</p>
          <p>Les numéros courants sont disponibles en libre accès ou en accès restreint selon le modèle de diffusion de la revue. L’ensemble des archives est offert en libre accès (après la dernière année de publication pour les revues savantes et les trois dernières années de publications pour les revues culturelles). Pour plus d’informations à propos de nos collections, communiquez avec l’équipe d’Érudit à l’adresse <a href="mailto:info@erudit.org?subject=Collections%20d’Érudit">info@erudit.org</a>.</p>
          {% endblocktrans %}
        </div>
      </header>
    </div>
    <div class="col-sm-4">
      <nav class="nav-btn">
        <a href="{% url 'public:journal:journal_list' %}?sorting=disciplines" class="btn btn-secondary">{% trans "Revues par disciplines" %}</a>
      </nav>
    </div>
  </div>
  <section id="id_journal_list_body" class="row">
      <nav class="list-nav">
        <aside class="col-md-3 col-lg-2 sidebar-block filters">
          <form id="filter_form" action="#" method="get" class="akkordion">
            <h2 class="akkordion-title filter-title" aria-expanded="false" aria-controls="filter-form-content">
              {% trans "Filtres" %}
              <span class="collapse-chevron ion-chevron-down pull-right icon"></span>
            </h2>
            <div id="filter-form-content" class="akkordion-content akkordion-active" aria-labelledby="filter_form">
              <div class="form-group">
                <h3 class="sr-only">{% trans "Par type d'accès" %}</h3>
                <div id="div_id_{{ filter_form.open_access.html_name }}" class="checkbox">
                  {{ filter_form.open_access|add_class:'form-control' }}
                  <label for="{{ filter_form.open_access.auto_id }}" class="control-label">
                    {{ filter_form.open_access.label }}&nbsp;<span class="erudicon erudicon-open-access"></span>
                  </label>
                  {% for error in filter_form.open_access.errors %}<p class="error">{{ error }}</p>{% endfor %}
                </div>
                <div id="div_id_{{ filter_form.special_open_access_opt_in.html_name }}" class="checkbox">
                  {{ filter_form.special_open_access_opt_in|add_class:'form-control' }}
                  <label for="{{ filter_form.special_open_access_opt_in.auto_id }}" class="control-label">
                    {{ filter_form.special_open_access_opt_in.label }}&nbsp;<span class="erudicon erudicon-open-access" style="color: green;"></i>
                  </label>
                  {% for error in filter_form.special_open_access_opt_in.errors %}<p class="error">{{ error }}</p>{% endfor %}
                </div>

                <div id="div_id_{{ filter_form.is_new.html_name }}" class="checkbox">
                  {{ filter_form.is_new|add_class:'form-control' }}
                  <label for="{{ filter_form.is_new.auto_id }}" class="control-label">
                    {{ filter_form.is_new.label }}
                  </label>
                  {% for error in filter_form.is_new.errors %}<p class="error">{{ error }}</p>{% endfor %}
                </div>
              </div>

              {% include 'public/journal/partials/journal_list_filter_choice.html' with field=filter_form.types only %}
              {% include 'public/journal/partials/journal_list_filter_choice.html' with field=filter_form.collections only %}

              <div id="div_id_{{ filter_form.disciplines.html_name }}" class="form-group">
                <label class="control-label h3" for="{{ filter_form.disciplines.auto_id }}">{{ filter_form.disciplines.label }}&nbsp;<span class="hint--bottom-left hint--no-animate" data-hint="{{ filter_form.disciplines.help_text }}"><i class="icon ion-ios-help-circle"></i></span></label>
                <div class="controls">
                  {{ filter_form.disciplines|add_class:'form-control' }}
                </div>
              </div>

              <div class="form-action">
                <button type="submit" class="btn btn-primary">{% trans "Filtrer" %}</button>
              </div>
            </div>
          </form>
          {# We must not cache the subscription sponsor badge with the rest of this fragment #}
          {# because it has to vary based on the current user subscription. #}
          {% nocache %}
          {% include "public/partials/subscription_sponsor_badge.html" %}
          {% endnocache %}
        </aside>
        <nav class="col-md-9 col-lg-offset-1 list-header">
          <h2 class="sr-only">{% trans 'Par lettre' %}</h2>
          <div id="items_menu">
            <ul class="nav alpha-nav">
              {% for objects_group in sorted_objects %}
              {% if not objects_group.key %}
              <li><a href="#section-void">{% trans "Autres" %}</a></li>
              {% else %}
              <li><a href="#section-{{ objects_group.key }}">{{ objects_group.name }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
            <ul class="row list-headings hidden-xs">
              <li class="col-sm-6">{% trans "Revue" %}</li>
              <li class="col-sm-2">{% trans "Type" %}</li>
              <li class="col-sm-3">{% trans "Fonds" %}</li>
              <li class="col-sm-1">{% trans "Accès" %}</li>
            </ul>
          </div>
        </nav>
      </nav>
      <div class="col-md-9 col-lg-offset-1 journals-list">
        {% for objects_group in sorted_objects %}
        <ul id="{% if not objects_group.key %}section-void{% else %}section-{{ objects_group.key }}{% endif %}" class="journal-items">
          {% for journal in objects_group.objects %}
          <li{% if journal.is_new %} class="new-journal"{% endif %}>
            <a class="journal-row" href="{% if journal.redirect_to_external_url %}{% url 'public:journal:journal_external_redirect' journal.code %}{% else %}{% url 'public:journal:journal_detail' journal.code %}{% endif %}">
              <div class="row">
                <div class="col-sm-6 journal-title">
                  {% with journal.get_titles as titles %}
                  <span class="journal-name">{{ titles.main.title}}{% if journal.is_new %} <span class="new-journal-tag">({% trans 'nouveauté' %}{% if journal.year_of_addition %}{% blocktrans with year=journal.year_of_addition %} {{ year }}{% endblocktrans %}{% endif %})</span>{% endif %}</span>
                  {% if titles.main.subtitle %}
                  <span class="journal-subtitle">{{ titles.main.subtitle }}</span>
                  {% endif %}
                  {% for title in titles.paral %}
                  {% if title.title != titles.main.title %}
                  <span class="journal-name">{{ title.title}}</span>
                  {% endif %}
                  {% if title.subtitle and title.subtitle != titles.main.subtitle %}
                  <span class="journal-subtitle">{{ title.subtitle }}</span>
                  {% endif %}
                  {% endfor %}
                  {% endwith %}
                  {% if journal.previous_journal or journal.next_journal %}
                  <div class="journal-history">
                    {% if journal.previous_journal %}
                    {% trans "Précédé de" %} <strong>{{ journal.previous_journal.name }}{% if journal.previous_journal.subtitle %}{% trans '&nbsp;:' %} {{ journal.previous_journal.subtitle }}{% endif %}</strong>
                    {% endif %}
                    {% if journal.next_journal %}
                    {% trans "Suivi de" %} <strong>{{ journal.next_journal.name }}{% if journal.next_journal.subtitle %}{% trans '&nbsp;:' %} {{ journal.next_journal.subtitle }}{% endif %}</strong>
                    {% endif %}
                  </div>
                  {% endif %}
                </div>
                <div class="col-sm-2 journal-type">
                  {% if journal.type.code == 'S' %}<span>{% trans "Savante" %}</span>{% elif journal.type.code == 'C' %}<span>{% trans "Culturelle" %}</span>{% endif %}
                </div>
                <div class="col-sm-3 col-xs-8 journal-collection">
                  <span>{{ journal.collection.name }}</span>
                </div>
                <div class="col-sm-1 col-xs-4 journal-access">
                  {% if journal.open_access %}<span class="erudicon erudicon-open-access"></span>{% endif %}
                  {% if not journal.open_access and journal.special_open_access_opt_in %}
                  <span class="hint--bottom-left hint--no-animate" data-hint="{% trans 'En raison de la crise de la COVID-19, cette revue est temporairement disponible gratuitement.' %}">
                    <i class="erudicon erudicon-open-access" style="color: green;"></i>
                  </span>
                  {% endif %}
                </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% empty %}
        <div class="alert alert-info">
          <p class="text-center">
            {% trans "Aucune revue ne correspond à cette combinaison de filtres&nbsp;!" %}
            <br><br>
            <a href="{% url 'public:journal:journal_list' %}">{% trans "Retourner à la liste complète des revues." %}</a>
          </p>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>
{% endcache %}
{% endblock content %}
