{% extends "public/base.html" %}
{% load i18n %}
{% load cache %}
{% load public_journal_tags %}

{% block title %}{% trans "Index des auteurs" %} - {{ journal.name }}{% endblock title %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_list' %}",
      "name": "{% trans 'Revues' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_detail' journal.code %}",
      "name": "{{ article.issue.journal.name }}"
    }
  },{
    "@type": "ListItem",
    "position": 4,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:journal:journal_authors_list' journal.code %}",
      "name": "{% trans 'Auteurs' %}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block breadcrumb %}
  {{ block.super }} / <a href="{% url 'public:journal:journal_list' %}">{% trans "Revues" %}</a>
  / <a href="{% url 'public:journal:journal_detail' journal.code %}">{{ journal.name }}</a>
  / <a href="{% url 'public:journal:journal_authors_list' journal.code %}">{% trans "Auteurs" %}</a>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{% trans "Tous les auteurs" %}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      {% for letter, exist in letters_exists.items %}
        {% if exist %}
          <a href="{% url 'public:journal:journal_authors_list' journal.code %}?letter={{ letter }}">{{ letter|upper }}</a>
        {% else %}
          <span class="text-muted">{{ letter|upper }}</span>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-md-9">
      {% cache LONG_TTL "public_journal_authors" journal.id letter LANGUAGE_CODE %}
      {% for author in authors %}
        <div class="well">
          <h3>{{ author.full_name }}</h3>
          <div class="author-articles-wrapper">
            <ul>
              {% for article in author|author_articles:journal %}
              {% cache FOREVER_TTL "public_journal_authors_item" journal.id author.id LANGUAGE_CODE %}
                <li>
                  {% spaceless %}
                    &laquo;
                    <a href="{% url 'public:journal:article_detail' journal_code=journal.code issue_slug=article.issue.volume_slug issue_localid=article.issue.localidentifier localid=article.localidentifier %}">
                      {{ article.title }}
                    </a>
                    &raquo;
                    &nbsp;{{ journal.name }},&nbsp;{{ article.issue.volume_title_with_pages }}
                  {% endspaceless %}
                </li>
              {% endcache %}
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
      {% endcache %}
    </div>
  </div>
</div>
{% endblock content %}
