// -----------------------------------------------------------------------------
// Import partials
// Always sort partials in alphabetical order, except for base directory
// -----------------------------------------------------------------------------

@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'utils/colours',
  'utils/erudicon',
  'utils/font-styles',
  'utils/functions',
  'utils/mixins',
  'utils/sprite',
  'utils/variables';

// 2. Vendors
$ionicons-font-path: '~ionicons/fonts';
@import
  '~akkordion/dist/akkordion.css',
  '~hint.css/hint.base.css',
  '~ionicons/scss/ionicons',
  '~select2/dist/css/select2',
  'vendor/magnific-popup/magnific-popup.scss',
  'vendor/normalize';

// 3. Base stuff (do not sort in alphabetical order)
@import
  'base/grid',
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers',
  'base/responsive-helpers';

// 4. Layout-related sections
@import
  'layout/aside',
  'layout/footer',
  'layout/header',
  'layout/main-header',
  'layout/main',
  'layout/nav',
  'layout/sidenav';

// 5. Components
@import
  'components/accordions',
  'components/alerts',
  'components/alpha-nav',
  'components/bibliographic-records',
  'components/breadcrumbs',
  'components/buttons',
  'components/checkboxes',
  'components/clipboards',
  'components/component-animations',
  'components/document-headings',
  'components/dropdowns',
  'components/error-lists',
  'components/forms',
  'components/glory',
  'components/input-groups',
  'components/issue-covers',
  'components/lists',
  'components/lists-as-tables',
  'components/modals',
  'components/multiselects',
  'components/navbars',
  'components/pagination',
  'components/pagination-arrows',
  'components/panels',
  'components/related-articles',
  'components/responsive-embed',
  'components/scroll-top',
  'components/separators',
  'components/subscription-sponsor',
  'components/table-of-contents-nav',
  'components/table-of-contents',
  'components/tables',
  'components/tabs',
  'components/toolboxes',
  'components/tooltips',
  'components/status-indicators',
  'components/wysiwyg';

// 6. Page-specific styles
@import
  'pages/public/account-settings',
  'pages/public/advanced-search',
  'pages/public/article-detail',
  'pages/public/book-home',
  'pages/public/brand-assets',
  'pages/public/homepage',
  'pages/public/issue-detail',
  'pages/public/journal-authors-list',
  'pages/public/journal-detail',
  'pages/public/journal-list-disciplines',
  'pages/public/journal-list-names',
  'pages/public/saved-citations-list',
  'pages/public/search-results',
  'pages/public/thesis-collection-home',
  'pages/public/thesis-collection-list',
  'pages/public/thesis-home',
  'pages/userspace/authorizations',
  'pages/userspace/home',
  'pages/userspace/issuesubmission',
  'pages/userspace/members',
  'pages/userspace/royalty-reports',
  'pages/userspace/subscription-ips',
  'pages/error-pages',
  'pages/individual-subscription',
  'pages/login';

// 7. Themes
@import
  'themes/campaign',
  'themes/dashboard';

// $spritesheet-sprites is an array of all sprite image names
@include sprites($spritesheet-sprites);
