// -----------------------------------------------------------------------------
// Import partials for public app
// Always sort partials in alphabetical order, except for base directory
// -----------------------------------------------------------------------------

@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'utils/colours',
  'utils/font-styles',
  'utils/functions',
  'utils/mixins',
  'utils/sprite',
  'utils/variables';

// 2. Vendors
$ionicons-font-path: '~ionicons/fonts';
@import
  '~akkordion/dist/akkordion.css',
  '~hint.css/hint.base.css',
  '~ionicons/scss/ionicons',
  '~select2/dist/css/select2',
  'vendor/magnific-popup/magnific-popup.scss', // forked for source changes
  'vendor/normalize';

// 3. Base stuff (do not sort in alphabetical order)
@import
  'base/grid',
  'base/base',
  'base/fonts',
  'base/icons',
  'base/typography',
  'base/helpers',
  'base/responsive-helpers';

// 4. Layout-related sections
@import
  'layout/public/aside',
  'layout/public/footer',
  'layout/public/header',
  'layout/public/main',
  'layout/public/nav';

// 5. Components
@import
  'components/accordions',
  'components/alerts',
  'components/alpha-nav',
  'components/breadcrumbs',
  'components/button-groups',
  'components/buttons',
  'components/component-animations',
  'components/dropdowns',
  'components/fileupload',
  'components/forms',
  'components/forms-checkbox',
  'components/glory',
  'components/input-groups',
  'components/lists',
  'components/modals',
  'components/navbars',
  'components/page-headers',
  'components/pagination',
  'components/panels',
  'components/scroll-top',
  'components/tables',
  'components/toolbox',
  'components/tooltips';

// 6. Page-specific styles
@import
  'pages/account-settings',
  'pages/advanced-search',
  'pages/article-detail',
  'pages/homepage',
  'pages/individual-subscription',
  'pages/issue-detail',
  'pages/journal-authors-list',
  'pages/journal-detail',
  'pages/journal-list-disciplines',
  'pages/journal-list-names',
  'pages/login',
  'pages/saved-citations-list',
  'pages/search-results',
  'pages/thesis-collection-home',
  'pages/thesis-collection-list',
  'pages/thesis-home';


// $spritesheet-sprites is an array of all sprite image names
@include sprites($spritesheet-sprites);
