// -----------------------------------------------------------------------------
// Import partials for userspace app
// Always sort partials in alphabetical order, except for base directory
// -----------------------------------------------------------------------------

@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'utils/colours',
  'utils/font-styles',
  'utils/functions',
  'utils/mixins',
  'utils/sprite',
  'utils/variables';

// 2. Vendors
$ionicons-font-path: '~ionicons/fonts';
@import
  '~akkordion/dist/akkordion.css',
  '~hint.css/hint.base.css',
  '~ionicons/scss/ionicons',
  '~select2/dist/css/select2',
  'vendor/normalize';

// 3. Base stuff (do not sort in alphabetical order)
@import
  'base/grid',
  'base/base',
  'base/fonts',
  'base/icons',
  'base/typography',
  'base/helpers',
  'base/responsive-helpers';

// 4. Layout-related sections
@import
  'layout/userspace/content',
  'layout/userspace/header',
  'layout/userspace/nav',
  'layout/userspace/sidenav';

// 5. Components
@import
  'components/alerts',
  'components/breadcrumbs',
  'components/buttons',
  'components/checkboxes',
  'components/dropdowns',
  'components/forms',
  'components/input-groups',
  'components/lists',
  'components/modals',
  'components/navbars',
  'components/pagination',
  'components/panels',
  'components/tables',
  'components/tabs',
  'components/status-indicators';

// 6. Page-specific styles
@import
  'pages/userspace/homepage',
  'pages/userspace/issuesubmission',
  'pages/userspace/members',
  'pages/userspace/royalty-reports',
  'pages/userspace/subscription-ips',
  'pages/userspace/subscription',
  'pages/individual-subscription',
  'pages/login';

// 7. Themes
@import
  'themes/userspace';
