@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'vars/userspace',
  'utils/mixins',
  'utils/utils',
  'utils/responsive-utilities',
  'utils/functions',
  'utils/font-styles',
  'utils/erudicon';

// 2. Vendors
$ionicons-font-path: "~ionicons/fonts";
@import "~ionicons/scss/ionicons";
@import "~akkordion/dist/akkordion.css";
@import "~select2/dist/css/select2";

// 3. Base stuff
@import
  'base/normalize',
  'base/scaffolding',
  'base/grid',
  'base/base',
  'base/fonts',
  'base/icons',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header-userspace',
  'layout/nav-userspace',
  'layout/main-userspace',
  'layout/sidenav',
  'layout/content',
  'layout/footer';

// 5. Components
@import
  'components/tables',
  'components/tooltips',
  'components/modals',
  'components/cards',
  'components/navtabs',
  'components/search',
  'components/forms',
  'components/input-groups',
  'components/dropdowns',
  'components/alerts',
  'components/breadcrumbs',
  'components/breadcrumbs-userspace',
  'components/fileupload',
  'components/lists',
  'components/forms',
  'components/buttons',
  'components/panels',
  'components/tabs',
  'components/page-headers-userspace',
  'components/pagination';

// 6. Page-specific styles
@import
  'pages/journals',
  'pages/login',
  'pages/individual_subscription',
  'pages/issuesubmission-userspace',
  'pages/members-userspace',
  'pages/subscription-userspace',
  'pages/subscription-ips-userspace',
  'pages/homepage-userspace';

// 7. Themes
@import
  'themes/default';
