/**
* erudit subscription badge
*/

footer#erudit-subscription-type {
  margin-top: $margin-vertical-default;
}

/**
* Main site footer
*/


footer#site-footer {
  margin-top: $margin-vertical-default;

  /**
  * Newsletter
  */
  .newsletter-form {

    // .form-group

    input[type="email"] {
      border-width: 0;
      padding-top: $padding-base-vertical - 1;
      padding-bottom: $padding-base-vertical - 1;
      @include fw-sans-normal-italic();
    }

  }

  /**
  * Footer nav elements
  */

  #footer-nav {
    padding-top: $margin-vertical-default*2;
    padding-bottom: $margin-vertical-default;
    font-size: 18px;
    @include grid-cell-border($border-width: 3px);

    li {
      margin-bottom: 5px;
    }

  }

  /**
  * bottom part
  */
  #footer-legal {
    background-color: $gray-base;
    padding-top: $margin-vertical-default;
    padding-bottom: $margin-vertical-default;
    color: #fff;

    svg {
      width: 100px;
      path, circle {
        fill: #fff;
      }
    }

    p {
      margin-bottom: 0;
    }

    a {
      color: #fff;
    }

  }

  /**
  * social icons
  */
  .social-icons {
    font-size: 24px;
    a {
      margin-right: 7px;
    }
  }

}
