/**
* see _header.scss for shared styling between public and user space
*/

/**
* Erudit Public #page-header
*/
header#site-header {
  padding: 40px ($grid-gutter-width * 2);
  position: relative;
  border-bottom: 1px solid lighten($gray-light, 25%);

  .container-fluid {
    max-width: $screen-xl;
  }

  h1#brand {
    font-size: inherit;
    margin: 0;
    img,
    svg {
      height: $erudit-logo-height;
      @include transition(all 250ms);
    }
  }

  a {
    @include transition(all 250ms);
  }

  &.inverted {
    background-color: $brand-primary;

    a {
      color: #fff !important;
    }

    svg {
      path, circle {
        fill: #fff;
      }
    }

  }

}
