/**
* variables related
*/

$erudit-logo-height: 35px !default;

/**
* default rules for main site-header
*/

header#site-header {

  h1#brand {
    margin: 0;
    height: $erudit-logo-height;
  }

}

/**
* Erudit Public #page-header
*/

.public {

  header#site-header {
    padding: 40px ($grid-gutter-width * 2);
    position: relative;
    margin-bottom: $margin-vertical-default;
    border-bottom: 1px solid lighten($gray-light, 25%);

    .container-fluid {
      max-width: $screen-xl;
    }

  }

}
