/**
* see _header.scss for shared styling between public and user space
*/

$header-height: 116px;

body.fixed-header {
  padding-top: $header-height;
}

/**
* Erudit Public #page-header
*/
header#site-header {
  padding: 40px ($grid-gutter-width * 2);
  position: relative;
  border-bottom: 1px solid $mid-grey;
  @include transition(all 250ms);
  background-color: #fff;

  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: $zindex-navbar;
  }

  &.compact {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .container-fluid {
    max-width: $screen-xl;
  }

  h1#brand {
    font-size: inherit;
    margin: 0;
    img,
    svg {
      height: $erudit-logo-height;
      path, circle {
        @include transition(fill 250ms);
      }
    }
  }

  .caret {
    margin-left: 10px;
  }

  &.inverted {
    background-color: $brand-primary;

    a {
      color: #fff !important;
    }

    svg {
      path, circle {
        fill: #fff;
      }
    }

  }

}
