$erudit-logo-height: 35px !default;

/**
* Erudit Userspace #page-header
*/
header#site-header {
  padding: $erudit-logo-height/2 0;
  position: relative;
  background-color: $brand-primary;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  .container-fluid {
    max-width: $screen-xl;    
  }

  h1#brand {
    margin: 0;
    height: $erudit-logo-height;
    img {
      width: auto;
      height: $erudit-logo-height;
    }
  }

}
