/**
* Main Erudit Public site nav
*/

.public {

  nav#main-nav {
    text-align: right;
    position: relative;

    // set height the same as logo in same parent row
    height: $erudit-logo-height;

    ul {
      @include vertical-centered();
    }

    li {
      display: inline-block;
      margin-left: $grid-gutter-width;
    }

    // main section nav items with drop-downs
    a.main-section {
      display: block;
      font-size: 16px;
      line-height: 14px;
      position: relative;
      padding-right: 25px;
      @include fw-medium();

      &:hover {
        color: $color-red;
        text-decoration: none;
      }

      i {
        font-size: 22px;
        right: 0;
        @include vertical-centered($position: absolute);
      }
    }

    // Search menu item
    a.search {
      i {
        font-size: 30px;
        position: relative;
        bottom: -5px;
      }
    }

  }

}
