/**
* Main Erudit Public site nav
*/
nav#main-nav {
  text-align: right;
  position: relative;

  // set height the same as logo in same parent row
  height: $erudit-logo-height;

  ul.menu-bar {
    @include vertical-centered();
    > li {
      display: inline-block;
      margin-left: 25px;

      @media (min-width: $screen-lg) {
        margin-left: 55px;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  // main section nav items with drop-downs
  a.main-section {
    display: block;
    font-size: 16px;
    line-height: 14px;
    position: relative;
    padding-right: 25px;
    @include fw-sans-medium();
    color: $gray-base;

    &:hover {
      color: $upsdell-red;
      text-decoration: none;
    }

    i {
      font-size: 16px;
    }
  }

  // dropdown font size adjustement
  .dropdown {
    font-size: 0.85em;
    > ul {
      padding: 5px 0;
      a {
        padding: 0;
      }
    }
  }

  // Search menu item
  a.search {
    color: $gray-base;
    i {
      font-size: 30px;
      position: relative;
      bottom: -5px;
    }
  }

  // search form
  .search-form {
    position: absolute;
    right: 0;
    top: 50%;
    @include translate(0,-50%);
    background: $brand-primary;
    pointer-events: none;
    @include opacity(0);

    form {
      margin: 0;

      .form-group:last-child {
        margin-bottom: 0;
      }

      input[type="search"] {
        margin: 0;
        width: auto;
        border-width: 2px;
        border-color: #fff;
        color: #fff;
        padding: $padding-small-vertical $padding-small-horizontal;
        background-color: transparent;
        width: 80%;
      }
      button.btn.btn-primary-outlined {
        border-color: #fff;
        color: #fff;
        line-height: inherit;
        padding: $padding-small-vertical $padding-small-horizontal;
        margin-left: -2px;
      }
    }

  }

}
