/**
* Main Erudit Public site nav
*/

.public {

  nav#main-nav {
    text-align: right;
    position: relative;

    // set height the same as logo in same parent row
    height: $erudit-logo-height;

    ul {
      @include vertical-centered();
    }

    li {
      display: inline-block;
      margin-left: $grid-gutter-width;
    }

    // main section nav items with drop-downs
    a.main-section {
      display: block;
      font-size: 16px;
      line-height: 14px;
      position: relative;
      padding-right: 25px;
      @include fw-sans-medium();

      &:hover {
        color: $color-red;
        text-decoration: none;
      }

      i {
        font-size: 22px;
        right: 0;
        @include vertical-centered($position: absolute);
      }
    }

    // Search menu item
    a.search {
      i {
        font-size: 30px;
        position: relative;
        bottom: -5px;
      }
    }

  }

}


/**
* User space
*/

.userspace {

  // -----------------------------------------------------------------------------
  // This file contains all styles related to the header of the site/application.
  // -----------------------------------------------------------------------------

  nav.navbar {
    background-color: $colour-primary;
    border: 0;
    line-height: 70px;
    width: 100%;
    a {
      color: #FFF;
    }
    .navbar-logo {
      width: $sidenav-width;
      height: 70px;
      margin-left: 15px;
      display: inline-block;
      img {
        height: 40px;
      }
    }
    .navbar-user {
      right: 15px;
      position: absolute;
      display: inline-block;
      a {
        cursor: pointer;
        &:hover, &:active, &:focus, &:active:focus {
          text-decoration: none;
        }
      }
      .profile-pic {
        background: #FFF;
        color: #000;
        height: 40px;
        width: 40px;
        font-size: 20px;
        padding: 10px 0;
        margin-right: 10px;
        @include border-radius(20px);
        vertical-align: middle;
        text-align: center;
      }
      .dropdown-menu {
        @include border-radius(0);
        box-shadow: none;
        padding: 0;
        li {
          border-bottom: 1px solid $colour-faint-grey;
          a {
            color: $colour-dark-grey;
            padding: 10px;
            &.disabled {
              color: $colour-pale-grey;
              &:hover, &:active, &:focus, &:active:focus {
                cursor: default;
                background: none;
                color: $colour-pale-grey;
              }
            }
          }
          &:last-child {
            border: 0;
          }
        }
      }
    }
  }


}
