/**
* Main Erudit Public site nav
*/
nav#main-nav {
  text-align: right;
  position: relative;

  // set height the same as logo in same parent row
  height: $erudit-logo-height;

  ul.menu-bar {
    @include vertical-centered();
    > li {
      display: inline-block;
      margin-left: 25px;

      @media (min-width: $screen-lg) {
        margin-left: 20px;
      }

      &:first-child {
        margin-left: 0;
      }

      // active section, add border at bottom
      &.active {
        > .select:after {
          content: "";
          display: block;
          width: 100%;
          height: 4px;
          background-color: #000;
          position: absolute;
          left: -10px;
          bottom: -47px;
          @include transition(all 250ms);
          z-index: 1;

          // with parent <header> in compact mode
          .compact & {
            bottom: -22px;
          }

          // hide when inverted <header>
          .inverted & {
            display: none;
          }
        }
      }
    }

  }

  // main section nav items with drop-downs
  .main-section {
    display: block;
    font-size: 16px;
    line-height: 14px;
    position: relative;
    padding-right: 25px;
    margin-bottom: 10px;
    color: #000;
    @include fw-sans-medium();

    &:hover,
    &:active,
    &:focus,
    &.selected {
      color: $brand-primary;
      text-decoration: none;
    }

    .caret {
      margin-left: 10px;
    }

  }

  // dropdown font size adjustement
  .dropdown {
    > ul {
      background-color: #FFF;
      border: 1px solid $mid-grey;
      li {
        border-bottom: 1px solid $mid-grey;
      }
      a {
        &:hover, &:focus, &:active {
          background: $coral-red;
          color: #FFF;
          text-decoration: none;
          text-indent: 0.25em;
          @include transition(text-indent 0.2s ease-out);
          @include fw-sans-medium();
        }
      }
    }
  }

  // Search menu item
  a.search {
    color: $gray-base;
    span {
      font-size: 30px;
      position: relative;
      bottom: -5px;
    }
  }

  // search form
  .search-form {
    position: absolute;
    right: 0;
    top: 50%;
    @include translate(0,-50%);
    background: $brand-primary;
    pointer-events: none;
    @include opacity(0);
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;

    &.visible {
      pointer-events: all;
      @include opacity(1);
    }

    form {
      margin: 0;

      .form-group {
        padding: 0 35px 0 0;
        position: relative;
      }

      .form-group:last-child {
        margin-bottom: 0;
      }

      input[type="search"] {
        margin: 0;
        width: auto;
        border-width: 2px;
        border-color: #fff;
        color: #fff;
        padding: $padding-small-vertical $padding-small-horizontal;
        background-color: transparent;
        width: 70%;
      }

      button.btn.btn-primary-outlined {
        border-color: #fff;
        color: #fff;
        line-height: inherit;
        padding: $padding-small-vertical $padding-small-horizontal;
        margin-left: -2px;
      }

      a.close {
        cursor: pointer;
        position: absolute;
        display: block;
        top: 0;
        right: -30px;
        color: #fff;
        font-size: 30px;
        z-index: 1;
      }

    }

  }

}


/**
* Publications type nav
*/

nav.sub-nav {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -55px;
  background-color: #fff;
  border-bottom: 1px solid $gray-light;
  z-index: $zindex-navbar - 1;
  text-align: center;
  pointer-events: none;
  @include opacity(0);
  @include translate(0,10%);
  @include transition(all 250ms);

  &.visible {
    pointer-events: all;
    @include opacity(1);
    @include translate(0,0);
  }



  ul.menu-bar {
    > li {
      display: inline-block;
      margin: 0 25px;
      a {
        display: block;
        @include fw-sans-bold;
        padding: 15px 25px;
        @include transition(all 250ms);
        &:hover,
        &.active {
          background-color: $brand-primary;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
