// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------
nav.sidenav {
  z-index: 10;
  display: block;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  width: $sidenav-width;
  height: 100%;
  background-color: #FFF;
  border-right: 1px solid $gray-light;
  @include transition(all, 300ms, ease);
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-top: 10px;
      &:last-child {
        border-bottom: 0;
      }
      a {
        display: block;
        padding-left: 10px;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
        color: $gray-dark;
        display: table;
        width: 100%;
        &:hover, &:active, &:focus, &:active:focus {
          text-decoration: none;
          border-color: $gray-light;
          background-color: $gray-light;
          color: $gray-darker;
        }
        &.active {
          background-color: $gray-light;
        }
        &.disabled {
          color: $gray-light;
          &:hover, &:active, &:focus, &:active:focus {
            cursor: default;
            background: none;
            color: $gray-light;
          }
        }
      }
    }
  }
  .icon {
    font-size: 25px;
    margin-right: 10px;
    vertical-align: middle;
  }
}
@media (max-width: 992px) {
  nav.sidenav {
    width: 46px;
    .sidenav-label {
      display: none;
    }
  }
}
