{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block page_title %}{% endblock %} – {% block zone_title %}{% endblock %} – Érudit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="Érudit"/>
    <meta name="theme-color" content="#ff4242" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'img/favicon/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/favicon/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'img/favicon/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img/favicon/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/favicon/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-196x196.png" sizes="196x196' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-96x96.png" sizes="96x96' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-32x32.png" sizes="32x32' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-16x16.png" sizes="16x16' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-128.png" sizes="128x128' %}" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

    {% block meta_tags %}
    {% endblock meta_tags %}

    {% block stylesheets %}
    {% endblock stylesheets %}

    <script>
      var LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
    </script>

    <script src="{% static 'js/modernizr.js' %}"></script>

    {% block extrahead %}
    {% endblock extrahead %}
  </head>
  <body
      class="{% block body_class %}{% endblock %}"
      data-controller="{% block data_controller %}{% endblock data_controller %}"
      data-action="{% block data_action %}{% endblock data_action %}"
    >

    {% block header %}
    {% endblock header %}
    {% block nav %}
    {% endblock nav %}

    {% block body %}
    {% block content %}
    {% endblock content%}
    {% endblock body %}

    {% block footer %}
    {% endblock footer %}

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% url 'js_reverse' %}"></script>
    {% block scripts %}
    {% endblock scripts %}

    {% block footerscript %}
    {% endblock footerscript %}

  </body>
</html>
