{% load base_urls_tags i18n rules static static waffle_tags %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
{% get_current_language as language_code %}
<html class="no-js" lang="{{ language_code }}">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %} – Érudit</title>
    <meta name="description" content="{% block meta_description %}{% blocktranslate %}Découvrez nos collections de documents en sciences humaines et sociales : revues, livres et actes, thèses, rapports de recherche.{% endblocktranslate %}{% endblock meta_description %}">

    {% block link_rel_tags %}
      {% for language in LANGUAGES %}
        {% get_language_info for language.0 as lang %}
        <link rel="alternate" href="https://{{ request.META.HTTP_HOST }}{% trans_current_url language.0 %}" hreflang="{{ lang.code }}" />
      {% endfor %}
    {% endblock link_rel_tags %}

    <!-- Android -->
    <meta name="theme-color" content="#222" />

    <!-- Apple touch icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-touch-icon-152x152.png' %}" />

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-196x196.png' %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-128.png' %}" sizes="128x128" />

    <!-- Internet Explorer -->
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'img/favicon/mstile-144x144.png' %}" />
    <meta name="msapplication-square70x70logo" content="{% static 'img/favicon/mstile-70x70.png' %}" />
    <meta name="msapplication-square150x150logo" content="{% static 'img/favicon/mstile-150x150.png' %}" />
    <meta name="msapplication-wide310x150logo" content="{% static 'img/favicon/mstile-310x150.png' %}" />
    <meta name="msapplication-square310x310logo" content="{% static 'img/favicon/mstile-310x310.png' %}" />

    {% if ANALYTICS_TRACKING_CODES %}
    {% for tracking_code in ANALYTICS_TRACKING_CODES %}
    {{ tracking_code|safe }}
    {% endfor %}
    {% endif %}
    {% block meta_tags %}
    <!-- Facebook / Open Graph -->
    <meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Érudit">
    <meta property="og:locale" content="{{ language_code }}_CA">
    <meta property="og:image" content="{% static 'img/illustration-erudit.png' %}">
    <meta property="og:description" content="{% blocktranslate %}Découvrez nos collections de documents en sciences humaines et sociales : revues, livres et actes, thèses, rapports de recherche.{% endblocktranslate %}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@eruditorg">
    <meta name="twitter:title" content="{% translate 'Cultivez votre savoir' %}">
    <meta name="twitter:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
    <meta name="twitter:image" content="{% static 'img/illustration-erudit.png' %}">
    <meta name="twitter:image:alt" content="{% translate 'Illustration « Cultivez votre savoir »' %}">
    <meta name="twitter:description" content="{% blocktranslate %}Découvrez nos collections de documents en sciences humaines et sociales : revues, livres et actes, thèses, rapports de recherche.{% endblocktranslate %}">
    {% endblock meta_tags %}

    {% block structured_data %}
    <script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "Organization",
      "name" : "Érudit",
      "url" : "{{ request.scheme }}://{{ request.site.domain }}",
      "logo" : "{% static 'img/logo-erudit.png' %}",
      "sameAs" : [
        "https://www.facebook.com/%C3%89rudit-141469165320/",
        "https://twitter.com/eruditorg",
        "https://github.com/erudit/",
        "https://www.linkedin.com/company/3628951"
      ]
    }
    </script>
    {% endblock structured_data %}

    {% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    {% endblock stylesheets %}

    <script>
      var LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
    </script>

    {% block extrahead %}{% endblock extrahead %}
  </head>
  <body
      id="{% block body_id %}id_body{% endblock body_id %}"
      class="{% block body_class %}fixed-header{% endblock body_class %}"
      data-controller="{% block data_controller %}{% endblock data_controller %}"
      data-action="{% block data_action %}{% endblock data_action %}"
      {% block body_data_attributes %}{% endblock body_data_attributes %}
    >

    {% block header %}
    <header id="site-header" class="{% block header_class %}site-header__fixed{% endblock header_class %} clearfix site-header">

      <div class="container-fluid">
        {# Érudit logo #}
        <div class="navbar-header pull-left">
          <h1 class="header-logo">
            <a href="/" id="title" title="{% translate 'Aller à l’accueil' %}" aria-label="{% translate 'Aller à l’accueil' %}" class="header-logo__link">
              <img src="{% static 'svg/logo-erudit.svg' %}" class="inline-svg header-logo__img" alt="{% translate 'Logo d’Érudit' %}" />
            </a>
          </h1>
        </div>

        {# Search bar triggers (open / close) #}
        <div class="pull-right nav-search-triggers">
          <a href="#" data-trigger-search-bar class="nav-search-triggers__link nav-search-triggers__open " title="{% translate 'Effectuer une recherche simple' %}">
            <i class="icon ion-ios-search nav-search-triggers__icon"></i>
          </a>
          <a data-trigger-search-bar class="nav-search-triggers__link nav-search-triggers__close" title="{% translate 'Fermer la recherche simple (touche Échap)' %}">
            <i class="icon ion-ios-close nav-search-triggers__icon"></i>
          </a>
        </div>

        {# Hamburger menu on mobile / tablet viewports #}
        <div class="pull-right nav-menu-trigger">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false" aria-controls="main-nav" aria-label="{% translate 'Basculer le menu principal' %}">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </button>
        </div>

        {# Menu items #}
        <nav class="pull-right nav-menu" aria-expanded="false" aria-label="{% translate 'Menu principal' %}">
          <h2 class="sr-only">{% translate 'Menu principal' %}</h2>
          <ul id="main-nav" class="navbar-nav collapse navbar-collapse nav-menu__list">
            {% block mainnav %}
            {% block inner_nav %}{% endblock inner_nav %}
            <li class="nav-menu__item nav-menu__item_has-submenu">
              <a href="#" class="hidden-xs hidden-sm nav-menu__link">{% translate "Types de publications" %}<i class="icon ion-ios-arrow-down nav-menu__caret"></i></a>
              <ul class="nav-submenu">
                <li class="nav-submenu__item">
                  <a href="{% url 'public:journal:journal_list' %}" title="{% translate 'Index des revues' %}">{% translate "Revues" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="{% url 'public:thesis:home' %}" title="{% translate 'Index des dépôts institutionnels' %}">{% translate "Thèses et mémoires" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="{% url 'public:book:home' %}" title="{% translate 'Index des livres et actes' %}">{% translate "Livres et actes" %}</a>
                </li>
                {% switch "maintenance" %}
                {% else %}
                <li class="nav-submenu__item">
                  <a href="https://depot.erudit.org/{% if LANGUAGE_CODE == 'en' %}?locale=en{% endif %}" title="{% translate 'Index des rapports de recherche' %}" target="_blank">{% translate "Rapports de recherche" %}</a>
                </li>
                {% endswitch %}
              </ul>
            </li>
            {% switch "maintenance" %}
            {% else %}
            {% if request.user.is_anonymous %}
            <li class="nav-menu__item">
              <a href="{% url 'public:auth:landing' %}?next={{ request.get_full_path|urlencode }}" class="nav-menu__link" id="login-modal" title="{% translate 'Se connecter au tableau de bord' %}">
                {% translate "Connexion" %}
              </a>
            </li>
            {% else %}
            <li class="nav-menu__item nav-menu__item_has-submenu">
              <a href="{% url 'userspace:dashboard' %}"  title="{% translate 'Accéder à au tableau de bord' %}" class="hidden-xs hidden-sm nav-menu__link">{% translate "Mon compte" %} <i class="icon ion-ios-arrow-down nav-menu__caret"></i></a>
              <ul class="nav-submenu">
                {% has_perm 'userspace.access' request.user as can_access_userspace %}
                {% if can_access_userspace %}
                <li class="nav-submenu__item">
                  <a href="{% url 'userspace:dashboard' %}" title="{% translate 'Accéder à au tableau de bord' %}"><span class="hidden-md hidden-lg">{% translate "Mon compte" %} - </span>{% translate "Tableau de bord" %}</a>
                </li>
                {% endif %}
                <li class="nav-submenu__item">
                  <a href="{% url 'public:auth:personal_data' %}" title="{% translate 'Modifier mes paramètres' %}"><span class="hidden-md hidden-lg">{% translate "Mon compte" %} - </span>{% translate "Paramètres" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="{% url 'public:auth:logout' %}?next={{ request.get_full_path|urlencode }}" title="{% translate 'Se déconnecter' %}"><span class="hidden-md hidden-lg">{% translate "Mon compte" %} - </span>{% translate "Déconnexion" %}</a>
                </li>
              </ul>
            </li>
            {% endif %}
            <li class="nav-menu__item nav-menu__item_has-submenu">
              <a href="{% if LANGUAGE_CODE == 'fr' %}https://apropos.erudit.org/fr/{% else %}https://apropos.erudit.org/en/{% endif %}" target="_blank" class="nav-menu__link" title="{% blocktranslate %}À propos d’Érudit{% endblocktranslate %}">{% translate "À propos" %} <i class="icon ion-ios-arrow-down nav-menu__caret"></i></a>
              <ul class="hidden-xs hidden-sm nav-submenu">
                <li class="nav-submenu__item">
                  <a href="https://apropos.erudit.org/{% if LANGUAGE_CODE == 'en' %}en{% endif %}" target="_blank" title="{% translate 'À propos d’Érudit' %}">{% translate "Érudit" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="https://www.coalition-publi.ca/{% if LANGUAGE_CODE == 'fr' %}le-projet{% endif %}" target="_blank" title="{% translate 'À propos de la Coalition Publica' %}">{% translate "Coalition Publica" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="https://co-shs.ca/" target="_blank" title="{% translate 'À propos du projet CO.SHS' %}">{% translate "CO.SHS" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="https://partnership.erudit.org/{% if LANGUAGE_CODE == 'fr' %}accueil{% endif %}" target="_blank" title="{% translate 'À propos de nos partenariats' %}">{% translate "Partenariat" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="https://www.erudit.org/rapport/2020/{% if LANGUAGE_CODE == 'en' %}en{% endif %}" target="_blank" title="{% translate 'Consulter le rapport annuel' %}">{% translate "Rapport annuel" %}</a>
                </li>
              </ul>
            </li>
            {% endswitch %}
            <li class="nav-menu__item">
              <a href="{% url 'public:search:advanced_search' %}" class="nav-menu__link" title="{% translate 'Effectuer une recherche avancée' %}">{% translate "Recherche avancée" %}</a>
            </li>
            <li class="nav-menu__item nav-menu__item_has-submenu">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              <a href="#" class="hidden-xs hidden-sm nav-menu__link">{{ LANGUAGE_CODE|upper }} <i class="icon ion-ios-arrow-down nav-menu__caret"></i></a>
              <ul class="nav-submenu">
                {% for language in LANGUAGES %}
                {% get_language_info for language.0 as lang %}
                <li class="nav-submenu__item">
                  <a href="{% trans_current_url language.0 %}"{% if language.0 == LANGUAGE_CODE %} class="nav-submenu__link_is-active"{% endif %}>
                    {{ lang.name_local|title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% switch "maintenance" %}
            {% else %}
            <li class="nav-menu__item">
              <a href="{% url 'public:citations:list' %}" title="{% translate 'Voir ma bibliothèque' %}" class="nav-menu__link">
                <i class="icon ion-ios-bookmark hidden-xs hidden-sm nav-menu__icon"></i>
                <span class="hidden-md hidden-lg">{% translate 'Ma bibliothèque' %}</span>
              </a>
            </li>
            {% endswitch %}
            {% endblock mainnav %}
          </ul>
        </nav>

        {# Simple search form #}
        <div class="nav-search">
          <form id="search-form" action="{% url 'public:search:results' %}" class="navbar-form nav-search__form" method="get">
              <label for="basic_search_term" class="nav-search__label sr-only">{% translate "Recherche simple" %}</label>
            <div class="nav-search__input-group">
              <input name="basic_search_term" id="basic_search_term" type="search" class="search-terms nav-search__input" placeholder="{% translate 'Par auteur, titre, mots-clés...' %}">
              <input type="hidden" name="funds" value="Érudit">
              <input type="hidden" name="funds" value="UNB">
              <button type="submit" class="btn btn-secondary nav-search__btn">
                <i class="icon ion-ios-search nav-search__btn-icon"></i>
              </button>
            </div>
          </form>
        </div>
      </div>

  </header>
    <nav id="breadcrumb" class="container-fluid breadcrumb">
      <h2 class="hidden">{% translate "Fil d'Ariane" %}</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul>
              <li><a href="/">Érudit</a></li> {% block breadcrumb %}{% endblock breadcrumb %}
            </ul>
          </div>
        </div>
      </div>
    </nav>

    {% if site_messages %}
    <div class="site-messages public">
      {% for site_message in site_messages %}
      <div id="site-message-{{ site_message.id }}" class="alert alert-dismissible site-message-{{ site_message.level.lower }}">
        <p>
          {{ site_message.message|safe }}
        </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
     {% endfor %}
    </div>
    {% endif %}

    {% switch "alert" %}
    <div class="alert alert-dismissible maintenance">
      <p>
        {% blocktranslate %}
        L'accès à la plateforme Érudit connaît actuellement un ralentissement, dû à un incident chez notre prestataire technique. Nous sommes désolés de ce désagrément et collaborons activement à rétablir le service. L'information sera mise à jour sur notre page<a href="https://twitter.com/eruditorg">Twitter</a>
        {% endblocktranslate %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </p>
    </div>
    {% endswitch %}
    {% endblock header %}

    {% block body %}
    {% block nav %}{% endblock nav %}

    {% block content_wrapper %}
      {% block messages %}
      <div class="container-alert">
        <div class="container">
          <div class="alert">
            {% include "partials/messages.html" %}
          </div>
        </div>
      </div>
      {% endblock %}
      {% block content %}
      {% endblock content %}
    {% endblock content_wrapper %}
    {% endblock body %}

    {% block footer %}
    <footer id="site-footer">
      <div class="text-center">
        <a href="#top" title="{% translate 'Retourner en haut' %}" class="scroll-top"><span class="arrow arrow-bar is-top"></span></a>
      </div>
      <div id="footer-nav" class="container">
        <div class="row">
          <div class="col-sm-6">
            <form action="{{ MAILCHIMP_ACTION_URL }}" method="post" id="mc-embedded-subscribe-form" class="newsletter-form" name="mc-embedded-subscribe-form" target="_blank">
              <div aria-hidden="true" class="hidden"><input type="text" name="{{ MAILCHIMP_UUID }}" tabindex="-1" value=""></div>
              <fieldset>
                <label for="mce-EMAIL">{% translate "Abonnez-vous à notre infolettre&nbsp;:" %}</label>
                <div class="input-group">
                  <div class="input-group-btn">
                    <input type="email" value="" name="EMAIL" required id="mce-EMAIL" placeholder="{% translate "nom@courriel.com" %}" class="required email">
                    <input type="submit" value="{% blocktranslate %}S'inscrire{% endblocktranslate %}" name="subscribe" id="mc-embedded-subscribe" class="btn btn-dark">
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="col-sm-3">
            <ul class="unstyled footer-nav--about">
              <li{% switch "maintenance" %} class="disabled"{% endswitch %}>
                <a href="{% translate 'https://apropos.erudit.org/fr/' %}" target="_blank">
                  {% translate "À propos" %}
                </a>
              </li>
              <li{% switch "maintenance" %} class="disabled"{% endswitch %}>
                <a href="{% translate 'https://apropos.erudit.org/fr/usagers/foire-aux-questions/' %}" target="_blank">
                  {% translate "Aide" %}
                </a>
              </li>
              <li>
                <a href="{% translate 'https://www.erudit.org/public/documents/Guide_recherche.pdf' %}" target="_blank">
                  {% translate "Guide de recherche" %}
                </a>
              </li>
              <li{% switch "maintenance" %} class="disabled"{% endswitch %}>
                <a href="{% translate 'https://apropos.erudit.org/fr/erudit/contact/' %}" target="_blank">
                  {% translate "Nous contacter" %}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul class="unstyled footer-nav--publication-types">
              <li>
                <a href="{% url 'public:journal:journal_list' %}">
                  {% translate "Revues" %}
                </a>
              </li>
              <li>
                <a href="{% url 'public:thesis:home' %}">
                  {% translate "Thèses et mémoires" %}
                </a>
              </li>
              <li>
                <a href="{% url 'public:book:home' %}">
                  {% translate "Livres et actes" %}
                </a>
              </li>
              <li{% switch "maintenance" %} class="disabled"{% endswitch %}>
                <a href="{% translate 'https://depot.erudit.org/?locale=fr' %}" target="_blank">
                  {% translate "Rapports de recherche" %}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-legal">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <img
                src="{% static 'svg/logo-erudit.svg' %}"
                class="inline-svg logo-erudit"
                alt="{% translate 'Logo d’Érudit' %}"
              />
              <span class="erudit-headline">{% translate "Cultivez votre savoir." %}</span>
            </div>
            <div class="col-sm-3 footer-legal--socials">
              <p>{% translate "Suivez-nous&nbsp;:" %}</p>
              <ul class="social-icons inline">
                <li>
                  <a href="https://www.facebook.com/%C3%89rudit-141469165320/" title="Facebook">
                    <i class="icon ion-logo-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/eruditorg" title="Twitter">
                    <i class="icon ion-logo-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/erudit/" title="Github">
                    <i class="icon ion-logo-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/3628951" title="LinkedIn">
                    <i class="icon ion-logo-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="{% url 'public:journal:latest_issues_rss' %}" title="RSS">
                    <i class="icon ion-logo-rss"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-sm-3 footer-legal--coalition-publica">
              <a href="{% translate 'https://www.coalition-publi.ca/le-projet' %}" title="Coalition Publica" target="_blank">
                <img
                  src="{% static 'svg/logo-coalition.svg' %}"
                  class="inline-svg logo-coalition"
                  alt="{% translate 'Coalition Publica' %}"
                />
              </a>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-9">
              <ul class="unstyled inline footer-legal--policies">
                <li>
                  <a href="{% translate 'https://www.iubenda.com/privacy-policy/79766356' %}" class="iubenda-nostyle iubenda-embed " title="{% translate "Politique de confidentialité" %}">
                    {% translate "Politique de confidentialité" %}
                  </a>
                </li>
                <li>
                  <a href="{% translate 'https://www.iubenda.com/privacy-policy/79766356/cookie-policy' %}" class="iubenda-nostyle iubenda-embed " title="{% translate "Politique relative aux cookies" %}">
                    {% translate "Politique relative aux cookies" %}
                  </a>
                </li>
                <li{% switch "maintenance" %} class="disabled"{% endswitch %}>
                  <a href="{% translate 'https://apropos.erudit.org/fr/usagers/politique-dutilisation/' %}" target="_blank">
                    {% translate "Politique et licence d’utilisation" %}
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-sm-3">
              <p>
                © {% now "Y" %} {% translate "Consortium Érudit" %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {% endblock footer %}

    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% url 'js_reverse' %}"></script>

    {% block scripts %}
    <script src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/main.js' %}"></script>
    {% endblock scripts %}

    <script>(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000000",
          "text": "#ffffff"
        },
        "button": {
          "background": "#ff4242",
          "text": "#ffffff"
        }
      },
      "content": {
        "message": "{% translate 'erudit.org  utilise des cookies (« témoins de connexion ») à des fins de statistiques et d’amélioration de l’expérience utilisateur. Ces données sont anonymes. En poursuivant votre visite, vous acceptez l’utilisation de ces cookies, que vous pourrez désactiver en tout temps dans votre fureteur web.' %}",
        "dismiss": "{% translate 'J’ai compris' %}",
        "link": "{% translate 'En savoir plus' %}",
        "href": "{% translate 'https://www.iubenda.com/privacy-policy/79766356/cookie-policy' %}"
      },
      "position": "bottom-right"
    })});
    </script>

    {% block footerscript %}{% endblock footerscript %}
  </body>
</html>
