{% load base_urls_tags i18n rules static staticfiles waffle_tags %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
{% get_current_language as language_code %}
<html class="no-js" lang="{{ language_code }}">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %} – Érudit</title>
    <meta name="description" content="{% block meta_description %}{% blocktrans %}Découvrez nos collections de documents en sciences humaines et sociales : revues, livres et actes, thèses, rapports de recherche.{% endblocktrans %}{% endblock meta_description %}">

    {% block link_rel_tags %}
      {% for language in LANGUAGES %}
        {% get_language_info for language.0 as lang %}
        <link rel="alternate" href="https://{{ request.META.HTTP_HOST }}{% trans_current_url language.0 %}" hreflang="{{ lang.code }}" />
      {% endfor %}
    {% endblock link_rel_tags %}

    <!-- Android -->
    <meta name="theme-color" content="#222" />

    <!-- Apple touch icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-touch-icon-152x152.png' %}" />

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-196x196.png' %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-128.png' %}" sizes="128x128" />

    <!-- Internet Explorer -->
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'img/favicon/mstile-144x144.png' %}" />
    <meta name="msapplication-square70x70logo" content="{% static 'img/favicon/mstile-70x70.png' %}" />
    <meta name="msapplication-square150x150logo" content="{% static 'img/favicon/mstile-150x150.png' %}" />
    <meta name="msapplication-wide310x150logo" content="{% static 'img/favicon/mstile-310x150.png' %}" />
    <meta name="msapplication-square310x310logo" content="{% static 'img/favicon/mstile-310x310.png' %}" />

    {% if ANALYTICS_TRACKING_CODES %}
    {% for tracking_code in ANALYTICS_TRACKING_CODES %}
    {{ tracking_code|safe }}
    {% endfor %}
    {% endif %}
    {% block meta_tags %}
    <!-- Facebook / Open Graph -->
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Érudit">
    <meta property="og:locale" content="{{ language_code }}_CA">
    <meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% static 'img/illustration-erudit.png' %}">
    <meta property="og:description" content="{% blocktrans %}Découvrez nos collections de documents en sciences humaines et sociales : revues, livres et actes, thèses, rapports de recherche.{% endblocktrans %}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@eruditorg">
    <meta name="twitter:title" content="{% trans 'Cultivez votre savoir' %}">
    <meta name="twitter:url" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% static 'img/illustration-erudit.png' %}">
    <meta name="twitter:image:alt" content="{% trans 'Illustration « Cultivez votre savoir »' %}">
    <meta name="twitter:description" content="{% blocktrans %}Découvrez nos collections de documents en sciences humaines et sociales : revues, livres et actes, thèses, rapports de recherche.{% endblocktrans %}">
    {% endblock meta_tags %}

    {% block structured_data %}
    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "name" : "Érudit",
      "url" : "{{ request.scheme }}://{{ request.site.domain }}",
      "logo" : "{{ request.scheme }}://{{ request.site.domain }}{% static 'img/logo-erudit.png' %}",
      "sameAs" : [
        "https://www.facebook.com/%C3%89rudit-141469165320/",
        "https://twitter.com/eruditorg",
        "https://github.com/erudit/",
        "https://www.linkedin.com/company/3628951"
      ]
    }
    </script>
    {% endblock structured_data %}

    {% block stylesheets %}
    {% if not WEBPACK_DEV_SERVER_URL %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
    {% endif %}
    {% endblock stylesheets %}

    <script>
      var LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
    </script>

    {# Ionicon font icon #}
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css">

    {# Cookie consent widget #}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />

    {% block extrahead %}{% endblock extrahead %}
  </head>
  <body
      id="{% block body_id %}id_body{% endblock body_id %}"
      class="{% block body_class %}fixed-header{% endblock body_class %}"
      data-controller="{% block data_controller %}{% endblock data_controller %}"
      data-action="{% block data_action %}{% endblock data_action %}"
      {% block body_data_attributes %}{% endblock body_data_attributes %}
    >

    {% block header %}
    <header id="site-header" class="{% block header_class %}site-header__fixed{% endblock header_class %} clearfix site-header">

      <div class="container-fluid">
        {# Érudit logo #}
        <div class="navbar-header pull-left">
          <h1 class="header-logo">
            <a href="/" id="title" title="{% trans 'Aller à l’accueil' %}" aria-label="{% trans 'Aller à l’accueil' %}" class="header-logo__link">
              <img src="{% static 'svg/logo-erudit-20.svg' %}" class="inline-svg header-logo__img" alt="{% blocktrans %}Logo du 20e anniversaire d’Érudit{% endblocktrans %}" />
            </a>
          </h1>
        </div>

        {# Search bar triggers (open / close) #}
        <div class="pull-right nav-search-triggers">
          <a href="#" data-trigger-search-bar class="nav-search-triggers__link nav-search-triggers__open " title="{% trans 'Effectuer une recherche simple' %}">
            <i class="icon ion-ios-search nav-search-triggers__icon"></i>
          </a>
          <a data-trigger-search-bar class="nav-search-triggers__link nav-search-triggers__close" title="{% trans 'Fermer la recherche simple (touche Échap)' %}">
            <i class="icon ion-ios-close nav-search-triggers__icon"></i>
          </a>
        </div>

        {# Hamburger menu on mobile / tablet viewports #}
        <div class="pull-right nav-menu-trigger">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false" aria-controls="main-menu" aria-label="{% trans 'Basculer le menu principal' %}">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </button>
        </div>

        {# Menu items #}
        <nav class="pull-right nav-menu" role="navigation" aria-expanded="false" aria-label="{% trans 'Menu principal' %}">
          <h2 class="sr-only">{% trans 'Menu principal' %}</h2>
          <ul id="main-nav" class="navbar-nav collapse navbar-collapse nav-menu__list">
            {% block mainnav %}
            {% block inner_nav %}{% endblock inner_nav %}
            <li class="nav-menu__item nav-menu__item_has-submenu">
              <a href="#" class="hidden-xs hidden-sm nav-menu__link">{% trans "Types de publications" %}<i class="icon ion-ios-arrow-down nav-menu__caret"></i></a>
              <ul class="nav-submenu">
                <li class="nav-submenu__item">
                  <a href="{% url 'public:journal:journal_list' %}" title="{% trans 'Index des revues' %}">{% trans "Revues" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="{% url 'public:thesis:home' %}" title="{% trans 'Index des dépôts institutionnels' %}">{% trans "Thèses et mémoires" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="{% url 'public:book:home' %}" title="{% trans 'Index des livres et actes' %}">{% trans "Livres et actes" %}</a>
                </li>
                {% switch "maintenance" %}
                {% else %}
                <li class="nav-submenu__item">
                  <a href="https://depot.erudit.org/{% if LANGUAGE_CODE == 'en' %}?locale=en{% endif %}" title="{% trans 'Index des rapports de recherche' %}" target="_blank">{% trans "Rapports de recherche" %}</a>
                </li>
                {% endswitch %}
              </ul>
            </li>
            {% switch "maintenance" %}
            {% else %}
            {% if request.user.is_anonymous %}
            <li class="nav-menu__item">
              <a href="{% url 'public:auth:landing' %}?next={{ request.get_full_path|urlencode }}" class="nav-menu__link" id="login-modal" title="{% trans 'Se connecter au tableau de bord' %}">
                {% trans "Connexion" %}
              </a>
            </li>
            {% else %}
            <li class="nav-menu__item nav-menu__item_has-submenu">
              <a href="{% url 'userspace:dashboard' %}"  title="{% trans 'Accéder à au tableau de bord' %}" class="nav-menu__link">{% trans "Mon compte" %} <i class="icon ion-ios-arrow-down nav-menu__caret"></i></a>
              <ul class="hidden-xs hidden-sm nav-submenu">
                {% has_perm 'userspace.access' request.user as can_access_userspace %}
                {% if can_access_userspace %}
                <li class="nav-submenu__item">
                  <a href="{% url 'userspace:dashboard' %}" title="{% trans 'Accéder à au tableau de bord' %}">{% trans "Tableau de bord" %}</a>
                </li>
                {% endif %}
                <li class="nav-submenu__item">
                  <a href="{% url 'public:auth:personal_data' %}" title="{% trans 'Modifier mes paramètres' %}">{% trans "Paramètres" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="{% url 'public:auth:logout' %}?next={{ request.get_full_path|urlencode }}" title="{% trans 'Se déconnecter' %}">{% trans "Déconnexion" %}</a>
                </li>
              </ul>
            </li>
            {% endif %}
            <li class="nav-menu__item nav-menu__item_has-submenu">
              <a href="{% if LANGUAGE_CODE == 'fr' %}https://apropos.erudit.org/fr/{% else %}https://apropos.erudit.org/en/{% endif %}" target="_blank" class="nav-menu__link" title="{% blocktrans %}À propos d’Érudit{% endblocktrans %}">{% trans "À propos" %} <i class="icon ion-ios-arrow-down nav-menu__caret"></i></a>
              <ul class="hidden-xs hidden-sm nav-submenu">
                <li class="nav-submenu__item">
                  <a href="https://apropos.erudit.org/{% if LANGUAGE_CODE == 'en' %}en{% endif %}" target="_blank" title="{% trans 'À propos d’Érudit' %}">{% trans "Érudit" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="https://www.coalition-publi.ca/{% if LANGUAGE_CODE == 'fr' %}le-projet{% endif %}" target="_blank" title="{% trans 'À propos de la Coalition Publi.ca' %}">{% trans "Coalition Publi.ca" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="https://co-shs.ca/" target="_blank" title="{% trans 'À propos du projet CO.SHS' %}">{% trans "CO.SHS" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="https://jamaistrop.erudit.org/{% if LANGUAGE_CODE == 'en' %}?lang=en{% endif %}" target="_blank">{% trans 'Jamais trop érudit' %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="https://partnership.erudit.org/{% if LANGUAGE_CODE == 'fr' %}accueil{% endif %}" target="_blank" title="{% trans 'À propos de nos partenariats' %}">{% trans "Partenariat" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="https://www.erudit.org/rapport/2018/{% if LANGUAGE_CODE == 'en' %}en{% endif %}" target="_blank" title="{% trans 'Consulter le rapport annuel' %}">{% trans "Rapport annuel" %}</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="https://salons.erudit.org/{% if LANGUAGE_CODE == 'en' %}en{% endif %}" target="_blank" title="{% trans 'Consulter Salons' %}">{% trans "Salons" %}</a>
                </li>
              </ul>
            </li>
            {% endswitch %}
            <li class="nav-menu__item">
              <a href="{% url 'public:search:advanced_search' %}" class="nav-menu__link" title="{% trans 'Effectuer une recherche avancée' %}">{% trans "Recherche avancée" %}</a>
            </li>
            <li class="nav-menu__item nav-menu__item_has-submenu">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              <a href="#" class="hidden-xs hidden-sm nav-menu__link">{{ LANGUAGE_CODE|upper }} <i class="icon ion-ios-arrow-down nav-menu__caret"></i></a>
              <ul class="nav-submenu">
                {% for language in LANGUAGES %}
                {% get_language_info for language.0 as lang %}
                <li class="nav-submenu__item">
                  <a href="{% trans_current_url language.0 %}"{% if language.0 == LANGUAGE_CODE %} class="nav-submenu__link_is-active"{% endif %}>
                    {{ lang.name_local|title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% switch "maintenance" %}
            {% else %}
            <li class="nav-menu__item">
              <a href="{% url 'public:citations:list' %}" title="{% trans 'Voir ma bibliothèque' %}" class="nav-menu__link">
                <i class="icon ion-ios-bookmark hidden-xs hidden-sm nav-menu__icon"></i>
                <span class="hidden-md hidden-lg">{% trans 'Ma bibliothèque' %}</span>
              </a>
            </li>
            {% endswitch %}
            {% endblock mainnav %}
          </ul>
        </nav>

        {# Simple search form #}
        <div class="nav-search">
          <form id="search-form" action="{% url 'public:search:results' %}" class="navbar-form nav-search__form" method="get">
              <label for="basic_search_term" class="nav-search__label sr-only">{% trans "Recherche simple" %}</label>
            <div class="nav-search__input-group">
              <input name="basic_search_term" id="basic_search_term" type="search" class="search-terms nav-search__input" placeholder="{% trans 'Par auteur, titre, mots-clés...' %}">
              <input type="hidden" name="funds" value="Érudit">
              <input type="hidden" name="funds" value="UNB">
              <button type="submit" class="btn btn-secondary nav-search__btn">
                <i class="icon ion-ios-search nav-search__btn-icon"></i>
              </button>
            </div>
          </form>
        </div>
      </div>

  </header>
    <nav id="breadcrumb" class="container-fluid breadcrumb">
      <h2 class="hidden">{% trans "Fil d'Ariane" %}</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul>
              <li><a href="/">Érudit</a></li> {% block breadcrumb %}{% endblock breadcrumb %}
            </ul>
          </div>
        </div>
      </div>
    </nav>

    {% if site_messages %}
    <div class="site-messages public">
      {% for site_message in site_messages %}
      <div class="alert alert-dismissible site-message-{{ site_message.level.lower }}">
        <p>
          {{ site_message.message|safe }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </p>
      </div>
     {% endfor %}
    </div>
    {% endif %}

    {% switch "alert" %}
    <div class="alert alert-dismissible maintenance">
      <p>
        {% blocktrans %}
        L'accès à la plateforme Érudit connaît actuellement un ralentissement, dû à un incident chez notre prestataire technique. Nous sommes désolés de ce désagrément et collaborons activement à rétablir le service. L'information sera mise à jour sur notre page<a href="https://twitter.com/eruditorg">Twitter</a>
        {% endblocktrans %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </p>
    </div>
    {% else %}
    {% block classic_website_fallback %}
    {% if fallback_url %}
    <div class="alert alert-dismissible fallback">
      <p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% blocktrans %}
        Vous êtes sur la nouvelle plateforme d’Érudit. Bonne visite! <a href="{{ fallback_url }}" target="_blank">Retour à l’ancien site</a>
        {% endblocktrans %}
      </p>
    </div>
    {% endif %}
    {% endblock classic_website_fallback %}
    {% endswitch %}
    {% endblock header %}

    {% block body %}
    {% block nav %}{% endblock nav %}

    {% block content_wrapper %}
      {% block messages %}
      <div class="container-alert">
        <div class="container">
          <div class="alert">
            {% include "partials/messages.html" %}
          </div>
        </div>
      </div>
      {% endblock %}
      {% block content %}
      {% endblock content %}
    {% endblock content_wrapper %}
    {% endblock body %}

    {% block footer %}
    <footer id="site-footer">
      <div class="text-center">
        <a href="#top" title="{% trans 'Retourner en haut' %}" class="scroll-top">|^</a>
      </div>

      <div id="footer-nav" class="container">
        <div class="row">

          {# newsletter #}
          <div class="col-sm-6">
            <form action="{{ MAILCHIMP_ACTION_URL }}" method="post" id="mc-embedded-subscribe-form" class="newsletter-form" name="mc-embedded-subscribe-form" target="_blank">
              <div aria-hidden="true" class="hidden"><input type="text" name="{{ MAILCHIMP_UUID }}" tabindex="-1" value=""></div>
              <fieldset class="col-sm-8">
                <label for="mce-EMAIL">{% trans "Abonnez-vous à notre infolettre&nbsp;:" %}</label>
                <div class="input-group">
                  <div class="input-group-btn">
                    <input type="email" value="" name="EMAIL" required id="mce-EMAIL" placeholder="{% trans "nom@courriel.com" %}" class="required email">
                    <input type="submit" value="{% blocktrans %}S'inscrire{% endblocktrans %}" name="subscribe" id="mc-embedded-subscribe" class="btn btn-dark">
                  </div>
                </div>
              </fieldset>
            </form>
          </div>

          {# nav items #}
          <div class="col-sm-6">

            <div class="child-column-fit">

              <div class="col-md-6">
                <ul class="unstyled footer-nav--about">
                  <li{% switch "maintenance" %} class="disabled"{% endswitch %}><a href="https://apropos.erudit.org/{% if LANGUAGE_CODE == 'en' %}en/{% endif %}" target="_blank">{% trans "À propos" %}</a></li>
                  <li><a href="{% url 'public:brand_assets' %}">{% trans "Logo et identité" %}</a></li>
                  <li class="disabled">{% trans "Abonnements" %}</li>
                </ul>
              </div>

              <div class="col-md-6">
                <div class="dropdown-buttons">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  <div class="select">{{ LANGUAGE_CODE|language_name_local|title }} <i class="icon ion-ios-arrow-down caret"></i></div>
                  <ul>
                    {% for language in LANGUAGES %}
                    {% get_language_info for language.0 as lang %}
                    <li><a href="{% trans_current_url language.0 %}" {% if language.0 != LANGUAGE_CODE %}class="btn btn-link active"{% else %}class="btn btn-link disabled"{% endif %}>{{ lang.name_local|title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>

              <hr class="col-xs-12">

              <div class="col-md-6">
                <ul class="unstyled footer-nav--publication-types">
                  <li><a href="{% url 'public:journal:journal_list' %}">{% trans "Revues" %}</a></li>
                  <li><a href="{% url 'public:thesis:home' %}">{% trans "Thèses et mémoires" %}</a></li>
                  {% flag "BOOKS" %}
                  <li><a href="{% url 'public:book:home' %}">{% trans "Livres et actes" %}</a></li>
                  {% else %}
                  <li{% switch "maintenance" %} class="disabled"{% endswitch %}><a href="https://retro.erudit.org/livre/{% if LANGUAGE_CODE == 'en' %}?lang=en{% endif %}" target="_blank">{% trans "Livres et actes" %}</a></li>
                  {% endflag %}
                  <li{% switch "maintenance" %} class="disabled"{% endswitch %}><a href="https://depot.erudit.org/{% if LANGUAGE_CODE == 'en' %}?locale=en{% endif %}" target="_blank">{% trans "Rapports de recherche" %}</a></li>
                  <li{% switch "maintenance" %} class="disabled"{% endswitch %}><a href="{% trans 'https://www.erudit.org/public/documents/Guide_recherche.pdf' %}" target="_blank">{% trans "Aide" %}</a></li>
                  <li class="disabled">{% trans "Plan du site" %}</li>
                  <li{% switch "maintenance" %} class="disabled"{% endswitch %}><a href="{% if LANGUAGE_CODE == 'fr' %}https://apropos.erudit.org/fr/erudit/contact/{% else %}https://apropos.erudit.org/en/erudit-en/contact/{% endif %}" target="_blank">{% trans "Nous contacter" %}</a></li>
                </ul>
              </div>

              <div class="col-md-6">
                <ul class="unstyled footer-nav--help">
                  <li{% switch "maintenance" %} class="disabled"{% endswitch %}>
                    <a href="https://apropos.erudit.org/{% if LANGUAGE_CODE == 'en' %}en{% endif %}" target="_blank" title="{% trans 'À propos d’Érudit' %}">{% trans "Érudit" %}</a>
                  </li>
                  <li{% switch "maintenance" %} class="disabled"{% endswitch %}>
                    <a href="https://www.coalition-publi.ca/{% if LANGUAGE_CODE == 'fr' %}le-projet{% endif %}" target="_blank" title="{% trans 'À propos de la Coalition Publi.ca' %}">{% trans "Coalition Publi.ca" %}</a>
                  </li>
                  <li{% switch "maintenance" %} class="disabled"{% endswitch %}>
                    <a href="https://co-shs.ca/{% if LANGUAGE_CODE == 'en' %}en{% endif %}" target="_blank" title="{% trans 'À propos du projet CO.SHS' %}">{% trans "CO.SHS" %}</a>
                  </li>
                  <li{% switch "maintenance" %} class="disabled"{% endswitch %}>
                    <a href="https://partnership.erudit.org/{% if LANGUAGE_CODE == 'fr' %}accueil{% endif %}" target="_blank" title="{% trans 'À propos de nos partenariats' %}">{% trans "Partenariat" %}</a>
                  </li>
                  <li{% switch "maintenance" %} class="disabled"{% endswitch %}>
                    <a href="https://www.erudit.org/rapport/2018/{% if LANGUAGE_CODE == 'en' %}en{% endif %}" target="_blank" title="{% trans 'Consulter le rapport annuel' %}">{% trans "Rapport annuel" %}</a>
                  </li>
                  <li{% switch "maintenance" %} class="disabled"{% endswitch %}>
                    <a href="https://salons.erudit.org/{% if LANGUAGE_CODE == 'en' %}en{% endif %}" target="_blank" title="{% trans 'Consulter Salons' %}">{% trans "Salons" %}</a>
                  </li>
                  <li{% switch "maintenance" %} class="disabled"{% endswitch %}>
                    <a href="https://jamaistrop.erudit.org/{% if LANGUAGE_CODE == 'en' %}?lang=en{% endif %}" target="_blank" class="campaign-link">{% trans 'Jamais trop érudit' %}</a>
                  </li>
                </ul>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="footer-legal">

        <div class="container">

          <div class="row">

            <div class="col-sm-6">
              <img src="{% static 'svg/logo-erudit-20.svg' %}" class="inline-svg  logo-white" alt="{% blocktrans %}Logo du 20e anniversaire d’Érudit{% endblocktrans %}" />
              <span class="erudit-headline">{% trans "Cultivez votre savoir." %}</span>
            </div>

            <div class="col-sm-6 child-column-fit">

              <div class="col-sm-6">
                <p>
                  © {% now "Y" %} {% trans "Consortium Érudit" %}
                </p>
                <ul class="unstyled">
                  <li>
                    <a href="{% trans 'https://www.iubenda.com/privacy-policy/79766356' %}" class="iubenda-nostyle iubenda-embed " title="{% trans "Politique de confidentialité" %}">{% trans "Politique de confidentialité" %}</a>
                  </li>
                  <li>
                    <a href="{% trans 'https://www.iubenda.com/privacy-policy/79766356/cookie-policy' %}" class="iubenda-nostyle iubenda-embed " title="{% trans "Politique relative aux cookies" %}">{% trans "Politique relative aux cookies" %}</a>
                  </li>
                  {% switch "maintenance" %}
                  {% else %}
                  <li>
                    <a href="{% if LANGUAGE_CODE == 'fr' %}https://apropos.erudit.org/fr/usagers/politique-dutilisation/{% else %}https://apropos.erudit.org/en/users/policy-on-use/{% endif %}" target="_blank">{% trans "Politique et licence d’utilisation" %}</a>
                  </li>
                  {% endswitch %}
                </ul>
              </div>

              <div class="col-sm-6">
                <p>{% trans "Suivez-nous&nbsp;:" %}</p>
                <ul class="social-icons inline">
                  <li>
                    <a href="https://www.facebook.com/%C3%89rudit-141469165320/" title="Facebook">
                      <i class="icon ion-logo-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/eruditorg" title="Twitter">
                      <i class="icon ion-logo-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/erudit/" title="Github">
                      <i class="icon ion-logo-github"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/company/3628951" title="LinkedIn">
                      <i class="icon ion-logo-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'public:journal:latest_issues_rss' %}" title="RSS">
                      <i class="icon ion-logo-rss"></i>
                    </a>
                  </li>
                </ul>
              </div>

            </div>

          </div>

        </div>

      </div>

    </footer>
    {% endblock footer %}

    <script src="{% static 'js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% url 'js_reverse' %}"></script>
    <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000000",
          "text": "#ffffff"
        },
        "button": {
          "background": "#ff4242",
          "text": "#ffffff"
        }
      },
      "content": {
        "message": "{% trans 'erudit.org  utilise des cookies (« témoins de connexion ») à des fins de statistiques et d’amélioration de l’expérience utilisateur. Ces données sont anonymes. En poursuivant votre visite, vous acceptez l’utilisation de ces cookies, que vous pourrez désactiver en tout temps dans votre fureteur web.' %}",
        "dismiss": "{% trans 'J’ai compris' %}",
        "link": "{% trans 'En savoir plus' %}",
        "href": "{% trans 'https://www.iubenda.com/privacy-policy/79766356/cookie-policy' %}"
      },
      "position": "bottom-right"
    })});
    </script>

    {% block scripts %}
    <script type="text/javascript" src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/app.js' %}"></script>
    {% endblock scripts %}

    {% block footerscript %}{% endblock footerscript %}
  </body>
</html>
