// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/**
* Freight Text Pro
*/

@font-face {
  font-family: 'FreightTextPro-Book';
  src: url('../fonts/freighttextpro/Serif-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/freighttextpro/Serif-Book.woff') format('woff'),
       url('../fonts/freighttextpro/Serif-Book.woff2') format('woff2'),
       url('../fonts/freighttextpro/Serif-Book.ttf')  format('truetype'),
       url('../fonts/freighttextpro/Serif-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FreightTextPro-BookItalic';
  src: url('../fonts/freighttextpro/Serif-BookItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/freighttextpro/Serif-BookItalic.woff') format('woff'),
       url('../fonts/freighttextpro/Serif-BookItalic.woff2') format('woff2'),
       url('../fonts/freighttextpro/Serif-BookItalic.ttf')  format('truetype'),
       url('../fonts/freighttextpro/Serif-BookItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FreightTextPro-Bold';
  src: url('../fonts/freighttextpro/Serif-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/freighttextpro/Serif-Bold.woff') format('woff'),
       url('../fonts/freighttextpro/Serif-Bold.woff2') format('woff2'),
       url('../fonts/freighttextpro/Serif-Bold.ttf')  format('truetype'),
       url('../fonts/freighttextpro/Serif-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FreightTextPro-BoldItalic';
  src: url('../fonts/freighttextpro/Serif-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/freighttextpro/Serif-BoldItalic.woff') format('woff'),
       url('../fonts/freighttextpro/Serif-BoldItalic.woff2') format('woff2'),
       url('../fonts/freighttextpro/Serif-BoldItalic.ttf')  format('truetype'),
       url('../fonts/freighttextpro/Serif-BoldItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
* Maax
*/

@font-face {
  font-family: 'Maax';
  src: url('../fonts/maax/Maax.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Maax.otf')  format('opentype'),
       url('../fonts/maax/Maax.woff') format('woff'),
       url('../fonts/maax/Maax.ttf')  format('truetype'),
       url('../fonts/maax/Maax.svg#Maax') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maax-Italic';
  src: url('../fonts/maax/Maax-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Maax-Italic.otf')  format('opentype'),
       url('../fonts/maax/Maax-Italic.woff') format('woff'),
       url('../fonts/maax/Maax-Italic.ttf')  format('truetype'),
       url('../fonts/maax/Maax-Italic.svg#Maax') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maax-Medium';
  src: url('../fonts/maax/Maax-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Maax-Medium.otf')  format('opentype'),
       url('../fonts/maax/Maax-Medium.woff') format('woff'),
       url('../fonts/maax/Maax-Medium.ttf')  format('truetype'),
       url('../fonts/maax/Maax-Medium.svg#Maax') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maax-Mediumitalic';
  src: url('../fonts/maax/Maax-Mediumitalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Maax-Mediumitalic.otf')  format('opentype'),
       url('../fonts/maax/Maax-Mediumitalic.woff') format('woff'),
       url('../fonts/maax/Maax-Mediumitalic.ttf')  format('truetype'),
       url('../fonts/maax/Maax-Mediumitalic.svg#Maax') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maax-Bold';
  src: url('../fonts/maax/Maax-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Maax-Bold.otf')  format('opentype'),
       url('../fonts/maax/Maax-Bold.woff') format('woff'),
       url('../fonts/maax/Maax-Bold.ttf')  format('truetype'),
       url('../fonts/maax/Maax-Bold.svg#Maax') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maax-BoldItalic';
  src: url('../fonts/maax/Maax-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Maax-BoldItalic.otf')  format('opentype'),
       url('../fonts/maax/Maax-BoldItalic.woff') format('woff'),
       url('../fonts/maax/Maax-BoldItalic.ttf')  format('truetype'),
       url('../fonts/maax/Maax-BoldItalic.svg#Maax') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
* Maax Regular Mono
*/

@font-face {
  font-family: 'Maax-RegularMono';
  src: url('../fonts/maax/Maax-RegularMono.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maax/Maax-RegularMono.otf')  format('opentype'),
       url('../fonts/maax/Maax-RegularMono.woff') format('woff'),
       url('../fonts/maax/Maax-RegularMono.ttf')  format('truetype'),
       url('../fonts/maax/Maax-RegularMono.svg#Maax') format('svg');
  font-weight: normal;
  font-style: normal;
}
