/**
 * Abstracts (<grresume>, <resume>)
 */

.grresume {

  p, li, blockquote {
    font-size: 14px;
    line-height: 1.5;
  }

  > .resume {
    padding-bottom: 2em;
    @include column-break-inside(avoid);

    h2, h3, h4 {
      color: $black;
      margin-top: 0;
    }

    h4 {
      font-size: 14px;
      margin: 0 0 0.5em 0;
      line-height: 1.5;
      @include font-styles('sans-medium');

    .subtitle {
      color: $dark-grey;
    }

    }

    &:first-of-type {

      h2 {
        border-top: 0;
        padding-top: 0;
      }

    }

    &:last-of-type {
      border: 0;
      padding-bottom: 0;
    }

  }

  &.double-col {

    @media (min-width: $screen-sm-min) {
        @include column-count(2);
    }

  }

  .keywords {
    margin-top: $margin-vertical-default/2;

    p, ul, li {
      display: inline;
      line-height: 1.15;
      list-style: none;
      padding: 0;
      margin: 0;
    }

  }

}
