/**
 * Abstracts (<grresume>, <resume>)
 */

.grresume {
  padding-bottom: $padding-vertical-default;

  > .resume {
    padding-bottom: 2em;
    @include column-break-inside(avoid);

    h2, h3 {
      color: #333;
      margin-top: 0;
    }

    p, ul,
    .titreparal, .motscles strong {
      font-size: 14px;
      line-height: 1.5;
      color: #000;
    }

    .titreparal, .motscles strong {
      @include fw-sans-medium();
    }

    &:first-of-type {

      h2 {
        border-top: 0;
        padding-top: 0;
      }

    }

  }

  &:last-of-type {
    border: none;
  }

  &.double-col {

    @media (min-width: $screen-sm-min) {
        @include column-count(2);
    }

  }

}
