/**
 * Bibliographies (<grbiblo>, <biblio>)
 */

 .grbiblio {

   .titre {
     color: $black;
     margin-top: 0.5em;
   }

   .refbiblio {
     margin-bottom: 1.75em;

     a {
       @include force-break;
     }

     .no {
       margin-right: 0.25em;
     }

   }

   .idpublic {
     @include fw-mono;
   }

   .refbiblio-links {
     margin: 0.5em 0;
     font-size: 12px;
   }

   .refbiblio-link {
     margin-right: 1em;
     color: $black;
   }

   .scholar-link {
     border-bottom: 1px solid $coral-red;
   }

 }
