/**
 * Figures and tables as figures / as an image (<figure>, <tableau>)
 * Includes lists at the end of the article
 */
.grfigure, .grtableau {
  padding: 1em 0;
  border-top: 1px dotted $mid-grey;

  .figure, .tableau {
    padding: 0;
    border-top: none;

    &:not(:last-child) .voirliste {
      display: none;
    }

  }

  .legende {
    margin-bottom: 0.75em;
  }

}

.figure, .tableau {
  margin-bottom: 1.5em;
  padding: 1em 0;
  border-top: 1px dotted $mid-grey;

  figcaption {

    .legende {

      .titre {
        @include font-styles('sans-medium');
      }

    }

  }

  .objetmedia {
    margin: 1em 0;
    display: block;
  }

  .notefigtab {
    margin: 0 0.25em 0.75em 0;

    .alinea {
      display: inline;
    }

  }

  .voirliste {
    margin: 0.75em 0;
    text-align: right;
  }
}

.grfigure, .grtableau, .figure, .tableau {
  p, ul, ol, blockquote {
    margin-bottom: 0;
    font-size: 14px;
    @include font-styles('sans');
  }
}

/**
 * List of figures & tables.
 */
#figures,
#tableaux {
  img {
    max-width: 150px;
  }

  figure {
    figcaption {
      margin: 0 0 1em 0;
    }

    div.figure-wrapper {
      margin: 1em 0 0 0;

      @media (min-width: $screen-xs-min) {
        display: table-row;
      }

      div.figure-object {
        a.objetmedia {
          margin: 0 0 1em 0;
        }

        @media (min-width: $screen-xs-min) {
          display: table-cell;
        }
      }

      div.figure-legende-notes-source {

        cite.source {
          text-align: left;
        }

        & > :first-child {
          margin-top: 0;
        }

        @media (min-width: $screen-xs-min) {
          display: table-cell;
          vertical-align: top;
          padding-left: 15px;
        }
      }
    }
  }
}
