/**
 * Figures and tables as figures / as an image (<figure>, <tableau>)
 * Includes lists at the end of the article
 */
.grfigure, .grtableau {

  .figure, .tableau {

    &:not(:last-child) .voirliste {
      display: none;
    }

  }

  .legende {
    margin-bottom: 0.75em;
  }

}

.figure, .tableau {
  margin-bottom: 1.5em;
  padding: 1em 0;
  border-top: 1px dotted $mid-grey;

  img {
    margin: auto;
  }

  figcaption {

    .no {
      display: block;
      font-size: 14px;
      line-height: 1;
      @include fw-mono;
    }

    .legende {

      .titre {
        @include font-styles('sans-medium');
      }

    }

    .notefigtab {
      margin-bottom: 0.75em;

      .alinea {
        display: inline;
        padding-left: 0.25em;
      }

    }

  }

  .voirliste {
    @include fw-sans;
    font-size: 14px;
    margin: 0.75em 0;
    text-align: right;
  }

  .voirliste, .allertexte {
    padding: 0 0.5em;
  }

}
