/**
 * Mathematical formulae (<equation>)
 */

 .equation {
   margin: 0.75em 0;

   .legende {
     margin-bottom: 0.25em;
   }

   p,
   .no {
    margin: 0;
  }

  .no {
    color: $dark-grey;
    margin-left: 1em;
    float: right;
  }

 }
