/**
 * Lists
 */

ul {

  &.nul {
    list-style: none;
    margin-left: 1em;
  }

  &.carre {
    list-style: square;
  }

  &.disque {
    list-style: disc;
  }

  &.cercle {
    list-style: circle;
  }

  &.tiret {
      list-style: none;
      margin-left: 12px;

      & > li {
        &:before {
          content: '– ';
          margin-left: -12px;
        }

        & > ul {
          margin-left: 2em;

          &.tiret {
            margin-left: 1em;
          }
        }
      }

      .alinea:first-child {
        display: inline;
      }

  }

}

ol {

  &.decimal {
    list-style: decimal;
  }

  &.lettremaj {
    list-style: upper-alpha;
  }

  &.lettremin {
    list-style: lower-alpha;
  }

  &.romainmaj {
    list-style: upper-roman;
  }

  &.romainmin {
    list-style: lower-roman;
  }

}
