/**
 * References and footnotes (<renvoi>, <note>)
 */

.norenvoi, .nonote {
  @include fw-sans;
  font-size: 0.85em;
  vertical-align: top;

  &:hover, &:active, &:focus {
    text-decoration: none;
    color: #FFF;
    background: $coral-red;
  }

  @media (max-width: $screen-sm-max) {
    &[class*="hint--"] {
      &:after, &:before {
        display: none;
      }
    }
  }

}

.nonote {
  margin-right: 0.5em;
}

.encadre,
.grnote {

  .note {
    margin-bottom: 0.5em;

   & > .alinea {
      margin-top: 0.5em;

      &:nth-of-type(1) {
        display: inline;
      }
    }

  }

}
