/**
 * Source / target tables (<listerelation>)
 */

.listerelation {

  tr {
    border: 0;
  }

  th {
    @include font-styles('serif-bold');
    text-align: left;
  }

  td, th {
    padding: 0.25em 0.5em;
  }

  &.type2, &.type5 {

    .lrsource p {
      @include font-styles('serif-bold');
    }

  }

  &.type3, &.type6 {
    @include font-styles('serif');

    .lrcible p {
      @include fw-serif-italic;
    }

  }

  &.type4 {

    .lrcible p {
      margin-left: 1.5em;
    }

  }

}

table[class^=tabtexte] {
  
  p + p, li + li {
    margin-top: 11.5px;
  }

}
