/**
 * Source / target tables (<listerelation>)
 */

.listerelation {

  tr {
    border: 0;
  }

  th {
    @include font-styles('serif-bold');
    text-align: left;
  }

  td, th {
    padding: 0.25em 0.5em;
  }

  td[class=lrsource] {
    width: 40px;
  }

  &.type2, &.type5 {

    .lrsource p {
      @include font-styles('serif-bold');
    }

  }

  &.type3, &.type6 {
    @include font-styles('serif');

    .lrcible p {
      @include fw-serif-italic;
    }

  }

  &.type4 {

    .lrcible p {
      margin-left: 1.5em;
    }

  }

}

table[class^=tabtexte] {

  p + p, li + li {
    margin-top: 11.5px;
  }

  thead {
    border-bottom: 1px solid $dark-grey;
  }

  td, th {
    padding: 0.75em;
  }

  &.frame-hsides {
    border-top: 1px solid $mid-grey;
    border-bottom: 1px solid $mid-grey;
  }

  &.frame-box {
    border: 1px solid $mid-grey;
  }

  .align-left {
    text-align: left;
  }

  .align-center {
    text-align: center;
  }

  .align-right {
    text-align: right;
  }

  .align-justify {
    text-align: justify;
  }

  .valign-top {
    vertical-align: top;
  }

  .valign-middle {
    vertical-align: middle;
  }

  .valign-bottom {
    vertical-align: bottom;
  }

  .valign-baseline {
    vertical-align: baseline;
  }

}
