{% load i18n %}
{% load search_tags %}

{% if filter %}
{% is_search_filter_has_values selected_filters filter_label as has_selected_values %}
<div id="div_id_{{ filter_label }}" class="form-group akkordion" data-akkordion-single="true">
    <label for="id_{{ filter_label }}_0" class="control-label akkordion-title">{% trans title %} {% if help_text %}<span class="hint--top hint--no-animate" data-hint="{{ help_text }}"><i class="ion-help-circled"></i></span>{% endif %} <i class="icon ion-ios-arrow-down caret"></i></label>
    <div class="controls akkordion-content {% if has_selected_values %}akkordion-active{% endif %}">
        {% for label, count in filter.values.items %}

        {# wrap in accordion after 10th #}
        {% if forloop.counter == 11 %}
        {# open div #}
        <div class="akkordion" data-akkordion-single="true">
          <h5 class="akkordion-title color-red pull-right">{% trans "+ Autres..." %}</h5>
          <div class="akkordion-content">
        {% endif %}

            <div class="checkbox">
              <input type="checkbox" name="{{ filter_label }}" class="styled" id="id_{{ filter_label }}_{{ forloop.counter }}" value="{{ label }}" {% is_search_filter_value_selected selected_filters filter_label label %}>
              <label for="id_{{ filter_label }}_{{ forloop.counter }}" class="">{{ label }} ({{ count }})</label>
            </div>

        {# close accordion when last with at least 11 items #}
        {% if forloop.counter >= 11 and forloop.last %}
          {# close accordion content #}
          </div>
          {# close accordion main #}
        </div>
        {% endif %}
        {# end accordion wrapper #}

        {% endfor %}
    </div>
</div>
{% endif %}
