{% extends "public/search/base.html" %}
{% load i18n %}
{% load search_tags %}
{% load crispy_forms_tags %}

{% block page-title %}{% trans "Recherche" %}{% endblock %}

{% block data-controller %}public:search{% endblock data-controller %}

{% block content %}
<!--
Query URL: {{ query_url|safe }}
-->

<section id="search-page" class="container">

  <div class="row">

    <header class="page-header-main search-header col-xs-12 border-bottom">
      <hgroup>
        <h2>{% trans "Résultats de recherche" %} <span class="hint--top hint--no-animate" data-hint="{% trans "Help text!" %}"><i class="ion-help-circled"></i></span></h2>
        {% if documents %}
        <h3><strong>{{ results_count }}</strong> {% trans "résultats trouvé pour la requête :" %}</h3>
        {% else %}
        <h3>{% trans "Aucun document trouvé" %}</h3>
        {% endif %}
        <h4 class="mono-space search-terms">
          {% for search_element in search_elements %}
          <span class="search-operator">{{ search_element.search_operator }}</span> ({{ search_element.search_field }} : {{ search_element.search_term }})
          {% endfor %}
        </h4>
      </hgroup>
    </header>

  </div>

  <div class="row">

    {# search form side #}
    <aside class="col-sm-3 search-form">

      <form action="{% url 'public:search:search' %}" id="id-search" method="get" >

        {% crispy form %}
        {% search_filters %}

        <div class="form-action col-xs-9 col-centered">
          <button type="submit" class="btn btn-primary btn-block">{% trans "Filtrer" %}</button>
        </div>

      </form>

    </aside>

    {# search results #}
    <div class="col-sm-7 col-sm-push-2 search-results">

      {% if documents %}

        <nav class="result-sorting">
          <ul class="unstyled">
            <li class="label">
              <h5>{% trans "Classé par" %}</h5>
            </li>
            <li class="dropdown-buttons dropdown-sml" id="search-nav-sort-by">
              <a href="#" class="select"><span class="text">{% trans "Ordre croissant" %}</span> <i class="ion-ios-arrow-down caret"></i></a>
              <ul></ul>
            </li>
            <li class="label">
              {% trans "Trier par..." %}
            </li>
            <li class="dropdown-buttons dropdown-sml" id="search-nav-order-by">
              <a href="#" class="select"><span class="text">{% trans "Pertinance" %}</span> <i class="ion-ios-arrow-down caret"></i></a>
              <ul></ul>
            </li>
          </ul>
        </nav>

        {% search_result_pagination %}

        <ol class="unstyled results">
          {% for document in documents %}
          <li>
              {% if document.article %}{% include "public/search/_article_preview.html" with article=document.article %}{% endif %}
          </li>
          {% endfor %}
        </ol>

        {% search_result_pagination %}

      {% else %}

        <h3>{% trans "Aucun document trouvé." %}</h3>

      {% endif %}

    </div>



  </div>

</section>

{% endblock content %}
