{% extends "public/search/base.html" %}
{% load i18n %}
{% load search_tags %}
{% load crispy_forms_tags %}

{% block page-title %}{% trans "Recherche" %}{% endblock %}

{% block content %}
<div class="container">
<div class="search-form">
    <form  action="{% url 'public:search:search' %}" id="id-search" class="search" method="get" >
    {% crispy form %}

    {% search_filters %}

    <div class="form-group">
        <div class="controls ">
            <input type="submit" name="submit" value="Recherche" class="btn btn-primary btn btn-primary" id="submit-id-submit"/>
        </div>
    </div>
    </form>
</div>

{% if documents %}
<div class="search-results">
    <h2>{% trans "Résultats" %}</h2>
    <p>{{ results_count }} {% trans "résultats trouvé" %}</p>
    <p>{% trans "Page" %} {{ current_page }} {% trans "de" %} {{ page_count }}</p>
    <ul>
        {% for document in documents %}
        <li>
            {% if document.article %}{% include "public/search/_article_preview.html" with article=document.article %}{% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

{% search_result_pagination %}
{% endif %}
{% endblock content %}
</div>
