{% if port != "80" %}
Listen {{ port }}
{% endif %}

<VirtualHost *:{{ port }}>
    WSGIDaemonProcess {{ hostname }} python-path={{ virtualenv_root }}/lib/python{{ python_version }}/site-packages:{{ project_root }}/erudit/
    WSGIProcessGroup {{ hostname }}

    WSGIScriptAlias / {{ project_root }}/erudit/erudit/wsgi.py process-group={{ hostname }}
    {% if hostname %}
    ServerName {{ hostname }}
    {% endif %}
    Alias /media/ {{ project_root }}/media/
    Alias /static/ {{ project_root }}/static/

    CustomLog /var/log/apache2/{{ project_name }}-{{ project_env }}.log combined
    ErrorLog /var/log/apache2/{{ project_name }}-{{ project_env }}-error.log
    LogLevel debug

    <Directory {{ project_root }}/>
        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>

    <Directory {{ project_root }}/static>
        Require all granted
    </Directory>

    <Directory {{ project_root }}/media>
        Require all granted
    </Directory>
</VirtualHost>