{% extends "userspace/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Reporting" %}{% endblock title %}

{% block content %}
  <form  class="form-vertical" method="get" action="">{% csrf_token %}
    {% if form.non_field_errors %}
    <div class="col-xs-12">
      {% for error in form.non_field_errors %}
      <p class="alert alert-warning">{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
    <div id="div_id_{{ form.author.html_name }}" class="form-group{% if form.author.errors %} has-error{% endif %}">
      <div class="controls">
        <label class="control-label" for="{{ form.author.auto_id }}">{{ form.author.label }}</label>
        {{ form.author|add_class:'form-control' }}
        {% for error in form.author.errors %}<p class="error">{{ error }}</p>{% endfor %}
      </div>
    </div>
    <div id="div_id_{{ form.journal.html_name }}" class="form-group{% if form.journal.errors %} has-error{% endif %}">
      <div class="controls">
        <label class="control-label" for="{{ form.journal.auto_id }}">{{ form.journal.label }}</label>
        {{ form.journal|add_class:'form-control' }}
        {% for error in form.journal.errors %}<p class="error">{{ error }}</p>{% endfor %}
      </div>
    </div>
    <div id="div_id_{{ form.type.html_name }}" class="form-group{% if form.type.errors %} has-error{% endif %}">
      <div class="controls">
        <label class="control-label" for="{{ form.type.auto_id }}">{{ form.type.label }}</label>
        {{ form.type|add_class:'form-control' }}
        {% for error in form.type.errors %}<p class="error">{{ error }}</p>{% endfor %}
      </div>
    </div>
    <div id="div_id_{{ form.year.html_name }}" class="form-group{% if form.year.errors %} has-error{% endif %}">
      <div class="controls">
        <label class="control-label" for="{{ form.year.auto_id }}">{{ form.year.label }}</label>
        {{ form.year|add_class:'form-control' }}
        {% for error in form.year.errors %}<p class="error">{{ error }}</p>{% endfor %}
      </div>
    </div>
    <div id="div_id_{{ form.collection.html_name }}" class="form-group{% if form.collection.errors %} has-error{% endif %}">
      <div class="controls">
        <label class="control-label" for="{{ form.collection.auto_id }}">{{ form.collection.label }}</label>
        {{ form.collection|add_class:'form-control' }}
        {% for error in form.collection.errors %}<p class="error">{{ error }}</p>{% endfor %}
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <input id="submit-id-submit" class="btn btn-primary" name="submit" value="{% trans 'Valider' %}" type="submit"></input>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'userspace:reporting:csv_issue_export' %}?{{ request.GET.urlencode }}" class="btn btn-primary">
        {% trans "CSV / Numéro" %}
      </a>
      <a href="{% url 'userspace:reporting:csv_journal_export' %}?{{ request.GET.urlencode }}" class="btn btn-primary">
        {% trans "CSV / Revue" %}
      </a>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        {% if results.hits >= 0 %}
          <div>
            <b>
              {% blocktrans count counter=results.hits %}
                {{ counter }} article trouvé.
              {% plural %}
                {{ counter }} articles trouvés.
              {% endblocktrans %}
            </b>
          </div>
          <div>
            <b>{% trans "Répartition par année:" %}</b>&nbsp;
            {% for y in year_agg %}<span class="text-muted">{{ y.0 }}</span> ({{ y.1 }}){% if not forloop.last %}, {% endif %}{% endfor %}
          </div>
          <div>
            <b>{% trans "Répartition par revue:" %}</b>&nbsp;
            {% for j in journal_agg %}<span class="text-muted">{{ j.0 }}</span> ({{ j.1 }}){% if not forloop.last %}, {% endif %}{% endfor %}
          </div>
          <div>
            <b>{% trans "Répartition par numéro:" %}</b>&nbsp;
            {% for i in issue_agg %}<span class="text-muted">{{ i.0 }}</span> ({{ i.1 }}){% if not forloop.last %}, {% endif %}{% endfor %}
          </div>
          <div>
            <b>{% trans "Répartition par auteur:" %}</b>&nbsp;
            {% for a in author_agg %}<span class="text-muted">{{ a.0 }}</span> ({{ a.1 }}){% if not forloop.last %}, {% endif %}{% endfor %}
          </div>
          <div>
            <b>{% trans "Répartition par type:" %}</b>&nbsp;
            {% for t in type_agg %}<span class="text-muted">{{ t.0 }}</span> ({{ t.1 }}){% if not forloop.last %}, {% endif %}{% endfor %}
          </div>
        {% else %}
          <b>
          {% blocktrans count counter=articles_count %}
            Le corpus comporte {{ counter }} article.
          {% plural %}
            Le corpus comporte {{ counter }} articles.
          {% endblocktrans %}
          </b>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
