{% extends "base.html" %}
{% load static i18n %}
{% load staticfiles %}
{% load rules %}

{% block stylesheets %}
{% if not WEBPACK_DEV_SERVER_URL %}
<link rel="stylesheet" type="text/css" href="{% static 'css/PublicApp.css' %}" />
{% endif %}
{% endblock stylesheets %}

{% block body_class %}public fixed-header{% endblock %}

{# public page header #}
{% block header %}
<header id="site-header" class="{% block header_class %}fixed{% endblock %}">

  <div class="container-fluid">
    <div class="row">
      <h1 id="brand" class="col-md-4">
        <a href="/">
          <img src="{% static 'svg/logo-erudit.svg' %}" class="inline-svg" alt="Érudit" />
        </a>
      </h1>

      {% url 'public:journal:journal_list' as journal_list_url %}

      <nav id="main-nav" class="col-md-8">
        <h2 class="hidden">{% trans "Menu principal" %}</h2>
        <ul class="unstyled menu-bar">
          {% block mainnav %}
            <li class="dropdown {% if journal_list_url in request.path %}active{% endif %}">
              <div class="select main-section">{% trans "Types de publications" %}<span class="ion-ios-arrow-down caret"></span></div>
              <ul>
                <li>
                  <a href="{% url 'public:journal:journal_list' %}">{% trans "Revues" %}</a>
                </li>
                <li>
                  <a href="#">{% trans "Livres et actes" %}</a>
                </li>
                <li>
                  <a href="{% url 'public:thesis:home' %}">{% trans "Thèses" %}</a>
                </li>
                <li>
                  <a href="#">{% trans "Littérature grise" %}</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="https://apropos.erudit.org/" target="_blank" class="select main-section">{% trans "À propos" %}<span class="ion-ios-arrow-down caret"></span></a>
              <ul>
                <li>
                  <a href="https://apropos.erudit.org/bibliotheques" target="_blank">{% trans "Bibliothécaires" %}</a>
                </li>
                <li>
                  <a href="https://apropos.erudit.org/editeurs" target="_blank">{% trans "Éditeurs" %}</a>
                </li>
                <li>
                  <a href="https://apropos.erudit.org/chercheurs" target="_blank">{% trans "Chercheurs" %}</a>
                </li>
                <li>
                  <a href="https://apropos.erudit.org/usagers" target="_blank">{% trans "Utilisateurs" %}</a>
                </li>
                <li>
                  <a href="https://apropos.erudit.org/collections" target="_blank">{% trans "Collections" %}</a>
                </li>
              </ul>
            </li>
            {% if request.user.is_anonymous %}
            <li>
              <a href="{% url 'public:auth:login' %}?next={{ request.get_full_path|urlencode }}" class="main-section" id="login-modal">
                {% trans "Connexion" %}
              </a>
            </li>
            {% else %}
            <li class="dropdown">
              <div class="select main-section">{% trans "Mon compte" %}<span class="ion-ios-arrow-down caret"></span></div>
              <ul>
                {% has_perm 'userspace.access' request.user as can_access_userspace %}
                {% if can_access_userspace %}
                <li>
                  <a href="{% url 'userspace:dashboard' %}">{% trans "Espace privé" %}</a>
                </li>
                {% endif %}
                <li>
                  <a href="#">{% trans "Mon profil" %}</a>
                </li>
                <li>
                  <a href="{% url 'public:auth:logout' %}?next=/">{% trans "Déconnexion" %}</a>
                </li>
              </ul>
            </li>
            {% endif %}
            <li>
              <a href="{% url 'public:search:advanced_search' %}" class="main-section">Recherche avancée</a>
            </li>
            <li>
              <a href="#" data-trigger-search-bar class="search"><span class="ion-ios-search-strong"></span></a>
            </li>
            <li class="search-form">
              <form action="{% url 'public:search:results' %}" class="search-bar" method="get">
                <div class="form-group">
                  <div class="input-group-btn">
                    <input name="basic_search_term" type="search" class="search-terms form-control" placeholder="{% trans 'Par auteur, titre, mots-clés...' %}">
                    <button type="submit" class="btn btn-primary-outlined">{% trans 'Rechercher' %}</button>
                    <a data-trigger-search-bar class="close"><span class="ion-android-close"></span></a>
                  </div>
                </div>
              </form>
            </li>
          {% endblock %}
        </ul>
      </nav>

    </div>
  </div>

</header>

<nav id="breadcrumb" class="container-fluid">
  <h2 class="hidden">{% trans "Fil d'Ariane" %}</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="no-margin">
          <a href="/">Érudit</a> {% block breadcrumb %}{% endblock %}
        </p>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="messages-wrapper">
      {% include "partials/messages.html" %}
    </div>
  </div>
</div>
<main role="main">
{% block content %}{% endblock content %}
</main>
{% endblock body %}

{% block footer %}

<footer id="erudit-subscription-type" class="container margin-top">

  <div class="row">
    <header class="col-md-12">
      <div class="alert alert-warning">
        <h5 class="bold">{% trans "Votre accès Érudit" %}</h5>
        {% if request.subscription_type == 'institution' %}
          <p class="text-muted">{{ request.institutional_account.institution.name }}</p>
          {% if request.institutional_account.badge %}
            <img src="{{ request.institutional_account.badge.url }}" alt="" />
          {% endif %}
        {% elif request.subscription_type == 'individual' %}
          <p class="text-muted">{% blocktrans trimmed with username=request.user.username %}Accès individuel ({{ username }}){% endblocktrans %}</p>
        {% elif request.subscription_type == 'open_access' %}
          <p class="text-muted">{% trans "Libre accès" %}</p>
        {% endif %}
      </div>
    </header>
  </div>

</footer>

{% include "public/partials/footer.html" %}

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/PublicApp.js' %}"></script>
{% endblock scripts %}
