{% extends "base.html" %}
{% load static i18n %}
{% load staticfiles %}
{% load rules %}
{% load base_urls_tags %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Érudit",
  "url" : "{{ request.scheme }}://{{ request.site.domain }}",
  "logo" : "{{ request.scheme }}://{{ request.site.domain }}{% static 'img/logo-erudit.png' %}",
  "sameAs" : [
    "https://www.facebook.com/%C3%89rudit-141469165320/",
    "https://twitter.com/eruditorg",
    "https://github.com/erudit/",
    "https://www.linkedin.com/company/3628951"
  ]
}
</script>
{% endblock structured_data %}

{% block stylesheets %}
{% if not WEBPACK_DEV_SERVER_URL %}
<link rel="stylesheet" type="text/css" href="{% static 'css/PublicApp.css' %}" />
{% endif %}
{% endblock stylesheets %}

{% block body_class %}public fixed-header{% endblock body_class %}

{# public page header #}
{% block header %}
<header id="site-header" class="{% block header_class %}fixed{% endblock header_class %} clearfix">
  <nav>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false" aria-controls="navbar">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
        <h1 id="brand" class="navbar-brand">
          <a href="/">
            <img src="{% static 'svg/logo-erudit.svg' %}" class="inline-svg" alt="Érudit" />
          </a>
        </h1>
      </div>
      {% url 'public:journal:journal_list' as journal_list_url %}
      <div id="main-nav" class="navbar-collapse collapse">
        <h2 class="hidden">{% trans "Menu principal" %}</h2>
        <ul class="nav navbar-nav navbar-right unstyled">
          {% block mainnav %}
          <li class="dropdown {% if journal_list_url in request.path %}active{% endif %}">
            <a href="#" class="select main-section">{% trans "Types de publications" %}<span class="ion-ios-arrow-down caret"></span></a>
            <ul>
              <li>
                <a href="{% url 'public:journal:journal_list' %}" title="{% trans 'Index des revues' %}">{% trans "Revues" %}</a>
              </li>
              <li>
                <a href="{% url 'public:thesis:home' %}" title="{% trans 'Index des dépôts institutionnels' %}">{% trans "Thèses" %}</a>
              </li>
              <li>
                <a href="#" title="{% trans 'Index des livres et actes' %}">{% trans "Livres et actes" %}</a>
              </li>
              <li>
                <a href="#" title="{% trans 'Index des rapports de recherche' %}">{% trans "Rapports de recherche" %}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="https://apropos.erudit.org/" target="_blank" class="select main-section" title="{% blocktrans %}À propos d'Érudit{% endblocktrans %}">{% trans "À propos" %}<span class="ion-ios-arrow-down caret"></span></a>
            <ul>
              <li>
                <a href="https://apropos.erudit.org/bibliotheques" target="_blank" title="{% trans 'Information pour les bibliothécaires' %}">{% trans "Bibliothécaires" %}</a>
              </li>
              <li>
                <a href="https://apropos.erudit.org/editeurs" target="_blank" title="{% trans 'Information pour les éditeurs' %}">{% trans "Éditeurs" %}</a>
              </li>
              <li>
                <a href="https://apropos.erudit.org/chercheurs" target="_blank" title="{% trans 'Information pour les chercheurs' %}">{% trans "Chercheurs" %}</a>
              </li>
              <li>
                <a href="https://apropos.erudit.org/usagers" target="_blank" title="{% trans 'Information pour les utilisateurs' %}">{% trans "Utilisateurs" %}</a>
              </li>
              <li>
                <a href="https://apropos.erudit.org/collections" target="_blank" title="{% trans 'Information sur nos collections' %}">{% trans "Collections" %}</a>
              </li>
            </ul>
          </li>
          {% if request.user.is_anonymous %}
          <li>
            <a href="{% url 'public:auth:login' %}?next={{ request.get_full_path|urlencode }}" class="main-section" id="login-modal" title="{% trans 'Se connecter au tableau de bord' %}">
              {% trans "Connexion" %}
            </a>
          </li>
          {% else %}
          <li class="dropdown">
            <a href="#" class="select main-section">{% trans "Mon compte" %}<span class="ion-ios-arrow-down caret"></span></a>
            <ul>
              {% has_perm 'userspace.access' request.user as can_access_userspace %}
              {% if can_access_userspace %}
              <li>
                <a href="{% url 'userspace:dashboard' %}" title="{% trans 'Accéder à au tableau de bord' %}">{% trans "Tableau de bord" %}</a>
              </li>
              {% endif %}
              <li>
                <a href="{% url 'public:auth:personal_data' %}" title="{% trans 'Modifier mes paramètres' %}">{% trans "Paramètres" %}</a>
              </li>
              <li>
                <a href="{% url 'public:auth:logout' %}?next=/" title="{% trans 'Se déconnecter' %}">{% trans "Déconnexion" %}</a>
              </li>
            </ul>
          </li>
          {% endif %}
          <li class="hidden-sm">
            <a href="{% url 'public:search:advanced_search' %}" class="main-section" title="{% trans 'Effectuer une recherche avancée' %}">{% trans "Recherche avancée" %}</a>
          </li>
          <li>
            <a href="{% url 'public:citations:list' %}" title="{% trans 'Voir ma bibliothèque' %}">
              <span class="erudicon erudicon-tools-save"></span>
            </a>
          </li>
          <li>
            <a href="#" data-trigger-search-bar class="search" title="{% trans 'Effectuer une recherche simple' %}"><span class="ion-ios-search-strong"></span></a>
            <div class="search-form">
              <form action="{% url 'public:search:results' %}" class="search-bar" method="get">
                <div class="form-group">
                  <div class="input-group-btn">
                    <label for="basic_search_term" class="hidden">{% trans "Mots-clés" %}</label>
                    <input name="basic_search_term" type="search" class="search-terms form-control" placeholder="{% trans 'Par auteur, titre, mots-clés...' %}">
                    <button type="submit" class="btn btn-secondary">{% trans 'Rechercher' %}</button>
                    <a data-trigger-search-bar class="close"><span class="ion-android-close"></span></a>
                  </div>
                </div>
              </form>
            </div>
          </li>
          {% endblock mainnav %}
        </ul>
      </div>
    </div>
  </nav>
</header>
<nav id="breadcrumb" class="container-fluid breadcrumb">
  <h2 class="hidden">{% trans "Fil d'Ariane" %}</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li><a href="/">Érudit</a></li> {% block breadcrumb %}{% endblock breadcrumb %}
        </ul>
      </div>
    </div>
  </div>
</nav>

{% block classic_website_fallback %}
{% if fallback_url %}
<div class="fallback">
  <div class="container">
    <p>
    {% blocktrans %}
    Vous êtes sur la nouvelle plateforme d’Érudit. Bonne visite! <a href="{{ fallback_url }}" target="_blank">Retour à l’ancien site</a>
    {% endblocktrans %}
  </p>
</div>
</div>
{% endif %}
{% endblock classic_website_fallback %}

{% endblock header %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="messages-wrapper">
      {% include "partials/messages.html" %}
    </div>
  </div>
</div>

{% block content_wrapper %}{% block content %}{% endblock content %}{% endblock content_wrapper %}
{% endblock body %}

{% block footer %}
<footer id="site-footer" role="contentinfo">

  <div id="footer-nav" class="container">
    <div class="row">

      {# newsletter #}
      <div class="col-sm-6">
        <form action="{{ MAILCHIMP_ACTION_URL }}" method="post" id="mc-embedded-subscribe-form" class="newsletter-form" name="mc-embedded-subscribe-form" target="_blank">
          <div aria-hidden="true" class="hidden"><input type="text" name="{{ MAILCHIMP_UUID }}" tabindex="-1" value=""></div>
          <fieldset class="col-sm-8">
            <label for="mce-EMAIL">{% trans "Abonnez-vous à notre infolettre&nbsp;:" %}</label>
            <div class="input-group">
              <div class="input-group-btn">
                <input type="email" value="" name="EMAIL" required id="mce-EMAIL" placeholder="{% trans "nom@courriel.com" %}" class="required email">
                <input type="submit" value="{% blocktrans %}S'inscrire{% endblocktrans %}" name="subscribe" id="mc-embedded-subscribe" class="btn btn-dark">
              </div>
            </div>
          </fieldset>
        </form>
      </div>

      {# nav items #}
      <div class="col-sm-6">

        <div class="child-column-fit">

          <div class="col-md-6">
            <ul class="unstyled footer-nav--about">
              <li><a href="https://apropos.erudit.org/" target="_blank">{% trans "À propos" %}</a></li>
              <li class="disabled">{% trans "Abonnements" %}</li>
            </ul>
          </div>

          <div class="col-md-6">
            <div class="dropdown-buttons">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              <div class="select main-section">{{ LANGUAGE_CODE|language_name_local|title }} <span class="ion-ios-arrow-down caret"></span></div>
              <ul>
                {% for language in LANGUAGES %}
                {% get_language_info for language.0 as lang %}
                <li><a href="{% trans_current_url language.0 %}" {% if language.0 != LANGUAGE_CODE %}class="btn btn-link active"{% else %}class="btn btn-link disabled"{% endif %}>{{ lang.name_local|title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <hr class="col-xs-12">

          <div class="col-md-6">
            <ul class="unstyled footer-nav--publication-types">
              <li><a href="{% url 'public:journal:journal_list' %}">{% trans "Revues" %}</a></li>
              <li><a href="{% url 'public:thesis:home' %}">{% trans "Thèses" %}</a></li>
              <li class="disabled">{% trans "Livres & actes" %}</li>
              <li class="disabled">{% trans "Rapports de recherche" %}</li>
            </ul>
          </div>

          <div class="col-md-6">
            <ul class="unstyled footer-nav--help">
              <li class="disabled">{% trans "Aide" %}</li>
              <li class="disabled">{% trans "Plan du site" %}</li>
              <li><a href="mailto:info@erudit.org?subject=Érudit">{% trans "Nous contacter" %}</a></li>
              <li class="campaign-link">{% trans 'Jamais trop érudit' %}</li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="footer-legal">

    <div class="container">

      <div class="row">

        <div class="col-sm-6">
          <img src="{% static 'svg/logo-erudit.svg' %}" alt="{% blocktrans %}Logo d'Érudit{% endblocktrans %}" class="inline-svg logo-white" />
          <span class="erudit-headline">{% trans "Cultivez votre savoir." %}</span>
        </div>

        <div class="col-sm-6 child-column-fit">

          <div class="col-sm-6">
            <p>
              © {% now "Y" %} {% trans "Consortium Érudit" %}
            </p>
            <p>
              <a href="https://apropos.erudit.org/fr/usagers/politique-dutilisation/" target="_blank">{% trans "Politique et licence d’utilisation" %}</a>
            </p>
          </div>

          <div class="col-sm-6">
            <p>{% trans "Suivez-nous&nbsp;:" %}</p>
            <ul class="social-icons inline">
              <li>
                <a href="https://www.facebook.com/%C3%89rudit-141469165320/" title="Facebook">
                  <span class="ion-social-facebook"></span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/eruditorg" title="Twitter">
                  <span class="ion-social-twitter"></span>
                </a>
              </li>
              <li>
                <a href="https://github.com/erudit/" title="Github">
                  <span class="ion-social-github"></span>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/3628951" title="LinkedIn">
                  <span class="ion-social-linkedin"></span>
                </a>
              </li>
              <li>
                <a href="rss.xml" title="RSS">
                  <span class="ion-social-rss"></span>
                </a>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </div>

  </div>

</footer>
{% endblock footer %}

{% block scripts %}
<script type="text/javascript" src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/PublicApp.js' %}"></script>
{% endblock scripts %}
