{% extends "base.html" %}
{% load cache i18n static waffle_tags %}

{% block title %}{% trans "Cultivez votre savoir" %}{% endblock title %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "Érudit",
  "url" : "{{ request.scheme }}://{{ request.site.domain }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:search:results' %}?basic_search_term={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_id %}homepage{% endblock body_id %}
{% block data_controller %}public:home{% endblock data_controller %}

{% block content %}
{% trans "inconnu" as i18n_unknown %}
<main role="main">
  <h1 class="sr-only">{% trans "Accueil d’Érudit" %}</h1>
  {% cache LONG_TTL "public_home" LANGUAGE_CODE %}
  {# SEARCH #}
  <header class="home-header">
    <div class="container">
      <h2 class="home-header__title">{% trans "Érudit <br/>célèbre <br/>ses 20 ans&nbsp;!" %}</h2>
      <div class="row">
        <section class="col-sm-8 col-md-6 home-search">
          <h3 class="sr-only">{% trans "Effectuer une recherche simple" %}</h3>
          <form action="{% url 'public:search:results' %}" class="home-search__form" id="id-search" method="get">
            <label for="basic-search" class="home-search__label">{% trans "Recherche" %}</label>
            <div class="input-group">
              <input type="hidden" name="funds" value="Érudit">
              <input type="hidden" name="funds" value="UNB">
              <input name="basic_search_term" id="basic-search" type="search" class="home-search__input" placeholder="{% trans "Par auteur, titre, mots-clés&hellip;" %}" autofocus>
              <div class="home-search__addon">
                <button type="submit" class="home-search__btn">
                  <span class="sr-only">{% trans "Rechercher" %}</span>
                  <i class="icon ion-ios-search"></i>
                </button>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-xs-6">
              <a href="{% url 'public:journal:journal_list' %}"><strong>--> {% trans "Vers les revues" %}</strong></a>
            </div>
            <div class="col-xs-6 text-right">
              <a href="{% url 'public:search:advanced_search' %}">{% trans "Recherche avancée" %}</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </header>

  {# LATEST ISSUES #}
  {% if latest_issues %}
  <section class="home-issues">
    <div class="container">
      <h2 class="home-issues__title">{% trans "Derniers numéros" %}</h2>
      <ul class="home-issues__list">
        {% for issue in latest_issues %}
        <li class="home-issues__item">
          <p><small>{{ issue.journal.disciplines.all|join:", " }}</small></p>
          {% if issue.has_coverpage %}
          <a href="{% url 'public:journal:issue_detail' issue.journal.code issue.volume_slug issue.localidentifier %}" title="{{ issue.journal.name }} - {% if issue.title %}{{ issue.title }}, {% endif %}{{ issue.volume_title }}">
            <img src="{% url 'public:journal:issue_coverpage' issue.journal.code issue.volume_slug issue.localidentifier %}" alt="{% blocktrans with journal_name=issue.journal.name issue_title=issue.title|default:issue.volume_title %}Couverture du numéro '{{ issue_title }}' de la revue '{{ journal_name }}'{% endblocktrans %}" class="img-responsive  home-issues__img">
          </a>
          {% else %}
          <a href="{% url 'public:journal:issue_detail' issue.journal.code issue.volume_slug issue.localidentifier %}" title="{{ issue.journal.name }} - {% if issue.title %}{{ issue.title }}, {% endif %}{{ issue.volume_title }}">
            <img src="{% url 'public:journal:journal_logo' issue.journal.code %}" alt="{% blocktrans with journal_name=issue.journal.name %}Logo de la revue {{ journal_name }}{% endblocktrans %}" class="img-responsive home-issues__img"/>
          </a>
          {% endif %}
          <h3>
            <a href="{% url 'public:journal:issue_detail' issue.journal.code issue.volume_slug issue.localidentifier %}" title="{{ issue.journal.name }} - {% if issue.title %}{{ issue.title }}, {% endif %}{{ issue.volume_title }}">
              {% if issue.title %}<span class="home-issues__theme">{{ issue.title }}</span>{% endif %}
              {% if issue.volume_title %}<span class="home-issues__volume">{{ issue.volume_title }}</span>{% endif %}
            </a>
            <br/>
            <div class="home-issues__journal">
              {% trans "De la revue" %} <a href="{% url 'public:journal:journal_detail' issue.journal.code %}" title="{{ issue.journal.name }} - {% if issue.title %}{{ issue.title }}, {% endif %}{{ issue.volume_title }}">{{ issue.journal.name }}</a>
            </div>
          </h3>
        </li>
        {% endfor %}
      </ul>
      <p>
        <a href="{% url 'public:journal:journal_list' %}" class="btn home-issues__btn">{% trans "Voir toutes les revues" %}</a>
      </p>
    </div>
  </section>
  {% endif %}

  {# BANNER / AD SPACE #}
  <section class="home-banner">
    <div class="container">
      <h2 class="sr-only">{% trans "Annonce" %}</h2>
      <div class="row home-banner__content">
        <div class="col-xs-12 col-sm-6 col-md-8 home-banner__img">
          <a href="http://partnership.erudit.org/{% if LANGUAGE_CODE == 'fr' %}accueil{% endif %}" target="_blank" title="{% trans 'Voir le site du partenariat' %}">
            <div id="campaign-banner" class="campaign-banner" alt="{% trans 'Illustration du partenariat' %}"></div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <h3 class="home-banner__title"><a href="http://partnership.erudit.org/{% if LANGUAGE_CODE == 'fr' %}accueil{% endif %}" target="_blank">{% trans 'Partenariat pour le libre accès' %}</a></h3>
          <p class="home-banner__desc">{% blocktrans %}Le Partenariat pour le libre accès soutient depuis 2014 les revues canadiennes en SHS dans une transition graduelle vers le libre accès.{% endblocktrans %}</p>
          <p>-> <a href="http://partnership.erudit.org/{% if LANGUAGE_CODE == 'fr' %}accueil{% endif %}" class="home-banner__link" target="_blank">partnership.erudit.org</a></p>
        </div>
      </div>
      <hr/>
    </div>
  </section>

  {% switch "maintenance" %}
  {% else %}
  {# NEWS #}
  {% if latest_news %}
  <section class="home-news">
    <div class="container home-news__content">
      <h2>{% trans "Nouvelles" %}</h2>

      <ul class="row home-news__list">
        {% for entry in latest_news %}
        <li class="col-md-4 col-sm-6 home-news__item">
          <p class="category-tag">{{ entry.category }}</p>
          <h3 class="home-news__title"><a href="{{ entry.link }}" target="_blank">{{ entry.title }}</a></h3>
          <p class="home-news__summary">{{ entry.summary|safe|truncatewords_html:30 }}</p>
          <p><a href="{{ entry.link }}" class="home-news__link" target="_blank">{% trans "Lire la suite" %}</a></p>
          <time class="home-news__date" datetime="2001-05-15">{{ entry.dt_published|date:"DATE_FORMAT" }}</time>
        </li>
        {% endfor %}
      </ul>

      <a href="{% if LANGUAGE_CODE == 'en' %}https://apropos.erudit.org/en/erudit-en/blog/{% else %}https://apropos.erudit.org/fr/erudit/blogue/{% endif %}" target="_blank" class="btn home-news__btn">{% trans "Toutes les nouvelles d'Érudit" %}</a>
    </div>
  </section>
  {% endif %}
  {% endswitch %}

  {# ABOUT ERUDIT.ORG #}
  <section class="home-about">
    <div class="container home-about__container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <h2 class="home-about__title">erudit.<br/>org</h2>
        </div>
        <div class="col-sm-6">
          <p class="home-about__desc">{% trans "Érudit offre l'accès à de nombreuses collections de documents en sciences humaines et sociales&nbsp;: revues, livres et actes, thèses, rapports de recherche." %}<br/><br/><a href="http://apropos.erudit.org" target="_blank" class="home-about__link">{% trans "En savoir plus" %}</a></p>
        </div>
      </div>
      <ul class="row home-about__users">
        <li class="col-sm-6 col-md-3 home-about__users-block">
          <h3 class="home-about__users-title"><a href="{% trans 'https://apropos.erudit.org/fr/bibliotheques/' %}" target="_blank">{% trans "Bibliothécaires" %}</a></h3>
          <p>{% blocktrans %}Offrez l’accès à du contenu savant et culturel de haut niveau à vos usagers.{% endblocktrans %}</p>
          <p><a href="{% trans 'https://apropos.erudit.org/fr/bibliotheques/' %}" target="_blank" class="home-about__link">{% trans "Abonnez-vous" %}</a></p>
        </li>
        <li class="col-sm-6 col-md-3 home-about__users-block">
          <h3 class="home-about__users-title"><a href="{% trans 'https://apropos.erudit.org/fr/editeurs/' %}" target="_blank">{% trans "Éditeurs" %}</a></h3>
          <p>{% blocktrans %}Diffusez votre revue en format numérique partout dans le monde.{% endblocktrans %}</p>
          <p><a href="{% trans 'https://apropos.erudit.org/fr/editeurs/' %}" target="_blank" class="home-about__link">{% trans "Publiez avec nous" %}</a></p>
        </li>
        <li class="col-sm-6 col-md-3 home-about__users-block">
          <h3 class="home-about__users-title"><a href="{% trans 'https://apropos.erudit.org/fr/chercheurs/' %}" target="_blank">{% trans "Chercheurs" %}</a></h3>
          <p>{% blocktrans %}Accédez à des services adaptés à l’exploitation de corpus.{% endblocktrans %}</p>
          <p><a href="{% trans 'https://apropos.erudit.org/fr/chercheurs/' %}" target="_blank" class="home-about__link">{% trans "Explorez nos données" %}</a></p>
        </li>
        <li class="col-sm-6 col-md-3 home-about__users-block">
          <h3 class="home-about__users-title"><a href="{% trans 'https://apropos.erudit.org/fr/usagers/' %}" target="_blank">{% trans "Utilisateurs" %}</a></h3>
          <p>{% blocktrans %}Trouvez les ressources et données pertinentes pour vos recherches.{% endblocktrans %}</p>
          <p><a href="{% trans 'https://apropos.erudit.org/fr/usagers/' %}" target="_blank" class="home-about__link">{% trans "Repérez des articles" %}</a></p>
        </li>
      </ul>
    </div>
  </section>
</main>
{% endcache %}
{% endblock content %}
