{% extends "base_email.html" %}
{% load i18n %}

{% block subject %}
Abonnement / Subscription
{% endblock subject %}

{% block content %}
<p>Bonjour,</p>
<p>
  L'éditeur de <strong>{{ token.content_object.journal.name }}</strong> vous envoie un abonnement à sa revue sur erudit.org. Veuillez cliquer sur le lien suivant pour l'accepter.
</p>
<hr>
<p>Hi,</p>
<p>
  The Editor of <strong>{{ token.content_object.journal.name }}</strong> is sending you a subscription to their journal on erudit.org. Click the following link to accept it.
</p>
{% endblock content %}

{% block cta %}
{% url 'public:account_actions:landing' key=token.key as action_url %}
{% with cta_url="http://"|add:site.domain|add:action_url cta_text="Accepter l’abonnement / Accept subscription" %}
{{ block.super }}
{% endwith %}
{% endblock cta %}

{% block signature %}
L’Équipe Érudit / The Érudit team<br>
<a href="mailto:info@erudit.org?subject=Abonnement individuel à une revue">info@erudit.org</a>
{% endblock signature %}


