@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'utils/variables',
  'utils/functions',
  'utils/mixins';

// 2. Vendors
@import
  '../vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss',
  '../vendor/font-awesome/scss/font-awesome.scss',
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/icons',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/sidenav',
  'layout/content',
  'layout/footer';

// 5. Components
@import
  'components/tables',
  'components/tooltips',
  'components/modals',
  'components/cards',
  'components/navtabs',
  'components/search',
  'components/forms',
  'components/dropdowns',
  'components/alerts',
  'components/breadcrumbs',
  'components/fileupload',
  'components/panels';

// 6. Page-specific styles
@import
  'pages/login',
  'pages/individual_subscription';

// 7. Themes
@import
  'themes/default';
