@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'vars/userspace',
  'utils/functions',
  'utils/font-styles',
  'utils/mixins';

// 2. Vendors
@import
  '../vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss',
  '../vendor/ionicons/css/ionicons.css',
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/icons',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header-userspace',
  'layout/nav-userspace',
  'layout/sidenav',
  'layout/content',
  'layout/footer';

// 5. Components
@import
  'components/tables',
  'components/tooltips',
  'components/modals',
  'components/cards',
  'components/navtabs',
  'components/search',
  'components/forms',
  'components/dropdowns',
  'components/alerts',
  'components/breadcrumbs',
  'components/breadcrumbs-userspace',
  'components/fileupload',
  'components/lists',
  'components/forms',
  'components/buttons',
  'components/panels',
  'components/tabs';

// 6. Page-specific styles
@import
  'pages/journals',
  'pages/login',
  'pages/individual_subscription';

// 7. Themes
@import
  'themes/default';
