{% load compress %}
{% load static from staticfiles %}
<html>
  <head>
    {% compress css %}
    <link rel="stylesheet" type="text/x-sass" href="{% static 'vendor/bootstrap/sass/_bootstrap.scss' %}" />
    {% endcompress %}

    <script src="{% static 'vendor/jquery/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
    {% block extrahead %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>
