{% extends "base.html" %}
{% load i18n staticfiles %}

{% block header %}
<header>
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-logo">
          <a href="{% url 'editor:dashboard' %}"><img src="{% static 'img/logo-erudit-blanc.png' %}"/></a>
        </div>
        <div class="navbar-user dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><span class="profile-pic glyphicon glyphicon-user"></span> Prénom <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Aide</a></li>
            <li><a href="#">Paramètres</a></li>
            <li><a href="#">Déconnexion</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
{% endblock %}

{% block nav %}
  <nav class="sidenav">
    <ul>
      <li><a href="{% url 'editor:add' %}"><span class="icon icon-upload"></span> Fichiers de production</a></li>
      <li><a href="#">Dépôt EPUB</a></li>
      <li><a href="#">Option 1</a></li>
      <li><a href="#">Option 2</a></li>
      <li><a href="#">Option 3</a></li>
    </ul>
  </nav>
{% endblock %}
