{% extends "base.html" %}
{% load i18n staticfiles %}

{% block header %}
  <header>
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="navbar-logo">
            <a href="#"><img src="{% static 'img/logo-erudit.png' %}"/></a>
          </div>
          <div class="navbar-page_title">
            {# <h1>Gestion des fichiers de production</h1>#}
          </div>
        </div>
      </div>
    </nav>
  </header>
{% endblock %}

{% block nav %}
  <nav class="sidenav">
    <ul>
      <li><a href="#">Fichiers de production</a></li>
      <li><a href="#">Fichiers de production</a></li>
      <li><a href="#">Fichiers de production</a></li>
    </ul>
  </nav>
{% endblock %}
