{% extends "base_editor.html" %}
{% load i18n staticfiles %}

{% block page-title %}
Tableau de bord
{% endblock %}

{% block content-main %}
<div class="col-sm-6 col-xs-12">
  <section class="card card-issue_submissions">
    <h2>Votre compte</h2>
    <h3>Prénom Nom</h3>
    <ul>
      <li>Transmission des fichiers de production</li>
      <li><a href="mailto:">courriel@courriel.ca</a></li>
    </ul>
    <h3><a href="#" target="_blank">Nom de la revue</a></h3>
    <ul>
      <li>Revue savante</li>
      <li>Direction / rédaction&nbsp;: Prénom Nom, <a href="mailto:">courriel@courriel.ca</a></li>
      <li>Éditeur&nbsp;: Nom de l'éditeur</li>
      <li>ISSN&nbsp;: 1234-1234 (imprimé) 1234-1234 (numérique)</li>
    </ul>
    <h3><a href="#" target="_blank">Nom de la revue</a></h3>
    <ul>
      <li>Revue culturelle</li>
      <li>Direction / rédaction&nbsp;: Prénom Nom, <a href="mailto:">courriel@courriel.ca</a></li>
      <li>Éditeur&nbsp;: Nom de l'éditeur</li>
      <li>ISSN&nbsp;: 1234-1234 (imprimé) 1234-1234 (numérique)</li>
    </ul>
  </section>
</div>
<div class="col-sm-6 col-xs-12">
  <section class="card card-issue_submissions">
    <h2>Historique du dépôt de fichiers</h2>
    <table>
      <thead>
        <tr>
          <th>Revue</th>
          <th>Date</th>
          <th>Année, volumaison, numéro</th>
          <th>Statut</th>
        </tr>
      </thead>
      <tbody>
        {% for issue_submission in object_list|dictsortreversed:"date_created"|slice:":5" %}
        <tr>
          {% ifchanged %}
          <td>{{ issue_submission.journal }}</td>
          {% else %}
          <td></td>
          {% endifchanged %}
          <td>{{ issue_submission.date_created|date:"c" }}</td>
          <td><a href="{% url 'editor:update' issue_submission.pk %}">{{ issue_submission.year }}, volume {{ issue_submission.volume }}, numéro {{ issue_submission.number }}</a></td>
          <td><span class="glyphicon glyphicon-ok"></span></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3" class="text-center">Il n'y a aucun fichier dans votre historique.</td>
        </tr>
        {% endfor %}
      </tbody>
      <caption>Cinq derniers fichiers déposés</caption>
    </table>
    <div class="text-right more-info">
      <button class="btn btn-primary btn-add"><a href="{% url 'editor:add' %}"><span class="icon glyphicon glyphicon-plus"></span></a></button>
    </div>
  </section>
</div>
{% endblock %}
