{% extends "base_editor.html" %}
{% load i18n staticfiles %}

{% block page-title %}{% trans "Tableau de bord" %}{% endblock %}

{% block content-main %}
<div class="col-sm-4 col-xs-12">
  <section class="card card-issue_submissions">
    <h2>Votre compte</h2>
    <h3>Prénom Nom</h3>
    <ul>
      <li>Transmission des fichiers de production</li>
      <li><a href="mailto:">courriel@courriel.ca</a></li>
    </ul>

    <h3><a href="#" target="_blank">Nom de la revue</a></h3>
    <ul>
      <li>Revue savante</li>
      <li>Direction / rédaction&nbsp;: Prénom Nom, <a href="mailto:">courriel@courriel.ca</a></li>
      <li>Éditeur&nbsp;: Nom de l'éditeur</li>
      <li>ISSN&nbsp;: 1234-1234 (imprimé) 1234-1234 (numérique)</li>
    </ul>

  </section>
</div>
<!-- Issue submission history -->
<div class="col-sm-4 col-xs-12">
  <section class="card card-issue_submissions">
    <h2>{% trans "Historique des dépôts de numéros"  %}</h2>
    <table>
      <thead>
        <tr>
          <th>{% trans "Revue et numéro" %}</th>
          <th>{% trans "Date" %}</th>
          <th>{% trans "État" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for issue_submission in object_list|dictsortreversed:"date_created"|slice:":3" %}
        <tr>
          <td>
            <a href="{% url 'editor:update' issue_submission.pk %}">
              {{ issue_submission.journal }}. {{ issue_submission.year }}, {% trans "volume" %} {{ issue_submission.volume }}, {% trans "numéro" %} {{ issue_submission.number }}
            </a>
          </td>
          <td>
            {{ issue_submission.date_created|date:"c" }}
          </td>
          <td>
            {% if issue_submission.status == 'D' %}
            {% trans "Brouillon" %}
            {% elif issue_submission.status == 'S' %}
            {% trans "Soumis" %}
            {% elif issue_submission.status == 'V' %}
            {% trans "Validé" %}
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3" class="text-center">{% trans "Il n'y a aucun fichier dans votre historique." %}</td>
        </tr>
        {% endfor %}
      </tbody>
      <caption>
        {% url 'editor:issues' as all_issues %}
        {% blocktrans %}
        Trois derniers fichiers déposés (<a href="{{ all_issues }}">Voir l'historique complet</a>)
        {% endblocktrans %}
      </caption>
    </table>
    <div class="text-right more-info">
      <button class="btn btn-primary btn-add"><a href="{% url 'editor:add' %}"><span class="icon glyphicon glyphicon-plus"></span></a></button>
    </div>
  </section>
</div>
{% endblock %}
