{% extends "base_editor.html" %}
{% load i18n staticfiles %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
  <main class="main">
    <div class="container-fluid">
      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <section class="card card-upload_form">
          <h2>Déposer des fichiers de production</h1>
            <form class="row form-vertical" method="post">
              {% csrf_token %}
              <div class="form-group col-xs-12">
                {{ form.journal.label_tag }}
                {{ form.journal }}
              </div>
              <div class="form-group col-xs-4">
                {{ form.year.label_tag }}
                {{ form.year }}
              </div>
              <div class="form-group col-xs-4">
                {{ form.volume.label_tag }}
                {{ form.volume }}
              </div>
              <div class="form-group col-xs-4">
                {{ form.number.label_tag }}
                {{ form.number }}
              </div>
              <div class="form-group col-xs-12">
                {{ form.date_created.label_tag }}
                {{ form.date_created }}
              </div>
              <div class="form-group col-xs-12">
                {{ form.contact.label_tag }}
                {{ form.contact }}
              </div>
              <div class="form-group col-xs-12">
                {{ form.comment.label_tag }}
                {{ form.comment }}
              </div>
              <div class="form-group col-xs-12">
                {{ form.submission_file.label_tag }}
                {{ form.submission_file }}
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Enregistrer" id="submit-id-submit"/>
              </div>
            </form>
        </section>
      </div>
    </div>
  </main>
{% endblock %}
