{% extends "base_editor.html" %}
{% load i18n staticfiles %}

{% block page-title %}{% trans "Dépôt de numéros" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }} / {% trans "Dépôt de numéros" %}
{% endblock %}

{% block content-main %}
<div class="col-sm-6 col-sm-offset-3 col-xs-12">
  <section class="card card-issue_submissions">
    <h2>{% trans "Historique des dépôts de numéros"  %}</h2>
    <table>
      <thead>
        <tr>
          <th>{% trans "Date" %}</th>
          <th>{% trans "Revue" %}</th>
          <th>{% trans "Année, volumaison, numéro" %}</th>
          <th>{% trans "Statut" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for issue_submission in object_list|dictsortreversed:"date_created" %}
        <tr>
          <td>
            {{ issue_submission.date_created|date:"c" }}
          </td>
          <td>
          {% ifchanged %}
          {{ issue_submission.journal }}
          {% endifchanged %}
          </td>
          <td>
            <a href="{% url 'editor:update' issue_submission.pk %}">
              {{ issue_submission.year }}, {% trans "volume" %} {{ issue_submission.volume }}, {% trans "numéro" %} {{ issue_submission.number }}
            </a>
          </td>
          <td>
            {% if issue_submission.status == 'D' %}
            {% trans "Brouillon" %}
            {% elif issue_submission.status == 'S' %}
            {% trans "Soumis" %}
            {% elif issue_submission.status == 'V' %}
            {% trans "Validé" %}
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="text-center">{% trans "Il n'y a aucun fichier dans votre historique." %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="text-right more-info">
      <button class="btn btn-primary"><a href="{% url 'editor:add' %}">{% trans "Déposer un nouveau numéro" %}</a></button>
    </div>
  </section>
</div>
{% endblock %}
