{% load i18n %}

{# regroup each magazine by first letter #}
{% regroup journals|dictsort:"letter_prefix" by letter_prefix as journals_list_groups %}

{# index header for each Discipline #}
<header class="sorting-index container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 clearfix">
          <h2 class="h3 bold pull-left">{% trans "Revues par index alphabétique" %}</h2>
          <nav class="pull-right">
            <a href="{% url 'public:journal:journal-list' %}?sorting=disciplines" class="btn btn-primary-outlined">{% trans "Revues par disciplines" %}</a>
          </nav>
        </div>
      </div>
      <div class="row">
        <nav class="col-xs-12 index">

          {% for journal_group in journals_list_groups %}
          {% if not journal_group.grouper %}
            <h5 class="mono-space"><a href="#letter-autres">{% trans "Autres" %}</a></h5>
          {% else %}
            <h5 class="mono-space"><a href="#letter-{{ journal_group.grouper }}">{{ journal_group.grouper }}</a></h5>
          {% endif %}
          {% endfor %}

        </nav>
      </div>
    </div>
  </div>
</header>

{# each magazine per discipline #}
{% for journal_group in journals_list_groups %}

<a name="discipline-{{ journal_group.grouper }}" class="invisible">{{ discipline }}</a>

<div class="sorting-group container-fluid {% cycle "odd" "even" %}">

  <header class="row sorting-group--title">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 title">
          <h2 class="no-margin h3">
            {% if not journal_group.grouper %}
              {% trans "Autres" %}
            {% else %}
              {{ journal_group.grouper }}
            {% endif %}
            <a href="#top" id="scroll-top" class="erudicon erudicon-arrow-up"></a>
          </h2>
        </div>
      </div>
    </div>
  </header>

  <section class="row sorting-group--articles sorting-group--articles--default">
    <div class="container">
      <div class="row">
        <div class="col col-md-3">
          <h3 class="h4 color-red">Érudit </h3>
        </div>
        {% for journal in journal_group.list %}
        {% include "public/journal/_journal_list_preview.html" with journal=journal %}
        {% endfor %}
      </div>
    </div>
  </section>

</div>
{# end each discipline #}

{% endfor %}
