{% extends "public/journal/journal_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load public_journal_tags %}

{% block page-title %}{{ issue.localidentifier }}{% endblock page-title %}

{% block breadcrumb %}{{ block.super }}
/ <a href="{{ issue.get_absolute_url }}">{{ issue.volume_title }}</a>
{% endblock %}

{% block content %}

{% trans "inconnu" as i18n_unknown %}

<div id="issue-detail">

  <div class="container">
    <div class="row">

      {# Journal information (on right side except mobile) #}
      <aside class="col-sm-push-9 col-sm-3">

        <div class="sidebar-block clearfix issue-detail--resume">

          <div class="col-xs-6 no-padding">
            <a href="{{ journal.get_absolute_url }}">
              <img src="{% url 'public:journal:issue-coverpage' issue.pk %}" class="img-responsive" alt="{{ issue.erudit_object.html_theme|safe }} {% trans 'de' %} {{ journal.name }}" />
            </a>
          </div>

          <header class="col-xs-12 no-padding no-margin">
            <div class="mono-space">{% trans "De la revue" %}</div>
            <h2 class="h4 no-margin"><a href="{{ journal.get_absolute_url }}">{{ journal.name }}</a></h2>
          </header>

        </div>

        {# journal meta infos #}
        <div class="sidebar-block journal-meta">

          <h4 class="border-bottom">{% trans "Fiche" %}</h4>

          <ul class="journal-meta list-unstyled">

            {% if journal.members.all %}
            <li>
              <h5 class="mono-space">{% trans "Direction" %}</h5>
              {% for member in journal.members.all %}
              <p>{{ member.get_full_name }}</p>
              {% endfor %}
            </li>
            {% endif %}

            {% if journal.publishers.all %}
            <li>
              <h5 class="mono-space">
                {% blocktrans count total=journal.publishers.all|length %}
                Éditeur
                {% plural %}
                Éditeurs
                {% endblocktrans %}
              </h5>
              {% for publisher in journal.publishers.all %}
              <p>{{ publisher.name }}</p>
              {% endfor %}
            </li>
            {% endif %}

            {% if journal.issn_print or journal.issn_web %}
            <li>
              <h5 class="mono-space">{% trans "ISSN" %}</h5>
              {% if journal.issn_print %}
              <p><span class="mono-space">{{ journal.issn_print }}</span> ({% trans "imprimé" %})</p>
              <p><span class="mono-space">{{ journal.issn_web }}</span> ({% trans "numérique" %})</p>
              {% endif %}
            </li>
            {% endif %}

            {% if journal.issues_per_year %}
            <li>
              <h5 class="mono-space">{% trans "Fréquence" %}</h5>
              <p>
                {% blocktrans count issues_per_year=journal.issues_per_year %}
                {{ issues_per_year }} numéro par année
                {% plural %}
                {{ issues_per_year }} numéros par année
                {% endblocktrans %}
              </p>
            </li>
            {% endif %}

            <li>
              <h5 class="mono-space">{% trans "Période de publication" %}</h5>
              <p>{{ journal.erudit_object.publication_period }}</p>
            </li>

            {% if journal.first_issue %}
            <li>
              <h5 class="mono-space">{% trans "Disponible dans Érudit depuis" %}</h5>
              <p>{{ journal.first_issue.date_published|date:"Y" }}</p>
            </li>
            {% endif %}

            <li>
              <h5 class="mono-space">{% trans "Type de support" %}</h5>
              <p>
                {% if journal.paper %}
                {% trans "Numérique et papier" %}
                {% else %}
                {% trans "Numérique" %}
                {% endif %}
              </p>
            </li>

            <li>
              <h5 class="mono-space">{% trans "Politique d'accès" %}</h5>
              {% if journal.open_access %}
              <p>{% trans "Disponible en libre accès" %}</p>
              {% else %}
              <p>{% trans "Non-disponible en libre accès" %}</p>
              {% endif %}
            </li>

            {% if journal.disciplines.all|length > 0 %}
            <li>
              <h5 class="mono-space">
                {% blocktrans count journal.disciplines.all|length as disciplines_count %}
                Discipline
                {% plural %}
                Disciplines
                {% endblocktrans %}
              </h5>
              <p>
                {% for discipline in journal.disciplines.all %}
                <a href="{% url 'public:journal:journal-list' %}?sorting=disciplines#discipline-{{ discipline.code }}">{{ discipline.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </p>
            </li>
            {% endif %}
          </ul>

        </div>
      </aside>

      {# Issue summary #}
      <section class="col-sm-9 col-sm-pull-3">

        <header class="page-header-main">
            <p class="title-tag">{{ issue.journal.name }}</p>
            <h1>
              {% if issue.title %}<span>{{ issue.erudit_object.html_theme|safe }}</span>{% endif %}
              <span>{% include "public/journal/_issue_volume.html" %}</span>
            </h1>
            <h2>{% trans "Sommaire" %}</h2>
        </header>

        <ol class="issue-detail--articles unstyled">

          {% regroup articles by erudit_object.section_title as section_articles %}
          {% for article_group in section_articles %}
            {% for article in article_group.list|sort_by_ordseq %}
              <li class="issue-detail--article-item">
                {% if article_group.grouper %}
                <p class="title-tag section">{{ article_group.grouper }}</p>
                {% endif %}
                <h3><a href="{{ article.get_absolute_url }}">{{ article.erudit_object.html_title|safe }}</a></h3>
                <p>{{ article.authors.all|join:", " }}</p>
                {% with first_page=article.erudit_object.first_page last_page=article.erudit_object.last_page %}
                  {% if first_page and last_page and first_page != last_page %}
                    <p>{% blocktrans trimmed with first_page=first_page last_page=last_page %}Pages {{ first_page }}-{{ last_page }}{% endblocktrans %}</p>
                  {% elif first_page and first_page != "0" %}
                    <p>{% blocktrans trimmed with page=first_page %}Page {{ page }}{% endblocktrans %}</p>
                  {% endif %}
                {% endwith %}
              </li>
            {% endfor %}
          {% endfor %}

        </ol>

      </section>

    </div>
  </div>

  <footer class="past-issues">

      <div class="container">

        <div class="row">

          <header class="past-issues--header col-xs-12">
            <h3 class="h2 no-margin">{% trans "Anciens numéros de L’Actualité économique" %}</h3>
          </header>

        </div>

        <div class="row">
          {% for published_issue in journal.published_issues|dictsortreversed:"date_published"|slice:":4" %}
          {% if published_issue != issue %}
          <article class="issue-list-item--inverted col-xs-6 col-sm-3">
            <a href="{{ published_issue.get_absolute_url }}">
              <img src="{% url 'public:journal:issue-coverpage' published_issue.pk %}" alt="{{ published_issue.name }}" />
              <header>
                <h5>
                  {% blocktrans trimmed with number=published_issue.erudit_object.number|default:i18n_unknown date=published_issue.date_published|date:"F Y" %}
                    N<sup>o</sup> {{ number }}<br>{{ date }}
                  {% endblocktrans %}
                </h5>
              </header>
            </a>
          </article>
          {% endif %}
          {% endfor %}
        </div>

      </div>

  </footer>


  <!--
  *************************************
  TO REMOVE WHEN DATA WILL BE VALIDATED
  *************************************

  {% for article in articles %}
    <article>
      <h3>{{ article.title }}</h3>
      <nav>
        <a href="{% url 'public:journal:article-detail' journal_code=issue.journal.code issue_localid=issue.localidentifier localid=article.localidentifier %}" class="btn-default">{% trans "HTML" %}</a>
        <a href="{% url 'public:journal:article-pdf' journalid=issue.journal.code issueid=issue.localidentifier articleid=article.id %}" class="btn-default">{% trans "PDF" %}</a>
      </nav>
    </article>
  {% endfor %}
  -->

</div>

{% endblock %}
