{% extends "public/base.html" %}
{% load i18n %}
{% load static %}

{% block page-title %}{{ issue.localidentifier }}{% endblock page-title %}

{% block content %}
  <h1>{{ issue.title }}</h1>

  {% for article in articles %}
    <article>
      <h3>{{ article.title }}</h3>
      <nav>
        <a href="{% url 'public:journal:article-detail' journalid=issue.journal.code issueid=issue.localidentifier articleid=article.id %}" class="btn-default">{% trans "HTML" %}</a>
        <a href="{% url 'public:journal:article-pdf' journalid=issue.journal.code issueid=issue.localidentifier articleid=article.id %}" class="btn-default">{% trans "PDF" %}</a>
      </nav>
    </article>
  {% endfor %}

{% endblock %}
