{% extends "public/journal/journal_base.html" %}
{% load i18n staticfiles %}

{% block page-title %}{{ issue.localidentifier }}{% endblock page-title %}

{% block breadcrumb %}{{ block.super }}
/ <a href="{{ issue.get_absolute_url }}">
  {% trans "inconnu" as i18n_unknown %}
  {% blocktrans trimmed with number=issue.erudit_object.number|default:i18n_unknown date=issue.date_published|date:"F Y" %}
    Numéro {{ number }} - {{ date }}
  {% endblocktrans %}
  </a>
{% endblock %}

{% block content %}

  <h1>{{ issue.title }}</h1>

  {% for article in articles %}
    <article>
      <h3>{{ article.title }}</h3>
      <nav>
        <a href="{% url 'public:journal:article-detail' journal_code=issue.journal.code issue_localid=issue.localidentifier localid=article.localidentifier %}" class="btn-default">{% trans "HTML" %}</a>
        <a href="{% url 'public:journal:article-pdf' journalid=issue.journal.code issueid=issue.localidentifier articleid=article.id %}" class="btn-default">{% trans "PDF" %}</a>
      </nav>
    </article>
  {% endfor %}

{% endblock %}
