{% extends "public/journal/journal_base.html" %}
{% load i18n staticfiles %}

{% block page-title %}{{ journal.name }}{% endblock page-title %}

{% block content %}

{% trans "inconnu" as i18n_unknown %}

<section id="journal-detail">

    {# top #}
    <div class="container">

        <div class="row">

          {# Journal information (on right side except mobile) #}
          <aside id="journal-informations" class="col-sm-push-9 col-sm-3">

            {# lastest issue #}
            {% if latest_issue %}
            <div class="sidebar-block clearfix">

              <header>
                <h4 class="border-bottom">{% trans "Dernier numéro" %}</h4>
              </header>

              <p class="h5">
              {% blocktrans trimmed with number=latest_issue.erudit_object.number|default:i18n_unknown date=latest_issue.date_published|date:"F Y" %}
                Numéro {{ number }} - {{ date }}
              {% endblocktrans %}
              </p>

              <figure class="col-xs-3 no-padding">
                <a href="{{ latest_issue.get_absolute_url }}"><img src="{% url 'public:journal:issue-coverpage' latest_issue.pk %}" class="img-responsive" alt="{{ latest_issue.title }}" /></a>
              </figure>

            </div>
            {% endif %}

            {# journal meta infos #}
            <div class="sidebar-block">

              <header>
                  <h4 class="border-bottom">{% trans "Fiche" %}</h4>
              </header>

              <ul class="journal-meta list-unstyled">

                {% if journal.members.all %}
                <li>
                  <h6 class="mono-space">{% trans "Direction" %}</h6>
                  {% for member in journal.members.all %}
                  <p>{{ member.get_full_name }}</p>
                  {% endfor %}
                </li>
                {% endif %}

                {% if journal.publishers.all %}
                <li>
                  <h6 class="mono-space">
                    {% blocktrans count total=journal.publishers.all|length %}
                    Éditeur
                    {% plural %}
                    Éditeurs
                    {% endblocktrans %}
                  </h6>
                  {% for publisher in journal.publishers.all %}
                  <p>{{ publisher.name }}</p>
                  {% endfor %}
                </li>
                {% endif %}

                {% if journal.issn_print or journal.issn_web %}
                <li>
                  <h6 class="mono-space">{% trans "ISSN" %}</h6>
                  {% if journal.issn_print %}
                  <p><span class="mono-space">{{ journal.issn_print }}</span> ({% trans "imprimé" %})</p>
                  <p><span class="mono-space">{{ journal.issn_web }}</span> ({% trans "numérique" %})</p>
                  {% endif %}
                </li>
                {% endif %}

                {% if journal.issues_per_year %}
                <li>
                  <h6 class="mono-space">{% trans "Fréquence" %}</h6>
                  <p>
                    {% blocktrans count issues_per_year=journal.issues_per_year %}
                    {{ issues_per_year }} numéro par année
                    {% plural %}
                    {{ issues_per_year }} numéros par année
                    {% endblocktrans %}
                  </p>
                </li>
                {% endif %}

                {# TODO : add this to model #}
                <li>
                  <h6 class="mono-space">{% trans "Période de publication" %}</h6>
                  <p>{{ journal.erudit_object.publication_period }}</p>
                </li>

                {% if journal.first_issue %}
                <li>
                  <h6 class="mono-space">{% trans "Disponible dans Érudit depuis" %}</h6>
                  <p>{{ journal.first_issue.date_published|date:"Y" }}</p>
                </li>
                {% endif %}

                <li>
                  <h6 class="mono-space">{% trans "Type de support" %}</h6>
                  <p>
                    {% if journal.paper %}
                    {% trans "Numérique et papier" %}
                    {% else %}
                    {% trans "Numérique" %}
                    {% endif %}
                  </p>
                </li>

                <li>
                  <h6 class="mono-space">{% trans "Politique d'accès" %}</h6>
                  {% if journal.open_access %}
                  <p>{% trans "Disponible en libre accès" %}</p>
                  {% else %}
                  <p>{% trans "Non-disponible en libre accès" %}</p>
                  {% endif %}
                </li>

              </ul>

            </div>

          </aside>

          {# Journal about #}
          <aside id="journal-about" class="col-sm-8 col-sm-pull-3">

            <header class="page-header-main row">
                <aside class="col-sm-8">
                  <hgroup>
                    <h2>{{ journal.name }}</h2>
                    {% if journal.subtitle %}
                    <h3>{{ journal.subtitle }}</h3>
                    {% endif %}
                  </hgroup>
                </aside>
                <aside class="col-sm-4">
                  <figure class="logo">
                    <img src="{% url 'public:journal:journal-logo' journal.code %}" alt="" class="img-responsive" />
                  </figure>
                </aside>
            </header>

            {% if journal_info %}
            <section class="journal-infos" role="tablist" aria-multiselectable="true">

              {% trans "Aucune information" as tab_empty_msg %}

              {% if journal_info.about %}
              <div class="journal-info-block">
                <h3>{% trans "À propos" %}</h3>
                <div class="content">
                    {{ journal_info.about|default:tab_empty_msg|safe }}
                    {% if journal.url %}
                    <p><a href="{{ journal.url }}" class="mono-space color-red"><i class="ion-ios-arrow-thin-right"></i> {% trans "Site Web" %}</a></p>
                    {% endif %}
                    {% if journal_info.contact %}
                    <div class="mono-space">
                      {{ journal_info.contact|default:tab_empty_msg|safe }}
                    </div>
                    {% endif %}
                </div>
              </div>
              {% endif %}

              {% if journal_info.editorial_policy %}
              <div class="journal-info-block akkordion" role="tab" id="journal-info-editorial-policy" role="tabpanel">
                <h3 class="akkordion-title" role="button" aria-expanded="false" aria-controls="journal-info-editorial-policy-content">
                    {% trans "Politique éditoriale" %}
                    <i class="collapse-chevron ion-chevron-down pull-right icon"></i>
                </h3>
                <div id="journal-info-editorial-policy-content" class="akkordion-content" aria-labelledby="journal-info-editorial-policy">
                    {{ journal_info.editorial_policy|default:tab_empty_msg|safe }}
                </div>
              </div>
              {% endif %}

              {% if journal_info.subscriptions %}
              <div class="journal-info-block akkordion" role="tab" id="journal-info-subscriptions" role="tabpanel">
                <h3 class="akkordion-title" href="#journal-info-subscriptions-content" aria-expanded="false" aria-controls="journal-info-subscriptions-content">
                  {% trans "Abonnements" %}
                  <i class="collapse-chevron ion-chevron-down pull-right"></i>
                </h3>
                <div id="journal-info-subscriptions-content" class="akkordion-content" aria-labelledby="journal-info-subscriptions">
                    {{ journal_info.subscriptions|default:tab_empty_msg|safe }}
                </div>
              </div>
              {% endif %}

              {% if journal_info.team %}
              <div class="journal-info-block akkordion" role="tab" id="journal-info-authors" role="tabpanel">
                <h3 class="akkordion-title" href="#journal-info-authors-content" aria-expanded="false" aria-controls="journal-info-authors-content">
                  {% trans "Index des auteurs" %}
                  <i class="collapse-chevron ion-chevron-down pull-right"></i>
                </h3>
                <div id="journal-info-authors-content" class="akkordion-content" aria-labelledby="journal-info-authors">
                  <p>
                      <a href="{% url 'public:journal:journal-authors-list' journal.code %}">{% trans "Voir les auteurs" %}</a>
                  </p>
                </div>
              </div>
              {% endif %}

              {% if journal_info.team %}
              <div class="journal-info-block akkordion" role="tab" id="journal-info-team" role="tabpanel">
                <h3 class="akkordion-title" href="#journal-info-team-content" aria-expanded="false" aria-controls="journal-info-team-content">
                  {% trans "Équipe" %}
                  <i class="collapse-chevron ion-chevron-down pull-right"></i>
                </h3>
                <div id="journal-info-team-content" class="akkordion-content" aria-labelledby="journal-info-team">
                    {{ journal_info.team|default:tab_empty_msg|safe }}
                </div>
              </div>
              {% endif %}

            </section>
            {% endif %}

          </aside>

        </div>

    </div>


    {% if issues %}

    <footer class="past-issues">

      <div class="container">

        <div class="row">

          <header class="past-issues--header col-xs-12">
            <nav class="pull-right">
              <a href="#" class="color-red">{% trans "Voir les numéros thématiques" %}</a>
            </nav>
            <hgroup>
              <h3>{% trans "Historique des numéros" %} ({{ issues|length }})</h3>
            </hgroup>
          </header>

          {% for issue in issues %}
          <article class="issue-list-item--default col-md-2 col-sm-4">
            <a href="{{ issue.get_absolute_url }}">
              <header>
                <h5>
                  {% blocktrans trimmed with number=issue.erudit_object.number|default:i18n_unknown date=issue.date_published|date:"F Y" %}
                    Numéro {{ number }}<br>{{ date }}
                  {% endblocktrans %}
                </h5>
              </header>
              <figure>
                <img src="{% url 'public:journal:issue-coverpage' issue.pk %}" alt="{{ issue.name }}" />
              </figure>
            </a>
          </article>
          {% endfor %}

        </div>

      </div>

    </footer>

    {% endif %}

</section>

{% endblock content %}
