{% extends "public/journal/journal_base.html" %}
{% load i18n %}
{% load static %}

{% block page-title %}{% trans "Revues" %}{% endblock page-title %}
{% block body_class %}public journal-list{% endblock %}
{% block data-controller %}public:journal:journal-list{% endblock data-controller %}

{% block content %}
<div id="journal-list">


  <!-- DISCIPLINES -->
  <div class="disciplines container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="h2">{% trans "Disciplines" %}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <ul class="row">
              {% for i in 'xxxxxxxxxxxxxxxxxx' %}
              <li class="col-md-3"><a href="#discipline-name">{% lorem 2 w random %}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a name="discipline-name" class="invisible">Nom de la discipline</a>

  <div class="discipline container-fluid">
    <div class="row discipline--title">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 title">
            <h2 class="no-margin">Nom de la discipline <a href="#top" id="scroll-top" class="erudicon erudicon-arrow-up"></a></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row discipline--articles discipline--articles--default">
      <div class="container">
        <div class="row">
          <div class="col col-md-3">
            <h3 class="h4 color-red">Érudit</h3>
          </div>
          {% for i in 'abcdefghi' %}
          <div class="col col-md-3 article">
            <div class="row">
              <div class="col-xs-12">
                <h4>Nom de la revue</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <p class="color-dark-grey">Description</p>
              </div>
              <div class="col-xs-4">
                <img src="http://placehold.it/300x300" alt="Nom de la revue" class="img-responsive">
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row discipline--articles discipline--articles--small">
      <div class="container">
        <div class="row">
          <div class="col col-md-2">
            <h3 class="h4 color-red">Persée</h3>
          </div>
          {% for i in 'abcdefghi' %}
          <div class="col col-md-2 article">
            <div class="row">
              <div class="col-xs-12">
                <h5>Nom de la revue</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <img src="http://placehold.it/300x500" alt="Nom de la revue" class="img-responsive">
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row discipline--articles discipline--articles--default">
      <div class="container">
        <div class="row">
          <div class="col col-md-3">
            <h3 class="h4 color-red">UNB Librairies</h3>
          </div>
          {% for i in 'a' %}
          <div class="col col-md-3 article">
            <div class="row">
              <div class="col-xs-12">
                <h4>Nom de la revue</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <p class="color-dark-grey">Description</p>
              </div>
              <div class="col-xs-4">
                <img src="http://placehold.it/300x300" alt="Nom de la revue" class="img-responsive">
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="discipline container-fluid">
      <div class="row discipline--title">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 title">
              <h2 class="no-margin">{% trans "Classement alphabétique" %} <a href="#top" id="scroll-top" class="erudicon erudicon-arrow-up"></a></h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    {# regroup each magazine by first letter #}
    {% regroup journals|dictsort:"letter_prefix" by letter_prefix as journals_list_groups %}
    {% for journal_group in journals_list_groups %}
    <div class="row discipline--articles discipline--articles--default">

      <div class="container">

        <div class="row">

          <div class="col col-md-3">

            <h3 class="h4 color-red">
              {% if not journal_group.grouper %}
                {% trans "Autres" %}
              {% else %}
                {{ journal_group.grouper }}
              {% endif %}
            </h3>
          </div>

          {% for journal in journal_group.list %}
          <article class="col col-md-3 journal-thumbnail">

            <header class="row">
              <h4 class="col-xs-12">
                <a class="" href="{{ journal.get_absolute_url }}">
                  {{ journal.name }}
                </a>
              </h4>
            </header>

            <footer class="row">
              <div class="col-xs-8">
                {% if journal.subtitle %}
                <p class="color-dark-grey">{{ journal.subtitle }}</p>
                {% endif %}
              </div>
              <div class="col-xs-4">
                <a class="" href="{{ journal.get_absolute_url }}">
                  {# <img src="{% url 'public:journal:journal-logo' journal.code %}" alt="{{ journal.name }}" class="img-responsive" />#}
                  <img src="http://placehold.it/300x300" alt="{{ journal.name }}" class="img-responsive">
                </a>
              </div>
            </footer>

          </article>
          {% endfor %}

        </div>

      </div>

    </div>



  {% endfor %}

</div>
{% endblock %}
