main, .main {
  z-index: 5;
  padding-left: 20%;
  position: absolute;
  top: 70px;
  width: 100%;
  > header {
    width: 100%;
    background: #FFF;
    height: 100px;
    padding: 0 20px;
    display: table;
    h1 {
      font-size: 20px;
      display: table-cell;
      vertical-align: middle;
      color: $colour-dark-grey;
    }
    .user-space {
      font-size: 12px;
      text-transform: uppercase;
      display: block;
    }
  }
}

@media (max-width: 992px) {
  main, .main {
  padding-left: 0;
  }
}
