nav.navbar {
  background-color: $colour-dark-grey;
  border: 0;
  line-height: 50px;
  a {
    color: #FFF;
  }
  .navbar-brand {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
  }
  .navbar-page_title h1 {
    color: #EEE;
    text-align: center;
    margin: 0;
    font-size: 20px;
    line-height: 50px;
  }
}
