nav.navbar {
  background-color: $colour-primary;
  border: 0;
  line-height: 70px;
  width: 100%;
  a {
    color: #FFF;
  }
  .navbar-logo {
    width: 15%;
    height: 70px;
    margin-left: 15px;
    display: inline-block;
    img {
      height: 40px;
    }
  }
  .navbar-user {
    right: 15px;
    position: absolute;
    display: inline-block;
    a {
      cursor: pointer;
      &:hover, &:active, &:focus, &:active:focus {
        text-decoration: none;
      }
    }
    .profile-pic {
      background: #FFF;
      color: #000;
      height: 40px;
      width: 40px;
      font-size: 20px;
      padding: 10px 0;
      margin-right: 10px;
      @include border-radius(20px);
      vertical-align: middle;
      text-align: center;
    }
    .dropdown-menu {
      @include border-radius(0);
      box-shadow: none;
      padding: 0;
      li {
        border-bottom: 1px solid $colour-faint-grey;
        a {
          color: $colour-dark-grey;
          padding: 10px;
          &.disabled {
            color: $colour-pale-grey;
            &:hover, &:active, &:focus, &:active:focus {
              cursor: default;
              background: none;
              color: $colour-pale-grey;
            }
          }
        }
        &:last-child {
          border: 0;
        }
      }
    }
  }
}
