{% extends "userspace/journal/editor/base.html" %}
{% load i18n staticfiles %}

{% block page-title %}{% trans "Dépôt de fichiers" %}{% endblock %}

{% block breadcrumb_end %}
{{ block.super }}
<li>{% trans "Dépôt de fichiers" %}</li>
{% endblock breadcrumb_end %}

{% block content-main %}
<div class="col-md-10 col-md-offset-1 col-xs-12">
  <section class="card card-issue_submissions">
    <div class="row card-header">
      <div class="col-sm-6">
        <h2>{% trans "Historique" %}</h2>
      </div>
      <div class="col-sm-6 text-right">
        <a href="{% url 'userspace:journal:editor:add' scope_current_journal.pk %}" class="btn btn-primary">{% trans "Dépôt de fichiers" %}</a>
      </div>
    </div>
    <ul id="id_issuesubmission_list" class="row card-body">
    {% for issue_submission in object_list|dictsortreversed:"date_created" %}
      <li class="col-xs-12">
        <a href="{% url 'userspace:journal:editor:update' scope_current_journal.pk issue_submission.pk %}"
           class="btn btn-link btn-block">
          <span class="pull-right">
            <span class="status">
              {% if issue_submission.status == 'D' %}
              {% trans "Brouillon" %}
              {% elif issue_submission.status == 'S' %}
              {% trans "Soumis" %}
              {% elif issue_submission.status == 'V' %}
              {% trans "Validé" %}
              {% endif %}
            </span>
          </span>
          <span class="title">
            {{ issue_submission.year }},
            {% if issue_submission.volume %}
            {% trans "vol." %} {{ issue_submission.volume }},
            {% endif %}
            {% trans "n°" %} {{ issue_submission.number }}
          </span>
          <span class="metadata-wrapper">
            <span class="metadata">
              <span class="metadata-title">{% trans "Revue" %}</span>
              <span class="metadata-value">{{ issue_submission.journal.name }}</span>
            </span>
            <span class="metadata">
              <span class="metadata-value"><i>
                {% blocktrans trimmed with created=issue_submission.date_created|date:"SHORT_DATE_FORMAT" %}
                  Ajouté le {{ created }}
                {% endblocktrans %}
              </i></span>
            </span>
          </span>
        </a>
      </li>
    {% endfor %}
    </ul>
  </section>
</div>
{% endblock %}
