{% extends "userspace/journal/editor/base.html" %}
{% load i18n %}

{% block page-title %}{{ question }}{% endblock %}

{% block breadcrumb_end %}
{{ block.super }}
<li><a href="{% url 'userspace:journal:editor:issues' %}">{% trans "Dépôt de fichiers" %}</a></li>
<li>{{ object.year }}, {% if object.volume %}{% trans "vol." %} {{ object.volume }},{% endif %} {% trans "n°" %} {{ object.number }}</li>
{% endblock breadcrumb_end %}

{% block content-main %}
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Êtes-vous certain ?" %}</h3>
      </div>
      <div class="panel-body">
      <div class="warning-message">{{ question }}</div>
        <form action="" method="post">{% csrf_token %}
          <input type="hidden" name="post" value="yes" />
          <input type="submit" value="{% trans "Yes" %}" class="btn btn-warning" />
          <a href="{% url 'userspace:journal:editor:update' scope_current_journal.pk object.pk %}" class="btn">{% trans "No" %}</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content-main %}
