@charset 'UTF-8';

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the PDF viewer page.
// -----------------------------------------------------------------------------
.pdf-viewer-page {
  #toolbarContainer {
    #eruditLogo {
      margin: 5px;
      display: inline-block;
      width: 60px;
    }
  }
}
