
# Standard django settings
# ------------------------
# DEBUG=
# SECRET_KEY=
# ADMIN_URL=
# ALLOWED_HOSTS=
# STATIC_ROOT=
# MEDIA_ROOT=
# UPLOAD_ROOT=

# MAIN_DATABASE_URL=
# RESTRICTION_DATABASE_URL=

# CACHE_URL=


# Retro site URL
# --------------
# FALLBACK_BASE_URL=


# Ids of fedora collections displayed by this instance
# ----------------------------------------------------
# MANAGED_COLLECTIONS=


# EMAIL_HOST=
# EMAIL_PORT=
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=

# MAILCHIMP_UUID=
# MAILCHIMP_ACTION_URL=

# DEFAULT_FROM_EMAIL=
# DEBUG_EMAIL_ADDRESS=

# FEDORA_ROOT=
# FEDORA_USER=
# FEDORA_PASSWORD=

# SOLR_ROOT=

# External subscriptions management
# ---------------------------------
# VICTOR_SOAP_URL=
# VICTOR_SOAP_USERNAME=
# VICTOR_SOAP_PASSWORD=

# Library reports
# ----------------
# ERUDIT_KBART_2014_BACKEND_URL=
# SUSHI_URL=

# For user dashboard
# ------------------
# Z3950_HOST=
# Z3950_PORT=
# Z3950_DATABASE=

# Legacy stats
# ------------
# ERUDIT_COUNTER_BACKEND_URL=

# Tracking codes to be inserted in pages for analytics
# ----------------------------------------------------

# ANALYTICS_HOTJAR_TRACKING_CODE=
# ANALYTICS_GOOGLE_TRACKING_CODE=

# Path to subscription reports directory
# --------------------------------------
# SUBSCRIPTION_EXPORTS_ROOT=

# Path to books data directory
# --------------------------------------
# BOOKS_DIRECTORY=

# RESTRICTION_ABONNE_ICONS_PATH=
# SCIENTIFIC_JOURNAL_EMBARGO_IN_MONTHS=
# CULTURAL_JOURNAL_EMBARGO_IN_MONTHS=

# Base directory for file-based logs
# ----------------------------------
# DJANGO_LOG_DIRECTORY=

# RAVEN_DSN=
