/**
* page specific variables
*/

$article-toolbar-width: 80px;


/**
* page specific mixins
*/

@mixin paragraph-text-style($font-size: 18px, $font-style-family: 'serif') {
  font-family: $font-family-serif-regular;
  font-size: $font-size;
  line-height: 1.5em;
  @include font-styles($font-style-family);
}


/**
* Styles for article detail
*/

section#article-detail {

  /**
  * default for html elements
  */

  a {
    color: $coral-red;
  }


  /**
  * Utils class
  */

  // add a vertical line before each hgroup
  .border-top {
    @include grid-cell-border();
  }

  // pagination arrows
  .pagination {
    position: absolute;
    top: 50%;
    font-size: 40px;
    color: $dark-grey;
    transform: translate(0, -50%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 58px;
    text-align: center;

    &.next-page {
      left: 100%;
      margin-left: $grid-gutter-width/2;
      padding-left: 4px;
    }
    &.previous-page {
      right: 100%;
      padding-right: 4px;
      margin-right: $grid-gutter-width/2;
    }

    &:hover, &:active, &:active:focus {
      color: $white;
      background-color: $brand-primary;
    }
  }


  /**
  * main article header
  */
  header.article-header {
    position: relative;

    h2 {
      margin: 0;
      font-size: 36px;
      line-height: 1.4em;
      @include fw-sans-bold();
    }

    dl {
      margin-top: $margin-vertical-default/2;
      margin-bottom: $margin-vertical-default/2;
    }

    hgroup {
      padding-top: $margin-vertical-default/1.5;
      padding-bottom: $margin-vertical-default/1.5;

      div.author {
        margin-bottom: $margin-vertical-default/2;
      }

      h3 {
        margin-bottom: 0;
        font-size: $font-size-h4;
        @include fw-sans-medium();
      }

      h4 {
        font-size: $font-size-h5;
        margin-bottom: 5px;
      }

      &.child-column-fit {
        padding-top: 0;
      }

      .affiliation {
        // margin-top: $margin-vertical-default/6;
        // margin-bottom: 0;
        //display: none;
      }

      p {
        margin: 0;
      }

    }

    .meta-authors {
      .clipboard-data {
        position: relative;

        @keyframes clipboardResponse {
          0% {
            opacity: 0;
          }

          15% {
            opacity: 1;
          }

          85% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }

        .clipboard-msg {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          background-color: rgba(255,255,255,0.85);
          color: $black;
          opacity: 0;
          animation-duration: 3s;
          animation-fill-mode: both;
        }

        &.success {
          .clipboard-success {
            animation-name: clipboardResponse;
          }
        }
        &.error {
          .clipboard-error {
            animation-name: clipboardResponse;
          }
        }

      }
    }

    .meta-magazine {
      .meta-magazine--title {
        display: block;
        margin-top: 5px;
      }
    }

  }

  /**
  * main article sticky header
  */
  header.article-header-sticky {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 10;
    will-change: transform;
    @include translate(-50%, -100%);
    @include transition(transform 0.3s ease-out);

    .border-bottom {
      max-height: 100px;
      overflow: hidden;
      border-bottom: 1px solid $gray-base;
      background: $body-bg;
    }

    h1#brand {

      a {
        display: block;
        width: 100%;
        padding: 30% 25% 0 25%;

        img {
          width: 100%;
        }
      }
    }

    h2 {
      margin: 0;
      font-size: 26px;
      line-height: 1.2em;
      max-height: 64px;
      overflow: hidden;
      text-overflow: ellipsis;
      @include fw-sans-bold();
    }

    dl {
      margin-top: $margin-vertical-default/2;
      margin-bottom: $margin-vertical-default/2;
    }

    hgroup {
      padding-top: $margin-vertical-default/3;
      padding-bottom: $margin-vertical-default/3;

      h3 {
        margin-bottom: 0;
        font-size: $font-size-h4;
      }

      h4 {
        font-size: $font-size-h5;
        margin-bottom: 5px;
      }

      .affiliation {
        margin-top: $margin-vertical-default/6;
        margin-bottom: 0;
      }

      p {
        margin: 0;
      }

    }

    .meta-magazine {
      .meta-magazine--title {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        color: $black;
      }
      .meta-magazine--title,
      .meta-magazine--theme,
      .volumaison {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-height: 20px;
      }
    }

  }

  /**
  * article table of contents
  */
  .article-table-of-contents {
    padding-top: $margin-vertical-default;
    position: relative;
    will-change: transform;
    @include transition(transform 0.3s ease-out);

    h4 {
      margin-bottom: 1em;
    }

    li {
      padding: 1em 0;

      &.border-top:before {
        left: 0;
      }

      a {
        color: $text-color;
        text-decoration: none;

        &.active, &:hover, &:active {
          color: $coral-red;
        }
      }

      // second level ol
      ol {
        li {
          padding: 0.25em 0;
        }
      }

      a.is-inview,
      &.is-inview a.is-insubview {
        color: $coral-red;
      }

    }

  }

  /**
  * Article body
  */
  .article-body {
    padding-top: $margin-vertical-default;
    // padding-right: $article-toolbar-width * 2;

    // first level headings
    h4 {
      margin-bottom: $margin-vertical-default/2;
      font-size: $font-size-h2;
      @include fw-sans-medium();
    }

    h4.sub-section-title {
      margin-top: $margin-vertical-default;
      font-size: $font-size-h4;
    }

    // P
    p {
      @include paragraph-text-style();
    }

    blockquote, cite {
      border-left: 1px solid $gray-lighter;
      margin-top: $margin-vertical-default;
      margin-bottom: $margin-vertical-default;
      padding-left: $grid-gutter-width * 2;
      padding-right: $grid-gutter-width * 2;

      h1, h2, h3, h4, h5, p {
        @include fw-serif-normal-italic();
      }

      .source {
        @include fw-serif-bold();
        font-size: 14px;
        em, i {
          @include fw-serif-bold-italic();
        }
      }
    }

  }

  /**
  * article body sections defaults
  */
  .article-section {
    margin-bottom: $margin-vertical-default*2;
  }

  /**
  * each resume
  */
  .resume {
    margin-bottom: $margin-vertical-default*2;

    // default font style
    @include fw-serif-normal();
    font-size: 18px;
    line-height: 1.5em;
  }

  /**
  * Paragraph number
  */
  .nopara {
    display: inline-block;
    position: relative;
    left: -40px;
    bottom: -30px;
    width: 25px;
    text-align: right;
    @include fw-serif-bold();
    font-size: 18px;
  }

  /**
  * keywords
  */
  .keywords {
    margin-top: $margin-vertical-default/2;
    h5 {
      display: inline-block;
      @include fw-sans-bold();
    }
    ul {
      display: inline-block;
      @include fw-sans-normal();
      font-size: $font-size-h5;
      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }
  }


  /**
  * Footer elements (grannexe | merci | grnotebio | grnote | grbiblio)
  */

  .article-notes {

    h5 {
      font-size: $font-size-h3;
    }

    p {
      @include paragraph-text-style(14px);
    }

    article {
      position: relative;
      margin-bottom: $margin-vertical-default/2;
      @include paragraph-text-style(14px);

      a.no {
        position: absolute;
        left: -35px;
        text-align: right;
        width: 25px;
      }

    }

  }


  /**
  * Related articles
  */

  .related-articles {
    padding-top: $margin-vertical-default;
    padding-bottom: $margin-vertical-default;
    margin-bottom: $margin-vertical-default;
    @include grid-cell-border($direction: 'top', $border-width: 2px, $border-color: $gray-light);

    > header {
      h2 {
        margin-bottom: $margin-vertical-default*2;
      }
    }

    .related-article {
      padding: 0;

      a {
        display: block;
        width: 100%;
        color: $text-color;
        padding: $margin-vertical-default/2 $grid-gutter-width/2;
        @include grid-cell-border($direction: 'top', $border-width: 1px, $border-color: $gray-light);

        h4 {
          margin-bottom: $margin-vertical-default/2;
        }

        h5 {
          color: $gray-light;
          font-size: 18px;
        }

        &:hover {
          background-color: $brand-primary;
          text-decoration: none;
          @include grid-cell-border($direction: 'top', $border-width: 1px, $border-color: $brand-primary);

          &, h5 {
            color: $white;
          }
        }
      }

    }

  }


}
