/**
* page specific variables
*/

$article-toolbar-width: 80px;


/**
* page specific mixins
*/

@mixin paragraph-text-style($font-size: 18px, $font-style-family: 'serif') {
  font-family: $font-family-serif-regular;
  font-size: $font-size;
  line-height: 1.5em;
  @include font-styles($font-style-family);
}


/**
* Styles for article detail
*/

section#article-detail {

  /**
  * default for html elements
  */

  a {
    color: $coral-red;
  }


  /**
  * Utils class
  */

  // add a vertical line before each hgroup
  .border-top {
    @include grid-cell-border();
  }


  /**
  * main article header
  */
  header.article-header {

    h2 {
      margin: 0;
      font-size: 36px;
      line-height: 1.4em;
      @include fw-sans-bold();
    }

    dl {
      margin-top: $margin-vertical-default/2;
      margin-bottom: $margin-vertical-default/2;
    }

    hgroup {
      padding-top: $margin-vertical-default/1.5;
      padding-bottom: $margin-vertical-default/1.5;

      div.author {
        margin-bottom: $margin-vertical-default/2;
      }

      h3 {
        margin-bottom: 0;
        font-size: $font-size-h4;
        @include fw-sans-medium();
      }

      h4 {
        font-size: $font-size-h5;
        margin-bottom: 5px;
      }

      .affiliation {
        // margin-top: $margin-vertical-default/6;
        // margin-bottom: 0;
        display: none;
      }

      p {
        margin: 0;
      }

    }

    .meta-authors {

    }

    .meta-magazine {
      .meta-magazine--title {
        display: block;
        margin-top: 5px;
      }
    }

  }

  /**
  * main article sticky header
  */
  header.article-header-sticky {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 10;
    will-change: transform;
    @include translate(-50%, -100%);
    @include transition(transform 0.3s ease-out);

    .border-bottom {
      max-height: 130px;
      overflow: hidden;
      border-bottom: 1px solid $gray-base;
      background: $body-bg;
    }

    h1#brand {

      a {
        display: block;
        width: 100%;
        padding: 50% 25% 0 25%;

        img {
          width: 100%;
        }
      }
    }

    h2 {
      margin: 0;
      font-size: 22px;
      line-height: 1.2em;
      @include fw-sans-bold();
    }

    dl {
      margin-top: $margin-vertical-default/2;
      margin-bottom: $margin-vertical-default/2;
    }

    hgroup {
      padding-top: $margin-vertical-default/3;
      padding-bottom: $margin-vertical-default/3;

      h3 {
        margin-bottom: 0;
        font-size: $font-size-h4;
      }

      h4 {
        font-size: $font-size-h5;
        margin-bottom: 5px;
      }

      .affiliation {
        margin-top: $margin-vertical-default/6;
        margin-bottom: 0;
      }

      p {
        margin: 0;
      }

    }

    .meta-magazine {
      .meta-magazine--title {
        display: block;
        margin-top: 5px;
      }
    }

  }

  /**
  * article table of contents
  */
  /**
  * article table of contents
  */
  .article-table-of-contents {
    padding-top: $margin-vertical-default;
    position: relative;
    will-change: transform;
    @include transition(transform 0.3s ease-out);

    h4 {
      margin-bottom: 1em;
    }

    li {
      padding: 1em 0;

      &.border-top:before {
        left: 0;
      }

      a {
        color: $text-color;
        text-decoration: none;

        &.active, &:hover, &:active {
          color: $coral-red;
        }
      }

      // second level ol
      ol {
        li {
          padding: 0.25em 0;
        }
      }

    }

  }


  /**
  * article toolbox
  */
  .article-tools {
    position: relative;
    padding-top: $margin-vertical-default;
    margin-right: $grid-gutter-width / 2;
    width: 50px;
    z-index: 10;
    will-change: transform;
    @include transition(transform 0.3s ease-out);

    ul, li {
      width: 100%;
    }
    li {
      position: relative;
      height: 50px;
      margin: 0 0 1px 0;
      padding: 0;
      display: block;

      button {
        position: relative;
        display: block;
        margin: 0;
        min-width: 50px;
        height: 100%;
        background: $colour-accent;
        border: none;
        color: #fff;
        font-size: 0.8em;
        white-space: nowrap;
        float: right;
        @include transition(none);

        .tools-label {
          display: none;
          padding: 4px 6px 0 40px;
          @include fw-sans-medium();
        }

        .erudicon {
          position: absolute;
          font-size: 14px;
        }

        .erudicon-tools-pdf { font-size: 8px; top: 21px; left: 15px; }
        .erudicon-tools-quote { font-size: 10px; top: 20px; left: 19px;  }
        .erudicon-tools-save { font-size: 18px; top: 17px; left: 20px; }
        .erudicon-tools-more { font-size: 4px; top: 24px; left: 18px; }
        .erudicon-tools-share { top: 18px; left: 18px; }
        .erudicon-tools-print { top: 18px; left: 19px; }
        .erudicon-tools-fullscreen { top: 17px; left: 19px; }
      }

      html.pointerevents &, html.touchevents & {
        button.more {
          display: none;
        }
      }

      html.no-pointerevents.no-touchevents & {
        ul {
          position: absolute;
          top: 0;
          right: 51px;
          display: none;
          width: auto;

          button {
            float: none;
            width: 100%;

            .tools-label {
              display: block;
              padding-right: 50px;
            }
          }
        }
      }

      html.no-pointerevents.no-touchevents &:hover,
      &:active {
        & > button {
          background: $dark-grey;

          .tools-label {
            display: block;
          }
        }

        ul {
          display: block !important;
        }
      }
    }

  }


  /**
  * Article body
  */
  .article-body {
    padding-top: $margin-vertical-default;
    // padding-right: $article-toolbar-width * 2;

    // first level headings
    h4 {
      margin-bottom: $margin-vertical-default/2;
      font-size: $font-size-h2;
      @include fw-sans-medium();
    }

    h4.sub-section-title {
      margin-top: $margin-vertical-default;
      font-size: $font-size-h4;
    }

    // P
    p {
      @include paragraph-text-style();
    }

    blockquote, cite {
      border-left: 1px solid $gray-lighter;
      margin-top: $margin-vertical-default;
      margin-bottom: $margin-vertical-default;
      padding-left: $grid-gutter-width * 2;
      padding-right: $grid-gutter-width * 2;

      h1, h2, h3, h4, h5, p {
        @include fw-serif-normal-italic();
      }

      .source {
        @include fw-serif-bold();
        font-size: 14px;
        em, i {
          @include fw-serif-bold-italic();
        }
      }
    }

  }

  /**
  * article body sections defaults
  */
  .article-section {
    margin-bottom: $margin-vertical-default*2;
  }

  /**
  * each resume
  */
  .resume {
    margin-bottom: $margin-vertical-default*2;

    // default font style
    @include fw-serif-normal();
    font-size: 18px;
    line-height: 1.5em;
  }

  /**
  * Paragraph number
  */
  .nopara {
    display: inline-block;
    position: relative;
    left: -40px;
    bottom: -30px;
    width: 25px;
    text-align: right;
    @include fw-serif-bold();
    font-size: 18px;
  }

  /**
  * keywords
  */
  .keywords {
    margin-top: $margin-vertical-default/2;
    h5 {
      display: inline-block;
      @include fw-sans-bold();
    }
    ul {
      display: inline-block;
      @include fw-sans-normal();
      font-size: $font-size-h5;
      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }
  }


  /**
  * Footer elements (grannexe | merci | grnotebio | grnote | grbiblio)
  */

  .article-notes {

    h5 {
      font-size: $font-size-h3;
    }

    p {
      @include paragraph-text-style(14px);
    }

    article {
      position: relative;
      margin-bottom: $margin-vertical-default/2;
      @include paragraph-text-style(14px);

      a.no {
        position: absolute;
        left: -35px;
        text-align: right;
        width: 25px;
      }

    }

  }


  /**
  * Related articles
  */

  .related-articles {
    padding-top: $margin-vertical-default;
    padding-bottom: $margin-vertical-default;
    margin-bottom: $margin-vertical-default;
    @include grid-cell-border($direction: 'top', $border-width: 2px, $border-color: $gray-light);
    // @include grid-cell-border($direction: 'bottom', $border-width: 3px);

    > header {
      // margin-bottom: $margin-vertical-default/2;
      h2 {
        margin-bottom: $margin-vertical-default*2;
      }
    }

    article {
      @include grid-cell-border($direction: 'top', $border-width: 1px, $border-color: $gray-light);
      padding-top: $margin-vertical-default/2;

      a {
        color: $text-color;
      }

      h4 {
        margin-bottom: $margin-vertical-default/2;
      }

      h5 {
        color: $gray-light;
      }

    }

  }


}
