/**
* Generic elements for journals pages
*/

/**
* journal thumbnail item
*/

.journal-thumbnail {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  @include grid-cell-border('top', 1px, $gray-mid);

  h4 {
    font-size: 18px;
  }

  h5 {
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
  }

}


/**
* journal meta infos on sidebars
*/
.journal-meta {
  border-bottom: 1px solid $gray-base;
  li {
    margin-bottom: $margin-vertical-default/2;
    h6 {
      margin: 0 0 4px 0;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }

}
