/**
* Search page base
*/

section#search-page {

  /**
  * main header
  */
  header.search-header {
    h3, h4 {
      margin: $margin-vertical-default/3 0;
    }
  }

}

/**
* Search form
*/

form#id-search {

  // reset form defaults
  fieldset {
    padding: 0;
  }

  .form-group {
    padding: 0;
  }

}
