/**
* Search page base
*/

section#search-page {

  /**
  * main header
  */
  header.search-header {
    h3, h4 {
      margin: $margin-vertical-default/3 0;
    }
  }

}

/**
* search form
*/

.search-form {

  // advanced search
  .advanced-search {

    .advanced-search-fields {
      display: none;
    }

  }

}


/**
* search results
*/

.search-results {
  ol.results {

  }
}

/**
* search result item
*/

.search-result-item {
  position: relative;
  padding-bottom: $margin-vertical-default/2;
  padding-right: 100px;
  margin-bottom: $margin-vertical-default/2;
  border-bottom: 1px solid $gray-mid;

  header {
    margin-bottom: $margin-vertical-default/2;

    h5.position {
      position: absolute;
      top: -2px;
      left: ($grid-gutter-width * 2) * -1;
      font-size: 18px;
      font-family: $font-family-monospace;
      color: $gray-light;
    }

    h4.authors {
      @include fw-sans-bold();
      color: $gray-light;
    }

    h3 {
      @include fw-sans-bold();
      margin: 5px 0;
    }

    h4 {
      margin: 0;
    }

  }

  footer.meta {
    h5 {
      margin: 0;
    }
  }

  .article-tools {
    position: absolute;
    top: 0;
    right: $grid-gutter-width/2 * -1;
    padding-top: 0;
  }

}

/**
* Search form
*/

form#id-search {

  // reset form defaults
  fieldset {
    padding: 0;
  }

  .form-group {
    padding: 0;
  }

}
