{% extends "public/base.html"|pjax:request %}
{% load i18n staticfiles %}

{% block page-title %}{% trans 'Connexion' %}{% endblock %}

{% block zone-title %}{% trans 'Espace éditeurs' %}{% endblock %}

{% block breadcrumb %}
  {{ block.super }} / <a href="{% url 'login' %}">{% trans "Connexion" %}</a>
{% endblock %}

{% block content %}
<section id="login-page" data-controller="userspace:login">

  <div class="container-fluid">

    <div class="row">

      <aside class="{% if request.is_ajax %}col-lg-4 col-md-5 col-sm-6 col-xs-12{% else %}col-lg-4 col-sm-6 col-xs-12{% endif %} col-centered">

        <div class="panel">

          <header class="panel-heading">
            <h2 class="h3 panel-title text-center h1">{% trans "Connexion à votre compte" %}</h2>
          </header>

          <div class="panel-body">

            <form id="id-login-form" method="post">

              {% csrf_token %}

              {% if form.non_field_errors %}
              <div class="col-xs-12">
                {% for error in form.non_field_errors %}
                <p class="alert alert-warning">{{ error }}</p>
                {% endfor %}
              </div>
              {% endif %}

              <div class="form-group">
                <label for="id_username">{% trans "Nom d'utilisateur" %}</label>
                {{ form.username }}
                <div class="alert alert-error-text">{{ form.username.errors.as_text }}</div>
              </div>

              <div class="form-group">
                <label for="id_password">{% trans "Mot de passe" %}</label>
                {{ form.password }}
                <div class="alert alert-error-text">{{ form.password.errors.as_text }}</div>
              </div>

              <div class="form-group">
                <div class="text-right">
                  <small><a href="{% url 'password_reset' %}" data-open-modal-ajax>{% trans "Mot de passe oublié&nbsp;?" %}</a></small>
                </div>
              </div>

              <div class="form-group text-center">
                {% if request.is_ajax %}
                <a href="#" class="btn btn-cancel" data-close-modal>{% trans "Annuler" %}</a>
                {% endif %}
                <button type="submit" class="btn btn-primary" id="submit-id-submit">{% trans "Connexion" %}</button>
              </div>

            </div>

          </div>

        </aside>

      </div>

    </div>

  </div>

</section>
{% endblock %}
