{% extends "public/base.html"|pjax:request %}
{% load i18n staticfiles %}

{% block page-title %}{% trans 'Réinitialisation de mot de passe' %}{% endblock %}

{% block zone-title %}{% trans 'Espace éditeurs' %}{% endblock %}

{% block breadcrumb %}
  {{ block.super }} / <a href="{% url 'password_reset' %}">{% trans "Réinitialisation de mot de passe" %}</a>
{% endblock %}

{% block content %}
<section id="password-reset">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <section class="card card-login">
          <div class="card-header">
            <h1>{% trans "Réinitialisation de mot de passe" %}</h1>
          </div>
          <div class="card-body">
            {% block password-reset-content %}
            {% endblock %}
          </div>
          <div class="card-footer">
            <p><a href="{% url 'login' %}">{% trans "Retourner à la page d'accueil" %}</a></p>
          </div>
        </section>
      </div>
    </div>
  </div>

</section>
{% endblock %}
