{% extends "public/base.html" %}
{% load humanize i18n %}

{% block title %}{% blocktrans with repository=repository.name %}Thèses et mémoires de {{ repository }}{% endblocktrans %}{% endblock title %}

{% block meta_description %}{% blocktrans with repository=repository.name %}Accédez aux thèses et mémoires du dépôt institutionnel de {{ repository }} sur la plateforme Érudit.{% endblocktrans %}{% endblock meta_description %}

{% block meta_tags %}
<!-- Facebook / Open Graph -->
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% blocktrans with repository=repository.name %}Thèses et mémoires de {{ repository }}{% endblocktrans %}">
<meta property="og:site_name" content="Érudit">
<meta property="og:locale" content="{{ language_code }}_CA">
{% if repository.logo %}
<meta property="og:image" content="https://{{ request.get_host }}{{ repository.logo.url }}">
{% endif %}
<meta property="og:description" content="{% blocktrans with repository=repository.name %}Accédez aux thèses et mémoires du dépôt institutionnel de {{ repository }} sur la plateforme Érudit.{% endblocktrans %}">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@eruditorg">
<meta name="twitter:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:title" content="{% trans 'Thèses et mémoires' %} – Érudit">
{% if repository.logo %}
<meta name="twitter:image" content="https://{{ request.get_host }}{{ repository.logo.url }}">
{% endif %}
<meta name="twitter:image:alt" content="{% trans 'Logo pour' %} {{ repository.name }}">
<meta name="twitter:description" content="{% blocktrans with repository=repository.name %}Accédez aux thèses et mémoires du dépôt institutionnel de {{ repository }} sur la plateforme Érudit.{% endblocktrans %}">
{% endblock meta_tags %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:thesis:home' %}",
      "name": "{% trans 'Thèses et mémoires' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:thesis:collection_home' repository.code %}",
      "name": "{{ repository.name }}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_class %}{{ block.super }} thesis_collection_home{% endblock body_class %}
{% block body_id %}thesis_collection_home{% endblock body_id %}
{% block data_controller %}public:thesis:collection_home{% endblock data_controller %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'public:thesis:home' %}">{% trans "Thèses et mémoires" %}</a></li>
<li><a href="{% url 'public:thesis:collection_home' repository.code %}">{{ repository.name }}</a></li>
{% endblock breadcrumb %}

{% block content %}
<main role="main">
  <header class="glory">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-xs-8">
          <h1>
            {{ repository.name }}
            <span class="thesis-count">
              {{ thesis_count|intcomma }} {% trans "documents" %}
            </span>
          </h1>
        </div>
        <div class="col-md-2 col-xs-4">
          {% if repository.logo %}
          <span class="collection-logo">
            <img src="{{ repository.logo.url }}" alt="{% trans 'Logo pour' %} {{ repository.name }}" class="img-responsive"/>
          </span>
          {% endif %}
        </div>
      </div>
      <section class="row recent-theses">
        <div class="col-md-3">
          <h2>{% trans "Dernièrement diffusées" %}</h2>
        </div>
        {% for thesis in recent_theses %}
        <div class="thesis col-md-3">
          <p class="thesis-title">
            <a href="{{ thesis.url }}" class="recent-thesis" target="_blank">{{ thesis.title }}</a>
          </p>
          <p class="thesis-author">
            <strong>{{ thesis.authors }}</strong>
          </p>
        </div>
        {% endfor %}
      </section>
    </div>
  </header>

  <section class="container main-content">
    <div class="row">
      <div class="col-md-6">
        <h2>{% trans "Par année" %}</h2>
        <ul class="theses-list">
        {% for year, count in view.by_publication_year %}
          <li>
            <a href="{% url 'public:thesis:collection_list_per_year' repository.code year %}" class="aggregation-link">{{ year }} [{{ count|intcomma }}]</a>
          </li>
        {% endfor %}
      </ul>
      </div>
      <div class="col-md-6">
        <h2>{% trans "Par nom d'auteur" %}</h2>
        <ul class="theses-list">
        {% for letter, count in view.by_author_first_letter %}
          <li>
            <a href="{% url 'public:thesis:collection_list_per_author_name' repository.code letter %}" class="aggregation-link">{{ letter }} [{{ count|intcomma }}]</a>
          </li>
        {% endfor %}
      </ul>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
