{% extends "public/base.html" %}
{% load humanize i18n static %}

{% block stylesheets %}
{{ block.super }}
{% if not WEBPACK_DEV_SERVER_URL %}
<link rel="stylesheet" type="text/css" href="{% static 'css/thesis_collection_list.css' %}" />
{% endif %}
{% endblock stylesheets %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:thesis:home' %}",
      "name": "{% trans 'Thèses et mémoires' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:thesis:collection_home' repository.code %}",
      "name": "{{ repository.name }}"
    }
  },{% block structured_data_breadcrumb_tail %}{% endblock structured_data_breadcrumb_tail %}]
}
</script>
{% endblock structured_data %}

{% block body_class %}{{ block.super }} thesis_collection_list{% endblock body_class %}
{% block body_id %}thesis_collection_list{% endblock body_id %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'public:thesis:home' %}">{% trans "Thèses et mémoires" %}</a></li>
<li><a href="{% url 'public:thesis:collection_home' repository.code %}">{{ repository.name }}</a></li>
{% endblock breadcrumb %}

{% block content %}
<main class="container">
  <header class="main-header">
    <div class="row">
      <div class="col-sm-9 col-xs-8">
        <h1>
          <span class="thesis-collection">{{ repository.name }}</span>
          <span class="thesis-page-title">{% block inner_title %}{% endblock inner_title %}</span>
        </h1>
      </div>
      <div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-4">
        {% if repository.logo %}
        <span class="collection-logo">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
            data-srcset="{{ repository.logo.url }} {{ repository.logo.width }}w"
            data-aspectratio="{{ repository.logo.width }}/{{ repository.logo.height }}"
            width="{{ repository.logo.width }}"
            height="{{ repository.logo.height }}"
            class="lazyload img-responsive"
            alt="{% trans 'Logo pour'%} {{ repository.name }}"
          />
        </span>
        {% endif %}
      </div>
    </div>
  </header>

  <section class="row">
    <div class="col-sm-9 col-md-8 main-content">
      <h2>{% trans "Liste complète" %}</h2>
      <div class="alert alert-info">
        <p><i class="icon ion-ios-information-circle alert-info-icon"></i> {% trans 'La lecture de ces thèses nécessite une redirection vers le site du dépôt institutionnel.' %}</p>
      </div>
      <div class="actions-wrapper">
        <div id="div_id_sort_by" class="form-group">
          <div class="controls">
            <label class="control-label" for="sort_by">{% trans "Trier par" %}</label>
            &nbsp;
            <select id="sort_by" onChange="window.location.href=this.value">
              {% for sort_option in available_tris.items %}
              <option value="?sort_by={{ sort_option.0 }}"{% if sort_by == sort_option.0 %} selected{% endif %}>{{ sort_option.1 }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="pagination-wrapper">{% include "public/partials/pagination.html" %}</div>
      <ul class="theses">
      {% for thesis in theses %}
        <li class="thesis row">
          <div class="col-xs-11">
            <div class="thesis-author"><strong>{{ thesis.authors_display }}</strong></div>
            <a href="{{ thesis.url }}" class="thesis-title" target="_blank" title="{% trans 'Consulter cette thèse' %}">{{ thesis.publication_year }} — {{ thesis.title }}</a>
            {% if thesis.description or thesis.keywords %}
            <div class="thesis-description">
              {% if thesis.description %}
              <p class="thesis-abstract">
                {{ thesis.description|truncatewords_html:100 }} <a href="{{ thesis.url }}" target="_blank" title="{% trans 'Consulter cette thèse' %}"><strong><span class="arrow arrow-bar is-right"></span>&nbsp;{% trans 'Lire la suite' %}</strong></a>
              </p>
              {% endif %}
              {% if thesis.keywords %}
              <p class="keywords">
                <span><strong>{% trans "Mots-clés&nbsp;:" %}</strong></span>
                <span>{{ thesis.keywords }}</span>
              </p>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </li>
      {% endfor %}
      </ul>
      <div class="pagination-wrapper">{% include "public/partials/pagination.html" %}</div>
    </div>
    <aside class="col-sm-3 col-md-offset-1 repository-meta">
      <div class="sidebar-block">
        <h2>{% trans "Fiche" %}</h2>
        <dl>
          <dt>{% trans "Nombre de documents" %}</dt>
          <dd>{{ thesis_count|intcomma }}</dd>
          {% block inner_list_switcher %}{% endblock inner_list_switcher %}
        </dl>
      </div>
      <div class="sidebar-block">
        <h3>{% trans "En un coup d’œil" %}</h3>
        <ul class="random-theses">
          {% for thesis in sidebar_theses %}
          <li>
            <a href="{{ thesis.url }}">
              <span class="thesis-title">{{ thesis.title }}</span>
              <span class="thesis-author"><strong>{{ thesis.authors }}</strong></span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </aside>
  </section>
</main>
{% endblock content %}
