{% extends "public/thesis/collection_list_base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with year=publication_year collection=collection.name %}Thèses publiées en {{ year }}{% endblocktrans %} – {{ collection }}{% endblock title %}

{% block meta_description %}{% blocktrans with year=publication_year collection=collection.name %}Consultez les thèses et mémoires de {{ collection }} publiées en {{ year }} sur la plateforme Érudit.{% endblocktrans %}{% endblock meta_description %}

{% block structured_data_breadcrumb_tail %}
{
  "@type": "ListItem",
  "position": 4,
  "item": {
    "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:thesis:collection_list_per_year' collection.code publication_year %}",
    "name": "{{ publication_year }}"
  }
}
{% endblock structured_data_breadcrumb_tail %}

{% block breadcrumb %}
  {{ block.super }} <li><a href="{% url 'public:thesis:collection_list_per_year' collection.code publication_year %}">{{ publication_year }}</a></li>
{% endblock breadcrumb %}

{% block inner_title %}
{% blocktrans with year=publication_year %}Thèses publiées en {{ year }}{% endblocktrans %}
{% endblock inner_title %}

{% block inner_list_switcher %}
<dt>
  <label for="switch_year">{% trans "Parcourir d'autres années" %}</label>
</dt>
<dd>
  <select id="switch_year" onChange="window.location.href=this.value">
    {% for year in other_publication_years %}
    <option value="{% url 'public:thesis:collection_list_per_year' collection.code year.publication_year %}?sort_by={{ sort_by }}"{% if year.publication_year == publication_year %} selected disabled{% endif %}>{{ year.publication_year }} ({{ year.total }})</option>
    {% endfor %}
  </select>
</dd>
{% endblock inner_list_switcher %}
