{% extends "public/base.html" %}
{% load i18n %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:thesis:home' %}",
      "name": "{% trans 'Thèses' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:thesis:collection_home' collection.code %}",
      "name": "{{ collection.name }}"
    }
  },{% block structured_data_breadcrumb_tail %}{% endblock structured_data_breadcrumb_tail %}]
}
</script>
{% endblock structured_data %}

{% block body_class %}{{ block.super }} thesis_collection_list{% endblock body_class %}
{% block body_id %}thesis_collection_list{% endblock body_id %}
{% block data_controller %}public:thesis:collection_list{% endblock data_controller %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'public:thesis:home' %}">{% trans "Thèses" %}</a></li>
<li><a href="{% url 'public:thesis:collection_home' collection.code %}">{{ collection.name }}</a></li>
{% endblock breadcrumb %}

{% block content %}
<main role="class">
  <div class="container">
    <header class="page-header-main">
      <div class="row">
        <div class="col-sm-9 col-xs-8">
          <h1>
            <span>{% block inner_title %}{% endblock inner_title %}</span>
            <span>{{ collection.name }}</span>
            </h1>
        </div>
        <div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-4">
          {% if collection.logo %}
          <span class="collection-logo">
            <img src="{{ collection.logo.url }}" alt="" class="img-responsive"/>
          </span>
          {% endif %}
        </div>
      </div>
    </header>

    <div class="row">
      <div class="col-sm-9 col-md-8 main-content">
        <h2>{% trans "Liste complète" %}&nbsp;<span class="hint--top hint--no-animate" data-hint="{% trans 'La lecture de ces thèses nécessite la redirection vers le site du dépôt institutionnel.' %}"><span class="ion-alert"></span></span></h2>
        <div class="actions-wrapper">
          <div id="div_id_sort_by" class="form-group">
            <div class="controls">
              <label class="control-label" for="sort_by">{% trans "Trier par" %}</label>
              &nbsp;
              <select id="sort_by" onChange="window.location.href=this.value">
                {% for sort_option in available_tris.items %}
                <option value="?sort_by={{ sort_option.0}}"{% if sort_by == sort_option.0 %} selected{% endif %}>{{ sort_option.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="pagination-wrapper">{% include "public/partials/pagination.html" %}</div>
        <ul class="theses">
        {% for thesis in theses %}
          <li class="thesis row">
            <div class="col-xs-11">
              <div class="thesis-author">{{ thesis.author.lastname }}{% if thesis.author.firstname %}, {{ thesis.author.firstname }}{% endif %}</div>
              <a href="{{ thesis.url }}" class="thesis-title" target="_blank" title="{% trans 'Consulter cette thèse' %}">{{ thesis.title }}</a>
              {% if thesis.description or thesis.keywords.all %}
              <div class="thesis-description">
                {% if thesis.description %}
                <p class="thesis-abstract">
                  {{ thesis.description|truncatewords_html:100 }} <a href="{{ thesis.url }}" target="_blank" title="{% trans 'Consulter cette thèse' %}">-->&nbsp;{% trans 'Lire la suite' %}</a>
                </p>
                {% endif %}
                {% if thesis.keywords.all %}
                <p class="keywords">
                  <span>{% trans "Mots-clés&nbsp;:" %}</span>
                  <span>{% for kw in thesis.keywords.all %}{{ kw.name }}{% if not forloop.last %}, {% endif %}{% empty %}{% trans "aucun mot-clé" %}{% endfor %}</span>
                </p>
                {% endif %}
              </div>
              {% endif %}
            </div>
            {% if thesis.description or thesis.keywords.all %}
            <div class="col-xs-1 text-right">
              <a href="#" class="thesis-extend"><span class="ion-plus"></span></a>
              <a href="#" class="thesis-reduce"><span class="ion-minus"></span></a>
            </div>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
        <div class="pagination-wrapper">{% include "public/partials/pagination.html" %}</div>
        <div class="text-center">
          <a href="#top" title="{% trans 'Retourner en haut' %}" class="scroll-top">|^</a>
        </div>
      </div>
      <aside class="col-sm-3 col-md-offset-1 repository-meta">
        <div class="sidebar-block">
          <h2>{% trans "Fiche" %}</h2>
          <dl>
            <dt>{% trans "Nombre de thèses" %}</dt>
            <dd>{{ paginator.count }}</dd>
            {% block inner_list_switcher %}{% endblock inner_list_switcher %}
          </dl>
        </div>
        <div class="sidebar-block">
          <h3>{% trans "En un coup d'oeil" %}</h3>
          <ul class="random-theses">
            {% for thesis in random_theses %}
            <li>
              <a href="{{ thesis.url }}">
                <span class="thesis-title">{{ thesis.title }}</span>
                <span class="thesis-author">{{ thesis.author.lastname }}{% if thesis.author.firstname %}, {{ thesis.author.firstname }}{% endif %}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </aside>
    </div>
  </div>
</main>
{% endblock content %}
