{% extends "public/base.html" %}
{% load i18n %}

{% block page_title %}{{ collection.name }}{% endblock page_title %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:thesis:home' %}",
      "name": "{% trans 'Thèses' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:thesis:collection_home' collection.pk %}",
      "name": "{{ collection.name }}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_class %}{{ block.super }} thesis_collection_home{% endblock body_class %}
{% block data_controller %}public:thesis:collection_home{% endblock data_controller %}

{% block breadcrumb %}
{{ block.super }} / <a href="{% url 'public:thesis:home' %}">{% trans "Thèses" %}</a>
/ <a href="{% url 'public:thesis:collection_home' collection.pk %}">{{ collection.name }}</a>
{% endblock breadcrumb %}

{% block content %}
<div id="thesis_collection_home">
  <div class="glory">
    <div class="container">
      <header class="page-header-main">
        <div class="row">
          <div class="col-md-10 col-sm-8 col-xs-12">
            <h1>
              {{ collection.name }}
              <span class="thesis-count">
                ({% blocktrans trimmed count counter=thesis_count %}
                {{ counter }} thèse
                {% plural %}
                {{ counter }} thèses
                {% endblocktrans %})
              </span>
            </h1>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4">
            {% if collection.logo %}
            <span class="collection-logo">
              <img src="{{ collection.logo.url }}" alt="" class="img-responsive"/>
            </span>
            {% endif %}
          </div>
        </div>
      </header>
      <div class="row recent-theses">
        <div class="col-md-3">
          <h2>{% trans "Dernières publications" %}</h2>
        </div>
        {% for thesis in recent_theses %}
        <div class="thesis col-md-3">
          <p class="thesis-title">
            <a href="{{ thesis.url }}" class="recent-thesis" target="_blank">{{ thesis.title }}</a>
          </p>
          <p class="thesis-author">
            {{ thesis.author.lastname }}{% if thesis.author.firstname %}, {{ thesis.author.firstname }}{% endif %}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>{% trans "Par année" %}</h2>
          <ul class="theses-list">
          {% for year in thesis_groups.by_publication_year %}
            <li>
              <a href="{% url 'public:thesis:collection_list_per_year' collection.pk year.publication_year %}" class="aggregation-link">{{ year.publication_year }} [{{ year.total}}]</a>
            </li>
          {% endfor %}
        </ul>
        </div>
        <div class="col-md-6">
          <h2>{% trans "Par nom d'auteur" %}</h2>
          <ul class="theses-list">
          {% for author in thesis_groups.by_author_name %}
            <li>
              <a href="{% url 'public:thesis:collection_list_per_author_name' collection.pk author.author_firstletter %}" class="aggregation-link">{{ author.author_firstletter }} [{{ author.total}}]</a>
            </li>
          {% endfor %}
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
