{% extends "public/base.html" %}
{% load humanize i18n staticfiles %}

{% block title %}{% trans "Thèses et mémoires" %}{% endblock title %}

{% block meta_description %}{% blocktrans %}Consultez les dépôts de thèses et mémoires de plusieurs universités canadiennes sur la plateforme Érudit.{% endblocktrans %}{% endblock meta_description %}

{% block meta_tags %}
<!-- Facebook / Open Graph -->
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% trans 'Thèses et mémoires' %}">
<meta property="og:site_name" content="Érudit">
<meta property="og:locale" content="{{ language_code }}_CA">
<meta property="og:image" content="https://{{ request.get_host }}{% static 'img/illustration-erudit.png' %}">
<meta property="og:description" content="{% blocktrans %}Consultez les dépôts de thèses et mémoires de plusieurs universités canadiennes sur la plateforme Érudit.{% endblocktrans %}">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@eruditorg">
<meta name="twitter:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:title" content="{% trans 'Thèses et mémoires' %} – Érudit">
<meta name="twitter:image" content="https://{{ request.get_host }}{% static 'img/illustration-erudit.png' %}">
<meta name="twitter:image:alt" content="{% trans 'Illustration « Cultivez votre savoir »' %}">
<meta name="twitter:description" content="{% blocktrans %}Consultez les dépôts de thèses et mémoires de plusieurs universités canadiennes sur la plateforme Érudit.{% endblocktrans %}">
{% endblock meta_tags %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:thesis:home' %}",
      "name": "{% trans 'Thèses et mémoires' %}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_class %}{{ block.super }} thesis_home{% endblock body_class %}
{% block body_id %}thesis_home{% endblock body_id %}
{% block data_controller %}public:thesis:thesis_home{% endblock data_controller %}

{% block breadcrumb %}
  {{ block.super }} <li><a href="{% url 'public:thesis:home' %}">{% trans "Thèses et mémoires" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<main role="main" class="container">
  <header class="row main-header">
    <div class="col-md-8">
      <h1>
        {% trans "Thèses et mémoires" %}
        <span class="thesis-count">{{ total_count|intcomma }} {% trans "documents" %}</span>
      </h1>
      <div class="main-header__intro">
        {% url 'public:search:advanced_search' as advanced_search %}
        {% blocktrans %}
        <p>Érudit offre un accès centralisé aux dépôts de thèses et mémoires de plusieurs universités canadiennes. La recherche peut être effectuée sur Érudit à l’intérieur de chaque dépôt ou dans l’ensemble de ceux-ci à partir de l’<a href="{{ advanced_search }}">outil de recherche avancée</a>&nbsp;; la consultation du document nécessite cependant une redirection vers la plateforme de l’institution d’attache.</p>
        <p>Érudit n’est pas responsable des documents diffusés dans cette zone. En cas de besoin, veuillez communiquer directement avec la personne en charge du dépôt à l’université correspondante.</p>
        {% endblocktrans %}
      </div>
    </div>
  </header>

  <section class="main-content">
    <header class="row">
      <h2>{% trans "Par dépôt institutionnel" %}</h2>
    </header>

    <ul class="repositories row">
      {% for summary in repository_summaries %}
      <li class="col-sm-6 col-md-4 col-lg-3 repository">
        <a href="{% url 'public:thesis:collection_home' summary.repository.code %}" class="collection-link">
          {% if summary.repository.logo %}
          <span class="collection-logo">
            <img src="{{ summary.repository.logo.url }}" alt="{% blocktrans with summary.repository.name as name %}Logo {{ name }}{% endblocktrans %}" title="{% blocktrans with collection_info.collection.name as name %}Voir le dépôt {{ name }}{% endblocktrans %}" class="img-responsive"/>
          </span>
          {% endif %}
        </a>
        <h3 class="collection-title">
          <a href="{% url 'public:thesis:collection_home' summary.repository.code %}" class="collection-link">
            <strong>{{ summary.repository.name }}</strong>
          </a>
        </h3>
        <div class="thesis-count">
          {{ summary.thesis_count|intcomma }} {% trans "documents" %}
        </div>
        {% if summary.recent_theses %}
        <div class="recent-theses">
          <h4>{% trans "Dernièrement diffusées" %}</h4>
          {% for thesis in summary.recent_theses %}
          <a href="{{ thesis.url }}" class="thesis" target="_blank">{{ thesis.title }}</a>
          {% endfor %}
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>

</main>
{% endblock content %}
