{% extends "public/base.html" %}
{% load i18n %}

{% block title %}{% trans "Thèses" %}{% endblock title %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:thesis:home' %}",
      "name": "{% trans 'Thèses' %}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_class %}{{ block.super }} thesis_home{% endblock body_class %}
{% block body_id %}thesis_home{% endblock body_id %}
{% block data_controller %}public:thesis:thesis_home{% endblock data_controller %}

{% block breadcrumb %}
  {{ block.super }} <li><a href="{% url 'public:thesis:home' %}">{% trans "Thèses" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <header class="page-header-main">
          <h1>{% trans "Thèses" %}</h1>
        </header>
        <div class="page-intro">
          {% url 'public:search:advanced_search' as advanced_search %}
          {% blocktrans %}
          <p>Érudit offre un accès centralisé aux dépôts de thèses et mémoires de plusieurs universités canadiennes. La recherche peut être effectuée sur Érudit à l’intérieur de chaque dépôt ou dans l’ensemble de ceux-ci à partir de l’<a href="{{ advanced_search }}">outil de recherche avancée</a>&nbsp;; la consultation du document nécessite cependant une redirection vers la plateforme de l’institution d’attache.</p>
          <p>Érudit n’est pas responsable des documents diffusés dans cette zone. En cas de besoin, veuillez communiquer directement avec la personne en charge du dépôt.</p>
          {% endblocktrans %}
        </div>
      </div>
      <aside class="col-md-offset-1 col-md-3">
        <h2>Statistiques</h2>
      </aside>
    </div>

    <div class="main-content">
      <header class="row">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2>{% trans "Par dépôt institutionnel" %}</h2>
            </div>
          </div>
        </div>
      </header>

      <ul class="repositories row">
        {% for collection_info in collections_dict.values %}
        <li class="col-md-3 repository">
          <a href="{% url 'public:thesis:collection_home' collection_info.collection.pk %}" class="collection-link">
            {% if collection_info.collection.logo %}
            <span class="collection-logo">
              <img src="{{ collection_info.collection.logo.url }}" alt="{% blocktrans with collection_info.collection.name as name %}Logo {{ name }}{% endblocktrans %}" title="{% blocktrans with collection_info.collection.name as name %}Voir le dépôt {{ name }}{% endblocktrans %}" class="img-responsive"/>
            </span>
            {% endif %}
          </a>
          <h3 class="collection-title">
            <a href="{% url 'public:thesis:collection_home' collection_info.collection.pk %}" class="collection-link">
              {{ collection_info.collection.name }}
            </a>
          </h3>
          <div class="thesis-count">
            {% blocktrans trimmed count counter=collection_info.thesis_count %}
            {{ counter }} thèse
            {% plural %}
            {{ counter }} thèses
            {% endblocktrans %}
          </div>
          {% if collection_info.recent_theses %}
          <div class="recent-theses">
            <h4>{% trans "Dernières publications" %}</h4>
            {% for thesis in collection_info.recent_theses %}
            <a href="{{ thesis.url }}" class="thesis" target="_blank">{{ thesis.title }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</main>
{% endblock content %}
