{% load staticfiles %}
{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <style type="text/css">
            /* All styles should go here */

            .top-image {
                text-align: right;
            }

            .top-image img {
                width: 200px;
            }

            #footer_content {
                position: absolute;
                font-size: 12px;
                bottom: 0;
                width: 100%;
            }

            #footer_content #download_time {
                text-align: right;
            }
        </style>
    </head>
    <body>
        <div id="header_content"></div>
        <div class="top-date">{{ now_dt|date:"D d M Y" }}</div>
        <div class="top-image">
            <img src="{% static "img/logo-erudit.png" %}" alt="" />
        </div>
        <hr />
        <h1 class="main-title">{% trans "Article" %}</h1>
        <br />

        <div id="footer_content">
            {% now "SHORT_DATETIME_FORMAT" as now_dt %}
            <div id="download_time">
                {% blocktrans with now=now_dt %}Document downloaded on {{ now_dt }}{% endblocktrans %}
            </div>
        </div>
    </body>
</html>
