{% extends "public/base.html" %}
{% load humanize i18n static adv_cache %}

{% block title %}{{ book.title|striptags }}{% endblock title %}

{% block meta_description %}{% blocktrans with pub=book.publisher year=book.year author=toc.book_author %}Consultez cet ouvrage publié par {{ pub }} ({{ year }}). {{ author }}.{% endblocktrans %}{% endblock meta_description %}

{% block meta_tags %}
<!-- Facebook / Open Graph -->
<meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ book.title|striptags }}">
<meta property="og:site_name" content="Érudit">
<meta property="og:locale" content="{{ language_code }}_CA">
<meta property="og:image" content="https://{{ request.get_host }}{% static 'img/illustration-erudit.png' %}">
<meta property="og:description" content="{% blocktrans with pub=book.publisher year=book.year author=toc.book_author %}Consultez cet ouvrage publié par {{ pub }} ({{ year }}). {{ author }}.{% endblocktrans %}">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@eruditorg">
<meta name="twitter:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
<meta name="twitter:title" content="{{ book.title|striptags }} – Érudit">
<meta name="twitter:image" content="https://{{ request.get_host }}{% static 'img/illustration-erudit.png' %}">
<meta name="twitter:image:alt" content="{% trans 'Illustration « Cultivez votre savoir »' %}">
<meta name="twitter:description" content="{% blocktrans with pub=book.publisher year=book.year author=toc.book_author %}Consultez cet ouvrage publié par {{ pub }} ({{ year }}). {{ author }}.{% endblocktrans %}">
{% endblock meta_tags %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:book:home' %}",
      "name": "{% trans 'Livres et actes' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:book:book_detail' collection_slug=book.collection.slug slug=book.slug %}",
      "name": "{{ toc.book_title|striptags }}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_class %}{{ block.super }} book_detail{% endblock body_class %}
{% block body_id %}book_detail{% endblock body_id %}
{% block data_controller %}public:book:book_detail{% endblock data_controller %}

{% block breadcrumb %}
{{ block.super }} <li><a href="{% url 'public:book:home' %}">{% trans "Livres et actes" %}</a></li>
<li><a href="{% url 'public:book:book_detail' collection_slug=book.collection.slug slug=book.slug %}">{{ toc.book_title|safe }}</a></li>
{% endblock breadcrumb %}

{% block content %}
{% cache SHORT_TTL "book_detail_content" book.id LANGUAGE_CODE "v1" %}
<div class="container">
  <div class="row">
    {# Book TOC #}
    <main role="main" class="col-sm-8 col-md-7">
      <header class="main-header">
        <p class="title-tag"><a href="{% url 'public:book:home' %}">{{ book.get_type_display }}</a></p>
          <h1 class="row book-title">
            <span class="col-xs-10 col-sm-11">{{ toc.book_title|safe }}</span>
            {% if book.is_open_access %}
            <span class="hint--bottom-left hint--no-animate text-right col-xs-2 col-sm-1" data-hint="{% trans 'Cet ouvrage est disponible en libre accès.' %}">
              <span class="erudicon erudicon-open-access"></span>
            </span>
            {% endif %}
          </h1>
        {% if toc.book_author %}
          <p class="book-authors">{% if book.contribution %}{% trans "Sous la direction de" %} {% endif %}{{ toc.book_author }}</p>
        {% endif %}
        {% if toc.book_description %}
        <div class="main-header__intro">
          {{ toc.book_description|safe }}
        </div>
        {% endif %}
      </header>

      <section class="toc">
        <h2 class="toc__title">{% trans "Table des matières" %}</h2>
        {% for entry in toc.entries %}
          {# Section title #}
          {% if entry.is_section %}
          <{{ entry.level }} class="toc__heading">
            <strong>{{ entry.title|safe }}</strong>
          </{{ entry.level }}>

          {# Chapter / article titles #}
          {% elif entry.is_book %}
          <div class="bib-record">
            <h5 class="bib-record__title">
              <a href="{% url 'public:book:book_detail' collection_slug=book.collection.slug slug=entry.slug %}" title="{% trans 'Lire le chapitre' %}">{{ entry.title }}</a>
            </h5>
          </div>
          {% else %}
          <div class="bib-record">
            <ul class="toolbox toolbox-compact toolbox-horizontal pull-right">
              <li><a class="tool-btn" href="{% url 'public:book:chapter_pdf' collection_slug=book.collection.slug slug=book.slug chapter_id=entry.id %}" title="Télécharger" target="_blank"><span class="toolbox-pdf">PDF</span></a></li>
            </ul>

            <h5 class="bib-record__title">
              <a href="{% url 'public:book:chapter_detail' collection_slug=book.collection.slug slug=book.slug chapter_id=entry.id %}" title="{% trans 'Lire le chapitre' %}">
                <span>{{ entry.title|safe }}</span>{% if entry.subtitle %}<span>{{ entry.subtitle|safe }}</span>{% endif %}
              </a>
            </h5>

            <div class="row bib-record__metadata">
              <p class="col-sm-9 bib-record__authors">
                {% for author in entry.authors %}{% if not forloop.first %}, {% endif %}{{ author }}{% endfor %}
              </p>
              <p class="col-sm-3 bib-record__pages">
                {% if entry.first_page %}p. {{ entry.first_page }}&ndash;{{ entry.last_page }}{% endif %}
              </p>
            </div>
          </div>
          {% endif %}
        {% endfor %}

        <p class="toc__copyright">
          <small>{{ book.copyright }}</small>
        </p>
      </section>
    </main>

    {# Book information sidebar #}
    <aside class="col-sm-4 col-md-offset-1 col-md-4 journal-meta">

      {% if book.cover %}
      <div class="sidebar-block">
        <h2>{% trans "Couverture" %}</h2>
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
          data-srcset="{{ book.cover.url }} {{ book.cover.width }}w"
          data-aspectratio="{{ book.cover.width }}/{{ book.cover.height }}"
          width="{{ book.cover.width }}"
          height="{{ book.cover.height }}"
          class="lazyload img-responsive"
          alt="{% trans 'Couverture de' %} {{ book.title }}"
        />
      </div>
      {% endif %}

      <div class="sidebar-block">
        <h2>{% trans "Fiche" %}</h2>

        <dl class="journal-meta--list">
          <dt>{% trans "Collection" %}</dt>
          <dd>{{ book.collection }}</dd>

          <dt>{% trans "Année de publication" %}</dt>
          <dd>{{ book.year }}</dd>

          <dt>{% trans "Éditeur" %}</dt>
          <dd>
            {% if book.publisher_url %}<a href="{{ book.publisher_url }}" target="_blank" rel="noopener">{% endif %}
            {{ book.publisher }}
            {% if book.publisher_url %}</a>{% endif %}
          </dd>

          <dt>{% trans "ISBN" %}</dt>
          {% if book.isbn %}<dd>{{ book.isbn }} {% trans '(papier)' %}</dd>{% endif %}
          {% if book.digital_isbn %}<dd>{{ book.digital_isbn }} {% trans '(numérique)' %}</dd>{% endif %}

          <dt>{% trans "Droit d’auteur" %}</dt>
          <dd>{{ book.copyright }}</dd>
        </dl>
      </div>
    </aside>
  </div>
</div>
{% endcache %}
{% endblock %}
