{% extends "base.html" %}
{% load humanize i18n staticfiles waffle_tags %}

{% block title %}Rimbaud et l’incantation au second degré{% endblock title %}

{% block meta_description %}{% trans "Consultez" %} Rimbaud et l’incantation au second degré, {% trans "un chapitre du livre" %} Une littérature « comme incantatoire » : aspects et échos de l’incantation en littérature (XIXe-XXIe siècle).{% endblock meta_description %}

{% block meta_tags %}
<!-- Facebook / Open Graph -->
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="Rimbaud et l’incantation au second degré">
<meta property="og:site_name" content="Érudit">
<meta property="og:locale" content="{{ language_code }}_CA">
<meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% static 'img/illustration-erudit.png' %}">
<meta property="og:description" content="{% trans 'Un chapitre du livre' %} Une littérature « comme incantatoire » : aspects et échos de l’incantation en littérature (XIXe-XXIe siècle)">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@eruditorg">
<meta name="twitter:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:title" content="Rimbaud et l’incantation au second degré – Érudit">
<meta name="twitter:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% static 'img/illustration-erudit.png' %}">
<meta name="twitter:image:alt" content="{% trans 'Illustration « Cultivez votre savoir »' %}">
<meta name="twitter:description" content="{% trans 'Un chapitre du livre' %} Une littérature « comme incantatoire » : aspects et échos de l’incantation en littérature (XIXe-XXIe siècle)">
{% endblock meta_tags %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:book:home' %}",
      "name": "{% trans 'Livres et actes' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:book:book_detail' slug=book.slug pk=book.pk %}",
      "name": "Une littérature «&nbsp;comme incantatoire&nbsp;»&nbsp;: aspects et échos de l’incantation en littérature (XIX<sup>e</sup>-XXI<sup>e</sup> siècle)"
    }
  },{
    "@type": "ListItem",
    "position": 4,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:book:chapter_detail' slug=book.slug pk=book.pk chapter_id=chapter.id %}",
      "name": "Rimbaud et l’incantation au second degré"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_class %}public static-header{% endblock body_class %}
{% block body_id %}chapter_detail{% endblock body_id %}
{% block data_controller %}public:book:chapter_detail{% endblock data_controller %}

{% block header_class %}static{% endblock header_class %}

{% block breadcrumb %}
{{ block.super }}
<li>
  <a href="{% url 'public:book:home' %}">{% trans "Livres et actes" %}</a>
</li>
<li>
  <a href="#">Une littérature « comme incantatoire » : aspects et échos de l’incantation en littérature (XIXe-XXIe siècle)</a>
</li>
<li>
  <a href="#">Rimbaud et l’incantation au second degré</a>
</li>
{% endblock breadcrumb %}

{% block content %}
<main class="container" id="article-{{ article.id }}" data-document-id="{{ article.solr_id }}" role="main">
  <header class="main-header doc-head">
    <div class="row">
      <div class="col-md-9">
        <p class="title-tag">XIX<sup>e</sup> siècle</p>
        <h1 class="doc-head__title">{{ chapter.title }}</h1>
        <ul class="doc-head__authors">
          <li class="doc-head__author">Denis Saint-Amand</li>
        </ul>
      </div>
      <div class="col-md-3">
        <a href="http://retro.erudit.org/livre/images/incantation2018.jpg" class="lightbox" title="{% trans 'Voir la couverture de ce livre' %}">
          <img src="http://retro.erudit.org/livre/images/incantation2018.jpg" alt="" class="img-responsive lightbox doc-head__img"/>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 doc-head__metadata">
        <p>Un chapitre du livre <a href="#">Une littérature « comme incantatoire » : aspects et échos de l’incantation en littérature (XIX<sup>e</sup>-XXI<sup>e</sup> siècle)</a></p>
        <div class="form-group">
          <label for="chapter-select">{% trans "Naviguer par chapitre&nbsp;:" %}</label>
          <select id="chapter-select" class="form-control">
            <option>Chapitre 1</option>
            <option>Chapitre 2</option>
            <option>Chapitre 3</option>
            <option>Chapitre 4</option>
            <option>Chapitre 5</option>
            <option>Chapitre 6</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 doc-head__metadata">
        <p class="">{% trans 'ISBN&nbsp;:' %} 978-2-9817251-0-3</p>
        <p class="">
          <small>Tous droits réservés © Revue Intermédialités, 2008</small>
        </p>
      </div>
    </div>
  </header>

  <section class="row">
    <h3 class="sr-only">{% trans "Naviguer par chapitres" %}</h3>
    <nav class="hidden-xs col-sm-4 toc-nav">
      <a href="#" class="toc-nav__prev" title="{% trans 'Chapitre précédent' %}"><span class="toc-nav__arrow"><---</span>{{ previous_chapter.title }}</a>
    </nav>
    <div class="col-sm-4 text-center">
      <ul class="toolbox toolbox-compact toolbox-horizontal">
        {% spaceless %}
        <li>
          <a class="tool-btn" href="#" title="{% trans 'Télécharger' %}">
            <span class="toolbox-pdf">PDF</span>
          </a>
        </li>
        <li>
          {% switch "maintenance" %}
          {% else %}
          <a class="tool-btn" href="#" title="{% trans 'Sauvegarder' %}">
            <span class="ion-bookmark toolbox-save"></span>
          </a>
        </li>
        {% endswitch %}
        <li>
          <a class="tool-btn tool-cite" title="{% trans 'Citer' %}">
            <span class="ion-quote toolbox-cite"></span>
          </a>
        </li>
        <li>
          <a class="tool-btn tool-share" title="{% trans 'Partager' %}">
            <span class="ion-android-share toolbox-share"></span>
          </a>
        </li>
        {% endspaceless %}
      </ul>
    </div>
    <nav class="hidden-xs col-sm-4 toc-nav">
      <a href="#" class="toc-nav__next" title="{% trans 'Chapitre suivant' %}"><span class="toc-nav__arrow">---></span>
        {{ next_chapter.title }}</a>
    </nav>
  </section>

  <section>
    <h2 class="text-center"><strong>PDF GOES HERE</strong></h2>
  </section>

</main>

{% endblock content %}
