{% extends "base.html" %}
{% load humanize i18n staticfiles waffle_tags cache %}

{% block title %}{{ chapter.title|striptags }}{% endblock title %}

{% block meta_description %}{% trans "Consultez" %} Rimbaud et l’incantation au second degré, {% trans "un chapitre du livre" %} Une littérature « comme incantatoire » : aspects et échos de l’incantation en littérature (XIXe-XXIe siècle).{% endblock meta_description %}

{% block meta_tags %}
<!-- Facebook / Open Graph -->
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="Rimbaud et l’incantation au second degré">
<meta property="og:site_name" content="Érudit">
<meta property="og:locale" content="{{ language_code }}_CA">
<meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% static 'img/illustration-erudit.png' %}">
<meta property="og:description" content="{% trans 'Un chapitre du livre' %} Une littérature « comme incantatoire » : aspects et échos de l’incantation en littérature (XIXe-XXIe siècle)">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@eruditorg">
<meta name="twitter:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:title" content="Rimbaud et l’incantation au second degré – Érudit">
<meta name="twitter:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% static 'img/illustration-erudit.png' %}">
<meta name="twitter:image:alt" content="{% trans 'Illustration « Cultivez votre savoir »' %}">
<meta name="twitter:description" content="{% trans 'Un chapitre du livre' %} Une littérature « comme incantatoire » : aspects et échos de l’incantation en littérature (XIXe-XXIe siècle)">
{% endblock meta_tags %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:book:home' %}",
      "name": "{% trans 'Livres et actes' %}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:book:book_detail' collection_slug=book.collection.slug slug=book.slug %}",
      "name": "Une littérature «&nbsp;comme incantatoire&nbsp;»&nbsp;: aspects et échos de l’incantation en littérature (XIX<sup>e</sup>-XXI<sup>e</sup> siècle)"
    }
  },{
    "@type": "ListItem",
    "position": 4,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:book:chapter_detail' collection_slug=book.collection.slug slug=book.slug chapter_id=chapter.id %}",
      "name": "Rimbaud et l’incantation au second degré"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_class %}public static-header{% endblock body_class %}
{% block body_id %}chapter_detail{% endblock body_id %}
{% block data_controller %}public:book:chapter_detail{% endblock data_controller %}

{% block header_class %}static{% endblock header_class %}

{% block breadcrumb %}
{{ block.super }}
<li>
  <a href="{% url 'public:book:home' %}">{% trans "Livres et actes" %}</a>
</li>
<li>
  <a href="{% url 'public:book:book_detail' collection_slug=book.collection.slug slug=book.slug %}">{{ book.title }}</a>
</li>
<li>
  <a href="{% url 'public:book:chapter_detail' collection_slug=book.collection.slug slug=book.slug chapter_id=chapter.id %}">{{ chapter.title|striptags }}</a>
</li>
{% endblock breadcrumb %}

{% block content %}
{% with chapter.title|slugify as chapter_slug %}
{% cache SHORT_TTL "chapter_detail_content" chapter_slug LANGUAGE_CODE %}
<main class="container" id="article-{{ article.id }}" data-document-id="{{ article.solr_id }}" role="main">
  <header class="main-header doc-head">
    <div class="row">
      <div class="col-xs-9">
        <h1 class="doc-head__title">
          <span>{{ chapter.title|safe }}</span>
          {% if chapter.subtitle %}<span>{{ chapter.subtitle|safe }}</span>{% endif %}
        </h1>
        <ul class="doc-head__authors">
          {% for author in chapter.authors %}
          <li class="doc-head__author">{{ author }}{% if not forloop.last %}, {% endif %}</li>
          {% endfor %}
        </ul>
      </div>
      {% if book.cover %}
      <div class="col-xs-3">
        <img src="{{ book.cover.url }}" alt="" class="img-responsive lightbox doc-head__img"/>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-sm-6 doc-head__metadata">
        <p>{% trans 'Un chapitre de l’ouvrage' %}
          <a href="{% url 'public:book:book_detail' collection_slug=book.collection.slug slug=book.slug %}">{{ book.title|safe }}{% if book.subtitle %}{% trans '&nbsp;:' %} {{ book.subtitle|safe }}{% endif %}</a>, {{ book.year }}
        </p>
      </div>
      <div class="col-sm-6 doc-head__metadata">
        <dl>
          {% if book.isbn %}
          <dt>{% trans "ISBN papier&nbsp;:" %}</dt>
          <dd>{{ book.isbn }}</dd>
          {% endif %}
          {% if book.digital_isbn %}
          <dt>{% trans "ISBN numérique&nbsp;:" %}</dt>
          <dd>{{ book.digital_isbn }}</dd>
          {% endif %}
        </dl>
        <p>
          <br>
          <small>{{ book.copyright }}</small>
        </p>
      </div>
    </div>
  </header>

  <nav class="row toc-nav">
    <h3 class="sr-only">
      {% trans "Feuilleter les chapitres de cet ouvrage" %}
    </h3>
    <div class="hidden-xs col-sm-4">
      {% if previous_chapter %}
      <a href="{% url 'public:book:chapter_detail' collection_slug=book.collection.slug slug=book.slug chapter_id=previous_chapter.id %}" class="toc-nav__prev" title="{% trans 'Chapitre précédent' %}">
        <span class="toc-nav__arrow"><---</span>
        <h4 class="toc-nav__title">
          {{ previous_chapter.title|striptags }}
        </h4>
      </a>
      {% else %}
      <a href="{% url 'public:book:book_detail' collection_slug=book.collection.slug slug=book.slug %}" class="toc-nav__prev" title="{% trans 'Aller à la table des matières' %}">
        <span class="toc-nav__arrow"><---</span>
        <h4 class="toc-nav__title">
          <em>{% trans '[Début de l’ouvrage] <br>Retour à la table des matières' %}</em>
        </h4>
      </a>
      {% endif %}
    </div>

    <div class="hidden-xs col-sm-offset-4 col-sm-4">
      {% if next_chapter %}
      <a href="{% url 'public:book:chapter_detail' collection_slug=book.collection.slug slug=book.slug chapter_id=next_chapter.id %}" class="toc-nav__next" title="{% trans 'Chapitre suivant' %}">
        <span class="toc-nav__arrow">---></span>
        <h4 class="toc-nav__title">
          {{ next_chapter.title|striptags }}
        </h4>
      </a>
      {% else %}
      <a href="{% url 'public:book:book_detail' collection_slug=book.collection.slug slug=book.slug %}" class="toc-nav__next" title="{% trans 'Aller à la table des matières' %}">
        <span class="toc-nav__arrow">---></span>
        <h4 class="toc-nav__title">
          <em>{% trans '[Fin de l’ouvrage] <br>Retour à la table des matières' %}</em>
        </h4>
      </a>
      {% endif %}
    </div>
  </nav>

  <section>
    <h2 class="sr-only">{% trans 'Texte intégral en PDF' %}</h2>
    <iframe
      src="{% url 'public:book:chapter_pdf' collection_slug=book.collection.slug slug=book.slug chapter_id=chapter.id %}"
      style="width: 100%; height: 95vh;" frameborder="0">
    </iframe>
  </section>

</main>
{% endcache %}
{% endwith %}
{% endblock content %}
