{% extends "base.html" %}
{% load humanize i18n staticfiles %}

{% block title %}{% trans "Livres et actes" %}{% endblock title %}

{% block meta_description %}{% blocktrans %}Consultez notre collection de livres et d’actes de colloques en sciences humaines et sociales.{% endblocktrans %}{% endblock meta_description %}

{% block meta_tags %}
<!-- Facebook / Open Graph -->
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% blocktrans %}Livres et actes{% endblocktrans %}">
<meta property="og:site_name" content="Érudit">
<meta property="og:locale" content="{{ language_code }}_CA">
<meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% static 'img/illustration-erudit.png' %}">
<meta property="og:description" content="{% blocktrans %}Consultez notre collection de livres et d’actes de colloques en sciences humaines et sociales.{% endblocktrans %}">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@eruditorg">
<meta name="twitter:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:title" content="{% trans 'Livres et actes' %} – Érudit">
<meta name="twitter:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% static 'img/illustration-erudit.png' %}">
<meta name="twitter:image:alt" content="{% trans 'Illustration « Cultivez votre savoir »' %}">
<meta name="twitter:description" content="{% blocktrans %}Consultez notre collection de livres et d’actes de colloques en sciences humaines et sociales.{% endblocktrans %}">
{% endblock meta_tags %}

{% block structured_data %}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}",
      "name": "Érudit"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ request.scheme }}://{{ request.site.domain }}{% url 'public:book:home' %}",
      "name": "{% trans 'Livres et actes' %}"
    }
  }]
}
</script>
{% endblock structured_data %}

{% block body_class %}{{ block.super }} book_home{% endblock body_class %}
{% block body_id %}book_home{% endblock body_id %}
{% block data_controller %}public:book:book_home{% endblock data_controller %}

{% block breadcrumb %}
{{ block.super }} <li><a href="{% url 'public:book:home' %}">{% trans "Livres et actes" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-8">
        <header class="page-header-main">
          <h1>{% trans "Livres et actes" %} ({{ books_count }} {% trans 'titres' %})</h1>
        </header>
        <div class="page-intro">
          {% blocktrans %}
          <p>Parcourez les différentes collections de livres et actes de colloques que nous diffusons sur la plateforme.</p>
          <p>Publié par des éditeurs scientifiques, des centres de recherche ou encore par des sociétés savantes, l’ensemble des titres est disponible en libre accès <span class="erudicon erudicon-open-access"></span>.</p>
          {% endblocktrans %}
        </div>
      </div>
    </div>
  </div>

  {% for collection in collections %}
  <section class="alternating-row">
    <a id="{{ collection.id }}" class="invisible"></a>
    <div class="container">
      <ul class="row alternating-row__list">
        <li class="col-xs-6 col-sm-3 col-md-2 alternating-row__list-item">
          <h3 class="alternating-row__list-title"><strong>{{ collection|safe }} ({{ collection.books.all|length }} {% trans 'titres' %})&nbsp;<a href="#top" class="scroll-top" title="{% trans 'Retourner en haut' %}">|^</a></strong></h3>
        </li>
        {% for book in collection.books.all %}
        <li class="col-xs-6 col-sm-3 col-md-2 alternating-row__list-item">
          <a href="{% url 'public:book:book_detail' collection_slug=book.collection.slug slug=book.slug %}" class="card">
            <p class="card__metadata">{{ book.get_type_display }}</p>
            <h4 class="card__title">
              <span><strong>{{ book.title|safe }}</strong></span>
              {% if book.subtitle %}
              <span><br/>{{ book.subtitle|safe }}</span>
              {% endif %}
            </h4>
            {% if book.authors %}
            <p class="card__metadata">{{ book.authors|safe }}</p>
            {% endif %}
            {% if book.cover %}
            <div class="row">
              <div class="col-sm-10">
                <img src="/media/{{ book.cover }}" alt="Couverture" width="75px" class="img-responsive card__figure"/>
              </div>
            </div>
            {% endif %}
            {% if book.copyright %}
            <p class="card__metadata">{{ book.copyright|safe }}</p>
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% endfor %}
</main>
{% endblock content %}
