{% extends "public/base.html" %}
{% load i18n %}

{% block breadcrumb %}
  {{ block.super }} <li><a href="{% url 'public:auth:personal_data' %}">{% trans "Paramètres" %}</a></li>
{% endblock breadcrumb %}

{% block content_wrapper %}
<div id="account-settings" class="container">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <nav class="sidenav">
        <header>
          <h1 class="title">{% trans "Paramètres" %}</h1>
        </header>
        <ul>
          <li class="sidenav-item{% if menu_account == "personal" %} active{% endif %}"><a href="{% url 'public:auth:personal_data' %}">{% trans "Informations personnelles" %}</a></li>
          {% if can_modify_account %}
          <li class="sidenav-item{% if menu_account == "parameters" %} active{% endif %}"><a href="{% url 'public:auth:parameters' %}">{% trans "Compte" %}</a></li>
          {% endif %}
          <li class="sidenav-item{% if menu_account == "password" %} active{% endif %}"><a href="{% url 'public:auth:password_change' %}">{% trans "Mot de passe" %}</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-md-offset-1 col-md-8 col-xs-12">
      {% block content %}{% endblock content %}
    </div>
  </div>
</div>
{% endblock content_wrapper %}
