{% extends "base.html"|pjax:request %}
{% load i18n staticfiles %}

{% block title %}{% trans 'Connexion' %}{% endblock title %}

{% block body_id %}login-page{% endblock body_id %}
{% block data_controller %}public:login{% endblock data_controller %}

{% block breadcrumb %}
  {{ block.super }} <li><a href="{% url 'public:auth:login' %}">{% trans "Connexion" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
{% if request.is_ajax %}
<div class="modal col-lg-4 col-md-5 col-sm-6 col-xs-12 col-centered">
  <h2 class="modal-header">{% trans "Connexion à votre compte" %}</h2>
  <div class="modal-body">
    <form action="{% url 'public:auth:login' %}" id="id-login-form" method="post">

      {% csrf_token %}

      {% if form.non_field_errors %}
      <div class="col-xs-12">
        {% for error in form.non_field_errors %}
        <p class="alert">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}

      <div class="form-group">
        <label for="id_username">{% trans "Nom d'utilisateur ou adresse courriel" %}</label>
        {{ form.username }}
        {% if form.username.errors %}<div class="alert alert-error-text">{{ form.username.errors.as_text }}</div>{% endif %}
      </div>

      <div class="form-group">
        <label for="id_password">{% trans "Mot de passe" %}</label>
        {{ form.password }}
        {% if form.password.errors %}<div class="alert alert-error-text">{{ form.password.errors.as_text }}</div>{% endif %}
      </div>

      <div class="form-group row">
        <p class="col-xs-6">
          <small>-><a href="http://www.erudit.org/client/login.jsp{% if LANGUAGE_CODE == 'en' %}?lang=en{% endif %}" target="_blank">{% trans 'Zone client' %}</a></small>
        </p>
        <aside class="col-xs-6 text-right">
          <p class="no-margin">
            <small><a href="{% url 'public:auth:password_reset' %}">{% trans "Mot de passe oublié&nbsp;?" %}</a></small>
          </p>
        </aside>
      </div>

      <input type="hidden" name="next" value="{{ next }}" />

      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" id="submit-id-submit">{% trans "Connexion" %}</button>
      </div>
    </form>
  </div>
</div>
{% else %}
<main role="main" class="container-fluid">
  <div class="row">
    <div class="panel col-lg-4 col-sm-6 col-xs-12 col-centered">
      <header class="panel-heading">
        <h2 class="panel-title text-center">{% trans "Connexion à votre compte" %}</h2>
      </header>
      <div class="panel-body">
        <form action="{% url 'public:auth:login' %}" id="id-login-form" method="post">
          {% csrf_token %}

          {% if form.non_field_errors %}
          <div class="col-xs-12">
            {% for error in form.non_field_errors %}
            <p class="alert">{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}

          <div class="form-group">
            <label for="id_username">{% trans "Nom d'utilisateur ou adresse courriel" %}</label>
            {{ form.username }}
            {% if form.username.errors %}<div class="alert alert-error-text">{{ form.username.errors.as_text }}</div>{% endif %}
          </div>

          <div class="form-group">
            <label for="id_password">{% trans "Mot de passe" %}</label>
            {{ form.password }}
            {% if form.password.errors %}<div class="alert alert-error-text">{{ form.password.errors.as_text }}</div>{% endif %}
          </div>

          <div class="form-group row child-column-fit">
            <aside class="col-sm-12 text-right">
              <p class="no-margin">
                <small><a href="{% url 'public:auth:password_reset' %}">{% trans "Mot de passe oublié&nbsp;?" %}</a></small>
              </p>
            </aside>
          </div>

          <input type="hidden" name="next" value="{{ next }}" />

          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" id="submit-id-submit">{% trans "Connexion" %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endif %}
{% endblock content %}
