{% extends "public/base.html"|pjax:request %}
{% load i18n static %}

{% block title %}{% trans 'Connexion' %}{% endblock title %}

{% block body_id %}login-page{% endblock body_id %}
{% block data_controller %}public:login{% endblock data_controller %}

{% block breadcrumb %}
  {{ block.super }} <li><a href="{% url 'public:auth:login' %}">{% trans "Connexion" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
{% if request.is_ajax %}
<div class="modal col-lg-4 col-md-5 col-sm-6 col-xs-12 col-centered">
  <h2 class="modal-header">{% trans "Connexion à votre compte" %}</h2>
  <div class="modal-body">
    <form action="{% url 'public:auth:login' %}" id="id-login-form" method="post">

      {% csrf_token %}

      <div class="col-xs-12">
        {% url 'public:journal:journal_list' as journal_list %}
        <p>{% blocktrans %}L’espace <em>Mon compte</em> permet l’accès&nbsp;:{% endblocktrans %}</p>
        <ul>
          <li>{% blocktrans %}à leur tableau de bord pour les <strong>bibliothécaires</strong> des institutions partenaires ou abonnées et pour les <strong>responsables des revues</strong> diffusées sur Érudit.{% endblocktrans %}</li>
          <li>{% blocktrans %}aux contenus restreints d’une revue pour les <strong>abonnés individuels</strong>. Pour s’abonner à une revue spécifique, merci de contacter directement <a href=""{{ journal_list }}>la revue</a>.{% endblocktrans %}</li>
        </ul>
        <hr>
      </div>

      {% if form.non_field_errors %}
      <div class="col-xs-12">
        {% for error in form.non_field_errors %}
        <p class="alert">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}

      <div class="form-group">
        <label for="id_username">{% trans "Nom d'utilisateur ou adresse courriel" %}</label>
        {{ form.username }}
        {% if form.username.errors %}<div class="alert alert-error-text">{{ form.username.errors.as_text }}</div>{% endif %}
      </div>

      <div class="form-group">
        <label for="id_password">{% trans "Mot de passe" %}</label>
        {{ form.password }}
        {% if form.password.errors %}<div class="alert alert-error-text">{{ form.password.errors.as_text }}</div>{% endif %}
      </div>

      <div class="form-group">
        <p class="text-right">
          <small><a href="{% url 'public:auth:password_reset' %}">{% trans "Mot de passe oublié&nbsp;?" %}</a></small>
        </p>
      </div>

      <input type="hidden" name="next" value="{{ next }}" />

      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" id="submit-id-submit">{% trans "Connexion" %}</button>
      </div>
    </form>
  </div>
</div>
{% else %}
<main class="container-fluid">
  <div class="row">
    <div class="panel col-lg-4 col-sm-6 col-xs-12 col-centered">
      <header class="panel-heading">
        <h2 class="panel-title text-center">{% trans "Connexion à votre compte" %}</h2>
      </header>
      <div class="panel-body">
        <form action="{% url 'public:auth:login' %}" id="id-login-form" method="post">
          {% csrf_token %}

          <div class="col-xs-12">
            <p>{% blocktrans %}L’espace <em>Mon compte</em> permet l’accès&nbsp;:{% endblocktrans %}</p>
            <ul>
              <li>{% blocktrans %}à leur tableau de bord pour les <strong>bibliothécaires</strong> des institutions partenaires ou abonnées et pour les <strong>responsables des revues</strong> diffusées sur Érudit.{% endblocktrans %}</li>
              <li>{% blocktrans %}aux contenus restreints d’une revue pour les <strong>abonnés individuels.</strong> Pour s’abonner à une revue spécifique, merci de contacter directement <a href="{{ journal_list }}">la revue</a>.{% endblocktrans %}</li>
            </ul>
            <hr>
          </div>

          {% if form.non_field_errors %}
          <div class="col-xs-12">
            {% for error in form.non_field_errors %}
            <p class="alert">{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}

          <div class="form-group">
            <label for="id_username">{% trans "Nom d'utilisateur ou adresse courriel" %}</label>
            {{ form.username }}
            {% if form.username.errors %}<div class="alert alert-error-text">{{ form.username.errors.as_text }}</div>{% endif %}
          </div>

          <div class="form-group">
            <label for="id_password">{% trans "Mot de passe" %}</label>
            {{ form.password }}
            {% if form.password.errors %}<div class="alert alert-error-text">{{ form.password.errors.as_text }}</div>{% endif %}
          </div>

          <div class="form-group">
            <p class="text-right">
              <small><a href="{% url 'public:auth:password_reset' %}">{% trans "Mot de passe oublié&nbsp;?" %}</a></small>
            </p>
          </div>

          <input type="hidden" name="next" value="{{ next }}" />

          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" id="submit-id-submit">{% trans "Connexion" %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endif %}
{% endblock content %}
