{% extends "public/auth/base_profile_edit.html" %}
{% load i18n static %}

{% block title %}{% trans 'Modification du compte' %}{% endblock title %}

{% block breadcrumb %}
  {{ block.super }} <li><a href="{% url 'public:auth:parameters' %}">{% trans "Modification du compte" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h2>{% trans "Modification du compte" %}</h2>
  </div>
  <div class="col-xs-12">
    <form action="{% url 'public:auth:parameters' %}" id="id-login-form" method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <p class="alert">{{ error }}</p>
          {% endfor %}
      {% endif %}
      <div>
        <label for="id_email">{{ form.email.label }}</label>
        {{ form.email }}
        {% if form.email.errors %}
          <div class="alert alert-error-text">{{ form.email.errors.as_text }}</div>
        {% endif %}
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary" id="submit-id-submit">{% trans "Enregistrer" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
