{% extends "public/auth/base_profile_edit.html" %}
{% load i18n staticfiles %}

{% block page_title %}{% trans 'Modification des paramètres du compte' %}{% endblock %}

{% block breadcrumb %}
  {{ block.super }} / <a href="{% url 'public:auth:parameters' %}">{% trans "Modification des paramètres du compte" %}</a>
{% endblock %}

{% block content %}
<section>
  <div class="row">
    <aside class="col-xs-12">
      <div class="panel">
        <header class="panel-heading">
          <h2 class="h4 panel-title text-center h1">{% trans "Modification des paramètres du compte" %}</h2>
        </header>
        <div class="panel-body">
          <form action="{% url 'public:auth:parameters' %}" id="id-login-form" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="col-xs-12">
              {% for error in form.non_field_errors %}
              <p class="alert alert-warning">{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
            <div class="form-group">
              <label for="id_password">{{ form.username.label }}</label>
              {{ form.username }}
              <div class="alert alert-error-text">{{ form.username.errors.as_text }}</div>
            </div>
            <div class="form-group">
              <label for="id_password">{{ form.email.label }}</label>
              {{ form.email }}
              <div class="alert alert-error-text">{{ form.email.errors.as_text }}</div>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary btn-lg" id="submit-id-submit">{% trans "Valider" %}</button>
            </div>
          </form>
        </div>
      </div>
    </aside>
  </div>
</section>
{% endblock %}
