{% extends "public/auth/password_reset_base.html" %}
{% load i18n static %}

{% block password_reset_content %}

{% if form %}
<form class="form-vertical row" method="post">
  {% csrf_token %}
  <div class="col-xs-12">
    <p>{% translate 'Saisissez un nouveau mot de passe.' %}</p>
  </div>
  {% if form.non_field_errors %}
  <div class="col-xs-12">
    {% for error in form.non_field_errors %}
    <p class="alert">{{ error }}</p>
    {% endfor %}
  </div>
  {% endif %}
  <div class="form-group">
    <label for="id_new_password1">{% translate 'Nouveau mot de passe' %}</label>
    {{ form.new_password1 }}
    <div class="alert alert-error-text">{{ form.new_password1.errors.as_text }}</div>
  </div>
  <div class="form-group">
    <label for="id_new_password2">{% translate 'Confirmation du nouveau mot de passe' %}</label>
    {{ form.new_password2 }}
    <div class="alert alert-error-text">{{ form.new_password2.errors.as_text }}</div>
  </div>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-primary" id="submit-id-submit">{% translate 'Enregistrer' %}</button>
  </div>
</form>
{% else %}
<p>
  <span>{% translate "Ce lien de réinitialisation de mot de passe est invalide ou a expiré. Veuillez en générer un nouveau en cliquant sur le bouton ci-bas." %}</span>
</p>
    <div class="text-center">
        <a href="{% url 'public:auth:password_reset' %}">
            <button type="button" class="btn btn-primary">
                {% translate "Réinitialiser votre mot de passe" %}
            </button>
        </a>
    </div>
</p>
{% endif %}

{% endblock password_reset_content %}
