{% extends "public/auth/base_profile_edit.html" %}
{% load i18n static %}

{% block title %}{% trans 'Modification du mot de passe' %}{% endblock title %}

{% block scripts %}
{{ block.super }}
<script src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/login.js' %}"></script>
{% endblock scripts %}

{% block data_controller %}public:login{% endblock data_controller %}

{% block breadcrumb %}
  {{ block.super }} <li><a href="{% url 'public:auth:password_change' %}">{% trans "Modification du mot de passe" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h2>{% trans "Modification du mot de passe" %}</h2>
  </div>
  <div class="col-xs-12">
    <form action="{% url 'public:auth:password_change' %}" id="id-login-form" method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <p class="alert">{{ error }}</p>
          {% endfor %}
      {% endif %}
      {% if form.old_password %}
      <div>
        <label for="id_old_password">{{ form.old_password.label }}</label>
        {{ form.old_password }}
        {% if form.old_password.errors %}
          <div class="alert alert-error-text">{{ form.old_password.errors.as_text }}</div>
        {% endif %}
      </div>
      {% endif %}
      <div>
        <label for="id_new_password1">{{ form.new_password1.label }}</label>
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
          <div class="alert alert-error-text">{{ form.new_password1.errors.as_text }}</div>
        {% endif %}
      </div>
      <div>
        <label for="id_new_password2">{{ form.new_password2.label }}</label>
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
          <div class="alert alert-error-text">{{ form.new_password2.errors.as_text }}</div>
        {% endif %}
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary" id="submit-id-submit">{% trans "Enregistrer" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
