{% extends "public/auth/password_reset_base.html" %}
{% load i18n staticfiles %}

{% block password_reset_content %}
<form class="form-vertical row" method="post">
  {% csrf_token %}
  <div class="col-xs-12">
    <p>{% trans 'Saisissez un nouveau mot de passe.' %}</p>
  </div>
  {% if form.non_field_errors %}
  <div class="col-xs-12">
    {% for error in form.non_field_errors %}
    <p class="alert alert-warning">{{ error }}</p>
    {% endfor %}
  </div>
  {% endif %}
  <div class="form-group">
    <label for="id_new_password1">{% trans 'Nouveau mot de passe' %}</label>
    {{ form.new_password1 }}
    <div class="alert alert-error-text">{{ form.new_password1.errors.as_text }}</div>
  </div>
  <div class="form-group">
    <label for="id_new_password2">{% trans 'Confirmation du nouveau mot de passe' %}</label>
    {{ form.new_password2 }}
    <div class="alert alert-error-text">{{ form.new_password2.errors.as_text }}</div>
  </div>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-primary" id="submit-id-submit">{% trans 'Enregistrer' %}</button>
  </div>
</form>
{% endblock %}
