{% extends "public/base.html" %}
{% load i18n static %}

{% block title %}{% translate 'Réinitialisation de mot de passe' %}{% endblock title %}

{% block content %}
<main class="login-page reset-password-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <section class="panel">
          <div class="panel-heading">
            <h1>{% translate "Réinitialisation de mot de passe" %}</h1>
          </div>
          <div class="panel-body">
            {% block password_reset_content %}
            {% endblock password_reset_content %}
          </div>
          <div class="panel-footer">
            <p><a href="{% url 'public:auth:login' %}">{% translate "Retourner à la page d'accueil" %}</a></p>
            <a href="https://erudit.org/" target="_blank"><small>erudit.org</small></a>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
