{% extends "public/auth/base_profile_edit.html" %}
{% load i18n static %}

{% block title %}{% trans 'Modification des informations personnelles' %}{% endblock title %}

{% block breadcrumb %}
  {{ block.super }} <li><a href="{% url 'public:auth:personal_data' %}">{% trans "Modification des informations personnelles" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h2>{% trans "Modification des informations personnelles" %}</h2>
  </div>
  <div class="col-xs-12">
    <form action="{% url 'public:auth:personal_data' %}" id="id-login-form" method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <p class="alert">{{ error }}</p>
        {% endfor %}
      {% endif %}
      <div>
        <label for="id_first_name">{{ form.first_name.label }}</label>
        {{ form.first_name }}
        {% if form.first_name.errors %}
          <p class="alert alert-error-text">{{ form.first_name.errors.as_text }}</p>
        {% endif %}
      </div>
      <div>
        <label for="id_last_name">{{ form.last_name.label }}</label>
        {{ form.last_name }}
        {% if form.last_name.errors %}
          <p class="alert alert-error-text">{{ form.last_name.errors.as_text }}</p>
        {% endif %}
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary" id="submit-id-submit">{% trans "Enregistrer" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
