{% extends "individual_subscription/base_individual_subscription.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% block content-main %}
<div class="col-md-6 col-md-offset-3 col-xs-12">
  <section class="card card-upload_form">
    <div class="card-header">
      <h2>{% trans "Réinitialiser le mode de passe de " %} {{ object }}</h2>
    </div>
    <div class="card-body">
      <p>{% trans 'Laissez le champ vide afin de générer un mot de passe aléatoire.' %}</p>
      <form action="" class="row" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group text-right">
          <a class="btn" href="{% url 'individual_subscription:account_list' %}">{% trans 'Annuler' %}</a>
          <button type="submit" class="btn btn-primary" id="submit-id-submit">
            {% trans "Confirmer" %}
          </button>
        </div>
      </form>
    </div>
  </section>
</div>
{% endblock %}
