{% extends "base.html" %}
{% load static i18n %}
{% load staticfiles %}

{% block stylesheets %}
{% if not WEBPACK_DEV_SERVER_URL %}
<link rel="stylesheet" type="text/css" href="{% static 'css/PublicApp.css' %}" />
{% endif %}
{% endblock stylesheets %}

{% block body_class %}public{% endblock %}

{# public page header #}
{% block header %}
<header id="site-header">

  <div class="container-fluid">
    <div class="row">

      <h1 id="brand" class="col-md-4">
        <a href="/">
          <img src="{% static 'svg/logo-erudit.svg' %}" alt="Erudit" />
        </a>
      </h1>

      <nav id="main-nav" class="col-md-8">
        <ul class="unstyled menu-bar">
          {% block mainnav %}
            <li class="dropdown">
              <a href="{% url 'public:journal:journal-list' %}" class="select main-section">{% trans "Publications" %} <i class="ion-ios-arrow-down caret"></i></a>
              <ul>
                <li><a href="{% url 'public:journal:journal-list' %}">{% trans "Par disciplines" %}</a></li>
                <li><a href="{% url 'public:journal:journal-list' %}">{% trans "Ordre alphabéthique" %}</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="main-section">{% trans "À propos" %}</a>
            </li>
            <li>
              <a href="{% url 'login' %}" class="main-section" id="login-modal">{% trans "Connexion" %}</a>
            </li>
            <li class="dropdown">
              {% include "partials/language-switch-nav.html" %}
            </li>
            <li>
              <a href="#" class="search"><i class="ion-ios-search-strong"></i></a>
            </li>
          {% endblock %}
        </ul>
      </nav>

    </div>
  </div>

</header>

<nav id="breadcrumb" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="no-margin">
          <a href="/">Érudit</a> {% block breadcrumb %}{% endblock %}
        </p>
      </div>
    </div>
  </div>
</nav>

{% endblock %}

{% block footer %}

<footer id="erudit-subscription-type" class="container margin-top">

  <div class="row">
    <header class="col-md-12">
      <div class="alert alert-warning">
        <h5 class="bold">{% trans "Votre accès Érudit" %}</h5>
        {% if request.subscription_type == 'institution' %}
          <p class="text-muted">{{ request.institutional_account.institution.name }}</p>
          {% if request.institutional_account.badge %}
            <img src="{{ request.institutional_account.badge.url }}" alt="" />
          {% endif %}
        {% elif request.subscription_type == 'individual' %}

        {% elif request.subscription_type == 'open_access' %}
          <p class="text-muted">{% trans "Libre accès" %}</p>
        {% endif %}
      </div>
    </header>
  </div>

</footer>

{% include "partials/site-footer.html" %}

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/PublicApp.js' %}"></script>
{% endblock scripts %}
