{% extends "public/base.html" %}
{% load i18n %}
{% load static %}

{% block page-title %}{% trans "Accueil" %}{% endblock page-title %}

{% block content %}
{% trans "inconnu" as i18n_unknown %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center"><img src="{% static "img/logo-erudit.png" %}" alt="" /></h1>
    </div>
  </div>
  {% if latest_issues %}
  <div class="row">
    <div class="col-md-12">
      <h2>{% trans "Derniers numéros diffusés" %}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        {% for issue in latest_issues %}
        <div class="col-md-6">
          <a class="btn btn-default btn-block"
             href="{% url 'public:journal:issue-detail' journal_code=issue.journal.code localidentifier=issue.localidentifier %}">
             {% blocktrans trimmed with number=issue.erudit_object.number|default:i18n_unknown date=issue.date_published|date:"F Y" %}
               Numéro {{ number }} - {{ date }}
             {% endblocktrans %}
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  <br />
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'public:journal:journal-list' %}">{% trans "Toutes les revues" %}</a>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-8">
      <div class="well">
        <h4>{% trans "Actualités" %}</h4>
        <div class="entries-wrapper">
          {% for entry in latest_news %}
            <div class="entry">
              <a href="{{ entry.link }}">{{ entry.title }}</a>
              <p class="summary">{{ entry.summary|safe }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h4>{% trans "À propos" %}</h4>
        <a href="http://apropos.erudit.org" class="btn btn-block btn-primary">{% trans "En savoir plus" %}</a>
        <br />
        <p>{% lorem 30 w random %}</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
