{% extends "public/base.html" %}
{% load i18n %}
{% load static %}

{% block page-title %}{% trans "Accueil" %}{% endblock page-title %}

{% block data-controller %}public:home{% endblock data-controller %}

{% block body_class %}{{ block.super }} home{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/videojs.css' %}" />
{% endblock extrahead %}

{% block content %}
{% trans "inconnu" as i18n_unknown %}
<div id="homepage-content">

  <!-- STICKY NAVIGATION -->
  <!--
  <nav class="container-fluid text-center homepage--sticky-nav">
    <ul class="unstyled">
      {% if latest_issues %}
      <li><a href="#latest-issues">{% trans "Derniers numéros" %}</a></li>
      {% endif %}
      <li><a href="#disciplines">{% trans "Disciplines" %}</a></li>
      <li><a href="#news">{% trans "Nouvelles" %}</a></li>
      <li><a href="#about-erudit">{% trans "À propos" %}</a></li>
      <li><a href="#publications">{% trans "Publications" %}</a></li>
    </ul>
  </nav>
  -->

  <div class="glory">
    <div class="container">
      <div class="row">
        <header class="col-xs-12 col-md-10 col-lg-8 glory--header">
          <h2 class="h2 glory--header--title">{% trans "Explorez plus de 200&nbsp;000 publications savantes et culturelles en sciences humaines et sociales." %}</h2>
        </header>
      </div>
      <div class="row">
        <!-- BASIC SEARCH -->
        <div class="col-xs-12 col-sm-4 col-md-4 glory--search">
          <form action="{% url 'public:search:search' %}" id="id-search" method="get">
            <div class="form-group">
              <div class="input-group">
                <input name="basic_search_term" type="search" class="form-control" placeholder="{% trans "Rechercher par auteur, mots-clés&hellip;" %}">
                <div class="input-group-addon"><button type="submit" class="btn btn-warning"><span class="ion ion-ios-search"></span></div></button>
              </div>
            </div>
            <div class="form-group">
              <a href="{% url 'public:search:search' %}" class="color-red">{% trans "Recherche avancée" %}</a>
            </div>
          </form>
        </div>
        <!-- CATEGORIES -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 glory--journals">
          <ol class="h3 list-unstyled">
            <li><span class="color-red">01.</span><a href="{% url 'public:journal:journal-list' %}">{% trans "Revues" %}</a></li>
            <li class="disabled"><span class="color-red">02.</span>{% trans "Thèses" %}</li>
            <li class="disabled"><span class="color-red">03.</span>{% trans "Livres et actes" %}</li>
            <li class="disabled"><span class="color-red">04.</span>{% trans "Littérature grise" %}</li>
          </ol>
        </div>
        <!-- DISCIPLINES -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 glory--disciplines">
          <h3 class="h3">{{ disciplines|length }} {% trans "disciplines" %}</h3>
          <p>{{ disciplines|slice:":5"|join:", "|lower }}&hellip;</p>
          <p><a href="{% url 'public:journal:journal-list' %}" class="color-red text-lowercase">{% trans "Voir toutes les disciplines" %}</a></p>
        </div>
      </div>
    </div>
  </div>


  <!-- LATEST ISSUES -->
  {% if latest_issues %}
  <div class="container">
    <hr class="section-separator">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="h2">{% trans "Derniers numéros" %}</h2>
      </div>
    </div>
    <div class="row latest-issues">
      {% for issue in latest_issues %}
      <article class="col-xs-12 col-sm-4 col-md-3 latest-issues--article">
        <a href="{% url 'public:journal:issue-detail' journal_code=issue.journal.code localidentifier=issue.localidentifier %}">
          <div class="row">
            <div class="col-xs-8">
              <p class="h5 color-red">{{ issue.journal.disciplines.all|join:", " }}</p>
              <h3 class="h4 latest-issues--article--issue">{{ issue.journal.name }}</h3>
            </div>
            <div class="col-xs-4">
              <img src="{% url 'public:journal:issue-coverpage' issue.pk %}" alt="{{ issue.title }} - {{ issue.journal.name }}" class="img-responsive">
            </div>
            <div class="col-xs-12">
              <p class="latest-issues--article--title">{{ issue.title }}</p>
              <p class="latest-issues--article--details">
              {% blocktrans trimmed with number=issue.erudit_object.number|default:i18n_unknown date=issue.date_published|date:"F Y" %}
                Numéro {{ number }} - {{ date }}
              {% endblocktrans %}
              </p>
            </div>
          </div>
        </a>
      </article>
      {% endfor %}
    </div>
  </div>
  {% endif %}



  <!-- NEWS -->
  <div class="container news">
    <hr class="section-separator">
    <div class="row">
      <div class="col-xs-12">
        <h2>{% trans "Nouvelles" %}</h2>
      </div>
    </div>

    <div class="row">
      {% for entry in latest_news %}
      <article class="col-sm-4 news--article">
        <p class="h5 color-red">{{ entry.category }}</p>
        <h3 class="news--article--title"><a href="{{ entry.link }}">{{ entry.title }}</a></h3>
        <p class="summary">{{ entry.summary|safe|truncatewords_html:25 }}</p>
        <time class="color-dark-grey" datetime="2001-05-15">{{ entry.dt_published|date:"SHORT_DATE_FORMAT" }}</time>
      </article>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="{% if LANGUAGE_CODE == 'en' %}https://apropos.erudit.org/en/erudit-en/blog/{% else %}https://apropos.erudit.org/fr/erudit/blogue/{% endif %}" target="_blank" class="btn btn-primary-outlined news--btn">{% trans "Toutes les nouvelles d'Érudit" %}</a>
      </div>
    </div>
  </div>



  <!-- ABOUT ERUDIT.ORG -->
  <div class="container">
    <hr class="section-separator">
    <div class="row about-erudit">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-4 col-md-3"><h1 class="about-erudit--logo">erudit.<br>org</h1></div>
          <div class="col-sm-4 col-md-3">
            <p class="about-erudit--definition">{% trans "Érudit offre l'accès à de nombreuses collections de documents en sciences humaines et sociales: revues, livres et actes, thèses, littérature grise." %}</p>
            <p><a href="http://apropos.erudit.org" class="color-dark-grey">{% trans "En savoir plus" %}</a></p>
          </div>
          <div class="col-sm-4 col-md-6">
            <div class="about-erudit--video-container">
              <video
                id="about_erudit_video"
                class="video-js vjs-default-skin"
                controls
                preload="auto"
                width="1280"
                height="720"
                data-setup='{ "techOrder": ["vimeo"], "sources": [{ "type": "video/vimeo", "src": "{% if LANGUAGE_CODE == 'en' %}https://vimeo.com/106401822{% else %}https://vimeo.com/106409712{% endif %}"}] }'>
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block footer %}
{% include "partials/site-footer.html" %}
{% endblock %}

{% block footerscript %}
<script type="text/javascript" src="{% static 'js/videojs.js' %}"></script>
{% endblock footerscript %}
