{% extends "userspace/base.html" %}
{% load rules userspace_journal_tags %}

{% block userspace_title %}{{ scope_current_journal.name }}{% endblock %}

{% block inner_nav %}
{% if scope_user_journals|length > 1 %}
<li class="nav-menu__item">
  <select id="id_scope_chooser" onChange="window.location.href=this.value">
    {% for j in scope_user_journals %}
      {% if journal_permission_required %}{% has_perm journal_permission_required request.user j as can_switch %}{% endif %}
      <option
        value="{% if not force_scope_switch_to_pattern_name %}{% journal_url j %}{% else %}{% url force_scope_switch_to_pattern_name j.id %}{% endif %}"
        {% if j.id == scope_current_journal.id %}selected{% endif %}
        {% if can_switch != None and not can_switch %} disabled{% endif %}>{{ j.name }}</option>
    {% endfor %}
  </select>
</li>
{% endif %}
{% endblock inner_nav %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'userspace:journal:home' journal_pk=scope_current_journal.pk %}">{{ scope_current_journal.name }}</a></li>
{% endblock breadcrumb %}

{% block userspace_sidenav %}{% include "userspace/journal/partials/menu.html" %}{% endblock %}
