{% extends "userspace/journal/base.html" %}
{% load i18n staticfiles %}

{% block body_id %}dashboard-home{% endblock body_id %}

{% block title %}{% trans "Tableau de bord" %} &ndash; {{ scope_current_journal.name }}{% endblock title %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'userspace:dashboard' %}">{% trans "Tableau de bord" %}</a></li>
{% endblock breadcrumb %}

{% block section_title %}
{% trans "Tableau de bord" %}
{% endblock %}

{% block section_intro %}
{% if journal_site_messages %}
<div class="site-messages userspace">
  {% for site_message in journal_site_messages %}
  <div class="alert alert-dismissible site-message-{{ site_message.level.lower }}">
    <p>
      {{ site_message.message|safe }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </p>
  </div>
 {% endfor %}
</div>
{% endif %}

{% blocktrans with journal=scope_current_journal.name %}
<p>Bienvenue dans le Tableau de bord de votre revue sur Érudit&nbsp;!</p>

<p>Vous avez accès ici à tous les services et informations qui concernent la production et la diffusion de votre revue&nbsp;: dépôt de fichiers, liste des institutions abonnées, statistiques, rapports de redevances, etc.</p>

<p>Pour toute question, vous pouvez consulter le <a href="https://www.erudit.org/public/documents/Guide_tableaudebord_revues.pdf" target="_blank">guide d’utilisation du Tableau de bord</a>, ou encore communiquer avec nous à l’adresse <a href="mailto:edition@erudit.org?subject=Tableau%20de%20bord%20des%20revues%20&ndash;%20{{ journal }}">edition@erudit.org</a>.</p>

<p><br>Bien cordialement, <br><br>L’équipe d’Érudit.</p>
{% endblocktrans %}
{% endblock section_intro %}

{% block content_main %}
<h2><small>{% trans "Communiquer avec des membres de l’équipe d’Érudit" %}</small></h2>
<ul class="unstyled row">
  <li class="col-md-4">
    <p>
      <small>
        {% blocktrans with journal=scope_current_journal.name %}
        Édition et production numérique&nbsp;:<br>
        Hocine Chehab, <br>Chargé d’édition numérique<br>
        <a href="mailto:hocine.chehab@erudit.org?subject=Tableau%20de%20bord%20des%20revues%20&ndash;%20{{ journal }}">hocine.chehab@erudit.org</a><br>
        <a href="tel:1-514-343-6111,44607">+1 514-343-6111 poste 44607</a>
        {% endblocktrans %}
      </small>
    </p>
  </li>

  <li class="col-md-4">
    <p>
      <small>
        {% blocktrans with journal=scope_current_journal.name %}
        Abonnements, redevances et partenariats&nbsp;:<br>
        Émilie Chouinard, <br>Chargée des partenariats<br>
        <a href="mailto:emilie.chouinard@erudit.org?subject=Tableau%20de%20bord%20des%20revues%20&ndash;%20{{ journal }}">emilie.chouinard@erudit.org</a><br>
        <a href="tel:1-514-343-6111,16563">+1 514-343-6111 poste 16563</a>
        {% endblocktrans %}
      </small>
    </p>
  </li>

  <li class="col-md-4">
    <p>
      <small>
        {% blocktrans with journal=scope_current_journal.name %}
        Communications et promotion de votre revue numérique&nbsp;:<br>
        Gwendal Henry, <br>Chargé de communication<br>
        <a href="mailto:gwendal.henry@erudit.org?subject=Tableau%20de%20bord%20des%20revues%20&ndash;%20{{ journal }}">gwendal.henry@erudit.org</a><br>
        <a href="tel:1-514-343-6111,2723">+1 514-343-6111 poste 2723</a>
        {% endblocktrans %}
      </small>
    </p>
  </li>

  <li>
    <p>
      <small>
        {% blocktrans with journal=scope_current_journal.name  %}
        Pour toutes autres questions, communiquez à l’adresse générale à <a href="mailto:info@erudit.org?subject=Tableau%20de%20bord%20des%20revues%20&ndash;%20{{ journal }}">info@erudit.org</a>.
        {% endblocktrans %}
      </small>
    </p>
  </li>
</ul>
{% endblock content_main %}
