{% extends "userspace/journal/base.html" %}
{% load i18n staticfiles %}

{% block title %}{% trans "Tableau de bord" %}{% endblock title %}


{% block content_main %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      {% if journal_info %}
      <div class="journal-infos" role="tablist" aria-multiselectable="true">

        {% trans "Aucune information" as tab_empty_msg %}

        {% if journal_info.about %}
        <section class="journal-info-block akkordion" role="tab" id="journal-info-about" role="tabpanel">
          <h2 class="akkordion-title" role="button" aria-expanded="false" aria-controls="journal-info-about-content">
            {% trans "À propos" %}
            <span class="collapse-chevron ion-chevron-down pull-right icon"></span>
          </h2>
          <section id="journal-info-about-content" class="akkordion-content akkordion-active" aria-labelledby="journal-info-about">
            {{ journal_info.about|default:tab_empty_msg|safe }}
          </section>
        </section>
        {% endif %}

        {% if journal_info.contact %}
        <section class="journal-info-block akkordion" role="tab" id="journal-info-contact" role="tabpanel">
          <h2 class="akkordion-title" role="button" aria-expanded="false" aria-controls="journal-info-contact-content">
            {% trans "Coordonnées" %}
            <span class="collapse-chevron ion-chevron-down pull-right icon"></span>
          </h2>
          <section id="journal-info-contact-content" class="akkordion-content" aria-labelledby="journal-info-contact">
            {{ journal_info.contact|default:tab_empty_msg|safe }}
          </section>
        </section>
        {% endif %}

        {% if journal_info.editorial_policy %}
        <section class="journal-info-block akkordion" role="tab" id="journal-info-editorial-policy" role="tabpanel">
          <h2 class="akkordion-title" role="button" aria-expanded="false" aria-controls="journal-info-editorial-policy-content">
            {% trans "Politique éditoriale" %}
            <span class="collapse-chevron ion-chevron-down pull-right icon"></span>
          </h2>
          <section id="journal-info-editorial-policy-content" class="akkordion-content" aria-labelledby="journal-info-editorial-policy">
            {{ journal_info.editorial_policy|default:tab_empty_msg|safe }}
          </section>
        </section>
        {% endif %}

        {% if journal_info.subscriptions %}
        <section class="journal-info-block akkordion" role="tab" id="journal-info-subscriptions" role="tabpanel">
          <h2 class="akkordion-title" href="#journal-info-subscriptions-content" aria-expanded="false" aria-controls="journal-info-subscriptions-content">
            {% trans "Abonnements" %}
            <span class="collapse-chevron ion-chevron-down pull-right icon"></span>
          </h2>
          <section id="journal-info-subscriptions-content" class="akkordion-content" aria-labelledby="journal-info-subscriptions">
            {{ journal_info.subscriptions|default:tab_empty_msg|safe }}
          </section>
        </section>
        {% endif %}

        {% if journal_info.team %}
        <section class="journal-info-block akkordion" role="tab" id="journal-info-team" role="tabpanel">
          <h2 class="akkordion-title" href="#journal-info-team-content" aria-expanded="false" aria-controls="journal-info-team-content">
            {% trans "Équipe" %}
            <span class="collapse-chevron ion-chevron-down pull-right icon"></span>
          </h2>
          <section id="journal-info-team-content" class="akkordion-content" aria-labelledby="journal-info-team">
            {{ journal_info.team|default:tab_empty_msg|safe }}
          </section>
        </section>
        {% endif %}

        {% if journal_info.partners %}
        <section class="journal-info-block akkordion" role="tab" id="journal-info-partners" role="tabpanel">
          <h2 class="akkordion-title" href="#journal-info-partners-content" aria-expanded="false" aria-controls="journal-info-partners-content">
            {% trans "Partenaires" %}
            <span class="collapse-chevron ion-chevron-down pull-right icon"></span>
          </h2>
          <section id="journal-info-partners-content" class="akkordion-content" aria-labelledby="journal-info-partners">
            {{ journal_info.partners|default:tab_empty_msg|safe }}
          </section>
        </section>
        {% endif %}

      </div>
      {% endif %}
    </div>
    <div class="col-md-4">
      <div class="journal-meta">
        <dl class="journal-meta--list">

          {% if scope_current_journal.members.exists %}
          <dt>{% trans "Direction" %}</dt>
          {% for member in scope_current_journal.members.all %}
          <dd>{{ member.get_full_name }}</dd>
          {% endfor %}
          {% endif %}

          {% if scope_current_journal.publishers.exists %}
          <dt>
            {% blocktrans count total=scope_current_journal.publishers.all|length %}
            Éditeur
            {% plural %}
            Éditeurs
            {% endblocktrans %}
          </dt>
          {% for publisher in scope_current_journal.publishers.all %}
          <dd>{{ publisher.name }}</dd>
          {% endfor %}
          {% endif %}

          {% if scope_current_journal.issn_print or scope_current_journal.issn_web %}
          <dt>{% trans "ISSN" %}</dt>
          {% if scope_current_journal.issn_print %}
          <dd>{{ scope_current_journal.issn_print }} ({% trans "imprimé" %})</dd>
          <dd>{{ scope_current_journal.issn_web }} ({% trans "numérique" %})</dd>
          {% endif %}
          {% endif %}

          {% if scope_current_journal.issues_per_year %}
          <dt>{% trans "Fréquence" %}</dt>
          <dd>
            {% blocktrans count issues_per_year=scope_current_journal.issues_per_year %}
            {{ issues_per_year }} numéro par année
            {% plural %}
            {{ issues_per_year }} numéros par année
            {% endblocktrans %}
          </dd>
          {% endif %}

          <dt>{% trans "Période de publication" %}</dt>
          <dd>{{ scope_current_journal.publication_period }}</dd>

          <dt>{% trans "Type de support" %}</dt>
          <dd>
            {% if scope_current_journal.paper %}
            {% trans "Numérique et papier" %}
            {% else %}
            {% trans "Numérique" %}
            {% endif %}
          </dd>

          <dt>{% trans "Politique d'accès" %}</dt>
          {% if scope_current_journal.open_access %}
          <dd>{% trans "Disponible en libre accès" %}</dd>
          {% else %}
          <dd>{% trans "Non-disponible en libre accès" %}</dd>
          {% endif %}

          {% if scope_current_journal.disciplines.all|length > 0 %}
          <dt>
            {% blocktrans count scope_current_journal.disciplines.all|length as disciplines_count %}
            Discipline
            {% plural %}
            Disciplines
            {% endblocktrans %}
          </dt>
          <dd>
            {% for discipline in scope_current_journal.disciplines.all %}
            {{ discipline.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </dd>
          {% endif %}

        </dl>

        <img src="{% url 'public:journal:journal_logo' scope_current_journal.code %}" alt="" class="img-responsive journal_logo" />
      </div>
    </div>
  </div>
</div>
{% endblock content_main %}
