{% extends "userspace/journal/base.html" %}
{% load i18n static %}

{% block title %}{% trans "Rapport de redevances" %} {{ block.super }}{% endblock title %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'userspace:journal:royalty_reports' journal_pk=scope_current_journal.pk %}">{% trans "Rapports de redevances" %}</a></li>
{% endblock breadcrumb %}

{% block section_title %}
{% trans "Rapports de redevances" %}
{% endblock %}

{% block content_main %}
    {% for year, files in view.get_royalties_reports.items %}
    <section class="akkordion" data-akkordion-single="true">
        <h2 class="akkordion-title">{{ year }}<i class="icon ion-ios-arrow-down caret"></i></h2>
        <div class="akkordion-content">
            <ul>
            {% for file in files %}
                <li>
                    <a href="{% url 'userspace:journal:reports_download' %}?subpath={{ file.root }}/{{ file.filename }}">
                        {{ file.label }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </section>
    <hr />
    {% endfor %}
{% endblock content_main %}
