{% extends "userspace/journal/base.html" %}
{% load i18n static %}

{% block title %}{% translate "Rapport de redevances" %} {{ block.super }}{% endblock title %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'userspace:journal:royalty_reports' journal_pk=scope_current_journal.pk %}">{% translate "Rapports de redevances" %}</a></li>
{% endblock breadcrumb %}

{% block section_title %}
{% translate "Redevances" %}
{% endblock %}

{% block content_main %}
<section class="akkordion" data-akkordion-single="true">
    <h2 class="akkordion-title">{% translate "Rapports de redevances" %}<i class="icon ion-ios-arrow-down caret"></i></h2>
    <div class="akkordion-content">
        {% for year, files in view.get_royalties_reports.items %}
        <hr />
        <section class="akkordion" data-akkordion-single="true">
            <h3 class="akkordion-title">{{ year }}<i class="icon ion-ios-arrow-down caret"></i></h3>
            <div class="akkordion-content">
                <ul>
                {% for file in files %}
                    <li>
                        <a href="{% url 'userspace:journal:reports_download' journal_pk=scope_current_journal.pk %}?subpath={{ file.root }}/{{ file.filename }}">
                            {{ file.label }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </section>
        {% endfor %}
    </div>
</section>
<hr />
<hr />
<section class="akkordion" data-akkordion-single="true">
    <h2 class="akkordion-title">{% translate "Avis de dépôts" %}<i class="icon ion-ios-arrow-down caret"></i></h2>
    <div class="akkordion-content">
        {% for year, files in view.get_deposit_notices.items %}
        <hr />
        <section class="akkordion" data-akkordion-single="true">
            <h3 class="akkordion-title">{{ year }}<i class="icon ion-ios-arrow-down caret"></i></h3>
            <div class="akkordion-content">
                <ul>
                {% for file in files %}
                    <li>
                        <a href="{% url 'userspace:journal:reports_download' journal_pk=scope_current_journal.pk %}?subpath={{ file.root }}/{{ file.filename }}">
                            {{ file.label }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </section>
        {% endfor %}
    </div>
</section>
<hr />
{% endblock content_main %}
