{% extends "userspace/journal/base.html" %}
{% load i18n %}

{% block title %}{% trans "Abonnements" %} {{ block.super }}{% endblock title %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'userspace:journal:subscription:list' scope_current_journal.pk %}">{% trans "Abonnements" %}</a></li>
{% endblock breadcrumb %}

{% block section_title %}
{% trans "Abonnements" %}
{% endblock %}

{% block content_main %}
<ul class="tabs-group">
  <li class="tab {% if not view.is_org_view %}active{% endif %}">
    <a href="{% url 'userspace:journal:subscription:list' scope_current_journal.pk %}">{% trans "Individuels" %}</a>
  </li>
  <li class="tab {% if view.is_org_view %}active{% endif %}">
    <a href="{% url 'userspace:journal:subscription:org_list' scope_current_journal.pk %}">{% trans "Institutionnels" %}</a>
  </li>
</ul>
{% endblock content_main %}
