{% extends "userspace/journal/subscription/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb_end %}
{{ block.super }}
<li>
  <a href="{% url 'userspace:journal:subscription:list' journal_pk=scope_current_journal.pk %}">
    {% trans "Abonnements" %}
  </a>
</li>
<li>{% trans "Créer un abonnement" %}</li>
{% endblock breadcrumb_end %}

{% block content-main %}
<div class="col-md-10 col-md-offset-1 col-xs-12">
  <h1>{% trans "Créer un abonnement" %} </h1>
  <div class="row">
    <div class="col-md-12">
      <form  class="form-vertical" method="post" action="">
        {% crispy form %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
