{% extends "userspace/journal/base.html" %}
{% load i18n waffle_tags %}

{% block title %}{% trans "Abonnements" %} {{ block.super }}{% endblock title %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'userspace:journal:subscription:list' scope_current_journal.pk %}">{% trans "Abonnements" %}</a></li>
{% endblock breadcrumb %}

{% block section_title %}
{% trans "Abonnements" %}
{% endblock %}

{% block section_intro %}
<p>
{% blocktrans %}
Vous devez vous connecter à l’Espace éditeur avec votre ancien identifiant et mot de passe sur le site <em>rétro</em> Érudit pour accéder à la liste des institutions abonnées à votre revue.
{% endblocktrans %}
</p>
{% endblock section_intro %}

{% block content_main %}
{% flag "NEW_USERSPACE" %}
<ul class="tabs-group">
  <li class="tab active">
    <a href="">{% trans "Institutionnels" %}</a>
  </li>
  <li class="tab">
    <a href="">{% trans "Individuels" %}</a>
  </li>
</ul>

<a href="{% url 'userspace:journal:subscription:create' scope_current_journal.pk %}" class="btn btn-primary">{% trans "Créer un abonnement" %}</a>
<section>
  <ul id="id_subscription_list" class="row">
    {% for subscription in subscriptions %}
    <li class="col-xs-12">
      <div class="content-wrapper">
        <span class="actions pull-right">
          <a href="{% url 'userspace:journal:subscription:delete' journal_pk=scope_current_journal.pk pk=subscription.pk %}"
          class="btn">{% trans "Supprimer" %}</a>
        </span>
        <span class="title">
          {{ subscription.user.get_full_name|default:subscription.user.username }}
        </span>
        <span class="metadata-wrapper">
          <span class="metadata">
            <span class="metadata-title">{% trans "Revue" %}</span>
            <span class="metadata-value">{{ subscription.journal.name }}</span>
          </span>
          <span class="metadata">
            <span class="metadata-value"><i>
              {% blocktrans trimmed with created=subscription.created|date:"SHORT_DATE_FORMAT" %}
              Créé le {{ created }}
              {% endblocktrans %}
            </i></span>
          </span>
        </span>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="row">
    <div class="col-xs-12">
      {% include "userspace/partials/pagination.html" %}
    </div>
  </div>
</section>

{% if subscribed_organisations %}
<section>
  <h2>{% trans "Organisations abonnées à cette revue" %}</h2>
  <p>{% for org in subscribed_organisations %}{{ org.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  {% endif %}
  {% if pending_subscriptions %}
  <h2>{% trans "Abonnements en attente" %}</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>{% trans "Adresse courriel" %}</th>
        <th>{% trans "Prénom" %}</th>
        <th>{% trans "Nom" %}</th>
        <th>{% trans "Date d'expiration" %}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for psubscription in pending_subscriptions %}
      <tr class="text-center">
        <td>{{ forloop.counter }}</td>
        <td>{{ psubscription.email }}</td>
        <td>{{ psubscription.first_name }}</td>
        <td>{{ psubscription.last_name }}</td>
        <td>{{ psubscription.expiration_date }}</td>
        <td>
          <span class="actions pull-right">
            <a href="{% url 'userspace:journal:subscription:cancel' psubscription.pk %}" class="btn" title="{% trans 'Supprimer' %}">
              {% trans "Supprimer" %}
            </a>
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}
{% else %}
<br><br>
<div>
  <a href="http://{{ scope_current_journal.code }}.erudit.org/fr/rapabonnements" class="btn btn-primary" target="_blank">-->&nbsp;{% trans "Accéder" %}</a>
</div>
{% endflag %}
{% endblock content_main %}
