{% extends "userspace/journal/subscription/base.html" %}
{% load i18n %}

{% block title %}{% translate "Suppression en lot" %} {{ block.super }}{% endblock title %}

{% block breadcrumb %}{{ block.super }}
<li><a href="#">{% translate "Suppression en lot" %}</a></li>
{% endblock breadcrumb %}

{% block content_main %}
{{ block.super }}

{% if errors %}
<div class="alert alert-error">
<p>
    Il y a des erreurs dans votre CSV, veuillez les corriger:
</p>
<ul>
{% for line, email in errors %}
    <li>{% translate "Ligne" %} {{ line }}: {{ email }}</li>
{% endfor %}
</ul>
</div>
{% endif %}
{% if todelete %}
    <p>{% blocktranslate trimmed count count=todelete|length %}
        Vous allez supprimer {{ count }} abonnement de cette revue.
    {% plural %}
        Vous allez supprimer {{ count }} abonnements de cette revue.
    {% endblocktranslate %}</p>
    {% if ignored %}
    <p>{% blocktranslate trimmed count count=ignored|length %}
        {{ count }} courriel a été ignoré parce qu'il n'était pas abonné.
    {% plural %}
        {{ count }} courriels ont été ignorés parce qu'ils n'étaient pas abonnés.
    {% endblocktranslate %}</p>
    {% endif %}
    <p>{% translate "Continuer?" %}</p>

    <form method="POST">
        {% csrf_token %}
        {% for subscription in todelete %}
        <input type="hidden" name="todelete" value="{{ subscription.pk }}">
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="{% translate "Supprimer" %}">
    </form>
{% else %}
    {% if ignored %}
    <div class="alert alert-warning">
    <p>{% blocktranslate trimmed with count=ignored|length %}
        Aucun des {{ count }} courriels soumis n'était abonné. Il n'y a rien à supprimer.
    {% endblocktranslate %}</p>
    </div>
    {% endif %}
    <p>{% blocktranslate trimmed %}
        Veuillez téléverser un fichier CSV qui contient une adresse courriel
        par ligne. Chaque courriel contenu dans ce fichier sera, après
        confirmation, désabonné de la revue.
    {% endblocktranslate %}</p>
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="csvfile" required>
        <input class="btn btn-primary" type="submit" value="{% translate "Envoyer" %}">
    </form>
{% endif %}
{% endblock content_main %}

