{% extends "userspace/journal/subscription/base.html" %}
{% load i18n %}

{% block title %}{% translate "Abonnement en lot" %} {{ block.super }}{% endblock title %}

{% block breadcrumb %}{{ block.super }}
<li><a href="#">{% translate "Abonnement en lot" %}</a></li>
{% endblock breadcrumb %}

{% block content_main %}
{{ block.super }}

{% if errors %}
<div class="alert alert-error">
<p>
    Il y a des erreurs dans votre CSV, veuillez les corriger:
</p>
<ul>
{% for line, email in errors %}
    <li>{% translate "Ligne" %} {{ line }}: {{ email }}</li>
{% endfor %}
</ul>
</div>
{% endif %}
{% if toadd %}
    <p>{% blocktranslate trimmed count count=toadd|length %}
        Vous allez abonner {{ count }} personne de cette revue.
    {% plural %}
        Vous allez abonner {{ count }} personnes de cette revue.
    {% endblocktranslate %}</p>
    {% if ignored %}
    <p>{% blocktranslate trimmed count count=ignored|length %}
        {{ count }} courriel a été ignoré parce qu'il était déjà abonné.
    {% plural %}
        {{ count }} courriels ont été ignorés parce qu'ils étaient déjà abonnés.
    {% endblocktranslate %}</p>
    {% endif %}
    <p>{% translate "Continuer?" %}</p>

    <form method="POST">
        {% csrf_token %}
        {% for email, first_name, last_name in toadd %}
        <input type="hidden" name="toadd" value="{{ email }};{{ first_name }};{{ last_name }}">
        {% endfor %}
        <input type="checkbox" id="send_email" name="send_email" checked="true">
        <label for="send_email">{% translate "Envoyer le courriel" %}</label>

        <input class="btn btn-primary" type="submit" value="{% translate "Abonner" %}">
    </form>
{% else %}
    {% if ignored %}
    <div class="alert alert-warning">
    <p>{% blocktranslate trimmed with count=ignored|length %}
        Tous les {{ count }} courriels soumis étaient abonnés. Il n'y a rien à abonner.
    {% endblocktranslate %}</p>
    </div>
    {% endif %}
    <p>{% translate "Veuillez téléverser un fichier CSV qui contient ces champs (séparées par des \";\" et dans l'ordre):" %}</p>
    <ol>
        <li>{% translate "Courriel" %}</li>
        <li>{% translate "Prénom" %}</li>
        <li>{% translate "Nom" %}</li>
    </ol>

    <p>{% blocktranslate trimmed %}
        Les instructions pour accéder à la revue seront envoyées à chaque adresse courriel de ce
        fichier.
    {% endblocktranslate %}</p>
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="csvfile" required>
        <input class="btn btn-primary" type="submit" value="{% translate "Envoyer" %}">
    </form>
{% endif %}
{% endblock content_main %}


