#account-settings {

  h1, h2 {
    margin: 0;
    line-height: 1;
    font-size: 1.25em;
    padding-bottom: 15px;
  }

  h1 {
    border-bottom: 1px solid $dark-grey;
    letter-spacing: 0.04em;
  }

  h2 {
    text-align: center;
    border-bottom: 1px solid $mid-grey;
    margin-bottom: 1em;
  }

  form {

    > div {
      margin: 1em 0 2em 0;
    }

  }

}
