/**
* Advanced search form
*/

#advanced_search {

  .container-alert,
  #breadcrumb {
    background: $light-grey;
  }


  /**
  * search form
  */

  .advanced-search-form {

    fieldset {
      margin-bottom: 0;
    }

    legend {
      letter-spacing: normal;
      font-size: 1em;
    }

    .row {
      margin: 0 -11px;
    }

    .glory {
      padding-bottom: 2em;
    }

    .form-group {
      padding: 0;
    }

    .btn-row {
      margin-top: 1em;
    }

    input[type='text'],
    select,
    .operator {
      margin: 15px 0;
    }

    .operator select {
      background-color: transparent;
      border-width: 0 0 1px 0;
      text-transform: uppercase;
      width: 55px;
      font-size: 12px;
      @include fw-mono;
    }

    .remove-qbox {
      line-height: 125px;
      font-size: 40px;
      display: block;
      color: $black;

      &:hover, &:active, &:focus {
        color: $coral-red;
      }

    }

    /**
    * filters
    */

    .filters {

      [class*="filter-"] {
        margin-bottom: 1.75em;

        .control-label {
          font-size: 16px;
          padding: 0.5em 0;
          border-top: 1px solid $mid-grey;
          width: 100%;
        }

        &.filter-types,
        &.filter-years {
          clear: both;
        }

      }

      .checkbox {
        margin-bottom: 15px;
      }

      // radio button filters
      .filter-types,
      .filter-collections {

        ul {
          margin: 0;
          list-style: none;

          li {
            display: inline-block;
            margin: 0 2em 0.5em 0;

            label {
              font-size: 14px;
            }

            input {
              width: auto;
              margin-right: 0.25em;
            }

          }

        }

      }

      // year range dropdowns
      .filter-years {

        [class*="year-"] label {
          margin: 0;
          font-size: 14px;
        }

        select {
          margin-top: 0;
        }

      }

      .filter-btn {
        margin-top: 2em;
      }

    }

  }

  /**
  * search history
  */

  .search-history {

    a {
      font-size: 18px;

      &:hover, &:active, &:focus, &:active:focus {
        color: $coral-red;
        text-decoration: none;
      }

    }

    .arrow {
      @include arrowColor(black);

      &:hover, &:active, &:focus, &:active:focus {
        @include arrowColor($coral-red);
      }
    }

    tr {
      border-bottom: 1px solid $mid-grey;
    }

    thead tr {
      border-color: $dark-grey;
    }

    th {
      font-weight: normal;
      text-align: left;
      color: $dark-grey;

      &:nth-child(4),
      &:nth-child(5) {
        text-align: center;
      }

    }

    td {

      &:first-child,
      &:nth-child(2),
      &:nth-child(3) {
        @include fw-mono;
        font-size: 14px;
      }

      &:nth-child(4),
      &:nth-child(5) {
        text-align: center;
      }

    }

  }

  /**
  * responsive styles
  */
  @media (max-width: $screen-xs-max) {

    .remove-btn {
      text-align: center;
    }

  }

  @media (max-width: $screen-sm-max) {

    .advanced-search-form .operator {
      margin-top: 0;

      select {
        margin: 0;
      }

    }

  }

}

/**
* block alignment of filters
*/

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .filters [class*='filter-'] {

    &:nth-child(2n+1) {
      clear: both;
    }

  }

}

@media (min-width: $screen-md-min) {

  .filters [class*='filter-'] {

    &:nth-child(3n+1) {
      clear: both;
    }

  }

}
