/**
* Article detail page
*/

/**
* Page-specific variables
*/

$article-toolbar-width: 80px;


/**
* Page-specific mixins
*/

@mixin paragraph-text-style($font-size: 16px, $font-style-family: 'serif') {
  font-size: $font-size;
  line-height: 1.5;
  @include font-styles($font-style-family);
}


/**
* Styles for article detail
*/

#article_detail main {

  /**
  * main article header
  */
  .article-header {
    position: relative;
    margin-bottom: 1em;
    border-bottom: 1px solid #000;

    h1 {
      margin-bottom: 0.25em;
      font-size: 1.75em;
      line-height: 1.15;
      > span + span {
        margin-top: 0.35em;
      }
    }

    a {
      color: $coral-red;
    }

    .btn.btn-full-text{
      float: right;
      color: $white;

      &:hover, &:focus, &:active {
        color: $coral-red;
      }

      @media (max-width: $screen-sm-max) {
        float: none;
      }

    }

    h2 {
      margin: 1em 0 0 0;
      font-size: 1.35em;
    }

    dl, p {
      font-size: small;
      line-height: 1.5;
    }

    .article-title-group {
      padding: 0 0 1em 0;

      .grauteur {
        list-style: none;
        margin: 0;
        font-size: 12px;
      }

      .auteur {
        display: inline-block;
        margin-bottom: 0;

        p {
          margin: 0;
          color: $dark-grey;
        }

        .nompers,
        .nomorg {
          color: #000;
        }

      }

      .affiliations {

        p {
          font-size: 12px;
        }

        .affiliations-label {
          color: $coral-red;
        }

        .icon {
          margin-left: 0.25em;
          float: none;
        }

      }

      .traducteur {
        @extend em;
      }

    }

    .title-tag {
      margin-top: 0;
    }

    .title-summary {
      color: $coral-red;
      text-transform: uppercase;
      @include fw-sans-medium;
    }

    .surtitre,
    .surtitreparal {
      color: $dark-grey;

      &::after {
        content: ' / ';
      }

      &:last-of-type {

        &::after {
          content: none;
        }

      }

    }

    .titre:first-child,
    .trefbiblio:only-child,
    .titreparal {
      @include fw-sans-bold();

      em {
        @include fw-sans-bold-italic();
      }

    }

    .sstitre,
    .sstitreparal,
    .trefbiblio {
      @include fw-sans();
      font-size: smaller;

      em {
        @include fw-sans-italic();
      }

    }

    .titreparal {
      color: $dark-grey;

    }

    .sstitre {
      margin: 0.35em 0;
    }

    .issue-image {

      img {
        margin-bottom: 1em;
        float: right;
      }

    }

    .notegen {
      margin-top: 1.5em;

      h2 {
        margin: 0 0 1em 0;
      }

    }

    .meta-article,
    .meta-journal {
      border-top: 1px solid $dark-grey;
      padding: 1em 0;
    }

    .meta-article {
      .clipboard-data {
        position: relative;

        @keyframes clipboardResponse {
          0% {
            opacity: 0;
          }

          15% {
            opacity: 1;
          }

          85% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }

        .clipboard-msg {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          background-color: rgba(255,255,255,0.85);
          color: $black;
          opacity: 0;
          animation-duration: 3s;
          animation-fill-mode: both;
        }

        &.success {
          .clipboard-success {
            animation-name: clipboardResponse;
          }
        }

        &.error {
          .clipboard-error {
            animation-name: clipboardResponse;
          }
        }

        &:hover, &:active, &:focus, &:focus:active {
          text-decoration: none;
        }

      }
    }

    .meta-journal {

      .meta-journal--title {
        display: block;
        margin-top: 5px;
      }

      .theme {
        display: block;
        @include fw-sans-bold();
      }

      .pagination {
        margin: 0;
        padding: 0;
        display: inline;
      }

    }

    .notegen,
    .histpapier,
    .erratum {
      font-size: small;
    }

    .histpapier {
      margin-top: 1em;
      font-style: italic;
    }

  }

  /**
  * article outline
  */

  .article-table-of-contents {
    position: relative;
    will-change: transform;
    @include transition(transform 0.3s ease-out);

    em {
      @include fw-sans-italic
      strong {
        @include fw-sans-bold-italic;
      }
    }

    strong {
      @include fw-sans-bold;
      .em {
        @include fw-sans-bold-italic;
      }
    }

    > ul {
      margin-bottom: 3em;
    }

    li {
      border-bottom: 1px solid $mid-grey;

      a {
        color: $text-color;
        text-decoration: none;
        display: block;
        padding: 0.75em 0;
        @include transition(padding 0.05s ease-in);

        &.active, &:hover, &:active {
          color: #FFF;
          background-color: $coral-red;
          padding: 0.75em 0.25em;
          @include transition(padding 0.05s ease-out);
        }

      }

      a.is-inview,
      &.is-inview a.is-insubview {
        color: $coral-red;

        &.active, &:hover, &:active {
          color: #FFF;
        }


      }

      &:last-child {
        border: none;
      }

    }

  }

  /**
  * general full article styles incl. abstract, body, appendices
  **/
  .full-article {

    // Import article body components
    @import
      '../../components/article/abstracts',
      '../../components/article/blockquotes',
      '../../components/article/figures',
      '../../components/article/formulae',
      '../../components/article/insets-examples',
      '../../components/article/lists',
      '../../components/article/notes',
      '../../components/article/tables';

    // Import article appendix components
    @import
      '../../components/article/bibliographies';

    > .article-section {
      margin-bottom: $margin-vertical-default;

      &:first-child {
        margin-top: $margin-vertical-default * 0.75;
      }

    }

    h2, h3, h4, h5, h6, .h7 {
      @include fw-serif-bold();
      margin-top: 1.5em;
      margin-bottom: 0.5em;
      color: $coral-red;

      em {
        @include fw-serif-bold-italic;
        strong {
          @include fw-serif-italic;
        }
      }

      &.special {
        text-align: center;
      }

    }

    a {
      color: $coral-red;
      word-wrap: break-word;
    }

  }

  /**
  * Article body
  */
  .grresume + .corps {
    border-top: 1px solid #000;
    padding-top: 1em;
  }

  .corps {
    > section:first-of-type {
      h2 {
        margin-top: 0;
        padding: 0;
        border: 0;
      }
    }

    // headings within the article body
    h2 {
      border-top: 1px solid $mid-grey;
      padding-top: 1em;
    }

    p, li, blockquote {
      @include paragraph-text-style;
    }

    blockquote {
      border-left: 1px solid $mid-grey;
      margin-top: $margin-vertical-default;
      margin-bottom: $margin-vertical-default;
      padding-left: $grid-gutter-width * 2;
      padding-right: $grid-gutter-width * 2;
    }

    .para {
      margin-top: $margin-vertical-default;
      &:first-of-type {
        margin-top: 0;
      }

    }

    /**
    * Typemarq
    */

    .majuscule {
      text-transform: uppercase;
    }

    .petitecap {
      font-variant: small-caps;
    }

    .italique, em {
      @include fw-serif-italic;
      .gras, strong {
        @include fw-serif-bold-italic;
      }
    }

    .gras, strong {
      @include fw-serif-bold;
      .italique, em {
        @include fw-serif-bold-italic;
      }
    }

    .souligne {
      text-decoration: underline;
    }

    .espacefixe {
      font-size: 14px;
      @include fw-mono;
      .italique, em {
        @include fw-mono-italic;
      }
    }

    .barre {
      text-decoration: line-through;
    }

    .surligne {
      border-style: solid none none none;
      border-with: 1px;
    }

    .filet {
      border: 1px solid $dark-grey;
    }

    .tailleg {
      font-size: 1.25em;
    }

  }

  /**
  * paragraph numbers
  */
  .corps {
    counter-reset: nopara;
  }

  .para::before {
    counter-increment: nopara;
    content: counter(nopara);
    text-align: right;
    @include fw-mono;
    font-size: 14px;
    color: $dark-grey;
    width: 25px;
    position: absolute;
    left: -25px;
    margin-top: 5px;

    @media (max-width: $screen-xs-max) {
      display: none;
    }

  }

  /**
  * keywords
  */
  .motscles {
    margin-top: $margin-vertical-default/2;

    ul {
      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }

  }

  /**
  * Appendices (grannexe | merci | grnotebio | grnote | grbiblio)
  */

  .partiesann {

    > section:first-of-type h2 {
      margin-top: 0;
      padding-top: 0.25em;
      border-top: 1px solid #000;
    }

  }

  .merci,
  .grnote,
  .grnotebio,
  .grannexe,
  .grbiblio {

    p, li {
      font-size: 14px;
      line-height: 1.45;
      @include font-styles('sans');
    }

  }

  .erudit-doi {
    height: 15px;
    vertical-align: baseline;
    margin-right: 5px;
  }

}
