/**
* Article detail page
*/

/**
* Page-specific variables
*/

$article-toolbar-width: 80px;

/**
* Styles for article detail
*/

#article_detail main {

  /**
  * EruditArticle-specific heading elements
  */
  .surtitre,
  .surtitreparal {
    color: $dark-grey;

    &::after {
      content: ' / ';
    }

    &:last-of-type {

      &::after {
        content: none;
      }

    }

  }

  .titre:first-child,
  .trefbiblio:only-child,
  .trefbiblio:first-child,
  .trefbiblio:first-child + .trefbiblio,
  .titreparal {
    color: #000;
  }

  .sstitre,
  .sstitreparal,
  .titre,
  .titre + .titreparal,
  .titreparal + .titreparal,
  .trefbiblio  {
    color: $dark-grey;

    + .trefbiblio {
      color: $dark-grey;
    }

  }

  .sstitre {
    margin: 0.35em 0;
  }

  .notegen {
    margin-top: 1.5em;

    h2 {
      margin: 0 0 0.5em 0;
      font-size: 1.35em;
    }

  }

  .notegen,
  .histpapier,
  .erratum {
    font-size: small;
  }

  .histpapier,
  .erratum {
    margin-top: 1em;
  }

  /**
  * abstract page
  */

  .btn-full-text{
    float: right;
    color: $white;

    &:hover, &:focus, &:active {
      color: $coral-red;
    }

    @media (max-width: $screen-sm-max) {
      float: none;
    }

  }

  /**
  * article outline
  */

  .article-table-of-contents {
    position: relative;
    will-change: transform;
    @include transition(transform 0.3s ease-out);

    > ul {
      margin-bottom: 3em;
    }

    li {
      border-bottom: 1px solid $mid-grey;

      a {
        color: $text-color;
        text-decoration: none;
        display: block;
        padding: 0.75em 0;
        @include transition(padding 0.05s ease-in);

        &.active, &:hover, &:active {
          color: #FFF;
          background-color: $coral-red;
          padding: 0.75em 0.25em;
          @include transition(padding 0.05s ease-out);
        }

      }

      a.is-inview,
      &.is-inview a.is-insubview {
        color: $coral-red;

        &.active, &:hover, &:active {
          color: #FFF;
        }


      }

      &:last-child {
        border: none;
      }

    }

  }

  /**
  * general full article styles incl. abstract, body, appendices
  **/
  .full-article {

    // Import article body components
    @import
      '../../components/article/abstracts',
      '../../components/article/blockquotes',
      '../../components/article/figures',
      '../../components/article/formulae',
      '../../components/article/insets-examples',
      '../../components/article/lists',
      '../../components/article/notes',
      '../../components/article/tables';

    // Import article appendix components
    @import
      '../../components/article/bibliographies';

    > .article-section {
      margin-bottom: $margin-vertical-default;

      &:first-child {
        margin-top: $margin-vertical-default * 0.75;
      }

    }

    h2, h3, h4, h5, h6, .h7 {
      @include font-styles('serif-bold');
      margin-top: 1.5em;
      margin-bottom: 0.5em;
      color: $coral-red;

      &.special {
        text-align: center;
      }

    }

    img {
      max-width: 100%;
      height: auto;
    }

    a {
      color: $coral-red;
      word-wrap: break-word;
    }

  }

  /**
  * Article body
  */
  .grresume + .corps {
    border-top: 1px solid $dark-grey;
    padding-top: 1em;
  }

  .corps {
    > section:first-of-type {
      h2 {
        margin-top: 0;
        padding: 0;
        border: 0;
      }
    }

    // headings within the article body
    h2 {
      border-top: 1px solid $mid-grey;
      padding-top: 1em;
    }

    p, li, blockquote {
      font-size: 16px;
      line-height: 1.5;
      @include font-styles('serif');
    }

    blockquote {
      border-left: 1px solid $mid-grey;
      margin-top: $margin-vertical-default;
      margin-bottom: $margin-vertical-default;
      padding-left: $grid-gutter-width * 2;
      padding-right: $grid-gutter-width * 2;
    }

    .para {
      margin-top: $margin-vertical-default;
      &:first-of-type {
        margin-top: 0;
      }

    }

    .espacefixe {
      font-size: 14px;
      @include font-styles('mono');
    }

  }

  /**
  * paragraph numbers
  */
  .corps {
    counter-reset: nopara;
  }

  .para::before {
    counter-increment: nopara;
    content: counter(nopara);
    text-align: right;
    @include fw-mono;
    font-size: 14px;
    color: $dark-grey;
    width: 25px;
    position: absolute;
    left: -25px;
    margin-top: 5px;

    @media (max-width: $screen-xs-max) {
      display: none;
    }

  }

  /**
  * Appendices (grannexe | merci | grnotebio | grnote | grbiblio)
  */

  .partiesann {

    > section:first-of-type h2 {
      margin-top: 1em;
    }

  }

  .merci,
  .grnote,
  .grnotebio,
  .grannexe,
  .grbiblio {

    p, li {
      font-size: 14px;
      line-height: 1.45;
    }

  }

  img.erudit-doi {
    height: 15px;
    vertical-align: baseline;
    margin-right: 5px;
  }

}
