/**
* Books and proceedings homepage
*/

#book_home {

  .card {
    font-size: 12px;
  }

  // Row alignment for different viewport sizes / responsive
  @media (max-width: $screen-xs-max) {
    .alternating-row__list-item:nth-child(2n+1) {
      clear: both;
    }
  }

  @media (max-width: $screen-sm-max) {
    .alternating-row__list-item:nth-child(4n+1) {
      clear: both;
    }
  }

  @media (min-width: $screen-md-min) {
    .alternating-row__list-item:nth-child(6n+1) {
      clear: both;
    }
  }
}
