/**
* Brand assets page
*/

#brand-assets {

  #breadcrumb {
    background: $light-grey;
  }

  h2 {
    border: 0;
    padding: 0;
    margin: 0 0 0.5em 0;
  }

  p {
    font-size: 18px;
  }

  ol {
    margin-left: 2.5em;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 3em;

    tr, th, td {
      border: none;
      padding-left: 0;
    }

    th {
      text-align: left;
      color: $black;
    }

  }

  .nav-btn {
    margin-bottom: 1em;
  }

  .main-block {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid $mid-grey;
  }

  // Colour palette
  .block-palette {

    #palette {
      width: 100%;
      height: 300px;

      div {
        height: 100%;
      }

      .palette-red {
        background: $coral-red;
        width: 70%;
        display: inline-block;
      }

      .palette-secondary {
        width: 30%;
        float: right;
      }

      .palette-grey {
        background: $light-grey;
        height: 40%;
      }

      .palette-blue {
        background: $midnight-blue;
        height: 60%;
      }

    }

    .table-palette {

      th {
        width: 25%
      }

      [class^="palette-swatch"] {
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
      }

      .palette-swatch-red {
        background: $coral-red;
      }

      .palette-swatch-blue {
        background: $midnight-blue;
      }

      .palette-swatch-grey {
        background: $light-grey;
      }

    }

    .palette-illustration {
      width: 125px;
      margin: 0 1em 1em 0;
    }

  }

  // Érudit's logo
  .block-logo {

    [class*="logo-"] {
      width: 150px;
      padding: 15px;
    }

    .logo-clearspace {
      width: 300px;
      padding: 0;
      margin: 0 0.75em 1em 0;
    }

    .logo-white-bg-red {
      background: $coral-red;

      g {
        fill: $white;
      }

    }

    .logo-white-bg-blue {
      background: $midnight-blue;

      g {
        fill: $white;
      }

    }

    .logo-red-bg-white {
      background: $white;
      outline: 1px solid $mid-grey;

      g {
        fill: $coral-red;
      }

    }

    .logo-black-bg-white {
      background: $white;
      outline: 1px solid $mid-grey;

      g {
        fill: $black;
      }

    }

    [class*="symbol-"] {
      width: 70px;
      padding: 20px;
    }

    .symbol-red-bg-white {
      background: $white;

      g {
        fill: $coral-red;
      }

    }

    .symbol-white-bg-red {
      background: $coral-red;

      g {
        fill: $white;
      }

    }

    .symbol-black-bg-white {
      background: $white;

      g {
        fill: $black;
      }

    }

  }

  // Font and typography
  .block-font {

    .table-font {

      td {
        padding: 0.015em 0;
        font-size: 3.25em;

        &:nth-child(2) {
          @include fw-sans-bold;
        }

      }

    }

  }

}
