/**
* Home main container
*/

#homepage {

  #breadcrumb {
    display: none;
  }

  // Custom underline style for homepage links
  p a {
    color: $dark-grey;

    &:hover, &:focus, &:active {
      color: #000;
      text-decoration: none;
      background-image: linear-gradient(to top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 2px,
        #000 2px,
        #000 3px,
        rgba(0, 0, 0, 0) 3px);
    }

  }

  #main-nav .main-section {

    &:hover, &:focus, &:active {
      color: #000;
    }

  }

  #site-header {
    background: none;
    border: none;

    &.compact {
      background: #FFF;
      border-bottom: 1px solid $mid-grey;
    }

  }

  .banner {
    background: url('../img/banner.png') no-repeat center bottom;
    background-size: cover;
    height: 375px;
    max-height: 50vh;
    width: 100%;
    margin-top: -100px;

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      background-position: -200px 100px;
    }

    @media (max-width: $screen-sm-max) {
      background-position: center 150px;
    }

    .banner-header {
      text-align: left;
      margin-top: 125px;
      font-size: 4vh;
      color: $coral-red;
    }

  }

  .glory {
    padding-top: 50px;
    padding-bottom: 60px;

    .glory--header {
      margin-bottom: 30px;

      .glory--header--title {
        span:first-child {
          display: block;
          @include fw-sans-bold();
        }
      }
    }

    .glory--search,
    .glory--publication-types,
    .glory--disciplines {
      @include grid-cell-border('top', 1px, $mid-grey);
      padding-top: 25px;
      margin-bottom: 25px;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
      }
      h3, .h3 {
        margin: 0 0 20px 0;
        line-height: 1;
        font-size: 25px;
      }
    }

    .glory--search {
      margin-top: 0;
      .form-group {
        padding-left: 0;
        padding-right: 0;
      }
      label {
        margin: 0;
      }
      input[type="search"] {
        border-width: $border-width;
        border-right: none;
        height: 50px;
        line-height: 50px;
        box-sizing: border-box;
        font-size: 16px;
        background-color: $white;
        @include border-radius(0);
        @include placeholder($dark-grey);
      }
      .input-group-addon {
        padding: 0;
        border: none;
        @include border-radius(0);
      }
      .btn {
        font-size: 1.5em;
        width: 50px;
        height: 50px;
        line-height: 54px;
        padding: 0;
        margin: 0;
        border: none;
        background-color: $coral-red;
        color: #FFF;
      }
    }
    .glory--publication-types {
      ol {
        counter-reset: a 0;
        list-style: none;
        margin: 0;
        padding: 0;
        .glory--publication-types--item {
          counter-increment: a 1;
          margin: 0 0 20px 0;
          line-height: 1;
          &:last-child {
            margin-bottom: 0;
          }
          &.disabled {
            color: $mid-grey;
          }
          &:before {
            content: counter(a, decimal-leading-zero) '. ';
            left: 0;
            color: $coral-red;
            font-size: 1.75em;
          }
          h3 {
            display: inline;
          }
          a {
            color: #000;
          }
        }
      }
    }
    .glory--disciplines {
      margin-bottom: 0;
      p {
        font-size: 18px;
        line-height: 29px;
      }

      a {
        font-size: 15px;

        &:before {
          content: '+ ';
        }
      }
    }
  }

  .section-separator {
    border-color: #000;
    margin-top: 2em;
  }

  .latest-issues {
    list-style: none;

    .latest-issues--article {
      margin: 1em 0;
      padding-top: 0.75em;
      @include grid-cell-border('top', 1px, $mid-grey);

      h4 {

        span + span {
          color: $dark-grey;
        }

      }

      img {
        width: 100%;
        margin-bottom: 10px;
      }

      .category-tag {
        font-size: 12px;
      }

      .latest-issues--article--cover {
        height: 140px;
        width: auto;
        border: 1px solid $mid-grey;
      }

      .latest-issues--article--logo {
        max-width: 50%;
        height: auto;
      }

      .latest-issues--article--journal-title {
        font-size: 16px;
        @include fw-sans-medium-italic();
      }

      .latest-issues--article--theme,
      .latest-issues--article--volume {
        font-size: 14px;
        display: block;
      }

      .latest-issues--article--theme {
        margin-bottom: 0.5em;
      }

      .latest-issues--article--volume {
        text-transform: capitalize;
      }

    }
  }

  .news {

    .latest-news {
      list-style: none;
    }

    .news--article {
      margin: 1em 0;
      padding-top: 0.75em;
      @include grid-cell-border('top', 1px, #cccccc);

      .news--article--title {
        margin: 0 0 0.75em 0;
        font-size: 1.75em;
      }

      .news--article--date {
        font-size: small;
      }
    }
    .news--btn {
      font-size: 16px;
      display: block;

      @media (min-width: $screen-sm-min) {
        display: inline-block;
        padding-left: 3em;
        padding-right: 3em;
      }
    }
  }

  .about-erudit {
    padding-top: 0.75em;

    .about-erudit--title {
      font-size: 4em;
      line-height: 0.65;
      margin: 0 0 0.5em 0;
      @include fw-sans-bold();
    }
    .about-erudit--description {
      font-size: 18px;
      margin: 0 0 1em 0;
    }
    .about-erudit--video-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: percentage(9/16);

      .video-js {
        width: 100%;
        height: auto;

        .vjs-big-play-button {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    .about-users {
      list-style: none;

      .about-erudit--article {
        margin: 1.75em 0;
        padding-top: 1em;
        @include grid-cell-border('top', 1px, #cccccc);
      }

      .about-erudit--article--title {
        @include fw-sans-bold;
        font-size: 1.5em;
        color: $coral-red;
      }

    }

  }

}

/**
* Row alignment for different viewport sizes / responsive
**/

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .latest-issues--article,
  .news--article {

    &:nth-child(2n+1) {
      clear: both;
    }

  }

}

@media (min-width: $screen-md-min) {

  .latest-issues--article {

    &:nth-child(4n+1) {
      clear: both;
    }

  }

  .news--article {

    &:nth-child(3n+1) {
      clear: both;
    }

  }

}
