/**
* Homepage-specific styles
*/

#homepage {

  #breadcrumb {
    display: none;
  }

  /* Header / "cover page" */
  .home-header {
    background: url('../img/homepage/bg-1.png') no-repeat center 55px;
    background-size: cover;
    min-height: 50vh;
    margin-top: -150px;
  }

  .home-header__title {
    margin-top: 300px;
    font-size: 4vh;
    color: #fff;
  }

  /* Search tool */
  .home-search {
    margin: 10vh 0;
    color: #fff;

    a {
      color: #fff;
    }
  }

  .home-search__form {
    margin-bottom: 2.5vh;
  }

  .home-search__input {
    border: 1px solid #fff;
    border-right: none;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: $white;
    @include border-radius(0);
    @include placeholder($dark-grey);

  }

  .home-search__addon {
    padding: 0;
    border: none;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
  }

  .home-search__btn {
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    line-height: 54px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #fff;
    color: $midnight-blue;

    .icon:before {
      font-weight: bolder;
    }
  }

  .latest-issues {
    background-color: $midnight-blue;
    color: #fff;

    a {
      color: #fff;
    }

    ul {
      list-style: none;
    }

    li {
      margin: 1em 0;
      padding-top: 0.75em;
    }

    h3 {
      font-size: 1em;
    }

    p {
      font-size: 12px;
      margin-bottom: 0.5em;
    }

    .logo {
      height: auto;
      margin-top: 1em;
      padding-right: 50%;
    }

    .issue-cover {
      width: auto;
    }

    .issue-theme,
    .issue-volume {
      font-size: 14px;
      display: block;
      line-height: 1.25;
    }

  }

  .news {
    background-color: $light-grey;

    &:before {
      background: url('../img/homepage/bg-2.png') no-repeat left top;
      background-size: cover;
      min-height: 238px;
      content: " ";
      display: block;
    }

    .latest-news {
      list-style: none;
    }

    .news--campaign {
      margin-bottom: 2em;
      padding-top: 1.5em;
      @include grid-cell-border('top', 1px, #cccccc);

      .news--campaign--title {
        font-size: 2.5em;
      }

      .news--campaign--desc {
        font-size: 20px;
        line-height: 1.35;
      }

    }

    .news--article {
      margin: 1em 0;
      padding-top: 0.75em;
      @include grid-cell-border('top', 1px, #cccccc);

      .news--article--title {
        margin: 0 0 0.75em 0;
        font-size: 1.75em;
      }

      .news--article--date {
        font-size: small;
      }
    }
    .news--btn {
      font-size: 16px;
      display: block;

      @media (min-width: $screen-sm-min) {
        display: inline-block;
        padding-left: 3em;
        padding-right: 3em;
      }
    }
  }

  .about-erudit {
    padding-top: 0.75em;

    .about-erudit--title {
      font-size: 4em;
      line-height: 0.65;
      margin: 0 0 0.5em 0;
      @include fw-sans-bold;
    }
    .about-erudit--description {
      font-size: 18px;
      margin: 0 0 1em 0;
    }
    .about-erudit--video-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: percentage(9/16);

      .video-js {
        width: 100%;
        height: auto;

        .vjs-big-play-button {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    .about-users {
      list-style: none;

      .about-erudit--article {
        margin: 1.75em 0;
        padding-top: 1em;
        @include grid-cell-border('top', 1px, #cccccc);
      }

      .about-erudit--article--title {
        @include fw-sans-bold;
        font-size: 1.5em;
        color: $coral-red;
      }

    }

  }

}

/**
* Row alignment for different viewport sizes / responsive
**/

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .latest-issues li,
  .news--article {

    &:nth-child(2n+1) {
      clear: both;
    }

  }

}

@media (min-width: $screen-md-min) {

  .latest-issues li {

    &:nth-child(4n+1) {
      clear: both;
    }

  }

  .news--article {

    &:nth-child(3n+1) {
      clear: both;
    }

  }

}
