/**
* Homepage-specific styles
*/

#homepage {

  #breadcrumb {
    display: none;
  }

  .site-header__fixed {
    background-color: transparent;
    @include box-shadow(none);

    .header-logo__img rect,
    .header-logo__img path {
      fill: #fff;
    }

    .nav-menu__link {
      &:hover, &:focus, &:active {
        color: #000;
      }
    }
  }

  .site-header__scrolled {
    background-color: #fff;
    @include box-shadow(0 3px 5px rgba(0,0,0,0.1));

    .header-logo__img rect,
    .header-logo__img path {
      fill: $coral-red;
    }

    .nav-menu__link {
      &:hover, &:focus, &:active {
        color: $coral-red;
      }
    }

    &.inverted-search-bar {
      background-color: $coral-red;

      .header-logo__img rect,
      .header-logo__img path {
        fill: #fff;
      }
    }
  }

  /* Header / "cover page" */
  .home-header {
    background: url('../img/homepage/bg-1.png') no-repeat left 55px;
    background-size: cover;
    min-height: 50vh;
    margin-top: -150px;
  }

  .home-header__title {
    margin-top: 20vh;
    font-size: 4vh;

    a {
      color: #fff;
      display: inline-block;
    }

    .icon-20-white {
      height: 45px;
      margin-top: -15px;
      vertical-align: bottom;
    }
  }

  .home-header__link {
    display: block;
    margin-top: 15px;
    font-size: 14px;
  }

  /* Search tool */
  .home-search {
    margin: 240px 0 60px 0;
    color: #fff;

    a {
      color: #fff;
    }
  }

  .home-search__form {
    margin-bottom: 2.5vh;
  }

  .home-search__label {
    display: block;
    margin-bottom: 2.5vh;
    font-size: 24px;
  }

  .home-search__input {
    border: 1px solid #fff;
    border-right: none;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: $white;
    @include border-radius(0);
    @include placeholder($dark-grey);

  }

  .home-search__addon {
    padding: 0;
    border: none;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
  }

  .home-search__btn {
    font-size: 24px;
    width: 50px;
    height: 50px;
    line-height: 54px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #fff;
    color: $midnight-blue;

    .icon:before {
      font-weight: bolder;
    }
  }

  /* Latest issues */
  .home-issues {
    margin-top: -5px;
    background-color: $midnight-blue;
    color: #fff;
    border-bottom: 1px solid $midnight-blue;
    clear: both;

    p {
      line-height: 1;
      font-size: 14px;
    }

    a {
      color: #fff;
    }
  }

  .home-issues__title {
    margin-bottom: 2.5vh;
    font-size: 24px;
  }

  .home-issues__list {
    margin: 0;
    list-style: none;
    display: flex;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      height: 7px;
      border-radius: 4px;
      background-color: $mid-grey;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: $dark-grey;
    }
  }

  .home-issues__item {
    flex-shrink: 0;
    width: 175px;
    margin-right: 2em;
  }

  .home-issues__img {
    margin-bottom: 1em;
    padding-right: 15%;

    &:hover, &:focus, &:active {
      mix-blend-mode: multiply;
    }
  }

  .home-issues__journal,
  .home-issues__theme,
  .home-issues__volume {
    font-size: 14px;
    line-height: 1.25;
    display: block;
  }

  .home-issues__journal a {
    text-decoration: underline;
  }

  .home-issues__theme {
    @include font-styles('sans-medium');
  }

  .home-issues__btn {
    margin-top: 2.5vh;
    border: 1px solid #fff;

    &:hover, &:focus, &:active {
      background-color: #fff;
      color: $midnight-blue;
    }
  }

  /* New journals */
  .home-journals {
    padding-bottom: 6em;
    background-color: $light-grey;
    color: #000;
    clear: both;

    &:before {
      margin-top: -5px;
      background: url('../img/homepage/bg-2.png') no-repeat left top;
      background-size: cover;
      min-height: 238px;
      content: " ";
      display: block;
    }

    h2 {
      margin: 1em 0;
    }

    ul {
      margin: 0;
      list-style: none;
      display: flex;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        height: 7px;
        border-radius: 4px;
        background-color: $mid-grey;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $dark-grey;
      }


      li {
        min-width: 270px;
        max-width: 270px;
        margin: 0 15px 15px 0;

        p {
          line-height: 1;
          font-size: 14px;

          small {
            font-size: 12px;
          }

          a {
            color: $dark-grey;
            border-bottom: 1px dotted $dark-grey;

            &:hover, &:focus, &:active {
              border-bottom: 1px solid $dark-grey;
            }
          }
        }
      }
    }
  }

  /* General pale-background section styles */
  .home-news, .home-about {
    p a {
      color: $dark-grey;
    }

    // all non-heading links
    [class$='__link'] {
      border-bottom: 1px dotted $dark-grey;

      &:hover, &:focus, &:active {
        border-bottom: 1px solid $dark-grey;
      }
    }

  }

  /* News */
  .home-news {
    padding-bottom: 5vh;
    background-color: $light-grey;
  }

  .home-news__list {
    list-style: none;
  }

  .home-news__item {
    margin: 1em 0;
    padding-top: 0.75em;
  }

  .home-news__summary {
    font-size: 16px;
  }

  .home-news__title a {
    margin: 0 0 0.75em 0;
    font-size: 24px;
    color: #000;
  }

  .home-news__date {
    font-size: small;
    color: $dark-grey;
  }

  .home-news__btn {
    margin-top: 2.5vh;
    border: 1px solid $coral-red;
    color: $coral-red;

    &:hover, &:focus, &:active {
      background-color: $coral-red;
      color: #fff;
    }
  }

  /* About Érudit */
  .home-about {

    &:before {
      margin-top: -5px;
      background: url('../img/homepage/bg-3.png') no-repeat left top;
      background-size: cover;
      min-height: 250px;
      content: " ";
      display: block;
    }
  }

  .home-about__container {
    margin-top: -150px;
  }

  .home-about__title {
    margin-bottom: 5vh;
    font-size: 48px;
    line-height: 0.65;
    @include fw-sans-bold;
  }

  .home-about__desc {
    font-size: 24px;
  }

  .home-about__users {
    list-style: none;
  }

  .home-about__users-block {
    margin: 5vh 0;
  }

  .home-about__users-title a {
    display: block;
    margin-bottom: 2.5vh;
    @include fw-sans-bold;
    font-size: 24px;
    color: $coral-red;
  }
}

/**
* Row alignment for different viewport sizes / responsive
**/

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .home-news__item {

    &:nth-child(2n+1) {
      clear: both;
    }

  }

}

@media (min-width: $screen-md-min) {

  .home-news__item {

    &:nth-child(3n+1) {
      clear: both;
    }

  }

}
