#issue_detail {

  /**
  * Page header overrides
  */
  .page-header-main {

    h1 {
      font-size: 1.953em;

      .ion-locked {
        font-size: 0.5em;
        color: $dark-grey;
        vertical-align: middle;
      }

    }

    h2 {
      margin: 1.5em 0 0.75em 0;
      color: $dark-grey;
      @include font-styles('sans');
    }

  }

  /**
  * List of articles
  */
  h3.section {
    border-top: 1px solid $dark-grey;
    color: $coral-red;
  }

  h4.section,
  h5.section {
    border-top: 1px solid $mid-grey;
    margin-left: 20px;
    color: #333;
  }

  h5.section {
    margin-left: 40px;
    color: $dark-grey;
  }

  h3.section + h4.section {
    margin-left: 0;
    text-indent: 20px;
  }

  h4.section + h5.section {
    margin-left: 20px;
    text-indent: 20px;
  }

  .section {
    padding: 20px 0;
    margin: 0;
    font-size: 18px;
    @include fw-sans-medium;
  }

  .issue_detail--articles {

    &.section-2{
      margin-left: 20px;
    }

    &.section-3{
      margin-left: 40px;
    }

    .article-item {
      padding: 1em 0;
      border-bottom: 1px solid $mid-grey;

      &:first-child {
        border-top: 1px solid $mid-grey;
      }

      &:last-child {
        border-bottom: none;
      }

      .article-title {
        margin-bottom: 0.5em;
        padding-right: 65px;
        font-size: 1.15em;
        line-height: 1.25;
        @include font-styles(serif);
      }

      .article-metadata {
        margin-top: 1.25em;
      }

      .article-author {
        font-size: 14px;
      }

      .article-pagination {
        font-size: 12px;
        text-align: right;
      }

      .article-links {
        font-size: 12px;
        color: $dark-grey;

        a {
          color: $coral-red;
        }

      }

      .toolbox {
        margin: 0 0 0 15px;
        padding: 0;
        width: auto;

        a {
          margin-right: 1px;
          padding: 8px 0;
          display: inline-block;
          width: 25px;
          height: 25px;
          background: $black;
          color: $white;
          font-size: 9px;
          white-space: nowrap;
          text-align: center;
          vertical-align: middle;

          &:hover, &:focus, &.saved {
            background: $coral-red;
          }

          .erudicon-tools-pdf {
            font-size: 6px;
          }

        }

      }

    }

  }

  .issue_detail--articles + .issue_detail--articles {

    .article-item:first-child {
      border-top: 1px solid $dark-grey;
    }

  }

  /**
  * Back issues section
  */

  .back-issues {
    background: $light-grey;

    .back-issues--header {
      font-size: 1.25em;
      padding-top: $margin-vertical-default;
      padding-bottom: $margin-vertical-default;
    }

    .issue-list--item img {
      height: 175px;
    }

    .issue-list {
      margin: 0;
      list-style: none;
    }

    .issue-list--title {
      margin-top: 1em;

      h5 {
        margin: 0;
        line-height: 1.25;

        > span {
          display: block;

        }

      }

      a {
        border-top: 1px solid $dark-grey;
        padding: 1em 0.25em;
        display: block;
        @include transition(all 150ms);

        &:hover, &:focus, &:active, &:active:focus {
          background: $coral-red;
          color: #FFF;
          text-decoration: none;
          @include fw-sans-medium;
          border-color: $coral-red;
        }

      }

      .issue-list--theme {
        @include fw-sans-medium;
      }

    }

  }

}
