/**
* Journal about page
*/

/**
* Page-specific mixins
*/

@mixin paragraph-text-style($font-size: 16px, $font-style-family: 'serif') {
  font-family: $font-serif;
  font-size: $font-size;
  line-height: 1.5;
  @include font-styles($font-style-family);
}

#journal_detail {

  .journal-history {
    font-size: smaller;
    color: $dark-grey;
    margin: 0.5em 0;

    span + span {
      @include fw-sans-medium;
    }

  }

  .journal-infos {

    .journal-info-block {
      border-top: 1px solid $mid-grey;
      padding-top: 25px;
      padding-bottom: $margin-vertical-default;

      .akkordion-title {
        margin: 0 0 15px 0;
        font-size: 1.75em;

        .icon {
          color: $dark-grey;
        }

      }

      .akkordion-content {

        h1, h2, h3, h4, h5, h6 {
          @include fw-serif-bold;
          margin-top: 0.75em;
          color: $coral-red;

          em {
            @include fw-serif-bold-italic;
            strong {
              @include fw-serif-italic;
            }
          }

        }

        ul {
          margin-left: 20px;
        }

        section, p, li {
          @include paragraph-text-style;
        }

      }

    }

  }

  /**
  * Back issues section
  */

  .back-issues {
    margin-top: $margin-vertical-default * 2;
    background: $light-grey;
    padding: $margin-vertical-default 0;

    .back-issues--header {
      padding-top: $margin-vertical-default;
      padding-bottom: $margin-vertical-default;
      margin-top: 1em;
    }

    .scroll-issues {
      margin-top: 1em;
      font-size: 2em;
      @include fw-sans-bold;

      &:hover, &:focus, &:active {
        text-decoration: none;
        color: $coral-red;
      }

    }

  }

  .year-list {
    list-style: none;
    margin: 0;
    min-height: 100%;

    .year-list--item {
      margin-bottom: 0;
      padding: 0 0 2.5em 0.5em;
      line-height: 1.15;
      border-left: 1px solid $mid-grey;
      @include column-break-inside(avoid);

      h4 {
        @include fw-mono;
        margin-bottom: 0.25em;
        padding-bottom: 0.25em;
      }

    }

  }

  .issue-list {
    list-style: none;
    margin: 0;

    .issue-list--item {
      margin: 0;

      a {
        font-size: smaller;
        padding: 0.35em 0;
        display: block;
        @include transition(padding 0.15s ease-in);

        &:hover, &:focus, &:active {
          color: $coral-red;
          text-decoration: none;
        }

      }

    }

    .issue-list--theme {
      @include fw-sans-medium;
      display: block;
      margin: 0.25em 0;

      em {
        @include fw-sans-medium-italic;
      }

    }

  }

  // responsive styles
  @media (max-width: $screen-xs-max) {

    .year-list {
      @include column-count(1);
    }

  }

  @media (min-width: $screen-sm-min) {

    .year-list {
      @include column-count(2);
    }

  }

  @media (min-width: $screen-md-min) {

    .year-list {
      @include column-count(3);
    }

  }

  @media (min-width: $screen-lg-min) {

    .year-list {
      @include column-count(4);
    }

  }

}
