#journal_list_per_names {

  #id_journal_list_body {
    margin-bottom: 20em;

    // filters in sidebar block
    aside {

      form {

        h2 {
          border-color: $dark-grey;
          margin-bottom: 0;
        }

        h3 {
          padding: 0 0 0.15em 0;
        }

        [class*="hint--"] {
          float: right;

          &:after {
            width: 150px;
          }

        }

        .form-group {
          margin: 0 0 2em 0;
          padding: 0;

          &:first-child {
            margin-top: 0.75em;
          }

        }

        .form-action {
          margin-top: 20px;
        }

        .checkbox {
          margin: 0.25em 0 0.5em 0;
        }

      }

    }

    // sticky elements
    .sticky {
      position: fixed;
      top: 50px;

      &.list-header,
      &.filters {
        z-index: 1;
      }

    }

    // navigation elements
    .list-nav {

      .filters,
      .list-header {
        background: #FFF;
        padding-top: 15px;
        margin-bottom: 0;
      }

      .list-headings {
        margin: 0;
        list-style: none;
        border-bottom: 1px solid $dark-grey;

        li {
          margin: 0;
          font-size: 14px;
          padding-top: 0.75em;
          padding-bottom: 0.25em;

          &:first-child {
            padding-left: 0.25em;
          }

        }

      }

    }

    // list items
    .journal-items {
      margin: 0;
      list-style: none;
      font-size: 14px;

      &:last-child {
        li:last-child {
          border: none;
        }
      }

      li {
        margin: 0;

        .journal-row {
          display: block;
          padding: 1em 0.25em;
          border-bottom: 1px solid $mid-grey;

          .journal-name {

            .new-journal-tag {
              color: $coral-red;
              display: inline;
            }

          }

          .journal-subtitle {
            color: $dark-grey;

          }

          &:hover, &:active, &:focus, &:active:focus {
            background: $coral-red;
            border-color: $coral-red;
            color: #FFF;
            letter-spacing: 0.1px;
            text-decoration: none;

            .journal-subtitle,
            .journal-history,
            .erudicon {
              color: #FFF;
            }

          }

          .journal-history {
            margin-top: 0.75em;
            color: $dark-grey;
            font-size: smaller;
          }

        }

        span {
          display: inline-block;
        }

        p {
          margin: 0;
        }

        &.new-journal {
          background-color: $light-grey;
        }

      }

    }

  }

  .erudicon-open-access {
    color: $coral-red;
    font-size: 1.15em;
    vertical-align: sub;
  }

  // responsive for sticky elements

  @media (max-width: $screen-xs-max) {

    .journal-type, .journal-collection, .journal-access {
      color: $dark-grey;
    }

  }

  @media (max-width: $screen-sm-max){

    .sticky {
      position: relative !important;
      top: auto !important;

      &.filters {
        width: 100%;
      }

    }

    .journal-title {
      margin-bottom: 0.5em;
    }

    .journal-access {
      margin-top: -15px;
      text-align: right;
    }

  }

  @media (min-width: $screen-sm-min) {

    .sticky {
      position: relative;
      top: auto;

      &.filters {
        width: 742px;
      }

      &.list-header {
        width: 742px;
        margin-left: 0;
      }

    }

  }

  @media (min-width: $screen-md-min) {

    .sticky {

      &.filters {
        width: 240px;
      }

      &.list-header {
        width: 721.5px;
        margin-left: 240px;
      }

    }

    .journals-list {
      float: right
    }

  }

  @media (min-width: $screen-lg-min) {

    .sticky {

      &.filters {
        width: 190px;
      }

      &.list-header {
        width: 871.5px;
        margin-left: 101px + 190px;
      }

    }

  }

}
