#journal_authors_list {

  .authors-wrapper {
    margin-bottom: 3em;

    .btn-group {
      margin: 1em 0;

      > .btn {
        font-size: 12px;
      }

    }

  }

  .authors,
  .author-articles {
    list-style: none;
    margin: 0;
  }

  .author-group {
    margin-bottom: 1.75em;
    font-size: 14px;

    &:not(:first-of-type) {
      border-top: 1px solid $mid-grey;
    }

  }

  .author-name {
    margin: 1.5em 0 0.75em 0;
    font-size: 16px;
  }

}
