/**
* Journal about page
*/

/**
* Page-specific mixins
*/

#journal_detail {

  header {

    h1 {
      font-size: 1.75em;
      margin-bottom: 1.5em;
    }

    .journal-title {
      margin-bottom: 0.25em;
    }

    .journal-subtitle {
      color: $dark-grey;
      margin-bottom: 0.25em;

      &::first-letter  {
        text-transform: capitalize;
      }

    }

    .erudicon-open-access {
      font-size: 3em;
    }

  }

  .journal-history {
    font-size: smaller;
    color: $dark-grey;
    margin: 0.5em 0;
  }

  /**
  * Latest issue section
  */
  .latest-issue {
    margin: 1em 0 2em 0;
    padding-top: 1em;
    border-top: 1px solid $mid-grey;

    h2 {
      font-size: 1.75em;
    }

    .latest-issue-title {
      font-size: 1.25em;
      margin-bottom: 1em;
    }

    .latest-issue-cover {
      display: inline-block;
      float: left;
      margin-right: 1em;
    }

  }

  /**
  * About section
  */
  .journal-infos {
    margin-bottom: 2.5em;

    .journal-info-block {
      border-top: 1px solid $mid-grey;
      padding-top: 1em;
      padding-bottom: $margin-vertical-default;

      .akkordion-title {
        margin: 0 0 15px 0;
        font-size: 1.75em;

        .icon {
          color: $dark-grey;
        }

      }

      .akkordion-content {

        h1, h2, h3, h4, h5, h6 {
          @include font-styles('serif-bold');
          margin-top: 0.75em;
          color: $coral-red;
        }

        ul {
          margin-left: 20px;
        }

        section, p, li {
          font-size: 16px;
          line-height: 1.5;
          @include font-styles('serif');
        }

      }

    }

  }

  /**
  * Back issues section
  */
  .back-issues {
    margin-top: $margin-vertical-default * 2;
    background: $light-grey;
    padding: 50px 0;

    .back-issues--header {
      padding-top: $margin-vertical-default;
      padding-bottom: $margin-vertical-default;
      margin-top: 1em;
    }

    .scroll-issues {
      margin-top: 1em;
      font-size: 2em;

      &:hover, &:focus, &:active {
        text-decoration: none;
        color: $coral-red;
      }

    }

  }

  .year-list {
    list-style: none;
    margin: 0;

    .year-list--item {
      margin-bottom: 0;
      padding: 0 0 2.5em 0.5em;
      line-height: 1.15;
      border-left: 1px solid $mid-grey;
      @include column-break-inside(avoid);

      h4 {
        @include fw-mono;
        margin-bottom: 0.25em;
        padding-bottom: 0.25em;
      }

    }

  }

  .issue-list {
    list-style: none;
    margin: 0;

    .issue-list--item {
      margin: 0;

      a {
        font-size: smaller;
        padding: 0.35em 0;
        display: block;
        @include transition(padding 0.15s ease-in);

        &:hover, &:focus, &:active {
          color: $coral-red;
          text-decoration: none;
        }

      }

    }

    .issue-list--theme {
      display: block;
      margin: 0.25em 0;
    }

  }

  // responsive styles
  @media (max-width: $screen-xs-max) {

    .year-list {
      @include column-count(1);
    }

  }

  @media (min-width: $screen-sm-min),
  (orientation: landscape) and (max-width: $screen-xs-max) {

    .year-list {
      @include column-count(2);
    }

  }

  @media (min-width: $screen-md-min) {

    .year-list {
      @include column-count(3);
    }

  }

  @media (min-width: $screen-lg-min) {

    .year-list {
      @include column-count(4);
    }

  }

}
