#journal_list_per_disciplines {

  .container-alert,
  #breadcrumb {
    background: $light-grey;
  }

	// sorting list
	.sorting-index {
		background: $light-grey;
		padding: 0 0 2em 0;

		h2 {
			margin-top: 0;
			margin-bottom: $margin-vertical-default;
		}

		.index {
      margin-top: 1em;
			@include column-count(4);

      @media (max-width: $screen-sm-max) {
				@include column-count(2);
			}

      ul {
        list-style: none;
        margin: 0;

        li {
          font-size: 16px;
          line-height: 1.15;
          margin-bottom: 0.85em;
        }

      }

		}

	}

  .card {
    font-size: 14px;
  }

  //Row alignment for different viewport sizes / responsive

  @media (max-width: $screen-sm-max) {
    .alternating-row__list-item:nth-child(2n+1) {
      clear: both;
    }
  }

  @media (min-width: $screen-md-min) {
    .alternating-row__list-item:nth-child(4n+1) {
      clear: both;
    }
  }

  @media (max-width: $screen-sm-max) {
    .nav-btn {
      text-align: center;
      margin-bottom: 1em;
    }
  }
}
