/**
* Journal about page
*/

#journal_detail {

  header {

    h1 {
      font-size: 1.75em;
      margin-bottom: 1.5em;
    }

    .journal-title {
      margin-bottom: 0.25em;
      display: block;
    }

    .journal-subtitle {
      display: block;
      color: $dark-grey;
      margin-bottom: 0.25em;

      &::first-letter  {
        text-transform: capitalize;
      }

    }
  }


  /**
  * About section
  */
  .journal-info-block {
    margin-bottom: 5em;

    h1, h2, h3, h4, h5, h6 {
      color: $coral-red;
      font-size: 1em;

      &:not(:first-child) {
        margin-top: 2em;
      }
    }

    section, p, li {
      font-size: 16px;
      line-height: 1.45;
    }

    a {
      text-decoration: underline;
      word-break: break-word;
    }
  }

  /**
  * Back issues section
  */

  #back-issues h2 {
    font-size: 1em;
  }

  .year-list, .issue-list {
    list-style: none;
    margin: 0;
  }

  .year-list__item {
    margin: 0 0 2em 0;
    line-height: 1.15;
    @include column-break-inside(avoid);
  }

  .year-list__title {
    @include fw-mono;
    font-size: 0.85em;
    margin: 0 0 0.75em 0;
  }

  .issue-list__item {
    margin: 0;

    a {
      font-size: smaller;
      padding: 0 0 0.5em 0;
      display: block;
      @include transition(padding 0.15s ease-in);

      &:hover, &:focus, &:active {
        color: $coral-red;
        text-decoration: none;
      }
    }
  }

  .issue-list__theme {
    display: block;
    margin: 0 0 0.15em 0;
    @include font-styles('sans-medium');
  }

  // responsive styles
  @media (max-width: $screen-xs-max) {

    .year-list {
      @include column-count(1);
    }

  }

  @media (min-width: $screen-md-min) {

    .year-list {
      @include column-count(2);
    }

  }

}
