/**
 * Ma bibliothèque / My Library page
 * List of saved citations for articles, theses, any documents.
 */

#citations_list {

  .documents-head {
    margin-top: 20px;
    margin-bottom: 20px;

    .checkbox {
      padding-left: 31px;
    }

  }

  .saved-citations {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #select-all-across-all-pages, #unselect-all {
    color: $coral-red;
  }

}
