/**
* Search page base
*/

#search_results {

  .container-alert,
  #breadcrumb {
    background: $light-grey;
  }

  .no-results {
    padding: 1em 0;
    margin: 3.5em 0;
    text-align: center;

    .btn {
      margin-top: 0.5em;
    }

  }

  // page header
  .glory {
    margin-bottom: 2em;

    .search-query {
      font-size: 14px;
        @include fw-mono;
    }

    .btn-secondary {
      margin-bottom: 1.5em;
      @include transition(all 500ms);

      + p {
        margin-top: 0.75em;
        display: none;
        @include transition(all 500ms);
      }

      &.disabled {
        color: $white;
        background-color: $black;
        border-color: $black;
        opacity: 1;

        + p {
          display: block;
        }

      }

    }

  }

  // filters and sorts - form
  .result-search-form {

    h2 {
      margin-bottom: 0;
    }

    .filter {
      margin-bottom: 1.5em;
      padding-top: 0.5em;
      border-top: 1px solid $mid-grey;

      .filter-label {
        margin: 0.25em 0;
        display: block;
      }

      &:first-child {
        border: 0;

        input {
          width: 80%;
          border-right: 0;
        }

        button {
          padding: 10px;
          width: 40px;
          height: 40px;
          background: $coral-red;
          color: $white;
          font-size: 18px;
        }

      }

    }

    .checkbox + .checkbox {
      margin-top: 0;
    }

    .more-facets {
      color: $coral-red;
    }

  }

  // list of results
  .results {
    margin: 0;
    list-style: none;

    .position {
      position: absolute;
      left: 0;
      top: 0;
      color: $dark-grey;
      text-align: right;
      font-size: 14px;
    }

    .result {
      position: relative;
      border-bottom: 1px solid $mid-grey;
      padding: 0 0 2.25em 0;
      margin: 1.75em 0 0 0;

      h3 a {
        font-size: 18px;
        line-height: 1.25;
        letter-spacing: 0.013em;
        @include font-styles(serif);

        &:hover, &:active, &:focus, &:active:focus {
          color: $coral-red;
          text-decoration: none;
        }

      }

      .authors,
      .meta p {
        color: $dark-grey;
        font-size: 14px;
        margin-bottom: 0;
      }

      .meta {

        .pub-date {
          margin-top: 1em;
          font-size: 12px;
        }

        .issue-theme {
          margin-top: 0.75em;
        }

      }

      .authors {
        margin-bottom: 0.5em;
      }

      .abstract-title {
        margin-top: 1em;
        color: $coral-red;
        font-size: 14px;

        span {
          margin-left: 0.35em;
        }

      }

      .abstract p {
        margin: 0;
        padding: 0.5em;
        background-color: $light-grey;
        color: $black;
        font-size: 14px;
      }

      .result-info {
        padding-left: 30px;
        padding-right: 40px;
        width: 100%;
      }

      .toolbox-wrapper {
        position: absolute;
        right: 0;
        top: 0;
      }

      .toolbox {
        margin: 0;
        padding-top: 0;
        list-style: none;
      }

    }

  }

}
