#thesis_collection_list {

  .thesis-collection {
    color: $dark-grey;
    margin-bottom: 0.25em;
  }

  .collection-logo {
    margin: auto;
    display: block;
    text-align: center;
  }

  .repository-meta {

    .random-theses {
      margin: 0;
      list-style: none;

      h2 {
        margin-bottom: 0;
        border: 0;
      }

      li {

        a {
          display: block;
          padding: 0.45em 0.25em 0.75em;
          font-size: 14px;
          @include transition(all 100ms);

          &:hover, &:active, &:focus, &:active:focus {
            background: $coral-red;
            color: $white;
            text-decoration: none;
            border-color: $coral-red;
          }

        }

        span {
          display: block;
        }

      }

    }

  }

  .main-content {

    .actions-wrapper {
      height: 50px;

      #div_id_sort_by{
        float: right;

        label{
          display: inline-block;
        }

        select{
          display: inline-block;
          width: auto !important;
        }
      }
    }

    .theses {
      margin: 0;
      list-style: none;
      display: block;

      .thesis {
        margin: 0.5em 0;
        padding: 0.75em 0;
        border-top: 1px solid $mid-grey;

        .thesis-extend,
        .thesis-reduce {
          color: $coral-red;
        }

        .thesis-reduce{
          display: none;
        }

        .thesis-description {
          padding: 0.85em;
          margin: 0.75em 0;
          display: none;
          background: $light-grey;

          p {
            font-size: 14px;
            line-height: 1.35;
            margin: 0;
          }

          > p + p {
            padding-top: 0.75em;
            margin-top: 0.75em;
            border-top: 1px solid $mid-grey;
          }

        }

        .thesis-abstract {

          a {
            white-space: nowrap;

            &:hover, &:active, &:focus, &:active:focus {
              text-decoration: none;
              color: $coral-red;
            }

          }

        }

      }

    }

  }

}
