#thesis_home {

  .thesis-count {
    color: $dark-grey;
  }

  .repositories {
    list-style: none;

    .repository {
      margin-bottom: 2em;

      .collection-logo {
        padding: 1em 0;
        display: block;
        border-bottom: 1px solid $dark-grey;

        > img {
          height: 40px;
          width: auto;
        }

      }

      .collection-title {
        margin-top: 0.5em;
        font-size: 1.15em;
        @include fw-sans-medium();
      }

      @media (max-width: $screen-sm-max) {

        &:nth-child(2n+1) {
          clear: both;
        }

      }

      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

        &:nth-child(3n+1) {
          clear: both;
        }

      }

      @media (min-width: $screen-lg-min) {

        &:nth-child(4n+1) {
          clear: both;
        }

      }

    }

    .recent-theses {
      margin-top: 0.5em;

      h4 {
        font-size: 1em;
        border-bottom: 1px solid $mid-grey;
        padding: 0.5em 0;
        margin: 0;
        @include fw-sans-italic();
      }

      .thesis {
        padding: 0.75em 0;
        display: block;
        font-size: 0.85em;
        border-bottom: 1px solid $mid-grey;

        &:last-child{
          border: none;
        }

      }

    }

  }

}
