#thesis_collection_home {

  .container-alert,
  #breadcrumb {
    background: $light-grey;
  }

  .glory {

    h2 {
      margin: 0 0 2em 0;
      color: #000;
      font-size: 0.85em;
    }

    a {
      color: #000;
    }

    .thesis-count {
      color: $dark-grey;
    }

    .recent-theses {
      margin-top: 1.5em;

      > .thesis {
        margin-bottom: 2em;
      }


    }

    .thesis-title,
    .thesis-author {
      font-size: 0.85em;
      margin: 0 0 0.5em 0;
    }

  }

  .main-content {

    .theses-list {
      list-style: none;
      margin: 0;
      @include content-columns(4, $grid-gutter-width/2);

      li {
        margin-bottom: 0;
        line-height: 1.75;
      }

    }

    .aggregation-link {
      display: inline-block;
      font-size: 14px;
      @include fw-mono;

      &:hover, &:focus {
        color: $coral-red;
        text-decoration: none;
      }

    }

  }

  // responsive styles
  @media (max-width: $screen-xs-max) {

    .main-content .theses-list {
      @include content-columns(3, $grid-gutter-width/4);
    }

  }

}
