// -----------------------------------------------------------------------------
// Styles related to asides / lateral bars (left or right)
// -----------------------------------------------------------------------------

aside {

  h2 {
    border-bottom: 1px solid $mid-grey;
    padding-bottom: 0.35em;
    font-size: 1.35em;
  }

  h3 {
    border-bottom: 1px solid $mid-grey;
    font-size: 1.1em;
    padding-bottom: 0.15em;
  }

  p, li, dd, label {
    font-size: 14px;
  }

  dl {

    dt, dd {
      display: block;
      float: none;
      width: auto;
    }

    dt {
      font-size: 14px;
      margin-top: 1.25em;
      @include font-styles('mono');
    }

    dd:last-child {
      margin-bottom: 1.25em;
    }

  }

  fieldset {
    padding: 0;
  }

  .sidebar-block {
    &:not(:first-of-type) {
      margin-top: 2.5em;
    }
  }

  /**
  * journal meta infos on sidebars
  */
  &.journal-meta {

    p {
      font-size: 0.85em;
    }

    .journal_logo {
      margin: 1em auto;
    }

    .journal-meta--list {
      border-bottom: 1px solid $mid-grey;

    }

  }

  .see-issues-btn {
    margin-top: 1em;
  }

  .search-journal {

    input[type="search"] {
      height: 50px;
      line-height: 50px;
      box-sizing: border-box;
      @include border-radius(0);
      @include placeholder($dark-grey);
    }

    .input-group-addon {
      padding: 0;
      border: none;
      @include border-radius(0);
    }

    .btn {
      width: 50px;
      height: 50px;
    }

  }

  .subscription-sponsor {
    color: $dark-grey;
  }

}
