// ------------------------------------------------------------------------
// This file contains styles for <aside>s / lateral bars in the public site
// ------------------------------------------------------------------------

aside {

  h2 {
    border-bottom: 1px solid $mid-grey;
    padding-bottom: 0.35em;
    font-size: 1.35em;
  }

  h3 {
    border-bottom: 1px solid $mid-grey;
    font-size: 1.1em;
    padding-bottom: 0.15em;
  }

  p, li, dd, label {
    font-size: 14px;
  }

  dl {

    dt, dd {
      display: block;
      float: none;
      width: auto;
    }

    dt {
      font-size: 14px;
      margin-top: 1.25em;
      @include fw-mono;
    }

    dd:last-child {
      margin-bottom: 1.25em;
    }

  }

  fieldset {
    padding: 0;
  }

  /**
  * journal meta infos on sidebars
  */
  &.journal-meta {

    p {
      font-size: 0.85em;
    }

    .journal_logo {
      margin: 1em auto;
    }

    .authors-index {
      @include fw-sans-medium;
    }

    .journal-meta--list {
      border-bottom: 1px solid $mid-grey;

    }

  }

  .issue-coverpage {
    outline: 1px solid $mid-grey;
  }

  .see-issues-btn {
    margin-top: 1em;
  }

  .subscription-sponsor {
    color: $dark-grey;
  }

}
