// -----------------------------------------------------------------------------
// Styles related to asides / lateral bars (left or right)
// -----------------------------------------------------------------------------

aside {

  h2, .h2 {
    border-bottom: 1px solid $mid-grey;
    padding: 0.35em 0;
    font-size: 1.35em;
    color: $dark-grey;
  }

  h3, .h3 {
    border-bottom: 1px solid $mid-grey;
    font-size: 1.1em;
    padding-bottom: 0.15em;
  }

  p, li, dd, label {
    font-size: 14px;
  }

  p a, dd a {
    text-decoration: underline;

    &.norenvoi {
      text-decoration: none;
    }
  }

  dl {

    dt, dd {
      display: block;
      float: none;
      width: auto;
    }

    dt {
      font-size: 14px;
      margin-top: 1.25em;
      @include font-styles('mono');
    }

    dd:last-child {
      margin-bottom: 1.25em;
    }

  }

  fieldset {
    padding: 0;
  }

  .sidebar-block {
    &:not(:first-of-type) {
      margin-top: 2.5em;
    }
  }

  /**
  * journal meta infos on sidebars
  */

  h2 {
    .journal-subtitle {
      color: $dark-grey;
      margin-top: 0.25em;
    }
  }

  .journal-explore {
    margin: 0;
    list-style-type: none;

    li {
      margin-bottom: 1.35em;
    }

    label, li a {
      font-size: 1.35em;
      margin-bottom: 0.5em;
      display: block;
    }

  }

  .search-journal {

    input[type="search"] {
      height: 50px;
      line-height: 50px;
      box-sizing: border-box;
      @include border-radius(0);
      @include placeholder($dark-grey);
    }

    .input-group-addon {
      padding: 0;
      border: none;
      @include border-radius(0);
    }

    .btn {
      width: 50px;
      height: 50px;
      font-size: 25px;
      padding: 0;
      line-height: 1;
    }

  }

  .subscription-sponsor {
    color: $dark-grey;
  }

}
