// -----------------------------------------------------------------------------
// Styles related to the footer (appears everywhere in the public site)
// -----------------------------------------------------------------------------


footer#site-footer {
  margin-top: 100px;
  position: relative;
  z-index: 2;

  hr {
    border-color: $mid-grey;
  }

  li.disabled {
    color: $mid-grey;

    a {
      pointer-events: none;
      cursor: default;
      color: $mid-grey;
    }

  }

  /**
  * Newsletter
  */
  .newsletter-form {

    input[type="email"] {
      width: auto;
      border-width: 0;
      height: 52px;
      background-color: $light-grey;
    }

  }

  /**
  * Footer nav elements
  */

  #footer-nav {
    background: #FFF;
    padding-top: $margin-vertical-default*2;
    padding-bottom: $margin-vertical-default;
    font-size: 18px;
    @include grid-cell-border($border-width: 3px);

    li {
      margin-bottom: 5px;
    }

  }

  /**
  * bottom part
  */

  .logo-white {
    margin-bottom: 1em;
    display: block;
  }

  .footer-legal {
    background-color: #000;
    padding-top: $margin-vertical-default;
    padding-bottom: $margin-vertical-default/2;
    color: #fff;

    p, li {
      font-size: 14px;
      line-height: 1.5;
    }

    svg {
      width: 100px;
      path, rect {
        fill: #fff;
      }
    }

    a {
      color: #fff;

      &:hover, &:focus, &:active {
        color: $coral-red;
      }

    }

    .erudit-headline {
      border-top: 1px solid #FFF;
      padding-top: 0.25em;
      margin-top: 1.75em;
      display: inline-block;
      font-size: 20px;
    }

    hr {
      margin-top: $margin-vertical-default;
      margin-bottom: $margin-vertical-default/2;
    }

    .footer-legal--policies {
      li {
        &:after {
          content: " - ";
          padding: 0 4px;
        }

        &:last-of-type:after {
          content: "";
        }
      }
    }
  }

  /**
  * social icons
  */
  .social-icons a {
    font-size: 24px;
    margin-right: 7px;
  }

}

@media (max-width: $screen-xs-max) {
  footer#site-footer {
    .newsletter-form {
      .input-group-btn{
        white-space: normal !important;
      }
    }

    [class*='footer-nav--'] {
      margin: 24px 0;
    }

    .footer-legal {
      .footer-legal--socials {
        margin-top: 24px;
      }

      .footer-legal--coalition-publica {
        margin-top: 48px;
      }

      .footer-legal--policies {
        margin-bottom: 12px;

        li {
          display: block;

          &:after {
            content: "";
            padding: 0;
          }
        }
      }
    }
  }
}
