// -----------------------------------------------------------------------------
// Erudit’s site header (contains main navigation, logo, search bar)
// -----------------------------------------------------------------------------

.fixed-header {
  padding-top: 50px;
}

.site-header {
  position: relative;
  width: 100%;
  height: 50px;
  z-index: $zindex-navbar;
  background-color: transparent;
  @include box-shadow(0 3px 5px rgba(0,0,0,0.1));
  @include transition(all 0.15s);
}

.site-header__fixed {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
}

.site-header__scrolled {
  padding-top: 0;
  padding-bottom: 0;
}
