/**
* variables related
*/

$erudit-logo-height: 35px !default;

/**
* default rules for main site-header
*/

header#site-header {

  h1#brand {
    margin: 0;
    height: $erudit-logo-height;
  }

}
