// --------------------------------------------------------------------------------
// This file contains styles for main content in the public site (i.e. not <aside>)
// --------------------------------------------------------------------------------

.main-content {

  h2 {
    border-top: 1px solid #000;
    padding-top: 0.75em;
    margin: 1em 0;
  }  

}
