/**
 * Main headers (containing page title in <h1> and introductory paragraph)
 */

.main-header {

  h1 {
    margin-bottom: 0.5em;
    > span {
      display: block;
    }
  }

}

.main-header__intro {
  margin-bottom: 2em;

  a {
    color: $coral-red;
  }

}
