// -----------------------------------------------------------------------------
// Styles related to the main content, i.e. not <aside>
// -----------------------------------------------------------------------------

main {

  .main-content {

    h2 {
      border-top: 1px solid $black;
      padding-top: 0.75em;
      margin: 1em 0 0.75em 0;
    }

  }

  @media (max-width: $screen-sm-max) {
		margin-top: 1.25em;
	}

}
