// -----------------------------------------------------------------------------
// This file contains all styles related to the userspace main navigation
// -----------------------------------------------------------------------------

nav#main-nav {
  text-align: right;
  position: relative;
  padding-top: 15px;
  font-size: 18px;
  margin: 0;

  li.select{
    margin-right: 30px;
    margin-bottom: 0;

    .select2{
      min-width: 250px !important;
    }

    .select2-selection__rendered{
      text-align: left;
    }

    .select2-selection{
      height: 30px;
    }
  }

  .dropdown {
    width: 200px;
    margin: 0;

    .user {
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: rgba(255,255,255,0.5);
      text-align: center;
      left: -25px;
      border-radius: 50%;
      padding-top: 2px;
      color: #fff;
      @include translate(0,-15%);
    }

    > a {
      padding-left: 15px;
    }

    > ul {
      padding-left: 15px;
    }

    &:hover {
      > ul {
        background-color: $coral-red;
      }
    }
  }

  > ul > li {
    display: inline-block;
    margin-left: $grid-gutter-width * 2;
  }

}
