// -----------------------------------------------------------------------------
// Styles related to the main navigation within the header
// -----------------------------------------------------------------------------

.nav-menu {

  // icons
  .ion-android-close,
  .toolbox-save {

    &::before {
      font-size: 30px;
      vertical-align: middle;
    }

  }

  // language switcher
  .nav-language {

    .nav-menu__link {
      text-transform: uppercase;
    }

    a.active {
      pointer-events: none;
      cursor: default;
      background: $light-grey;
      color: $dark-grey;
    }

  }

  // select2 select menu
  .select2-selection--single {
    border: 0;
    font-size: 16px;

    .select2-selection__rendered {
      color: $black;
    }

  }

}

// Hamburger menu icon
.navbar-toggle {
  width: 28px;
  height: 50px;
  position: relative;
  cursor: pointer;
  float: right;
  margin-right: $navbar-padding-horizontal;
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: 0;
  @include rotate(0deg);

  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }

  &:focus {
    outline: 0;
  }

  > .bar {
    display: block;
    position: absolute;
    height: 2px;
    width: 28px;
    background: $black;
    opacity: 1;
    left: 0;
    @include transform-origin(left center);
    @include transition(.3s ease-in-out);

    &:nth-child(1) {
      left: 10px;
      top: 15px;
      @include rotate(45deg);
    }
    &:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    &:nth-child(3) {
      left: 10px;
      top: 35px;
      @include rotate(-45deg);
    }

  }

  &.collapsed > .bar {

    &:nth-child(1) {
      left: 0;
      top: 15px;
      @include rotate(0deg);
    }
    &:nth-child(2) {
      top: 25px;
      width: 28px;
      opacity: 1;
      @include rotate(0deg);
    }
    &:nth-child(3) {
      left: 0;
      top: 35px;
      @include rotate(0deg);
    }

  }
}

// disable Bootstrap menu animation
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
