// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------
nav.sidenav {
  z-index: 10;
  display: block;
  position: fixed;
  top: 85px;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #FFF;
  border-right: 1px solid $mid-grey;
  @include transition(all, 300ms, ease);

  ul {
    @include list-unstyled;

    li {
      margin-top: 10px;

      &:last-child {
        border-bottom: 0;
      }

      a {
        display: block;
        padding-left: 10px;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
        color: $darker-grey;
        display: table;
        width: 100%;
        @include transition(all, 300ms, ease);
        &:hover, &:active, &:focus, &:active:focus {
          text-decoration: none;
          border-color: $mid-grey;
          background-color: $mid-grey;
          color: #222;
        }
        &.active {
          background-color: #000;
          color: #fff;
        }
        &.disabled {
          color: $light-grey;
          &:hover, &:active, &:focus, &:active:focus {
            cursor: default;
            background: none;
            color: $dark-grey;
          }
        }
      }
    }
  }
  .icon {
    font-size: 25px;
    vertical-align: middle;
    width: 45px;
    text-align: center;
    display: inline-block;
  }
}
@media (max-width: 992px) {
  nav.sidenav {
    width: 46px;
    .sidenav-label {
      display: none;
    }
  }
}
