// -----------------------------------------------------------------------------
// Styles related to side navigations
// -----------------------------------------------------------------------------

.sidenav {
  margin-bottom: 3em;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    .sidenav-item {
      margin: 0;

      a {
        display: block;
        padding: 20px 10px;
        border-bottom: 1px solid $mid-grey;
        @include transition(padding-left 50ms ease-in);

        &::before {
          content: "";
        }

        &:hover, &:focus, &:active {
          text-decoration: none;
          border-color: $coral-red;
          background: $coral-red;
          color: #FFF;
          padding-left: 15px;

          .sidenav-icon {
            color: #fff;
          }
        }

        &.disabled {
          color: $dark-grey;
          cursor: default;

          &:hover, &:focus, &:active {
            border-color: $mid-grey;
            background: none;
            color: $dark-grey;
            padding-left: 10px;
          }

        }

      }

      [data-hint] {
        width: 100%;
      }

      .sidenav-icon {
        margin-right: 10px;
      }

      .sidenav-label {
        font-size: 16px;
        display: inline;
        margin: 0;
        letter-spacing: normal;
      }

      &.active a {
        text-decoration: none;
        border-color: #000;
        background: #000;
        color: #FFF;

        .sidenav-icon {
          color: #fff;
        }

        &:hover, &:focus, &:active {

          &::before {
            color: #FFF;
          }

        }

      }

    }

  }

}
