{% extends "userspace/journal/base.html" %}
{% load i18n staticfiles %}
{% load rules %}

{% block title %}{{ issue }} – {% trans "Dépôt de fichiers" %} {{ block.super }}{% endblock title %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'userspace:journal:editor:issues' %}">{% trans "Dépôt de fichiers" %}</a></li>
<li><a href="#">{{ issue }}</a></li>
{% endblock breadcrumb %}

{% block section_title %}
{{ issue }}
{% endblock %}

{% block content_main %}
{% has_perm 'editor.manage_issuesubmission' request.user scope_current_journal as can_manage_issuesubmission %}

<div class="row">
  <div class="col-md-8">
    <h2>{% trans "Informations du numéro" %}</h2>
  </div>
  {% if not issue.is_validated %}
  <div class="col-md-4 text-right">
    <a href="{% url 'userspace:journal:editor:update' scope_current_journal.pk issue.pk %}" class="btn btn-secondary">{% trans "Modifier" %}</a>
  </div>
  {% endif %}
</div>

{# Issue submission metadata #}
<dl class="row submission-detail-metadata">
  <dt class="col-sm-3">{% trans "Statut" %}</dt>
  <dd class="col-sm-9">
    <span class="status-indicator-{% if issue.status == 'D' or issue.status == 'C' %}error{% elif issue.status == 'S' %}warning{% elif issue.status == 'V' %}success{% endif %}"></span>
    {{ issue.get_status_display }}
  </dd>
  <dt class="col-sm-3">{% trans "Année" %}</dt>
  <dd class="col-sm-9">{{ issue.year }}</dd>
  {% if issue.volume %}
  <dt class="col-sm-3">{% trans "Volume" %}</dt>
  <dd class="col-sm-9">{{ issue.volume }}</dd>
  {% endif %}
  <dt class="col-sm-3">{% trans "Numéro" %}</dt>
  <dd class="col-sm-9">{{ issue.number }}</dd>
  <dt class="col-sm-3">{% trans "Personne-ressource" %}</dt>
  <dd class="col-sm-9">{{ issue.contact }}</dd>
  <dt class="col-sm-3">{% trans "Commentaires" %}</dt>
  <dd class="col-sm-9">{% if issue.comment %}{{ issue.comment }}{% else %}{% trans '[Non renseigné]' %}{% endif %}</dd>
</dl>

<hr>

{# Issue submission history #}
{% if status_tracks %}
<h2>{% trans "Historique" %}</h2>
<div class="table">
  <ul class="table-header">
    <li class="row">
      <span class="col-sm-2">{% trans "Date" %}</span>
      <span class="col-sm-5">{% trans "Statut" %}</span>
      <span class="col-sm-5">{% trans "Commentaires" %}</span>
    </li>
  </ul>
  <ul class="table-body">
    {% for track in status_tracks reversed %}
    <li class="row table-row-wrapper">
      <div class="clearfix table-row">
        <div class="col-sm-2">
          {% blocktrans trimmed with date=track.created|date:"SHORT_DATE_FORMAT" time=track.created|date:"H:i" %}
          {{ date }}<br> {{ time }}
          {% endblocktrans %}
        </div>
        <div class="col-sm-5">
          <p>
            <strong>{{ track.get_status_display }}</strong>.<br><br>
            {% if track.files_version and track.files_version.submissions.exists %}
            {% trans "Fichiers&nbsp;:" %}
            {% endif %}
          </p>

          {% if track.files_version and track.files_version.submissions.exists %}
          <ul class="unstyled">
          {% for f in track.files_version.submissions.all %}
            {% if f.is_complete %}
              <li>
                <a href="{% url 'userspace:journal:editor:attachment_detail' pk=f.id %}">
                  {{ f.get_filename }}&nbsp;&nbsp;<i class="icon ion-cloud-download"></i></span>
                </a>
              </li>
            {% else %}
              <li>
                {{ f.get_filename }} ({% trans "partiellement téléversé" %})
              </li>
            {% endif %}
          {% endfor %}
          </ul>
          {% endif %}
        </div>

        <div class="col-sm-5">
          {% if track.comment %}
          <p><em>{{ track.comment }}</em></p>
          {% endif %}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{# Submit / delete buttons #}
<div class="form-group text-right">
  {% if can_manage_issuesubmission and not issue.is_validated %}
  <a href="{% url 'userspace:journal:editor:delete' scope_current_journal.pk issue.pk %}" class="btn">{% trans "Supprimer" %}</a>
  {% endif %}
  {% for t in transitions %}
  <a
  {% if t.name == 'submit' %}
  href="{% url 'userspace:journal:editor:transition_submit' scope_current_journal.pk issue.pk %}"
  {% elif t.name == 'approve' %}
  href="{% url 'userspace:journal:editor:transition_approve' scope_current_journal.pk issue.pk %}"
  {% elif t.name == 'refuse' %}
  href="{% url 'userspace:journal:editor:transition_refuse' scope_current_journal.pk issue.pk %}"
  {% endif %}
  class="btn btn-primary">{{ t.custom.verbose_name }}</a>
  {% endfor %}
</div>
{% endblock content_main %}
