{% extends "userspace/journal/editor/base.html" %}
{% load i18n staticfiles %}
{% load rules %}

{% block page_title %}{% trans "Dépôt de fichiers" %}{% endblock %}

{% block breadcrumb_end %}
{{ block.super }}
<li><a href="{% url 'userspace:journal:editor:issues' scope_current_journal.pk %}">{% trans "Dépôt de fichiers" %}</a></li>
<li>{{ object.year }}, {% if object.volume %}{% trans "vol." %} {{ object.volume }},{% endif %} {% trans "n°" %} {{ object.number }}</li>
{% endblock breadcrumb_end %}

{% block content_main %}
<div class="col-md-6 col-xs-12 col-centered">
  <section class="card">
    <div class="card-header">
      <div class="pull-right">
        <a href="{% url 'userspace:journal:editor:update' scope_current_journal.pk issue.pk %}" class="btn btn-primary btn-block">{% trans "Éditer la demande" %}</a>
      </div>
      <h2>{% trans "Dépôt de fichiers de production" %}</h2>
    </div>
    {% has_perm 'editor.manage_issuesubmission' request.user scope_current_journal as can_manage_issuesubmission %}
    <div class="row">
      <div class="col-md-12">
        <br />
        {% if issue.status == 'D' %}
        <div class="alert alert-warning">
          {% trans "Brouillon" %}
        </div>
        {% elif issue.status == 'S' %}
        <div class="alert alert-warning">
          {% trans "Demande soumise" %}
        </div>
        {% elif issue.status == 'V' %}
        <div class="alert alert-success">
          {% trans "Demande validée" %}
        </div>
        {% elif issue.status == 'A' %}
        <div class="alert alert-info">
          {% trans "Demande archivée" %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="panel-group">
          <div class="panel">
            <div class="panel-heading" role="tab" id="issue-metadata-heading">
              <h3 class="panel-title">{% trans "Métadonnées" %}</h3>
            </div>
            <div id="issue-metadata">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-4">
                    <p class="lead value-title">{% trans "Année" %}</p>
                    <p class="value"><strong>{{ issue.year }}</strong></p>
                  </div>
                  <div class="col-sm-4">
                    <div class="lead value-title">{% trans "Volume" %}</div>
                    <div class="value"><strong>{% if issue.volume %}{{ issue.volume }}{% else %}<span class="muted">{% trans "Non renseigné" %}</span>{% endif %}</strong></div>
                  </div>
                  <div class="col-sm-4">
                    <div class="lead value-title">{% trans "Numéro" %}</div>
                    <div class="value"><strong>{{ issue.number }}</strong></div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-xs-12">
                    <p class="lead value-title">{% trans "Personne contact" %}</p>
                    <p class="value"><strong>{{ issue.contact }}</strong></p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-xs-12">
                    <p class="lead value-title">{% trans "Commentaire" %}</p>
                    <p class="value"><strong>{% if issue.comment %}{{ issue.comment }}{% else %}<span class="muted">{% trans "Non renseigné" %}</span>{% endif %}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading" role="tab" id="issue-upload-heading">
              <h3 class="panel-title">{% trans "Fichiers" %}</a>
              </h3>
            </div>
            <div id="issue-upload">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12">
                  {% if issue.last_files_version.submissions.exists %}
                    {% for f in issue.last_files_version.submissions.all %}
                      <a href="{% url 'userspace:journal:editor:attachment_detail' pk=f.id %}">{{ f.get_filename }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </p>
                  {% else %}
                    <p><strong><span class="muted">{% trans "Aucun fichier!" %}</span></strong></p>
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if status_tracks %}
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">{% trans "Historique" %}</h3>
            </div>
            <div id="issue-history">
              <div class="panel-body">
                <div class="row">
                  <div class="form-group col-xs-12 {% if form.submissions.errors %}error{% endif %}">
                    <ul>
                    {% for track in status_tracks %}
                      <li>
                        {% if track.status == "D" %}
                          {% trans "Marqué à corriger le" as status_prefix %}
                        {% elif track.status == "S" %}
                          {% trans "Soumis le" as status_prefix %}
                        {% elif track.status == "V" %}
                          {% trans "Validé le" as status_prefix %}
                        {% elif track.status == "A" %}
                          {% trans "Archivé le" as status_prefix %}
                        {% endif %}
                        {% blocktrans trimmed with prefix=status_prefix date=track.created|date:"SHORT_DATETIME_FORMAT" %}
                          {{ prefix }} {{ date }}
                        {% endblocktrans %}
                        {% if track.files_version and track.files_version.submissions.exists %}
                          <br />
                          <p>
                            <strong>{% trans "Fichiers :" %}</strong>&nbsp;
                            {% for f in track.files_version.submissions.all %}
                              <a href="{% url 'userspace:journal:editor:attachment_detail' pk=f.id %}">{{ f.get_filename }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                          </p>
                        {% endif %}
                        {% if track.comment %}
                          <p><strong>{% trans "Commentaire :" %}</strong></p>
                          <small>{{ track.comment }}</small>
                        {% endif %}
                      </li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="form-group text-right">
            {% for t in transitions %}
              <a
              {% if t.name == 'submit' %}
                href="{% url 'userspace:journal:editor:transition_submit' scope_current_journal.pk issue.pk %}"
              {% elif t.name == 'approve' %}
                href="{% url 'userspace:journal:editor:transition_approve' scope_current_journal.pk issue.pk %}"
              {% elif t.name == 'refuse' %}
                href="{% url 'userspace:journal:editor:transition_refuse' scope_current_journal.pk issue.pk %}"
              {% elif t.name == 'archive' %}
                href="{% url 'userspace:journal:editor:transition_archive' scope_current_journal.pk issue.pk %}"
              {% endif %}
                class="btn btn-primary">{{ t.custom.verbose_name }}</a>
            {% endfor %}
            {% if can_manage_issuesubmission and issue.is_draft %}
                <a href="{% url 'userspace:journal:editor:delete' scope_current_journal.pk issue.pk %}" class="btn btn-primary">{% trans "Supprimer" %}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
