{% extends "userspace/journal/base.html" %}
{% load i18n staticfiles %}
{% load rules %}

{% block title %}{{ issue }} – {% trans "Dépôt de fichiers" %} {{ block.super }}{% endblock title %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'userspace:journal:editor:issues' %}">{% trans "Dépôt de fichiers" %}</a></li>
<li><a href="#">{{ issue }}</a></li>
{% endblock breadcrumb %}

{% block section_title %}
{{ issue }}
{% endblock %}

{% block content_main %}
{% has_perm 'editor.manage_issuesubmission' request.user scope_current_journal as can_manage_issuesubmission %}

<div class="row">
  <div class="col-md-12">
    <h2>{% trans "Informations du numéro" %}</h2>
  </div>
</div>

{# Issue submission metadata #}
<dl class="row submission-detail-metadata">
  <dt class="col-sm-3">{% trans "Statut" %}</dt>
  <dd class="col-sm-9">
    <span class="status-indicator-{% if issue.status == 'D' or issue.status == 'C' %}error{% elif issue.status == 'S' %}warning{% elif issue.status == 'V' %}success{% endif %}"></span>
    {{ issue.get_status_display }}
  </dd>
  <dt class="col-sm-3">{% trans "Année" %}</dt>
  <dd class="col-sm-9">{{ issue.year }}</dd>
  {% if issue.volume %}
  <dt class="col-sm-3">{% trans "Volume" %}</dt>
  <dd class="col-sm-9">{{ issue.volume }}</dd>
  {% endif %}
  <dt class="col-sm-3">{% trans "Numéro" %}</dt>
  <dd class="col-sm-9">{{ issue.number }}</dd>
  <dt class="col-sm-3">{% trans "Personne-ressource" %}</dt>
  <dd class="col-sm-9">{{ issue.contact }}</dd>
  <dt class="col-sm-3">{% trans "Commentaires" %}</dt>
  <dd class="col-sm-9">{% if issue.comment %}{{ issue.comment }}{% else %}{% trans '[Non renseigné]' %}{% endif %}</dd>
</dl>

<hr>

<div class="form-group text-right">
  {# Delete & Edit buttons #}
  {% if can_manage_issuesubmission and not issue.is_validated %}
  <a href="{% url 'userspace:journal:editor:delete' scope_current_journal.pk issue.pk %}" class="btn">{% trans "Supprimer" %}</a>
  <a href="{% url 'userspace:journal:editor:update' scope_current_journal.pk issue.pk %}" class="btn btn-primary">{% trans "Modifier" %}</a>
  {% endif %}
  {# Approve & Refuse buttons #}
  {% for t in transitions %}
  <a
  {% if t.name == 'approve' %}
  href="{% url 'userspace:journal:editor:transition_approve' scope_current_journal.pk issue.pk %}"
  {% elif t.name == 'refuse' %}
  href="{% url 'userspace:journal:editor:transition_refuse' scope_current_journal.pk issue.pk %}"
  {% endif %}
  class="btn btn-primary">{{ t.custom.verbose_name }}</a>
  {% endfor %}
</div>

{# Issue submission history #}
{% if status_tracks %}
{% include "userspace/journal/editor/partials/issue_submission_status_tracks.html" %}
{% endif %}
{% endblock content_main %}
