{% extends "userspace/journal/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load rules %}

{% block title %}
{% if object.pk %}
{% trans "Modifer" %} {{ object.year }}, {% if object.volume %}{% trans "vol." %} {{ object.volume }},{% endif %} {% trans "n°" %} {{ object.number }} –
{% else %}
{% trans "Soumission" %} –
{% endif %}
{% trans "Dépôt de fichiers" %}
{{ block.super }}
{% endblock title %}

{% block data_controller %}userspace:editor:form{% endblock data_controller %}

{% block extrahead %}
{{ form.media.css }}
{% endblock extrahead %}

{% block footerscript %}
{{ form.media.js }}
{% endblock footerscript %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'userspace:journal:editor:issues' %}">{% trans "Dépôt de fichiers" %}</a></li>
{% if object.pk %}
<li><a href="{% url 'userspace:journal:editor:detail' scope_current_journal.pk object.pk %}">{{ object.year }}, {% if object.volume %}{% trans "vol." %} {{ object.volume }},{% endif %} {% trans "n<sup>o</sup>" %} {{ object.number }}</a></li>
<li><a href="#">{% trans "Modification" %}</a></li>
{% else %}
<li><a href="#">{% trans "Nouveau dépôt" %}</a></li>
{% endif %}
{% endblock breadcrumb %}

{% block section_title %}
{% if object.pk %}
  {% trans 'Modifier le numéro&nbsp;:' %}<br>
  {{ object.year }}, {% if object.volume %}{% trans "vol." %} {{ object.volume }},{% endif %} {% trans "n<sup>o</sup>" %} {{ object.number }}
{% else %}
  {% trans "Déposer des fichiers de production" %}
{% endif %}
{% endblock %}

{% block section_intro %}
{% if object.pk %}
<p>{% trans "Afin de réduire les délais de production de vos numéros et ainsi réduire les coûts qui y sont reliés, ne pas oublier de&nbsp;:" %}</p>
<ol>
  <li>{% trans "Incorporer les polices des fichiers PDF;" %}</li>
  <li>{% trans "Séparer les fichiers PDF article par article;" %}</li>
  <li>{% trans "Nommer les articles selon leur ordre d’apparition dans le numéro (<em>article1</em>, <em>article2</em>&hellip;);" %}</li>
  <li>{% trans "Nommer les figures et tableaux selon le numéro de l’article et leur ordre d’apparition dans l'article (<em>image01-01.jpg</em>);" %}</li>
  <li>{% trans "Supprimer les marques de coupes dans les fichiers PDF;" %}</li>
  <li>{% trans "Compresser tous les fichiers dans un dossier ZIP avant de le déposer." %}</li>
</ol>
<br>
<p>{% trans "Pour que vos articles s’affichent correctement sur la plateforme, veuillez effectuer les balisages suivants lors de la mise en page&nbsp;:" %}</p>
<ul>
  <li>{% trans "Baliser les liens et les courriels dans les affiliations, le corps du texte et les références bibliographiques;" %}</li>
  <li>{% trans "Lier les appels de notes aux notes de bas de page." %}</li>
</ul>
{% endif %}
{% endblock section_intro %}


{% block content_main %}
{% has_perm 'editor.manage_issuesubmission' request.user scope_current_journal as can_manage_issuesubmission %}
<form class="row form-vertical" method="post">{% csrf_token %}
  {% if form.errors %}
  <div class="row">
    <div class="col-xs-12">
      <p class="alert">{% trans "Veuillez remplir les champs obligatoires." %}</p>
    </div>
  </div>
  {% endif %}
  <h2>{% trans "Informations du numéro" %}</h2>
  <div class="form-group col-sm-4 {% if form.year.errors %}error{% endif %}">
    {{ form.year.label_tag }}
    {{ form.year }}
  </div>
  <div class="form-group col-sm-4 {% if form.volume.errors %}error{% endif %}">
    {{ form.volume.label_tag }}
    {{ form.volume }}
  </div>
  <div class="form-group col-sm-4 {% if form.number.errors %}error{% endif %}">
    {{ form.number.label_tag }}
    {{ form.number }}
  </div>
  <div class="clearfix">
    <div class="form-group col-sm-4">
      {{ form.contact.label_tag }}
      {{ form.contact }}
    </div>
    <div class="form-group col-sm-8">
      {{ form.comment.label_tag }}
      {{ form.comment }}
    </div>
  </div>

  {% if object.pk and not object.is_submitted and not object.archived and not object.is_validated %}
  <h2>{% trans "Fichier" %}</h2>
  {{ form.submissions }}
  {% endif %}

  <hr>

  {% if status_tracks %}
  <h2>{% trans "Historique" %}</h2>
  <div class="submissions{% if form.submissions.errors %} error{% endif %}">
    <ul class="submissions-header">
      <li class="row">
        <span class="col-sm-2">{% trans "Date" %}</span>
        <span class="col-sm-5">{% trans "Statut" %}</span>
        <span class="col-sm-5">{% trans "Commentaires" %}</span>
      </li>
    </ul>
    <ul class="submissions-list">
      {% for track in status_tracks reversed %}
      <li class="row submissions-item">
        <div class="clearfix submissions-content">
          <div class="col-sm-2">
            {% blocktrans trimmed with date=track.created|date:"SHORT_DATE_FORMAT" time=track.created|date:"H:i" %}
            {{ date }}<br> {{ time }}
            {% endblocktrans %}
          </div>
          <div class="col-sm-5">
            <p>
              {{ track.get_status_display }}
            </p>

            {% if track.files_version and track.files_version.submissions.exists %}
            <p>
              {% trans "Fichiers&nbsp;:" %}
              {% for f in track.files_version.submissions.all %}
                {% if f.is_complete %}
                  <a href="{% url 'userspace:journal:editor:attachment_detail' pk=f.id %}">{{ f.get_filename }}</a>
                {% else %}
                  {{ f.get_filename }} ({% trans "partiellement téléversé" %})
                {% endif %}
              {% endfor %}
            </p>
            {% endif %}
          </div>

          <div class="col-sm-5">
            {% if track.comment %}
            <p>{{ track.comment }}</p>
            {% endif %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="form-group text-right">
    {% if not object.is_submitted and not object.archived and not object.is_validated %}
    {% if object.pk %}
      <a href="{% url 'userspace:journal:editor:detail' scope_current_journal.pk object.pk %}" class="btn">{% trans "Annuler" %}</a>
    {% else %}
      <a href="{% url 'userspace:journal:editor:issues' scope_current_journal.pk %}" class="btn">{% trans "Annuler" %}</a>
    {% endif %}
    <button type="submit" class="btn btn-primary" id="submit-id-submit">{% trans "Enregistrer" %}</button>
    {% endif %}
  </div>
</form>
{% endblock content_main %}
