{% extends "userspace/journal/editor/base.html" %}
{% load i18n staticfiles %}

{% block page-title %}{% trans "Dépôt de fichiers" %}{% endblock %}

{% block data-controller %}userspace:editor:form{% endblock data-controller %}

{% block extrahead %}
{{ form.media.css }}
{% endblock extrahead %}

{% block footerscript %}
{{ form.media.js }}
{% endblock footerscript %}

{% block breadcrumb_end %}
{{ block.super }}
<li><a href="{% url 'userspace:journal:editor:issues' %}">{% trans "Dépôt de fichiers" %}</a></li>
<li>{{ object.year }}, {% if object.volume %}{% trans "vol." %} {{ object.volume }},{% endif %} {% trans "n°" %} {{ object.number }}</li>
{% endblock breadcrumb_end %}

{% load crispy_forms_tags %}
{% block content-main %}
<div class="col-md-6 col-xs-12 col-centered">
  <section class="card card-upload_form">
    <div class="card-header">
      <h2>{% trans "Déposer des fichiers de production" %}</h2>
    </div>
    <div class="card-body">
      <form class="row form-vertical" method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="row">
          <div class="col-xs-12">
            <p class="alert alert-warning">{% trans "Veuillez remplir les champs obligatoires." %}</p>
          </div>
        </div>
        {% endif %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel">
            <div class="panel-heading" role="tab" id="issue-metadata-heading">
              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#issue-metadata" aria-expanded="true" aria-controls="issue-metadata">
                  <span class="fa accordion-toggle"></span> {% trans "Métadonnées" %}
                </a>
              </h3>
            </div>
            <div id="issue-metadata" class="panel-collapse collapse {% if not object.pk %}in{% endif %}" role="tabpanel" aria-labelledby="issue-metadata-heading">
              <div class="panel-body">
                <div class="form-group col-sm-4 {% if form.year.errors %}error{% endif %}">
                  {{ form.year.label_tag }}
                  {{ form.year }}
                </div>
                <div class="form-group col-sm-4 {% if form.volume.errors %}error{% endif %}">
                  {{ form.volume.label_tag }}
                  {{ form.volume }}
                </div>
                <div class="form-group col-sm-4 {% if form.number.errors %}error{% endif %}">
                  {{ form.number.label_tag }}
                  {{ form.number }}
                </div>
                <div class="form-group col-xs-12">
                  {{ form.contact.label_tag }}
                  {{ form.contact }}
                </div>
                <div class="form-group col-xs-12">
                  {{ form.comment.label_tag }}
                  {{ form.comment }}
                </div>
              </div>
            </div>
          </div>
          {% if object.pk and not object.is_submitted %}
          <div class="panel">
            <div class="panel-heading" role="tab" id="issue-upload-heading">
              <h3 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#issue-upload" aria-expanded="false" aria-controls="issue-upload">
                  <span class="fa accordion-toggle"></span> {% trans "Fichiers" %}
                </a>
              </h3>
            </div>
            <div id="issue-upload" class="panel-collapse collapse {% if object.pk %}in{% endif %}" role="tabpanel" aria-labelledby="issue-upload-heading">
              <div class="panel-body">
                <div class="form-group col-xs-12 {% if form.submissions.errors %}error{% endif %}">
                  {{ form.submissions }}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if status_tracks %}
          <div class="panel">
            <div class="panel-heading" role="tab" id="issue-history-heading">
              <h3 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#issue-upload" aria-expanded="false" aria-controls="issue-upload">
                  <span class="fa accordion-toggle"></span> {% trans "Historique" %}
                </a>
              </h3>
            </div>
            <div id="issue-history" class="panel-collapse collapse {% if object.pk %}in{% endif %}" role="tabpanel" aria-labelledby="issue-upload-heading">
              <div class="panel-body">
                <div class="form-group col-xs-12 {% if form.submissions.errors %}error{% endif %}">
                  <ul>
                  {% for track in status_tracks %}
                    <li>
                      {% if track.status == "D" %}
                        {% trans "Marqué à corriger le" as status_prefix %}
                      {% elif track.status == "S" %}
                        {% trans "Soumis le" as status_prefix %}
                      {% elif track.status == "V" %}
                        {% trans "Validé le" as status_prefix %}
                      {% elif track.status == "A" %}
                        {% trans "Archivé le" as status_prefix %}
                      {% endif %}
                      {% blocktrans trimmed with prefix=status_prefix date=track.created|date:"SHORT_DATETIME_FORMAT" %}
                        {{ prefix }} {{ date }}
                      {% endblocktrans %}
                      {% if track.files_version and track.files_version.submissions.exists %}
                        <br />
                        <p>
                          <strong>{% trans "Fichiers :" %}</strong>&nbsp;
                          {% for f in track.files_version.submissions.all %}
                            <a href="{% url 'userspace:journal:editor:attachment-detail' pk=f.id %}">{{ f.get_filename }}</a>{% if not forloop.last %}, {% endif %}
                          {% endfor %}
                        </p>
                      {% endif %}
                    </li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="form-group text-right">
            <button type="reset" class="btn btn-default" id="submit-id-reset">{% trans "Annuler" %}</button>
            <button type="submit" class="btn btn-primary" id="submit-id-submit">{% trans "Enregistrer" %}</button>
            {% if object.pk %}
            {% for t in transitions %}
              <a
              {% if t.name == 'submit' %}
                href="{% url 'userspace:journal:editor:transition-submit' scope_current_journal.pk object.pk %}"
              {% elif t.name == 'approve' %}
                href="{% url 'userspace:journal:editor:transition-approve' scope_current_journal.pk object.pk %}"
              {% elif t.name == 'refuse' %}
                href="{% url 'userspace:journal:editor:transition-refuse' scope_current_journal.pk object.pk %}"
              {% elif t.name == 'archive' %}
                href="{% url 'userspace:journal:editor:transition-archive' scope_current_journal.pk object.pk %}"
              {% endif %}
                class="btn btn-primary">{{ t.custom.verbose_name }}</a>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
{% endblock %}
