{% extends "userspace/journal/base.html" %}
{% load i18n staticfiles %}
{% load rules %}

{% block title %}{% trans "Dépôt de fichiers" %}{% endblock title %}

{% block body_id %}issue_submission{% endblock body_id %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'userspace:journal:editor:issues' scope_current_journal.pk %}">{% trans "Dépôt de fichiers" %}</a></li>
{% endblock breadcrumb %}

{% block content_main %}
{% has_perm 'editor.manage_issuesubmission' request.user scope_current_journal as can_manage_issuesubmission %}
<header class="page-header-main">
  <div class="row">
    <div class="col-md-8">
      <h1>{% trans "Dépôt de fichiers" %}</h1>
    </div>
    <div class="col-md-4 text-right">
      <a href="{% url 'userspace:journal:editor:add' scope_current_journal.pk %}" class="btn btn-secondary">{% trans "Déposer" %}</a>
    </div>
  </div>
</header>

<ul id="id_issuesubmission_list" class="row submission-list">
  {% for issue_submission in object_list|dictsortreversed:"date_created" %}
  <li>
    <a href="{% url 'userspace:journal:editor:update' scope_current_journal.pk issue_submission.pk %}">
      {% with issue_submission.get_status_code_display as status %}
      <span class="pull-right status">
        {{ issue_submission.get_status_display }}
        <span class="status-indicator-{% if status == 'C' %}error{% elif status == 'D' %}warning{% elif status == 'V' %}success{% endif %}"></span>
      </span>
      {% endwith %}
      <span class="title">
        {{ issue_submission }}
      </span>
      <span class="metadata">
        <span class="metadata-title">{% trans "Revue" %}</span>
        <span class="metadata-value">{{ issue_submission.journal.name }}</span>
      </span>
      <span class="pull-right metadata">
        <em>
          {% blocktrans trimmed with created=issue_submission.date_created|date:"SHORT_DATE_FORMAT" %}
          Ajouté le {{ created }}
          {% endblocktrans %}
        </em>
      </span>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock content_main %}
