{% extends "userspace/journal/base.html" %}
{% load i18n staticfiles %}
{% load rules %}

{% block title %}{% trans "Dépôt de fichiers" %} {{ block.super }}{% endblock title %}

{% block body_id %}issue_submission{% endblock body_id %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'userspace:journal:editor:issues' scope_current_journal.pk %}">{% trans "Dépôt de fichiers" %}</a></li>
{% endblock breadcrumb %}

{% block section_title %}
{% trans "Dépôt de fichiers" %}
{% endblock %}

{% block section_intro %}
{% blocktrans %}
<p>Cet espace vous permet d’envoyer vos fichiers de production et de vérifier leur statut&nbsp;: <em>non soumis</em>, <em>en attente de validation</em>, <em>à corriger</em> ou <em>validé et publié</em>.</p>
{% endblocktrans %}
{% endblock section_intro %}

{% block content_main %}
{% has_perm 'editor.manage_issuesubmission' request.user scope_current_journal as can_manage_issuesubmission %}
{# List of past submissions #}
<div class="row">
  <div class="col-md-8">
    <h2>{% trans 'Historique' %}</h2>
  </div>
  <div class="col-md-4 text-right">
    <a href="{% url 'userspace:journal:editor:add' scope_current_journal.pk %}" class="btn btn-primary">&plus;&nbsp;{% trans "Déposer" %}</a>
  </div>
</div>
<div class="table">
  <ul class="table-header">
    <li class="row">
      <span class="col-sm-4">{% trans "Numéro" %}</span>
      <span class="col-sm-4">{% trans "Date d’ajout" %}</span>
      <span class="col-sm-4">{% trans "Statut" %}</span>
    </li>
  </ul>
  <ul class="table-body">
    {% for issue_submission in object_list|dictsortreversed:"date_created" %}
    {% with issue_submission.get_status_code_display as status %}
    <li class="row table-row-wrapper">
      <a href="{% url 'userspace:journal:editor:detail' scope_current_journal.pk issue_submission.pk %}"
         class="clearfix table-row">
        <span class="col-sm-4">{{ issue_submission }}</span>
        <span class="col-sm-4">{{ issue_submission.date_created|date:"SHORT_DATE_FORMAT" }}</span>
        <span class="col-sm-4">
          <span class="status-indicator-{% if status == 'D' or status == 'C' %}error{% elif status == 'S' %}warning{% elif status == 'V' %}success{% endif %}"></span>
          {{ issue_submission.get_status_display }}
        </span>
      </a>
    </li>
    {% endwith %}
    {% endfor %}
  </ul>
</div>
{% endblock content_main %}
