{% extends "userspace/journal/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{{ question }} {{ block.super }}{% endblock title %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url 'userspace:journal:editor:issues' scope_current_journal.pk %}">{% translate "Dépôt de fichiers" %}</a></li>
<li><a href="#">{{ object.year }}, {% if object.volume %}{% translate "vol." %} {{ object.volume }},{% endif %} {% translate "n°" %} {{ object.number }}</a></li>
{% endblock breadcrumb %}

{% block section_title %}
{% translate "Approbation des fichiers" %}
{% endblock %}

{% block section_intro %}
{% blocktranslate trimmed with question=question %}
<h2>Rappel</h2>
<ul>
  <li>Faire le backup des fichiers</li>
  <li>Ajouter le numéro au calendrier de production</li>
  <li>Assigner le numéro à un ou une technicienne</li>
</ul>
{% endblocktranslate %}
{% endblock section_intro %}

{% block content_main %}
<div class="col-sm-8 col-md-6">
  <form action="" method="post">{% csrf_token %}
    {% if comment_form %}
    <div class="row">
      <div id="div_id_{{ comment_form.comment.html_name }}">
        <div class="controls">
          <label class="control-label" for="{{ comment_form.comment.auto_id }}">{{ comment_form.comment.label }}</label>
          {{ comment_form.comment|add_class:'form-control' }}
          {% for error in comment_form.comment.errors %}<p class="error">{{ error }}</p>{% endfor %}
        </div>
      </div>
    </div>
    <br />
    {% endif %}
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="{% translate "Approuver" %}" class="btn btn-primary" />
    <a href="{% url 'userspace:journal:editor:detail' scope_current_journal.pk object.pk %}" class="btn btn-link">{% translate "Retour" %}</a>
  </form>
</div>
{% endblock content_main %}
