{% load i18n %}

<input{{ final_attrs }} style="display: none;">

<div id="drop_element" class="upload-container" data-json-params='{{ json_params|safe }}' data-filesizes='{{ files_json|safe }}'>
  <table class="upload-table">
    <thead>
      <tr>
        <th>{% trans "Fichier" %}</th>
        <th>{% trans "Taille" %}</th>
        <th>{% trans "Statut" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="filelist">
      {% for file in files %}
      <tr data-resumable-file-id="{{ file.id }}" data-resumable-file-name="{{ file.filename }}">
        <td>
          {% if file.is_complete %}
            <a href="{% url 'userspace:journal:editor:attachment_detail' pk=file.id %}">{{ file.filename }}</a>
          {% else %}
            {{ file.filename }}
          {% endif %}
        </td>
        <td>
          {{ file.filesize }}
        </td>
        <td>
          <progress value="{{ file.percent }}" max="100">{{ file.percent }} %</progress>
        </td>
        <td><a href="#" class="delete-file ion-close"></a></td>
      </tr>
      {% endfor %}
      {% comment %}
      TODO: faire fonctionner le fallback
      <tr>
        <td colspan="5">{% trans "Votre navigateur ne supporte pas les technologies Flash, Silverlight ou HTML5." %}</td>
      </tr>
      {% endcomment %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <a id="pickfiles" class="upload-action" href="javascript:;">&plus; {% trans "Ajouter les fichiers" %}</a>
          <a id="uploadfiles" class="upload-action" href="javascript:;"><ion-icon name="ios-cloud-upload"></ion-icon> {% trans "Téléverser" %}</a>
        </td>
        <td class="file-size">
          <strong><span id="file-size-total"></span></strong>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
