{% extends "userspace/journal/subscription/base.html" %}
{% load i18n %}

{% block breadcrumb_end %}
{{ block.super }}
<li>
  <a href="{% url 'userspace:journal:subscription:account_list' journal_pk=scope_current_journal.pk %}">
    {% trans "Abonnements individuels" %}
  </a>
</li>
<li>{% trans "Modifier le compte de " %} {{ object }}</li>
{% endblock breadcrumb_end %}

{% block content-main %}

<h1>{% trans "Modifier le compte de " %} {{ object }}</h1>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" />
</form>

{% endblock %}
