/**
* Issue submission
*/

.submission-list {
  list-style: none;

  li {
    padding: 1em;
    background: $light-grey;

    &:hover, &:focus{
      text-decoration: none;
      background: darken($light-grey, 2%);
    }

    a {
      text-align: left;

      &:hover, &:focus{
        text-decoration: none;
      }

      .title {
        display: block;
      }

      .metadata {
        margin-right: 10px;
        padding: 4px 0;
        display: inline-block;
        @include font-styles('sans');

        .metadata-title {
          @include fw-sans-medium;
        }

      }

    }

  }

}
