/**
* Issue submission
*/

.submission-detail-metadata {

  dt {
    margin: 0;
    color: $dark-grey;
  }

  dt, dd {
    margin-bottom: 0.75em;
  }

}

.submission-form {

  label[for=file_comment] {
    color: $dark-grey;
    font-size: 14px;
    font-weight: bold;
  }

}
