/**
 * Accordions system (with chevrons or plus / minus icons)
 * Based on Akkordion vanilla JS plugin
 */

.akkordion {

  h2.akkordion-title:not([data-akkordion-active]),
  h3.akkordion-title:not([data-akkordion-active]) {
    border-bottom: 0;
  }

  .caret {
    float: right;
    display: inline-block;
    position: relative;
    top: 2px;
    color: $dark-grey;
  }

  h2.akkordion-title[data-akkordion-active],
  h3.akkordion-title[data-akkordion-active] {
    .caret {
      position: relative;
      top: -3px;
      @include rotate(180deg);
    }
  }

}
