/**
 * Success, warning and danger alert boxes
 * Forked from Bootstrap
 */

.alert {
  padding: 0.5em;
  margin-bottom: $line-height-computed;
  border: 1px solid transparent;
  border-radius: 0;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

// .alert-success {
//   @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
// }
//
// .alert-info {
//   @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
// }
//
// .alert-warning {
//   @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
// }
//
// .alert-danger {
//   @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
// }
