/**
 * Success, warning and danger alert boxes
 * Forked from Bootstrap
 */

.alert {

  p {
    background-color: $yellow;
    padding: 0.5em 0.75em;
    margin: 1em 0;

    a {
      color: #000;
      text-decoration: underline;
    }

  }

  > p + p {
    margin-top: 5px;
  }
}

/**
 * Fallback alert box
 */
#advanced_search,
#search_results {
  .alert {
    background: $light-grey;
    padding-bottom: 1em;
  }
}

.fallback {

  p {
    padding: 1em;
    font-size: 14px;
    background-color: $mid-grey;
    color: #000;
    line-height: 1;
    margin: 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
  }

  a {
    color: #000;
    text-decoration: underline;
    margin-left: 0.5em;
  }

  .close {
    margin-right: 0.5em;
    font-size: 1.5em;
    vertical-align: baseline;
  }

}
