/**
 * Success, warning and danger alert boxes
 * Forked from Bootstrap
 */

.alert {

  &.alert-success {
    p {
      background-color: $white;
    }
  }

  p {
    background-color: $yellow;
    padding: 0.75em 0.75em;
    margin: 1em 0;

    a {
      color: #000;
      text-decoration: underline;
    }

  }

  > p + p {
    margin-top: 5px;
  }

  &.fallback {

    p {
      padding: 1em;
      font-size: 14px;
      background-color: $mid-grey;
      color: #000;
      line-height: 1;
      margin: 0;
      text-align: center;
      position: fixed;
      bottom: 0;
      z-index: 100;
      width: 100%;
    }

    a {
      color: #000;
      text-decoration: underline;
      margin-left: 0.5em;
    }

    .close {
      margin-right: 0.5em;
      font-size: 1.5em;
      vertical-align: baseline;
    }

  }

  &.maintenance {
    @extend .fallback;
  }

}

.alert-warning {

  p {
    background: $light-grey;
    padding: 2.75em 1.25em;
  }

}

/**
 * Fallback alert box
 */
#advanced_search,
#search_results {
  .alert {
    background: $light-grey;
    padding-bottom: 1em;
  }
}
