/**
 * Success, warning and danger alert boxes
 * Forked from Bootstrap
 */

.alert {

  p {
    border: 1px solid $mid-grey;
    padding: 0.75em 0.75em;
    margin: 1em 0;

    a {
      text-decoration: underline;
    }

  }

  > p + p {
    margin-top: 5px;
  }

  &.alert-info {
    background-color: $light-grey;
    @include font-styles('mono');

    p {
      border: 0;
      font-size: 14px;
      letter-spacing: -0.015em;
    }

    .alert-info-icon {
      font-size: 18px;
    }

  }

  &.alert-success {

    p {
      background-color: $darker-grey;
      border: 0;
      color: #fff;
      font-size: 14px;

      a {
        color: #fff;
      }

    }

  }

  &.fallback {

    p {
      padding: 1em;
      font-size: 14px;
      background-color: $mid-grey;
      line-height: 1;
      margin: 0;
      text-align: center;
      position: fixed;
      bottom: 0;
      z-index: 100;
      width: 100%;
    }

    a {
      text-decoration: underline;
      margin-left: 0.5em;
    }

    .close {
      margin-right: 0.5em;
      font-size: 1.5em;
      vertical-align: baseline;
    }

  }

  &.maintenance {
    @extend .fallback;
  }

}

.alert-warning {

  p {
    background: $light-grey;
    padding: 2.75em 1.25em;
  }

}

/**
 * Alert boxes on light-grey backgrounds
 */
#advanced_search,
#search_results {
  .alert {
    background: $light-grey;
    padding-bottom: 1em;
  }
}


// Cookie consent
.cc-message {
  @include font-styles('sans');
  font-size: 14px;
}

.cc-dismiss {
  @include font-styles('sans-medium');
}
