/**
 * Success, warning and danger alert boxes
 * Forked from Bootstrap
 */

.alert {

  p {
    border: 1px solid $mid-grey;
    padding: 0.75em 0.75em;
    margin: 1em 0;

    a {
      text-decoration: underline;
    }

  }

  > p + p {
    margin-top: 5px;
  }

  &.alert-info {
    margin-bottom: 1em;
    background-color: $light-grey;
    @include font-styles('mono');

    p {
      border: 0;
      font-size: 14px;
      letter-spacing: -0.025em;
    }

    .alert-info-icon {
      font-size: 20px;
    }

  }

  &.alert-success {

    p {
      background-color: $darker-grey;
      border: 0;
      color: $white;
      font-size: 14px;

      a {
        color: $white;
      }

    }

  }

  &.fallback {

    p {
      padding: 1em;
      font-size: 14px;
      background-color: $mid-grey;
      line-height: 1;
      margin: 0;
      text-align: center;
      position: fixed;
      bottom: 0;
      z-index: 100;
      width: 100%;
    }

    a {
      text-decoration: underline;
      margin-left: 0.5em;
    }

    .close {
      margin-right: 0.5em;
      font-size: 1.5em;
      vertical-align: baseline;
    }

  }

  &.maintenance {
    @extend .fallback;

    p {
        background-color: $yellow;
    }
  }

}

.site-messages {

  &.public {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
  }

  &.userspace {
    .alert {
      margin: 0 0 1em 0;
    }
  }

  .alert {
    display: none;
    border-top: 1px solid $light-grey;

    .close {
      font-size: 42px;
      line-height: 28px;
      display: inline-block;
      vertical-align: top;
    }

    p {
      padding: 14px;
      font-size: 14px;
      line-height: 1;
      margin: 0;
      text-align: center;
      border: 0;
      width: calc(100% - 40px);
      display: inline-block;
    }
  }

  .site-message-debug {
    background-color: $mid-grey;
  }
  .site-message-info {
    background-color: $colour-success;
  }
  .site-message-warning {
    background-color: $yellow;
  }
  .site-message-error {
    background-color: $colour-warning;
  }
  .site-message-critical {
    background-color: $colour-error;
  }
}

.alert-warning {

  p {
    background: $light-grey;
    padding: 2.75em 1.25em;
  }

}

/**
 * Alert boxes on light-grey backgrounds
 */
#advanced_search,
#search_results {
  .alert {
    background: $light-grey;
    padding-bottom: 1em;
  }
}


// Cookie consent
.cc-message {
  @include font-styles('sans');
  font-size: 14px;
}

.cc-dismiss {
  @include font-styles('sans-medium');
}
