/**
 * Success, warning and danger alert boxes
 * Forked from Bootstrap
 */

.alert {
  padding-bottom: 0.75em;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

/**
 * Fallback alert box
 */
.journal_list_per_disciplines,
.thesis_collection_home,
.advanced_search,
.search_results {

  .fallback {
    background-color: $light-grey;
  }

}

.fallback {
  padding-bottom: 1em;

  p {
    padding: 1.25em 0;
    font-size: 14px;
    background-color: $light-grey;
    color: #000;
    line-height: 1.5;
    margin: 0;
    text-align: center;
  }

  a {
    color: #FFF;
    text-decoration: none;
    background-color: $coral-red;
    margin-left: 0.5em;
    padding: 0.5em 0.75em;
    @include fw-sans-medium;

    &:hover, &:focus, &:active, &:active:focus {
      text-decoration: none;
      background-color: $darker-grey;
    }

  }

}
