/**
 * Tabs-style alphabetical navigation
 */

.alpha-nav {
  border-bottom: 1px solid $mid-grey;
  margin: 0;
  list-style: none;
  display: block;
  font-size: 14px;
  width: 100%;
  @include font-styles('mono');

  li {
    margin: 0;
    padding: 0;
    display: inline-block;

    > a {
      display: block;
      padding: 5px 0.5em;

      &:hover, &:active, &:focus, &:active:focus, &.active {
        text-decoration: none;
        background: $coral-red;
        color: $white;
      }

    }

    > span {
      padding: 0.35em;
      color: $mid-grey;
    }

    &.active {

      a {
        background: $coral-red;
        text-decoration: none;
        color: $white;
      }

    }

  }

}
