/**
* default breadcrumb
*/

#breadcrumb {
  margin-bottom: $margin-vertical-default;
  padding-bottom: $margin-vertical-default/4;

  p {
    font-size: 14px;
  }

  a {
    color: $dark-grey;
  }

}
