/**
 * Breadcrumbs
 */

.breadcrumb {
	margin-bottom: 1.25em;
	padding: $margin-vertical-default 0 0 0;

  ul {
    @include list-unstyled;
    display: block;
    padding-bottom: $margin-vertical-default/2.5;
    border-bottom: 1px solid $dark-grey;
  }

  li {
    display: inline-block;
    font-size: 14px;

    a {
      color: $dark-grey;
    }

    &:after {
      content: ' / ';
    }

    &:last-child {

      a {
        color: #000;
        @include fw-sans-medium;
      }

      &:after {
        content: '';
      }

    }

  }

}
