/**
 * Breadcrumbs
 */

.breadcrumb {
	padding: 1.25em 0;

  ul {
    @include list-unstyled;
    display: block;
    padding-top: $margin-vertical-default/2.5;
    padding-bottom: $margin-vertical-default/2.5;
  }

  li {
    display: inline-block;
    font-size: 14px;

    a {
      color: $dark-grey;
    }

    &:after {
      content: ' / ';
    }

    &:last-child {

      a {
        color: #000;
      }

      &:after {
        content: '';
      }

    }

  }

	@media (max-width: $screen-sm-max) {
		display: none;
	}

}
