/**
* Button groups / tab-style navigation
*/

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle; // match .btn alignment given font-size hack above
  width: 100%;

  > .btn {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    float: left;
    width: 33.333%;
    font-size: 14px;
    border-width: 1px;
    border-color: $dark-grey;
    color: $dark-grey;
    @include fw-sans-normal;

    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
      border-color: #000;
      background-color: #FFF;
      color: $coral-red;
      @include fw-sans-medium;
    }

  }

}

// Prevent double borders when buttons are next to each other
.btn-group {

  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -1px;
  }

}
