/**
 * Lists of links as dropdowns
 * Forked from Bootstrap
 */

.dropdown {
  position: relative;

  > .select {
    display: block;
    cursor: pointer;
    .caret {
      @include transition(transform 0.3s ease-in);
    }
  }

  > ul {
    display: none;
    position: absolute;
    min-width: 100%;
    width: auto;
    left: 0;
    z-index: $zindex-dropdown;
    list-style: none;
    margin: 0;
    text-align: left;

    li {
      margin: 0;
      display: block;
    }

    a {
      padding: 0.5em;
      display: block;
      width: 100%;
      @include transition(text-indent 0.2s ease-in);
    }
  }

  &:hover, &:focus, &:active, &:focus:active {
    > .select {
      color: #fff;
      text-decoration: none;
      .caret {
        display: inline-block;
        @include rotate(180deg);
        @include backface-visibility(hidden);
      }
    }
    > ul {
      display: block;
      width: auto;
    }
  }

}

/**
* Dropdown with button-like elements
*/

.dropdown-buttons {
  position: relative;

  > .select {
    cursor: pointer;
    display: block;
    padding: ($grid-gutter-width / 2) ($grid-gutter-width);
    border: 1px solid #000;
    background-color: #fff;
    .caret {
      float: right;
    }
  }

  > ul {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    list-style: none;
    margin: 0;

    li {
      margin: 0 !important;
      display: block !important;
    }

    a {
      padding: ($grid-gutter-width / 2) ($grid-gutter-width);
      border: 1px solid #000;
      border-top: none;
      display: block;
      &:hover {
        background-color: #000;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &:hover {
    > a {
      background-color: #000 !important;
      color: #fff !important;
      text-decoration: none;
      border-color: #000 !important;
      span {
        @include rotate(180deg);
        margin-top: -5px;
      }
    }
    > ul {
      display: block;
      width: 100%;
    }
  }

}
