/**
* Dropdown lists with button-like items
*/

.dropdown-buttons {
  position: relative;

  > .select {
    cursor: pointer;
    display: block;
    padding: ($grid-gutter-width / 2) ($grid-gutter-width);
    border: 1px solid #000;
    background-color: #fff;
    .caret {
      float: right;
    }
  }

  > ul {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    list-style: none;
    margin: 0;

    li {
      margin: 0 !important;
      display: block !important;
    }

    a {
      padding: ($grid-gutter-width / 2) ($grid-gutter-width);
      border: 1px solid #000;
      border-top: none;
      display: block;
      &:hover {
        background-color: #000;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &:hover {
    > a {
      background-color: #000 !important;
      color: #fff !important;
      text-decoration: none;
      border-color: #000 !important;
      span {
        @include rotate(180deg);
        margin-top: -5px;
      }
    }
    > ul {
      display: block;
      width: 100%;
    }
  }

}
