/**
 * Default form styles (labels, inputs, textareas, selects, legends, fieldsets)
 */


// form control variables
$border-width: 1px !global;
$border-width-inputs: 1px !global;
$input-padding: 0.75em 0.5em !global;

/* reset default styles */
form,
input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset,
.form-control {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: none;
  background-color: transparent;
  border: none;
  font-size: 14px;
}

/* form & label alignement */
.form-group > label,
.form-group > input,
.form-group > select,
.form-group > textarea {
  display: block;
  margin: 0.5em 0;
}

/* general form style */
form {

  .form-group {
    margin-top: 20px;
    margin-bottom: 20px;

  }

}

/* fieldsets and legends */
fieldset {
  padding: 0;
  margin-bottom: 3em;
  background-color: $white;
  &:last-child {
    margin-bottom: 1em;
  }
}

legend {
  margin-bottom: 1em;
  font-size: 16px;
  color: $coral-red;
}

/* labels */
label.control-label {
  margin: 0.25em 0;
  font-weight: normal;
  display: block;
}

/* Help blocks */
p.help-block{
  margin-top: 5px;
}

/* input styles */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
select,
datalist,
textarea,
input[list],
.form-control {
  width: 100%;
  border-width: $border-width;
  border-style: solid;
  border-color: $dark-grey;
  color: $black;
  vertical-align: middle;
  padding: 0 0.5em;
  height: 40px;
  line-height: 40px;
  background-color: $white;
  @include placeholder($dark-grey);

  &:hover, &:active, &:focus {
    border-color: $coral-red;
  }

  &::-webkit-input-placeholder {
    color:    $dark-grey;
  }

  &:-moz-placeholder {
    color:    $dark-grey;
    opacity:  1;
  }

  &::-moz-placeholder {
    color:    $dark-grey;
    opacity:  1;
  }

  &:-ms-input-placeholder {
    color:   $dark-grey;
  }

}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"] {
  border-width: $border-width-inputs;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  vertical-align: middle;
  &:hover {}
  &:active, &:focus {}
}

input[type="file"],
input[type="color"],
input[type="range"] {
  border: none;
  font-size: 0.75em;
  line-height: 1em;
  width: auto;
  &:hover {}
  &:active, &:focus {}
}

select,
datalist,
textarea,
input[list] {
  border-width: 1px 1px 1px 1px;
}

select {
  -webkit-appearance: none;
  outline: none;
  @include border-radius(0);
  border: 1px solid $dark-grey;
  margin: 0 auto;
  height: 40px;
  position: relative;
  background: $white url(../iconfont/chevron-down.svg) no-repeat 95% center;
  background-size: 0.65em;

  option {
    line-height: 40px;
  }

}

textarea {
  min-height: 100px;
}

/* disabled inputs and buttons */
input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  cursor: not-allowed;
  color: $dark-grey;
  background-color: $light-grey;
}

/* required or optional input labels */
label.required:after {
  content: ' *';
  color: $coral-red;
  font-weight: bold;
  font-size: 0.85em;
}

/* error inputs */
.error {
  input, .select2 {
    border-color: $coral-red;
    background-color: rgba($coral-red, 0.15);
  }
}

/* remove extra borders and padding for mobile viewing */
@media(max-width:768px) {
  form {
    padding: 0;
    fieldset, fieldset.form-wrapper{
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
    }
  }
}

/* select2 overrides */
.select2 {
  width: 100% !important;

  &.select2-container .select2-selection--single {
    @extend select;

    .select2-selection__arrow {
      height: 100%;
      top: 0;

      b {
        display: none;
      }

    }

    .select2-selection__rendered {
      line-height: inherit;
    }

  }

}

.select2-container--open .select2-dropdown--below {
  border-top: 1px solid #aaa;
  margin-top: -1px;
}
