// form control variables
$border-width: 1px !global;
$border-width-inputs: 1px !global;
$input-padding: 0.75em 0.5em !global;

/* reset default styles */
form,
input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset,
.form-control,
form .row {
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
  outline: none;
  font-size: $font-size-large;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: none;
  background: none;
  border: none;
  &:hover, &:active, &:focus, &:focus:active {
  }
}

/* form & label alignement */
.form-group > label,
.form-group > input,
.form-group > select,
.form-group > textarea {
  display: block;
  margin: 0.5em 0;
}

/* general form style */
form {
  .form-group {
    margin-bottom: 0.75em;
    padding: 0 1em;
    &:last-child {
      margin-bottom: 0.25em;
    }
  }
}

/* fieldsets and legends */
fieldset {
  margin-bottom: 3em;
  background-color: #FFF;
  &:last-child {
    margin-bottom: 1em;
  }
}

legend {
  letter-spacing: 1px;
  font-size: $font-size-large * 1.05;
}

/* labels */
label.control-label {
  margin: 0.25em 0;
  font-weight: normal;
  display: block;
}

/* Help blocks */
p.help-block{
  margin-top: 5px;
}

/* input styles */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
select,
datalist,
textarea,
input[list],
.form-control {
  width: 100%;
  padding: $input-padding;
  border-width: $border-width;
  border-style: solid;
  border-color: $dark-grey;
  color: #000;
  vertical-align: middle;

  @include placeholder(#000);

  &:hover, &:active, &:focus {
    border-color: $coral-red;
  }

  &::-webkit-input-placeholder {
    color:    $dark-grey;
  }

  &:-moz-placeholder {
    color:    $dark-grey;
    opacity:  1;
  }

  &::-moz-placeholder {
    color:    $dark-grey;
    opacity:  1;
  }

  &:-ms-input-placeholder {
    color:   $dark-grey;
  }

}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"] {
  border-width: $border-width-inputs;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  vertical-align: middle;
  &:hover {}
  &:active, &:focus {}
}

input[type="file"],
input[type="color"],
input[type="range"] {
  border: none;
  font-size: 0.75em;
  line-height: 1em;
  width: auto;
  &:hover {}
  &:active, &:focus {}
}

select,
datalist,
textarea,
input[list] {
  border-width: 1px 1px 1px 1px;
}

select {
  -webkit-appearance: none;
  outline: none;
  @include border-radius(0);
  border: 1px solid #000;
  margin: 0 auto;
  height: 40px;
  font-size: 14px;
  position: relative;
  background: #fff url(../iconfont/chevron-down.svg) no-repeat 95% center;

  option {
    height: auto;
    line-height: auto;
  }

}

textarea {
  min-height: 100px;
}

/* disabled inputs and buttons */
input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  cursor: not-allowed;
  color: $dark-grey;
  background-color: $light-grey;
}

/* required or optional input labels */
label.required:after {
  content: ' *';
  color: $coral-red;
  font-weight: bold;
  font-size: 0.85em;
}

/* error inputs */
.error {
  input, .select2 {
    border-color: $coral-red;
    background-color: rgba($coral-red, 0.15);
  }
}


/**
* Checkboxes and radios (forked from Bootstrap)
*/

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    min-height: $line-height-computed; // Ensure the input doesn't jump when there is no text
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
  }
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; // Move up sibling radios or checkboxes for tighter spacing
}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; // space out consecutive inline controls
}

// Apply same disabled cursor tweak as for inputs
// Some special care is needed because <label>s don't inherit their parent's `cursor`.
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"] {
  &[disabled],
  &.disabled,
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}
// These classes are used directly on <label>s
.radio-inline,
.checkbox-inline {
  &.disabled,
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}
// These classes are used on elements with <label> descendants
.radio,
.checkbox {
  &.disabled,
  fieldset[disabled] & {
    label {
      cursor: $cursor-disabled;
    }
  }
}

/* remove extra borders and padding for mobile viewing */
@media(max-width:768px) {
  form {
    padding: 0;
    fieldset, fieldset.form-wrapper{
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
    }
    .form-group {
      padding: 0.25em;
    }
  }
}

/* select2 overrides */
.select2 {
  width: 100% !important;
  &.select2-container .select2-selection--single {
    @extend select;
    .select2-selection__arrow {
      height: 100%;
      top: 0;
    }
  }
}

/* bootstrap overrides */
.input-group-addon {
  @include border-radius(0);
  border: 0;
  background: $coral-red;
  color: #FFF;
}
