/**
 * Default unordered <ul> and ordered <ol> lists
 * Default definition lists <dl>
 */

ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);
  margin-left: 15px;

  li {
    margin-bottom: ($line-height-computed / 2);
  }

  // nested
  ul,
  ol {
    margin-bottom: 0;
  }

  &.unstyled {
    @include list-unstyled;
  }

  &.inline {
    @include list-unstyled;

    > li {
      display: inline-block;
    }

  }

}

/**
* Definition List (DL)
*/

$dl-horizontal-offset: 40px;

dl {

  dd {
    @include clearfix; // Clear the floated `dt` if an empty `dd` is present
  }

  dt {
    float: left;
    clear: left;
    font-weight: normal;
  }

  /**
   * Horizontal definition lists
   * Defaults to being stacked without any of the below styles applied, until the
   * grid breakpoint is reached (default of ~768px).
   */
  &.horizontal {

    dd {
      @include clearfix; // Clear the floated `dt` if an empty `dd` is present
    }

    @media (min-width: $grid-float-breakpoint) {
      dt {
        float: left;
        width: ($dl-horizontal-offset - 20);
        clear: left;
        text-align: right;
        @include text-overflow;
      }

      dd {
        margin-left: $dl-horizontal-offset;
      }

    }

  }

}
