/**
 * Modals / pop-ups
 */

.modal {
  background: #FFF;
  border: 1px solid #000;
  padding: 0;

  .modal-header {
    color: #FFF;
    background: #000;
    padding: 0.5em 0.35em 0.35em 0.35em;
    margin: 0;
    text-align: center;
    line-height: 1;
    font-size: 1.5em;
    @include fw-sans-medium;
  }

  .modal-body {
    padding: 0.75em 1em;

    p:last-child {
      margin-bottom: 0;
    }

  }

}

/**
 * Social media sharing modal
 */

.share-modal {
  border: none;

	.panel {
		border: none;

    .panel-body {
      padding: 0;

      li {
        margin-top: 1px !important;

        .btn {
          padding: 1.5em 0.5em;
          text-align: left;

          span {
            display: inline-block;
            text-align: center;
            width: 30px;
            margin-right: 1em;
          }
        }
      }
    }

	}

}

/**
 * Article citation modal
 */

.cite-modal {

  .cite-export-title {
    @include fw-mono;
  }

  .cite-modal--style-list {

    dt {
      float: none;
      @include fw-sans-medium;
    }

    dd {
      margin-bottom: 1em;
      font-size: smaller;
    }

  }

}
