/**
* Override multiselect form fields
*/

.select2 {

  &.select2-container--default {

    .select2-selection {
      min-height: 40px;
      background-color: $white;
      padding: 0;
      font-size: 14px;
      @include border-radius(0);
    }

    .select2-selection--multiple {
      border-color: $dark-grey;

      .select2-selection__rendered {
        padding: 0 8px;

        .select2-selection__choice,
        .select2-search--inline {
          margin: 8px 5px 0 0;
          max-width: 100%;
          height: 20px;
          @include text-overflow;
          @include border-radius(0);
        }

        .select2-selection__choice {
          border-color: $mid-grey;
          background-color: $light-grey;
        }

        .select2-search__field {
          padding: 0;
          margin: 0;
          border: none;
          height: auto;
          width: 40px;
        }

      }

    }

    &.select2-container--focus {

      .select2-selection--multiple {
        border-color: $coral-red;
      }

    }

  }

}
