/**
 * main navigation submenus
 */

.nav-submenu {
  display: none;
  position: absolute;
  min-width: 100%;
  width: auto;
  left: 0;
  list-style: none;
  margin: 0;
  text-align: left;
  background-color: $white;
  border: 1px solid $mid-grey;
  z-index: $zindex-dropdown;
}

.nav-submenu__item {
  display: block;
  margin: 0;
  border-bottom: 1px solid $mid-grey;

  a {
    display: block;
    width: 100%;
    padding: 0.5em 0.75em 0.5em 0.5em;
    font-size: 14px;

    &:hover, &:focus, &:active, &:active:focus {
      background: $coral-red;
      color: $white;
      text-decoration: none;
    }
  }
}

// Hamburger menu / menu on mobile content
@media (max-width: $screen-sm-max) {
  #main-nav {

    .navbar-nav {
      background: $coral-red;
      position: relative;
      top: auto;
      right: auto;
      transform: none;
      margin-bottom: 0;

      > li {
        margin: 0;
        display: block;

        &.dropdown {

          > ul {
            display: block;
            position: static;
            border: none;
            background: none;

            li {
              border: none;
            }

          }

        }

      }

    }

    .nav-publications li,
    .nav-about,
    .nav-login,
    .nav-account,
    .nav-advanced-search,
    .nav-my-library,
    .nav-language li {
      text-align: right;

      > .nav-menu__link {
        color: $white;
        font-size: 18px;
        margin: 0;
        padding: 15px 10px;
        line-height: 20px;
        border-bottom: 1px solid $white;

        &:hover, &:active, &:focus {
          color: $white;
          text-decoration: none;
          @include fw-sans-bold;
        }

      }

    }

    .nav-language {
      border-bottom: 1px solid $white;

      ul {
        text-align: right;

        li {
          display: inline-block;

          a {
            color: $white;
            border: none;

            &.active {
              display: none;
            }

          }

        }

      }

    }

    .search-form {
      opacity: 1;
      pointer-events: all;
      position: relative;
      background: none;
      display: inline;

      form {

        .form-group {
          padding-right: 0;
          margin: 0;
        }

        .input-group-btn {
          text-align: center;
        }

        .form-control {
          height: 40px;
          border-color: $white;
          color: $white;
          width: 80%;
        }

        .btn {
          background: transparent;
          border-color: $white;
          color: $white;
          width: 20%;
          padding: 0;

          &:hover, &:active, &:focus {
            background: $white;

            .ion-ios-search-strong {
              color: $coral-red;
            }

          }

        }

      }

    }

  }

}
