/**
 * main navigation search trigger buttons (magnifying glass / x)
 */

.nav-search-triggers {
  font-size: 30px;
}

.nav-search-triggers__icon {
  display: block;

  &:before {
    margin: 10px;
    font-size: 30px;
  }
}

.nav-search-triggers__close {
  display: none;
  cursor: pointer;
  color: #fff;
}
