/**
 * Page headers (containing page title in <h1> and introductory paragraph)
 */

.page-header-main {

  h1 {
    margin-bottom: 0.5em;

    > span {
      display: block;
    }

  }

}

.page-intro {
  margin-bottom: 2em;

  a {
    color: $coral-red;
  }

}
