#main-nav{
  .select{
    .select2{
      height: 40px;

      .select2-selection{
        padding: 6px;
        height: 40px;
        border-color: $darker-grey;
        border-radius: 0;
        background: $darker-grey;

        .select2-selection__rendered{
          color: $light-grey;
        }
      }
    }
  }
}
