/**
 * Panels
 * Forked from Bootstrap
 */

.panel {
  padding: 0;
  margin-bottom: $line-height-computed;
  background-color: $white;
  border: 1px solid $black;

  // Optional heading
  .panel-heading {
    padding: $padding-base-vertical * 2 $padding-base-horizontal;
    border-bottom: 1px solid transparent;
    background-color: $black;
    color: $white;

    h1 {
      margin: 0;
    }

  }

  // Panel contents
  .panel-body {
    padding: 1em;
    @include clearfix;
  }

  // Within heading, strip any `h*` tag of its default margins for spacing.
  .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;

    > a,
    > small,
    > .small,
    > small > a,
    > .small > a {
      color: inherit;
    }
  }

  // Optional footer (stays gray in every modifier class)
  .panel-footer {
    padding: 1em;
    background-color: $white;
    border-top: 1px solid $mid-grey;
  }

}
