/**
* sidebar block
*/

.sidebar-block {
  margin-bottom: $margin-vertical-default;
  > header {
    margin-bottom: $margin-vertical-default/2;
  }
}

/**
* Collapse accordion
*/

.collapse-group {

  a[data-toggle="collapse"] {

    &:hover, &:active {
      color: $coral-red;
      text-decoration: none;
    }

    &:focus {
      color: inherit;
      text-decoration: none;
    }

    i.collapse-chevron {
      font-size: 18px;
      position: relative;
      top: 6px;
    }

  }

  .panel-collapse {
    overflow: hidden;
  }

  .collapsing {
    @include transition(all 500ms);
  }

  .collapse {
    overflow: hidden;
    height: 0;
    &.in {
      height: auto;
      overflow: visible;
    }
  }
}

/**
* Panel defaults from Bootstrap
*/

.panel {
  margin-bottom: $line-height-computed;
  background-color: $panel-bg;
  border: 1px solid #000;

  // Optional heading
  .panel-heading {
    padding: $padding-base-vertical * 2 $padding-base-horizontal;
    border-bottom: 1px solid transparent;
    background-color: #000;
    color: #fff;
  }

  // Panel contents
  .panel-body {
    padding: $panel-body-padding;
    @include clearfix;
  }

  // Within heading, strip any `h*` tag of its default margins for spacing.
  .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;

    > a,
    > small,
    > .small,
    > small > a,
    > .small > a {
      color: inherit;
    }
  }

  // Optional footer (stays gray in every modifier class)
  .panel-footer {
    padding: $panel-footer-padding;
    background-color: $panel-footer-bg;
    border-top: 1px solid $panel-inner-border;
    @include border-bottom-radius(($panel-border-radius - 1));
  }

}


/**
* default panels
* deprecated
*/
.panel-group--deprecated {
  margin: 20px;

  .panel {
    box-shadow: none;
    @include border-radius(0);
  }

  .panel-heading {
    @include border-radius(0);
    a {
      &:hover, &:active, &:focus, &:active:focus {
      }
    }
    .collapsed .accordion-toggle:before {
      content: "\f078"
    }
    .accordion-toggle:before {
      content: "\f077"
    }
    & + .panel-collapse > .panel-body {
      border: 0;
    }
  }
  .panel-title {
    font-size: 1.15em;
    text-transform: uppercase;
  }
}
