/**
 * Related articles in footer
 */

#article_detail .related-articles {

  h2 {
    border-top: 1px solid #000;
    padding-top: 0.5em;
  }

  ul {
    margin-top: 1em;
  }

  .related-article {
    list-style: none;

    a {
      display: block;
      color: #000;
      padding: 0.75em 0.25em;
      border-top: 1px solid $mid-grey;

      &:hover, &:focus, &:active {
        background-color: $coral-red;
        border-color: $coral-red;
        text-decoration: none;

        p {
          color: #FFF;
        }

      }

    }

    .related-article-title {
      font-size: 1.25em;
      margin-bottom: 1em;
    }

    .related-article-authors {
      color: $dark-grey;
    }

  }

}
