/**
 * Default table styles
 */

table {
  width: 100%;
  margin: 1em 0;
  counter-reset: row-number;

  th, td {
    padding: 1em 0.5em;
  }

  thead, tbody {
    th {
      white-space: nowrap;
      color: $dark-grey;
      text-align: left;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $mid-grey;
      counter-increment: row-number;
      &:last-child {
        border: 0;
      }
    }

    td {
      vertical-align: top;

      &.table-ordered_row:before {
        content: counter(row-number);
        color: $dark-grey;
      }

      &.table-date {
        white-space: nowrap;
      }

    }

    th.multicol {
      padding: 1em 0;
      font-weight: 400;
      color: $black;
    }

  }

}
