/**
 * Navigation between documents within a TOC
 * Left / right arrows and titles to see previous / next docs
 * Used in article and chapter details
 */

.toc-nav {
  margin-top: 2em;
  margin-bottom: 3em;
  font-size: smaller;
  @include font-styles('sans-italic');
}

.toc-nav__prev {
  display: block;
  color: $dark-grey;
}

.toc-nav__next {
  display: block;
  text-align: right;
  color: $dark-grey;
}

.toc-nav__title {
  font-size: 1em;
  line-height: 1.35;
}
