/**
 * Lists as tabs
 */

.tabs {
  display: block;
  border-bottom: 1px solid $mid-grey;
  margin: 50px 0;
  padding: 0;
}

.tabs__item {
  display: inline-block;
  margin: 0 $grid-gutter-width/4 0 0;
  padding: 0;
  a {
    @include transition(all 250ms);
    padding: $padding-base-vertical $padding-base-horizontal;
    display: block;
    background: $light-grey;
    &:hover {
      background-color: $coral-red;
      border-color: $coral-red;
      color: $white;
      text-decoration: none;
    }
  }
}

.tabs__item_active {
  a {
    background-color: $coral-red;
    color: $white;
    border-color: $coral-red;
  }
}

/**
 * Same styling as `tabs`, but for content that's displayed on a single page
 * Imported from Bootstrap styles
 */

 // Base class
 // --------------------------------------------------

 .nav-tabs {
   margin: 50px 0;
   list-style: none;
   border-bottom: 1px solid $mid-grey;

   > li {
     margin: 5px 5px 0 0;
     display: inline-block;

     > a {
       @include transition(all 250ms);
       padding: $padding-base-vertical $padding-base-horizontal;
       background: $light-grey;
       display: block;
       font-size: 14px;

       &:hover {
         background-color: $coral-red;
         color: $white;
         text-decoration: none;
       }

     }

     &.active > a {
       &,
       &:hover,
       &:focus {
         color: $white;
         background-color: $coral-red;
         cursor: default;
       }
     }
   }
 }

 // Tabbable tabs
 // -------------------------

 // Hide tabbable panes to start, show them when `.active`
 .tab-content {
   > .tab-pane {
     display: none;
   }
   > .active {
     display: block;
   }
 }
