/**
 * Tabs
 */

.tabs-group {
  border-bottom: 1px solid $mid-grey;
  padding-left: $grid-gutter-width/2;

  .tab {
    display: inline-block;
    margin: 0 $grid-gutter-width/4 0 0;
    padding: 0;
    a {
      @include transition(all 250ms);
      padding: $padding-base-vertical $padding-base-horizontal;
      display: block;
      background: $light-grey;
      border-width: 1px 1px 0 1px;
      border-color: $mid-grey;
      border-style: solid;
      &:hover {
        background-color: $coral-red;
        border-color: $coral-red;
        color: #fff;
        text-decoration: none;
      }
    }


    &.active {
      a {
        background-color: $coral-red;
        color: #fff;
        border-color: $coral-red;
      }
    }

  }

}
