/**
 * On hover help text / tooltips
 */


[class*="hint--"]:after {
  width: 200px;
  background: $darker-grey;
  white-space: normal;
  font-variant: normal;
  text-align: left;
  line-height: 1.35;
  font-size: 12px;
  @include font-styles('sans');
  @include force-break;
}

.ion-alert {
  font-size: 14px;
  vertical-align: super;
  color: #FFF;
  background-color: $darker-grey;
  display: inline-block;
  width: 22px;
  height: 22px;
  text-align: center;
  vertical-align: top;
  padding: 4px;
  @include border-radius(11px);
  @include fw-sans;
  font-size: 12px;
}
