/**
 * On hover help text / tooltips
 */


[class*="hint--"]:after {
  width: 200px;
  background: $darker-grey;
  white-space: normal;
  font-variant: normal;
  text-align: left;
  line-height: 1.35;
  font-size: 12px;
  @include font-styles('sans');
  -ms-word-break: normal;
  word-break: normal;
  word-break: normal;
}

[data-hint] {
  letter-spacing: normal;
}
