/**
 * Article / bibliographic record toolbox
 */

.toolbox-wrapper {
  z-index: 10;
}

@mixin toolbox-compact {
  width: 30px;

  li {
    height: 30px;

    .tool-btn {
      min-width: 30px;
      font-size: 0.65em;
      color: $white;
      background-color: $black;

      &:hover, &:focus, &:active:focus, &.saved {
        background: $coral-red;
      }

      .tools-label {
        padding: 0 10px 0 30px;
        line-height: 30px;
      }

    }

    .toolbox-top {
      font-size: 16px;
      left: 10px;
    }

    .toolbox-remove {
      font-size: 20px;
      left: 11px;
      top: 14px;
    }

    .toolbox-save {
      font-size: 16px;
      left: 10px;
      top: 15px;
    }

    .toolbox-cite,
    .toolbox-share {
      font-size: 16px;
      left: 10px;
      top: 15px;
    }

    .toolbox-pdf {
      left: 6px;
      font-size: 9px;
    }

    .toolbox-html {
      left: 3px;
      font-size: 9px;
    }

  }

}

@mixin toolbox-horizontal {
  margin: 0 0 0 15px;
  padding: 0;
  width: auto;

  li {
    display: inline-block;
    width: 30px;
    height: 30px;
    outline: 1px solid $white;
  }

}

.toolbox {
  position: relative;
  margin-right: $grid-gutter-width / 2;
  width: 50px;
  z-index: 10;
  will-change: transform;
  @include transition(transform 0.3s ease-out);

  ul, li {
    width: 100%;
  }

  li {
    position: relative;
    height: 50px;
    margin: 0 0 1px 0 !important;
    padding: 0;
    display: block;

    .tool-btn {
      position: relative;
      display: block;
      margin: 0;
      min-width: 50px;
      height: 100%;
      background: $coral-red;
      border: none;
      color: $white;
      font-size: 0.8em;
      white-space: nowrap;
      float: right;
      cursor: pointer;

      [class*=toolbox-] {
        position: absolute;
        left: 18px;
        top: 50%;
        font-size: 25px;
        @include translate(0,-35%);
      }

      .toolbox-pdf,
      .toolbox-html {
        left: 13px;
        font-size: 14px;
        @include fw-sans-bold;
      }

      .tools-label {
        display: none;
        padding: 0 15px 0 55px;
        line-height: 50px;
        position: relative;
      }

      &:hover, &:active, &:active:focus {
        background-color: $black;

        .tools-label {
          display: block;
        }
      }

      &[id^=tool-citation-remove] {
        background-color: $black;
      }

    }

  }

  /**
  * compact mode
  */

  &.toolbox-compact {
    @include toolbox-compact;
  }

  &.toolbox-horizontal {
    @include toolbox-horizontal;
  }

}


// Mobile toolbox in article page

@media (max-width: $screen-sm-max) {

  #article_detail {

    .toolbox-wrapper {
      text-align: right;
      padding-right: 11px;

      &.is_stuck {
        margin-top: -20px;
      }

    }

    .toolbox {
      @include toolbox-compact;
      @include toolbox-horizontal;

      li .tools-label {
        display: none;
      }

    }

  }

}
