/**
* page specific variables
*/

$article-toolbar-width: 80px;


/**
* page specific mixins
*/

@mixin paragraph-text-style($font-size: 18px, $font-style-family: 'serif') {
  font-family: $font-family-serif-regular;
  font-size: $font-size;
  line-height: 1.5em;
  @include font-styles($font-style-family);
}


/**
* Styles for article detail
*/

#article-detail {

  /**
  * default for html elements
  */

  a {
    color: $coral-red;
  }


  /**
  * Utils class
  */

  // add a vertical line before each hgroup
  .border-top {
    @include grid-cell-border();
  }

  /**
  * main article header
  */
  .article-header {
    position: relative;

    h1 {
      margin-bottom: 0.25em;
      font-size: 1.75em;
      line-height: 1.15;
      > span + span {
        margin-top: 0.35em;
      }
    }

    h2 {
      margin: 1em 0 0 0;
      font-size: 1.35em;
    }

    dl, p {
      margin-top: $margin-vertical-default/2.75;
      margin-bottom: $margin-vertical-default/2.75;
      font-size: small;
      line-height: 1.5;
    }

    hgroup {
      padding-top: $margin-vertical-default/1.5;
      padding-bottom: $margin-vertical-default/1.5;

      .grauteur {
        list-style: none;
        margin: 0;
      }

      .auteur {
        margin-bottom: $margin-vertical-default/2.75;

        p {
          margin: 0;
          color: $dark-grey;
        }

        .nompers,
        .nomorg {
          color: #000;
        }

      }

      .traducteur {
        @extend em;
      }

      &.child-column-fit {
        padding-top: 0;
      }

    }

    .title-tag {
      margin-top: 0;
    }

    .surtitre,
    .surtitreparal {
      color: $dark-grey;

      &::after {
        content: ' / ';
      }

      &:last-of-type {

        &::after {
          content: none;
        }

      }

    }

    .titre:first-child,
    .trefbiblio:only-child,
    .titreparal {
      @include fw-sans-bold();

      em {
        @include fw-sans-bold-italic();
      }

    }

    .sstitre,
    .sstitreparal,
    .trefbiblio {
      @include fw-sans-normal();
      font-size: smaller;

      em {
        @include fw-sans-normal-italic();
      }

    }

    .titreparal {
      color: $dark-grey;

    }

    .sstitre {
      margin: 0.35em 0;
    }

    .issue-cover {
      img {
        float: right;
      }
    }

    .meta-article {
      .clipboard-data {
        position: relative;

        @keyframes clipboardResponse {
          0% {
            opacity: 0;
          }

          15% {
            opacity: 1;
          }

          85% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }

        .clipboard-msg {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          background-color: rgba(255,255,255,0.85);
          color: $black;
          opacity: 0;
          animation-duration: 3s;
          animation-fill-mode: both;
        }

        &.success {
          .clipboard-success {
            animation-name: clipboardResponse;
          }
        }

        &.error {
          .clipboard-error {
            animation-name: clipboardResponse;
          }
        }

        &:hover, &:active, &:focus, &:focus:active {
          text-decoration: none;
        }

      }
    }

    .meta-journal {

      .meta-journal--title {
        display: block;
        margin-top: 5px;
      }

      .theme {
        display: block;
        @include fw-sans-bold();
      }

      .pagination {
        margin: 0;
        display: inline;
      }

    }

    .pagination-arrow {
      position: absolute;
      top: 50%;
      font-size: 40px;
      color: $dark-grey;
      transform: translate(0, -50%);
      @include border-radius(50%);
      width: 50px;
      height: 50px;
      line-height: 58px;
      text-align: center;

      &.next-page {
        left: 100%;
        margin-left: $grid-gutter-width/2;
        padding-left: 4px;
      }
      &.previous-page {
        right: 100%;
        padding-right: 4px;
        margin-right: $grid-gutter-width/2;
      }

      &:hover, &:active, &:active:focus {
        color: $white;
        background-color: $brand-primary;
      }
    }

    .notegen,
    .histpapier,
    .erratum {
      font-size: small;
    }

    .histpapier {
      font-style: italic;
    }

  }

  /**
  * main article sticky header
  */
  header.article-header-sticky {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 10;
    will-change: transform;
    @include translate(-50%, -100%);
    @include transition(transform 0.3s ease-out);

    .border-bottom {
      max-height: 100px;
      overflow: hidden;
      border-bottom: 1px solid $gray-base;
      background: $body-bg;
    }

    h1#brand {

      a {
        display: block;
        width: 100%;
        padding: 30% 25% 0 25%;

        img {
          width: 100%;
        }
      }
    }

    h2 {
      margin: 0;
      font-size: 26px;
      line-height: 1.2em;
      max-height: 64px;
      overflow: hidden;
      text-overflow: ellipsis;
      @include fw-sans-bold();
    }

    dl {
      margin-top: $margin-vertical-default/2;
      margin-bottom: $margin-vertical-default/2;
    }

    hgroup {
      padding-top: $margin-vertical-default/3;
      padding-bottom: $margin-vertical-default/3;

      h3 {
        margin-bottom: 0;
      }

      h4 {
        margin-bottom: 5px;
      }

      .affiliation {
        margin-top: $margin-vertical-default/6;
        margin-bottom: 0;
      }

      p {
        margin: 0;
      }

    }

    .meta-journal {
      .meta-journal--title {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        color: $black;
      }
      .meta-journal--title,
      .meta-journal--theme,
      .volumaison {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-height: 20px;
      }
    }

  }

  /**
  * article table of contents
  */
  .article-table-of-contents {
    padding-top: $margin-vertical-default;
    position: relative;
    will-change: transform;
    @include transition(transform 0.3s ease-out);

    h4 {
      margin-bottom: 1em;
    }

    li {
      padding: 1em 0;

      &.border-top:before {
        left: 0;
      }

      a {
        color: $text-color;
        text-decoration: none;

        &.active, &:hover, &:active {
          color: $coral-red;
        }
      }

      // second level ol
      ol {
        li {
          padding: 0.25em 0;
        }
      }

      a.is-inview,
      &.is-inview a.is-insubview {
        color: $coral-red;
      }

    }

  }

  /**
  * Article body
  */
  .article-body {
    padding-top: $margin-vertical-default;
    // padding-right: $article-toolbar-width * 2;

    // first level headings
    h4 {
      margin-bottom: $margin-vertical-default/2;
      @include fw-sans-medium();
    }

    h4.sub-section-title {
      margin-top: $margin-vertical-default;
    }

    // P
    p {
      @include paragraph-text-style();
    }

    blockquote, cite {
      border-left: 1px solid $gray-lighter;
      margin-top: $margin-vertical-default;
      margin-bottom: $margin-vertical-default;
      padding-left: $grid-gutter-width * 2;
      padding-right: $grid-gutter-width * 2;

      h1, h2, h3, h4, h5, p {
        @include fw-serif-normal-italic();
      }

      .source {
        @include fw-serif-bold();
        font-size: 14px;
        em, i {
          @include fw-serif-bold-italic();
        }
      }
    }

  }

  /**
  * article body sections defaults
  */
  .article-section {
    margin-bottom: $margin-vertical-default*2;
  }

  /**
  * each abstract
  */
  .resume {
    margin-bottom: $margin-vertical-default*2;

    // default font style
    @include fw-serif-normal();
    font-size: 18px;
    line-height: 1.5em;
  }

  /**
  * Paragraph number
  */
  .nopara {
    display: inline-block;
    position: relative;
    left: -40px;
    bottom: -30px;
    width: 25px;
    text-align: right;
    @include fw-serif-bold();
    font-size: 18px;
  }

  /**
  * keywords
  */
  .motscles {
    margin-top: $margin-vertical-default/2;
    ul {
      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }
  }


  /**
  * Footer elements (grannexe | merci | grnotebio | grnote | grbiblio)
  */

  .article-notes {

    p {
      @include paragraph-text-style(14px);
    }

    article {
      position: relative;
      margin-bottom: $margin-vertical-default/2;
      @include paragraph-text-style(14px);

      a.no {
        position: absolute;
        left: -35px;
        text-align: right;
        width: 25px;
      }

    }

  }


  /**
  * Related articles
  */

  .related-articles {
    padding-top: $margin-vertical-default;
    padding-bottom: $margin-vertical-default;
    margin-bottom: $margin-vertical-default;
    @include grid-cell-border($direction: 'top', $border-width: 2px, $border-color: $gray-light);

    > header {
      h2 {
        margin-bottom: $margin-vertical-default*2;
      }
    }

    .related-article {
      padding: 0;

      a {
        display: block;
        width: 100%;
        color: $text-color;
        padding: $margin-vertical-default/2 $grid-gutter-width/2;
        @include grid-cell-border($direction: 'top', $border-width: 1px, $border-color: $gray-light);

        h4 {
          margin-bottom: $margin-vertical-default/2;
        }

        h5 {
          color: $gray-light;
          font-size: 18px;
        }

        &:hover {
          background-color: $brand-primary;
          text-decoration: none;
          @include grid-cell-border($direction: 'top', $border-width: 1px, $border-color: $brand-primary);

          &, h5 {
            color: $white;
          }
        }
      }

    }

  }

  /**
  * Typemarq
  */

  .majuscule {
    text-transform: uppercase;
  }

  .petitecap {
    font-variant: small-caps;
  }

  .italique, em {
    @include fw-serif-normal-italic;
    .gras, strong {
      @include fw-serif-bold-italic;
    }
  }

  .gras, strong {
    @include fw-serif-bold;
    .italique, em {
      @include fw-serif-bold-italic;
    }
  }

}
