/**
* hide Breadcrumb on homepage
*/
body.home {
  nav#breadcrumb {
    display: none;
  }
}

/**
* Home main container
*/

#homepage-content {

  // Custom underline style for homepage links
  a {
    &:hover, &:focus, &:active {
      color: #000;
      text-decoration: none;
      background-image: linear-gradient(to top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 2px,
        #000 2px,
        #000 3px,
        rgba(0, 0, 0, 0) 3px);
    }
  }
  p a {
    background-image: linear-gradient(to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 2px,
      $dark-grey 2px,
      $dark-grey 3px,
      rgba(0, 0, 0, 0) 3px);
  }
  .glory {
    a {
      color: $coral-red;
      &:hover, &:focus, &:active {
        color: $coral-red;
        text-decoration: none;
        background-image: linear-gradient(to top,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0) 2px,
          $coral-red 2px,
          $coral-red 3px,
          rgba(0, 0, 0, 0) 3px);
      }
    }
  }

  .glory {
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: $light-grey;

    .glory--header {
      margin-bottom: 30px;

      .glory--header--title {
        @include fw-sans-bold();
      }
    }

    .glory--search,
    .glory--publication-types,
    .glory--disciplines {
      @include grid-cell-border('top', 1px, $mid-grey);
      padding-top: 25px;
      margin-bottom: 25px;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
      }
      h3, .h3 {
        margin: 0 0 20px 0;
        line-height: 1;
        font-size: 25px;
      }
    }

    .glory--search {
      margin-top: 0;
      .form-group {
        padding-left: 0;
        padding-right: 0;
      }
      label {
        margin: 0;
      }
      input[type="search"] {
        border-width: $border-width;
        border-right: none;
        height: 50px;
        line-height: 50px;
        box-sizing: border-box;
        font-size: 16px;
        background-color: $white;
        @include border-radius(0);
        @include placeholder($dark-grey);
      }
      .input-group-addon {
        padding: 0;
        border: none;
        @include border-radius(0);
      }
      .btn {
        font-size: 1.5em;
        width: 50px;
        height: 50px;
        line-height: 54px;
        padding: 0;
        margin: 0;
        border: none;
        background-color: $coral-red;
        color: #FFF;
      }
    }
    .glory--publication-types {
      ol {
        counter-reset: a 0;
        list-style: none;
        margin: 0;
        padding: 0;
        .glory--publication-types--item {
          counter-increment: a 1;
          margin: 0 0 20px 0;
          line-height: 1;
          &:last-child {
            margin-bottom: 0;
          }
          &.disabled {
            color: $mid-grey;
          }
          &:before {
            content: counter(a, decimal-leading-zero) '. ';
            left: 0;
            color: $coral-red;
            font-size: 1.75em;
          }
          h3 {
            display: inline;
          }
          a {
            color: #000;
          }
        }
      }
    }
    .glory--disciplines {
      margin-bottom: 0;
      p {
        font-size: 18px;
        line-height: 29px;
      }

      a {
        font-size: 15px;

        &:before {
          content: '+ ';
        }
      }
    }
  }

  .section-separator {
    border-color: #000;
    margin-top: 50px;
  }

  .latest-issues {
    list-style: none;
    margin: 0;

    .latest-issues--article {
      margin-top: 20px;
      margin-bottom: 40px;
      padding-top: 36px;
      height: 300px;
      @include grid-cell-border('top', 1px, $mid-grey);

      img {
        width: 100%;
        margin-bottom: 10px;
      }
      .latest-issues--article--cover {
        height: 140px;
        width: auto;
      }
      .latest-issues--article--journal-title {
        font-size: 18px;
        @include fw-sans-medium();
      }
      .latest-issues--article--theme,
      .latest-issues--article--volume {
        font-size: 16px;
        display: block;
        line-height: 1.25;
      }
      .latest-issues--article--theme {
        margin-bottom: 0.5em;
      }
      .latest-issues--article--volume {
        text-transform: capitalize;
      }
    }
  }

  .news {
    .news--article {
      margin-top: 20px;
      margin-bottom: x60px;
      padding-top: 18px;
      @include grid-cell-border('top', 1px, #cccccc);

      &:nth-child(3n+1) {
        clear: both;
      }

      .news--article--title {
        margin: 0 0 30px 0;
        font-size: 28px;
      }

      .news--article--date {
        font-size: small;
      }
    }
    .news--btn {
      font-size: 16px;
      display: block;
      margin-top: 25px;

      @media (min-width: $screen-sm-min) {
        display: inline-block;
        padding-left: 3em;
        padding-right: 3em;
      }
    }
  }

  .about-erudit {
    padding-top: 30px;
    padding-bottom: 50px;

    .about-erudit--logo {
      font-size: 60px;
      line-height: 50px;
      margin: 0 0 50px 0;
      @include fw-sans-bold();
    }
    .about-erudit--definition {
      font-size: 18px;
      margin: 0 0 25px 0;
    }
    .about-erudit--video-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: percentage(9/16);

      .video-js {
        width: 100% !important;
        height: auto !important;

        .vjs-big-play-button {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    .about-erudit--article {
      margin-top: 35px;
      padding-top: 20px;
      @include grid-cell-border('top', 1px, #cccccc);
    }
    .about-erudit--article--title {
      @include fw-sans-bold;
      font-size: 1.5em;
      color: $coral-red;
    }
  }

}
