#issue_detail {

  /**
  * Page header overrides
  */
  .page-header-main {

    h2 {
      @include fw-sans-normal();
    }

  }

  h3 {
    margin-top: 20px;
    font-size: 1.75em;
    text-transform: none;
  }

  h4 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.55em;
    @include fw-sans-medium;
    text-transform: none;
  }

  h5 {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 1.15em;
    @include fw-sans-medium;
  }

  /**
  * List of articles
  */
  .issue_detail--articles {

    &.section-2{
      margin-left: 30px;
    }

    &.section-3{
      margin-left: 60px;
    }

    .issue_detail--article-item {
      padding: 1.5em 0;
      border-bottom: 1px solid $mid-grey;

      &:last-child {
        border-bottom: none;
      }

      h6 {
        margin-bottom: 0.5em;
        font-size: 1.25em;
        @include fw-sans-medium;
      }

      .issue_detail--article-item--author {
        font-size: smaller;
        margin-bottom: 1.75em;
      }

      .btn-primary-outlined {
        font-size: smaller;
        padding: 0.5em 0.25em;
        line-height: 1;

      }

    }

  }

}
