#issue-detail {

  /**
  * Page header overrides
  */
  .page-header-main {

    h2 {
      @include fw-sans-normal();
    }

  }

  /**
  * List of articles
  */
  .issue-detail--articles {

    .issue-detail--article-item {
      padding: 1.5em 0;
      border-bottom: 1px solid $mid-grey;

      &:last-child {
        border-bottom: none;
      }

      h3 {
        margin-bottom: 0.5em;
        font-size: 1.25em;
        @include fw-sans-medium;
      }

      .issue-detail--article-item--author {
        font-size: smaller;
        margin-bottom: 1.75em;
      }

      .btn-primary-outlined {
        font-size: smaller;
        padding: 0.5em 0.25em;
        line-height: 1;

      }

    }

  }

}
