/**
* Back issues section
*/

.back-issues {
  margin-top: $margin-vertical-default * 2;
  background-color: $gray-lighter;
  padding: $margin-vertical-default 0;

  .back-issues--header {
    padding: 60px 0 $margin-vertical-default 0;
  }

}


/**
* Issue list thumbnails
*/

.year-list {
  list-style: none;
  margin: 0;
  @include column-count(4);
  .year-list--item {
    margin-bottom: 0;
    padding: 0 0.5em 2.5em 0;
    line-height: 1.15;
    border-right: 1px solid $mid-grey;
    @include column-break-inside(avoid);
    h4 {
      margin-bottom: 0.25em;
      padding-bottom: 0.25em;
    }
  }
}

.issue-list {
  list-style: none;
  margin: 0;
  .issue-list--item {
    margin: 0;
    a {
      font-size: smaller;
      padding: 0.35em 0;
      display: block;
      @include transition(padding 0.15s ease-in);
      &:hover, &:focus, &:active {
        color: $coral-red;
        text-decoration: none;
      }
    }
  }
  .issue-list--theme {
    @include fw-sans-bold;
    display: block;
    margin: 0.25em 0;
  }
}


// issue item variation with border on top
.issue-list-item--default {
  @include grid-cell-border($direction: 'top');
}

// issue item variation with border on top, figure cover is first
.issue-list-item--inverted {
  img {
    padding-top: 0;
    height: 200px;
  }
  header {
    border-top: 1px solid #000;
    padding-top: $margin-vertical-default/2;
    margin-top: $margin-vertical-default/2;
  }
}
