/**
* Issue list thumbnails
*/


// issue item variation with border on top
.issue-list-item--default {
  @include grid-cell-border($direction: 'top');
}

// issue item variation with border on top, figure cover is first
.issue-list-item--inverted {
  img {
    padding-top: 0;
    height: 200px;
  }
  header {
    border-top: 1px solid #000;
    padding-top: $margin-vertical-default/2;
    margin-top: $margin-vertical-default/2;
  }
}
