/**
* Generic elements for journals pages
*/

/**
* journal meta infos on sidebars
*/
.journal-meta {

  h2 {
    border-bottom: 1px solid $mid-grey;
    padding-bottom: 0.35em;
    font-size: 1.35em;
  }

  h3 {
    border-bottom: 1px solid $mid-grey;
    font-size: 1.15em;
    padding-bottom: 0.15em;
  }

  p {
    font-size: 0.85em;
  }

  .journal_logo {
    margin: 1em auto;
  }

  .journal-meta--list {
    border-bottom: 1px solid $mid-grey;

    dt, dd {
      display: block;
      float: none;
      width: auto;
    }

    dt {
      font-size: small;
      margin-top: 1.25em;
    }

    dd {
      margin-bottom: 1.25em;
    }

  }

}
