/**
* Journal about page
*/

#journal-detail {

  .latest-issue {
    p {
      margin: 1em 0;
    }
  }

  .journal-infos {

    .journal-info-block {
      border-top: 1px solid #000;
      padding-top: 25px;
      padding-bottom: $margin-vertical-default;

      h3 {
        margin: 0 0 15px 0;
        .icon {
          color: $gray-mid;
        }
      }

    }

  }

}
