#journal_list_per_names {

  #id_journal_list_body {
    margin-top: 30px;

    aside {

      form {

        h2 {
          border-color: $dark-grey;
        }

        h3 {
          padding: 0 0 0.15em 0;
        }

        .form-group {
          margin: 0 0 2em 0;
          padding: 0;
        }

        .form-action {
          margin-top: 20px;
        }

        .checkbox {
          margin: 0.25em 0 0.5em 0;
        }

        .erudicon-open-access {
          color: $coral-red;
          font-size: 1.15em;
          vertical-align: sub;
        }

      }

    }

    // sticky filters and navigation elements
    .list-nav {
      z-index: 10;

      .filters,
      .list-header {
        background: #FFF;
        padding-top: 15px;
      }

      .alpha-nav {
        margin: 0;
        list-style: none;
        border-bottom: 1px solid $mid-grey;

        li {
          display: inline-block;
          margin: 0;

          a {
            padding: 0.5em;
            display: inline-block;
            font-size: 14px;
            @include fw-mono;
          }

          &:hover, &:focus, &:active, &:active:focus, &.active {

            a {
              background: $coral-red;
              text-decoration: none;
              color: #FFF;
            }

          }

        }

      }

      .list-headings {
        margin: 0;
        list-style: none;
        border-bottom: 1px solid $dark-grey;

        li {
          margin: 0;
          padding: 0.65em 0;
          @include fw-sans-medium;
        }

      }

    }

    ul.journal-items{
      margin: 0;
      list-style: none;

      &:last-child{
        li:last-child{
          border: none;
        }
      }

      li{
        padding: 25px 0;
        border-bottom: 1px solid lighten($gray-light, 20%);

        a.journal-name{
          padding: 10px 0;
          font-size: 18px;
        }
      }
    }
  }
}
