#journal_authors_list {

  .authors-wrapper {
    margin-bottom: 3em;

    .btn-group {
      margin: 1em 0;

    }

  }

  .authors,
  .author-articles {
    list-style: none;
    margin: 0;
  }

  .author-group {
    margin-bottom: 1.75em;
    font-size: 14px;
  }

  .author-name {
    margin-bottom: 0.15em;
    @include fw-sans-medium;
  }

}
