#journal_list_per_names {

	#id_journal_list_body{
		margin-top: 30px;

		aside{
			padding-right: 30px;

			form{
				hr{
					border-top-color: $black;
				}

				.filter-title{
					padding-bottom: 10px;
					border-bottom: 1px solid $gray-dark;
					font-size: 24px;
				}

				.form-group{
					margin: 20px 0;;
					padding: 0;
				}

				.form-action{
					margin-top: 20px;
				}
			}
		}

		ul#id_journal_categories{
			margin: 0;
			list-style: none;

			li{
				margin: 0;
				display: inline-block;

				a{
					padding: 6px 10px;
					display: inline-block;

					&:hover, &:focus{
						background: $coral-red;
						text-decoration: none;
						color: $white;
					}
				}
			}
		}

		ul#id_journal_items_header{
			margin-bottom: 0;
			list-style: none;

			li{
				font-size: 24px;
			}
		}

		ul#id_journal_items{
			margin: 0;
			list-style: none;
			border-top: 1px solid $gray-dark;

			li{
				padding: 25px 0;
				border-bottom: 1px solid lighten($gray-light, 20%);

				&:last-child{
					border: none;
				}

				a.journal-name{
					padding: 10px 0;
					font-size: 18px;
				}
			}
		}
	}

	// sorting header with title
	.sorting-index {
		background: $light-grey;
		padding-top: 0px;
		padding-bottom: 60px;
		font-size: 18px;

		h2 {
			margin-top: 0;
			margin-bottom: $margin-vertical-default;
		}

		nav.index {
			@include content-columns(4, $grid-gutter-width/2);
			@media (max-width: $screen-sm-max) {
				@include content-columns(2, $grid-gutter-width/2);
			}
			@media (max-width: $screen-xs-max) {
				@include content-columns(1, $grid-gutter-width/2);
			}

			h5 {
				font-size: 18px;
			}

		}
	}

	// each sorting group
	.sorting-group {
		padding-top: 90px;

		&.even {
			background: $light-grey;
		}

		&.odd {
			background: #fff;
		}

		.sorting-group--title {
			.title {
				padding-top: 20px;
				padding-bottom: 20px;
				@include grid-cell-border('top', 1px, $black);

				a {
					display: inline-block;
					margin-left: 5px;
					color: $dark-grey;
					font-size: 24px;
					outline: none;
				}
			}
		}

		.sorting-group--articles {
			padding: 60px 0 0 0;

			h3 {
				letter-spacing: 0.8px;
				@include fw-sans-bold();
			}

			&.sorting-group--articles--default .col:nth-child(4n+1),
			&.sorting-group--articles--small .col:nth-child(6n+1) {
				clear: both;
			}

			// &:nth-child(odd) {
			// 	background: $light-grey;
			// }
		}
	}
}
