/**
* Generic elements for journals pages
*/

/**
* journal meta infos on sidebars
*/
.journal-meta {
  
  p {
    font-size: 0.85em;
  }

  .journal_logo {
    margin: 1em auto;
  }

  .journal-meta--list {
    border-bottom: 1px solid $mid-grey;

    dt, dd {
      display: block;
      float: none;
      width: auto;
    }

    dt {
      font-size: small;
      margin-top: 1.25em;
    }

    dd {
      margin-bottom: 1.25em;
    }

  }

}

.issue-coverpage {
  outline: 1px solid $mid-grey;
}
