// -----------------------------------------------------------------------------
// This file contains styles that are specific to the login page.
// -----------------------------------------------------------------------------
.login-page {
  padding-left: 0;
  label {
    font-size: 0.85em;
    &:not(.required):after {
      content: '';
    }
  }
  input {
    border: 1px solid $mid-grey;
  }
  small {
    color: $dark-grey;
    font-size: 0.85em;
  }
  .erudit-logo {
    margin: 25px 0 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid $mid-grey;
    img {
      width: 35%;
      margin: auto;
    }
  }
  .card {
    margin-top: 100px;
    border: 0;
  }
  .card-header {
    background-color: $white;
  }
  .card-header, .card-footer {
    text-align: center;
  }
}
.reset-password-page {
  p {
    line-height: 1.5;
    font-size: 0.85em;
  }
  .erudit-logo {
    margin: 15px 0;
    padding-bottom: 15px;
    img {
      width: 20%;
    }
  }
}
