ul#id_member_list{
  list-style: none;

  li{
    padding: 0;
    background: $light-grey;

    &:hover, &:focus{
      text-decoration: none;
      background: darken($light-grey, 2%);
    }

    div.content-wrapper{
      padding: 12px 16px;

      span.title{
        display: block;
        font-weight: bold;
      }
    }
  }
}
