ul#id_royalty_reports_list{
  list-style: none;

  li{
    padding: 0;
    background: $gray-lighter;

    &:hover, &:focus{
      text-decoration: none;
      background: darken($gray-lighter, 2%);
    }

    a{
      text-align: left;

      &:hover, &:focus{
        text-decoration: none;
      }

      span.title{
        display: block;
      }
    }
  }
}
