#saved_citations_home {

  .sidebar-block {

    h2 {
      border-bottom: 1px solid $mid-grey;
      padding-bottom: 0.5em;
      font-size: 1.5em;
    }

  }

  .documents-list-wrapper {

    .selection-action-wrapper {
      padding: 20px;
      background: $light-grey;

      p {
        margin: 0;
      }

      .toolbox {
        margin: -2px 25px 0 0;
        padding: 0;
        width: auto;
        position: static;

        a {
          margin-right: 1px;
          padding: 8px 0;
          display: inline-block;
          width: 25px;
          height: 25px;
          background: $coral-red;
          color: $white;
          font-size: 9px;
          white-space: nowrap;
          text-align: center;
          vertical-align: middle;

          &:hover, &:focus{
            background: $black;
          }
        }
      }
    }

    .documents-wrapper {

      .documents-head {
        padding: 20px 0;

        border-bottom: 1px solid $black;

        .document-checkbox-wrapper {
          float: left;
        }

        .document-title {
          padding-left: 25px;
        }

      }

      .documents {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        list-style: none;

        li {
          margin: 0;
          padding: 15px 0;
          border-bottom: 1px solid darken($gray-lighter, 5%);

          .document-checkbox-wrapper {
            float: left;
          }

          .toolbox {
            margin: -2px 0 0 10px;
            padding: 0 20px 0 0;
            width: auto;

            a {
              margin-right: 1px;
              padding: 8px 0;
              display: inline-block;
              width: 25px;
              height: 25px;
              background: $black;
              color: $white;
              font-size: 9px;
              white-space: nowrap;
              text-align: center;
              vertical-align: middle;

              &:hover, &:focus {
                background: $brand-primary;
              }

              .erudicon-tools-pdf {
                font-size: 6px;
              }
            }
          }

          .document-title,
          .document-authors-publication-year {
            padding-left: 25px;
            font-size: 16px;
            line-height: 1.15;
            margin: 0;
          }
        }
      }
    }
  }

  .actions-wrapper {
    height: 50px;

    .form-group {

      label {
        display: inline-block;
      }

      select {
        display: inline-block;
        width: auto;
      }

    }

  }

}
