/**
* Search page base
*/

.search_results #breadcrumb {
  background: $light-grey;
}

#search-results {

  // page header
  .glory {
    margin-bottom: 2em;

    .search-query {
      font-size: 14px;
        @include fw-mono;
    }

    .btn-primary-outlined {
      @include transition(all 500ms);

      &.disabled {
        color: #FFF;
        background-color: #000;
        border-color: #000;
        opacity: 1;
      }

    }

  }

  // list of results
  .results {
    margin: 0;
    list-style: none;

    .position {
      position: absolute;
      left: -30px;
      color: $dark-grey;
      text-align: right;
      font-size: 14px;
      @include fw-mono;
    }

    .result {
      position: relative;
      border-bottom: 1px solid $mid-grey;
      padding: 0 0 1em 0;
      margin: 1em 0 0 0;

      .toolbox {
        padding-top: 0;

        li button {
          background-color: #000;
          color: #FFF;
        }

      }

    }

  }

}
