/**
* Search page base
*/

.search_results #breadcrumb {
  background: $light-grey;
}

#search-results {

  .no-results {
    padding: 1em 0;
    margin: 3.5em 0;
    text-align: center;

    h3 {
      color: $dark-grey;
      @include fw-sans-bold-italic;
    }

    .btn {
      margin-top: 0.5em;
    }

  }

  // page header
  .glory {
    margin-bottom: 2em;

    .search-query {
      font-size: 14px;
        @include fw-mono;
    }

    .btn-primary-outlined {
      @include transition(all 500ms);

      &.disabled {
        color: #FFF;
        background-color: #000;
        border-color: #000;
        opacity: 1;
      }

    }

  }

  // filters and sorts - form
  .search-form {

    h2 {
      margin-bottom: 0;
    }

    .filter {
      margin-bottom: 1.5em;
      padding-top: 0.5em;
      border-top: 1px solid $mid-grey;

      .control-label {
        @include fw-sans-medium;
      }

      &:first-child {
        border: 0;

        input {
          width: 80%;
          border-right: 0;
        }

        button {
          padding: 10px;
          width: 40px;
          height: 40px;
          background: $coral-red;
          color: #FFF;
          font-size: 18px;
        }

      }

    }

    .checkbox + .checkbox {
      margin-top: 0;
    }

    .more-facets {
      color: $coral-red;
      @include fw-sans-medium;
    }

  }

  // list of results
  .results {
    margin: 0;
    list-style: none;

    .position {
      position: absolute;
      left: 0;
      top: 0;
      color: $dark-grey;
      text-align: right;
      font-size: 14px;
    }

    .result {
      position: relative;
      border-bottom: 1px solid $mid-grey;
      padding: 0 0 2.5em 0;
      margin: 1.75em 0 0 0;

      h3 {
        font-size: 18px;
        @include fw-sans-medium;

        a > span:first-child {
          em {
            @include fw-sans-medium-italic;
          }
        }

        a > span + span {
          @include fw-sans-normal;
        }

        a:hover, &:active, &:focus, &:active:focus {
          color: $coral-red;
          text-decoration: none;
        }

      }

      .authors,
      .meta p,
      .abstract {
        color: $dark-grey;
        font-size: 14px;
        margin-bottom: 0;
      }

      .authors {
        margin-bottom: 0.35em;
        @include fw-sans-medium;
      }

      .abstract-title {
        margin-top: 1em;
        color: $coral-red;
        font-size: 14px;

        span {
          margin-left: 0.35em;
        }

      }

      .abstract {
        margin: 0;
        padding: 0.5em;
        background-color: $light-grey;
        color: #000;
      }

      .result-info {
        padding-left: 30px;
        width: 80%;
      }

      .toolbox {
        margin: 0;
        padding-top: 0;
        list-style: none;

        li button {
          background-color: #000;
          color: #FFF;

          &:hover, &:focus, &:active:focus, &.saved {
            background: $coral-red;
          }

        }

      }

    }

  }

}
