ul#id_subscription_list{
  list-style: none;

  li{
    padding: 0;
    background: $light-grey;

    &:hover, &:focus{
      text-decoration: none;
      background: darken($light-grey, 2%);
    }

    div.content-wrapper{
      padding: 12px 16px;

      span.title{
        display: block;
        font-weight: bold;
      }

      span.metadata-wrapper{
        display: block;

        span.metadata{
          margin-right: 10px;
          padding: 4px 0;
          display: inline-block;
          font-family: $font-sans;

          .metadata-title{
            font-weight: bold;
          }
        }
      }
    }
  }
}
