#thesis_collection_list {

  .collection-logo {
    margin: auto;
    display: block;
    text-align: center;
  }

  .repository-meta {

    .random-theses {
      margin: 0;
      list-style: none;

      h2 {
        margin-bottom: 0;
        border: 0;
      }

      li {

        a {
          display: block;
          padding: 0.45em 0.25em 0.75em;
          font-size: 14px;
          @include transition(all 100ms);

          &:hover, &:active, &:focus, &:active:focus {
            background: $coral-red;
            color: #FFF;
            text-decoration: none;
            @include fw-sans-medium;
            border-color: $coral-red;
          }

        }

        span {
          display: block;
        }

        span + span {
          @include fw-sans-medium;
        }

      }

    }

  }

  .thesis-list-wrapper{

    .actions-wrapper{
      height: 50px;

      #div_id_sort_by{
        float: right;

        label{
          display: inline-block;
        }

        select{
          display: inline-block;
          width: auto !important;
        }
      }
    }

    ul.theses{
      li.thesis{
        .thesis-extend, .thesis-reduce{
          font-size: 24px;
          color: $coral-red;
        }
        .thesis-reduce{
          display: none;
        }

        a.thesis-link{
          font-weight: bold;

          &:hover, &:focus{
            text-decoration: none;
          }
        }

        .description{
          margin-top: 6px;
          padding: 10px;
          display: none;
          background: $gray-lighter;
          font-size: 14px;
        }
      }
    }
  }
}
